<div class="container">
  <div class="page-title">
    <h2>Period Pre-School Teacher Interactions

      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openView('new',null)">Add New Program</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">
   


   
    <p-dataTable [value]="programList" [loading]="loading" [rows]="10" [paginator]="true" >

      <p-column [style]="{'text-align':'center'}">

        <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="Add Participant" type="button" pButton (click)="openAddParticipant(training.programId)"></button>

        </ng-template>

      </p-column>
      <p-column [style]="{'text-align':'center'}">

        <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="View" type="button" pButton (click)="openView('view',training)"></button>

        </ng-template>

      </p-column>
      <!-- <p-column [style]="{'text-align':'center'}">

        <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="Edit" type="button" pButton (click)="openView('edit',training)"></button>

        </ng-template>

      </p-column> -->

      <p-column [style]="{'text-align':'center'}" field="programId" header="Program ID" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="description" header="Description" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="locationName" header="Location" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="venue" header="Venue" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="startDate" header="Start Date" [filter]="true" filterPlaceholder="Search">
          <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
        </p-column>
        <p-column [style]="{'text-align':'center'}" field="endDate" header="End Date" [filter]="true" filterPlaceholder="Search">
          <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
        </p-column>
      <p-column [style]="{'text-align':'center'}" field="status" header="Status">
        <ng-template let-col let-training="rowData" pTemplate="body">
          <!-- <button type="button" pButton (click)="selectCar(car)" icon="fa-search"></button> -->
          <!-- <span [style.color]="certificate[col.field]">{{car[col.field]}}</span> -->
          <span class="glyphicon glyphicon-remove" *ngIf="training[col.field]==2"> </span>
          <span class="glyphicon glyphicon-ok" *ngIf="training[col.field]==1"> </span>
        </ng-template>

      </p-column>

    </p-dataTable>
  </div>
</div>





<div bsModal #viewProgram="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form [formGroup]="programForm">
      <!--########## start form ########-->
      <div class="modal-header" style="background-color: #A0A3A6;color: azure">
        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
        <button type="button" class="close pull-right" (click)="viewProgram.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">{{modelData.title}}</h4>
      </div>
      <div class="alert alert-success" *ngIf="success&&viewParam=='NEW'">
        <strong>Success!</strong> You have Successfully Created a long term training program!
      </div>
      <div class="alert alert-success" *ngIf="success&&viewParam=='EDIT'">
        <strong>Success!</strong> You have Successfully Updated a long term training program!
      </div>
      <div class="modal-body">

          <div class="form-group">
              <label for="template">Program Name</label>
              <input type="text" [(ngModel)]="programData.program.programName" name="adminstaffDetail.programName" class="form-control" formControlName="programName"
                required>
            </div>
  
            <div class="form-group">
              <label for="template">Description</label>
              <input type="text" [(ngModel)]="programData.program.description" name="adminstaffDetail.description" class="form-control" formControlName="description"
                required>
            </div>
  
            <div class="form-group">
              <label for="template">Start Date</label>
              <input type="date" [(ngModel)]="programData.program.startDate" name="adminstaffDetail.startDate" class="form-control" required formControlName="startDate">
            </div>
  
            <div class="form-group">
              <label for="template">End Date</label>
              <input type="date" [(ngModel)]="programData.program.endDate" name="adminstaffDetail.endDate" class="form-control" required formControlName="endDate">
            </div>
  
            <label for="template">Location</label>
            <p-tree [value]="files" [loading]="loading" (onNodeSelect)="nodeSelected($event)" selectionMode="single" [(selection)]="selectedFile"
              (onNodeExpand)="nodeSelect($event)"></p-tree>
  
            <br>
  
            <div class="form-group">
              <label for="template">Location</label>
              <input type="text" disabled [(ngModel)]="programData.program.locationName" name="adminstaffDetail.locationName" class="form-control" formControlName="location"
                required>
            </div>
  
            <div class="form-group">
              <label for="template">Venue</label>
              <input type="text" [(ngModel)]="programData.program.venue" name="adminstaffDetail.venue" class="form-control" required formControlName="venue">
            </div>
  
            <div class="form-group">
              <label for="template">Status</label>
              <select [(ngModel)]="programData.program.status" name="adminstaffDetail.status" class="form-control" formControlName="status">
                <option [ngValue]="1">Active</option>
                <option [ngValue]="2">Inactive</option>
              </select>
            </div>
  
            <div >
              <label for="template">Resource Person type</label>
              <select name="document.status" [(ngModel)]="rType" class="form-control" name="resourcePerson"  formControlName="type">
  
                <option [ngValue]="1">Resource Pool</option>
                <option [ngValue]="2">Other</option>
              </select>
  
            </div>
  
  
            <div class="row">
  
              <div *ngIf="rType==1" class="col-sm-8">
                <br>
                  <div class="form-group">
                <label for="template">Resource</label>
                <select [(ngModel)]="selectedResource" name="document.status" class="form-control" formControlName="resource">
  
                  <option [ngValue]="selectedResource" *ngFor="let selectedResource of resourceList" name="abc">{{selectedResource.resourceName}}</option>
  
                </select>
                  </div>
              </div>
  
            
              <div *ngIf="rType==2" class="col-sm-4">
                  <br>
                <label for="template">Resource Person</label>
                <input [(ngModel)]="selectedOtherResource.personName" type="text" class="form-control" name="selectedOther" required [formControl]="name">
              </div>
  
              <div *ngIf="rType==2" class="col-sm-4">
                  <br>
                <label for="template">Remark</label>
                <input [(ngModel)]="selectedOtherResource.remarks" name="remarks" type="text" class="form-control" required [formControl]="remark">
              </div>
              <div class="col-sm-4">
                <br><br>
                <button  pButton icon="fa fa-plus" [disabled]="!name.valid&&rType==2" label="Add" (click)="addResourcePersons()"></button>
  
              </div>
            </div>
  
            <br>
            <div>
  
  
  
  
              <p-dataTable [style]="{'text-align':'center'}" [value]="selectedResourcePersonList" [immutable]="false">
  
                  <p-column [style]="{'text-align':'center'}">
                    <ng-template let-cri="rowData" pTemplate="body" let-col>
                      <button pButton class="ui-button-secondary" label="Remove" (click)=removeRows(cri)> </button>
                    </ng-template>
                  </p-column>
     
            
                  <p-column [style]="{'text-align':'center'}" field="personName" header="Person Name"></p-column>
                  <p-column [style]="{'text-align':'center'}" field="remarks" header="Remarks" ></p-column>
                  
                  <p-column [style]="{'text-align':'center'}" field="coordinator" header="Coordinator">
                    <ng-template let-col let-cri="rowData" pTemplate="body">
            
                     <input type="radio" name=radioCoordinator (change)=checked($event,cri)>
                      <span></span>
                    </ng-template>
            
                  </p-column>
                </p-dataTable>
  
  
  
  
  
            </div>

       

      <div class="modal-footer">
        


          <button type="submit" label="Save" pButton icon="fa fa-save" [disabled]="!programForm.valid" (click)="saveProgram(evt)"></button>
        </div>
    </div>
      </form>
  </div>
</div>







<div bsModal #addParticipantView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog " style="width: 90%;height: 60%">

    <div class="modal-content">


      <div class="modal-header" style="background-color: #F79423;color: azure">


        <h4 class="modal-title">{{modelData.title}}</h4>
      </div>

      <div class="modal-body" >

       <app-registered-participant [program]="{programId:programId,'programType':'periodPre'}"></app-registered-participant>

      </div>
      <div class="modal-footer">


          <button type="submit" *ngIf="viewParam=='NEW'" class="btn btn-success" >Update</button>
          <button type="submit" *ngIf="viewParam=='EDIT'" class="btn btn-success" (click)="addParticipantView.hide()">Close</button>
      </div>


    </div>
  </div>
</div>