<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
  <div class="page-title">

    <h2>Business Structure Maintenance
      <span> </span>
    </h2>
  </div>
  <br>
  <br>
  <br>
  <!-- <div class="panel panel-default">
   <button (click)="collapseAll()">collapse all</button>
<tree-root #tree  [nodes]="bsVar" [focused]="true" [options]="options">
      <ng-template  #treeNodeTemplate let-node let-index="index">
        <span>{{node.data.bisId}}</span>
        <span>{{node.data.bisName}}</span>
        
      </ng-template>
    </tree-root>

    </div>

  


</div> -->
  <p-tree [value]="files" draggableNodes="true" droppableNodes="true" (onNodeSelect)="nodeSelect($event)"></p-tree>

  <button pButton type="button" label="Add Level" (click)="addUser()"></button>
  <button pButton type="button" label="Edit Level" (click)="addUser()"></button>
  <div bsModal #viewUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <!-- <form #f="ngForm" [formGroup]="documentForm" (ngSubmit)="saveDocument(f)"> -->
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #F79423;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="closeAction()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Assign Users for Departments</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Added a User!
        </div>
        <div class="modal-body">

          <button pButton label="Assign User" (click)="getAllUsers()"></button>
          <div class="form-group">
            <label for="template">User Name</label>
            <input name="document.documentName" placeholder="User Name" type="text" class="form-control" required="true">
          </div>

          <!-- <p-dataTable [style]="{'text-align':'center'}" [value]="documentsList">
            <p-column [style]="{'text-align':'center'}">
              <ng-template let-cri="rowData" pTemplate="body" let-col>
                <button pButton class="ui-button-secondary" label="Update" (click)=editDocument(cri)> </button>
              </ng-template>
            </p-column>

            <p-column [style]="{'text-align':'center'}" field="documentId" header="Id" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="documentName" header="Document Name" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="status" header="Status">
              <ng-template let-col let-cri="rowData" pTemplate="body">

                <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
                <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
                <span></span>
              </ng-template>

            </p-column>
          </p-dataTable> -->



        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <br>
          <button pButton label="Add" type="submit" class="btn btn-success"></button>
        </div>
       
        <!--################ end form ################-->
      </div>
    </div>
  </div>



  <div bsModal #pickListView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <!-- <form #f="ngForm" [formGroup]="documentForm" (ngSubmit)="saveDocument(f)"> -->
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #F79423;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="closeAction()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Assign Users for Departments</h4>
        </div>
        
        <div class="modal-body">

          <p-pickList [source]="list1" [target]="list2">
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix">
                    <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48"> -->
                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}</div>
                </div>
            </ng-template>
        </p-pickList>


        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <br>
          <button pButton label="Add" type="submit" class="btn btn-success"></button>
        </div>
       
        <!--################ end form ################-->
      </div>
    </div>
  </div>