<nav class="navbar navbar-inverse navbar-fixed-top sidebar" role="navigation" style="overflow-y: scroll;margin-top: 60px;width: 220px">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->


    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav" style="width: 100%">
        <li  *ngIf="validateMenu('dashboard')" >
        <!-- <li routerLinkActive="active" > -->
          <a [routerLink]="['/dashboard']">Dash Board
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/dashboard.png" height="30px" width="30px" />
              <!-- <i class="fab fa-dashcube fa-2x"></i> -->
            </span>
          </a>
        </li>
        

        <li *ngIf="validateMenu('users')">
          <a [routerLink]="['/user-management']">User
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/user.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('business')">
          <a [routerLink]="['/bis-str']">Business Structure 
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/business.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('annualPlan')">
          <a [routerLink]="['/annual-plan']">Annual Plan
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/plan.png" height="30px" width="30px" />
              <!-- <i class="far fa-calendar-plus fa-2x"></i> -->
            </span>
          </a>
        </li>
       

        <li *ngIf="validateMenu('criteriaMain')">
          <a [routerLink]="['/criteria-management']">Criteria
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/criteria.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('docMgt')">
          <a [routerLink]="['/define-documents']">Supported Document
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/document.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('activityCat')">
          <a [routerLink]="['/activity-category']">Activity Category
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/category.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('defineActi')">
          <a [routerLink]="['/define-activities']"  [queryParams]="{maintain: 'false','type':'define'}">Activity
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/activity.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('maintActi')">
          <a [routerLink]="['/define-activities']" [queryParams]="{maintain: 'true','type':'maintain'}">Maintain Activity
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/maintain.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('authActi')">
          <a [routerLink]="['/define-activities']" [queryParams]="{maintain: 'true','type':'auth'}">Authorize Activity
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/authorize.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
      

        <li *ngIf="validateMenu('wave')">
          <a [routerLink]="['/fee-waiver-reg']">Fee Waiver Students Registration
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/reg.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('freeWaveRepo')">
          <a [routerLink]="['/feewaiver']">Fee Waiver Payment
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/payment.png" height="30px" width="30px" />
            </span>
          </a>
        </li>

        <li *ngIf="validateMenu('freeWaveRepo')">
          <a [routerLink]="['/feewaiver_update']">Fee Waiver Payment Update
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/payment.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        
        <!-- <li *ngIf="validateMenu('criteriaMgt')">
          <a [routerLink]="['/criteria-management']">Criteria Managment
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/categorize-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li> -->
        
        <li *ngIf="validateMenu('mat')">
          <a [routerLink]="['/learning-mtr']">Learning Material
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/material.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('materialStock')">
          <a [routerLink]="['/materialstock-management']">Material Stock 
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/stock.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('materialPack')">
          <a [routerLink]="['/materialpack-management']">Material Pack 
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/pack.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('sendMat')">
          <a [routerLink]="['/sendmaterials-management']">Material Sending
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/send.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('receiveMat')">
          <a [routerLink]="['/receivematerials-management']">Material Receiving
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/recieve.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('distMat')">
          <a [routerLink]="['/distributed-mtr']">Material Distribution
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/distribute.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('resource')">
          <a [routerLink]="['/resource-pool']">Resource Pool
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/resource.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('trainInsti')">
          <a [routerLink]="['/training-inistitute']">Training Institute
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/institute.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
       
        <li *ngIf="validateMenu('certMgt')">
          <a [routerLink]="['/certificate-management']">Certificate Management
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/certificate.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('longTerm')&&(userId==1||userId==2)">
          <a [routerLink]="['/longterm-program']"  [queryParams]="{'type':'phdt'}"><span>ECD Certificate/ Diploma Courses for ECD Teachers</span><span></span>
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('longTerm')&&(userId==1||userId==3)">
          <a [routerLink]="['/longterm-program']" [queryParams]="{'type':'pmu'}"><span>ECD Diploma Program for CDOs in the Plantations</span><span></span>
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('staffCap')">
          <a [routerLink]="['/staffcapacitybuilding']">Staff Capacity Building
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li  *ngIf="validateMenu('primSchTrain')">
          <a [routerLink]="['/primaryschoolteachr-training']">Primary School Teachers Training
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>

        <li  *ngIf="validateMenu('masterTrain')">
          <a [routerLink]="['/master-trainer']">Master Trainers Training Program
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('shortTermTrain')">
          <a [routerLink]="['/shortterm-trainer']">Shortterm Trainer
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        
        <li *ngIf="validateMenu('parentalAware')&&(userId==1||userId==3)">
          <a [routerLink]="['/parental-awareness']" [queryParams]="{'type':'phdt'}">Parental Awareness Sessions in the Plantations
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>

        <li *ngIf="validateMenu('parentalAware')&&(userId!=3)">
          <a [routerLink]="['/parental-awareness']" [queryParams]="{'type':'pmu'}">Parental Awareness Sessions
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>

        <li *ngIf="validateMenu('primeSchTeach')">
          <a [routerLink]="['/primary-headorientation']">Primary School Teacher and Head Orientation Program
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('tranAdminStaff')">
          <a [routerLink]="['/admin-staff']">Training on ECD for Administrative Staff
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>

        <li *ngIf="validateMenu('refresher')">
          <a [routerLink]="['/refresher']">Advance Refresher Training
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/training.png" height="30px" width="30px" />
            </span>
          </a>
        </li>

        <li *ngIf="validateMenu('childAsset')">
          <a [routerLink]="['/child-dev-assmnt-update']"> Child Development Assessments
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/assesment.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('cusRepo')">
          <a [routerLink]="['/custom-report']">Custom Report
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/creport.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        
        <li *ngIf="validateMenu('socialAu')">
          <a [routerLink]="['/social-audits']">Social Audits
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/audit.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <!-- <li *ngIf="validateMenu('census')">
          <a [routerLink]="['/census']">Census
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/census.png" height="30px" width="30px" />
            </span>
          </a>
        </li> -->

        <li *ngIf="validateMenu('minicensus')">
            <a [routerLink]="['/minicensus']">Mini Census 
              <span class="pull-right hidden-xs showopacity">
                <img class="dashIcon" src="assets/icon/census.png" height="30px" width="30px" />
              </span>
            </a>
          </li>
        <li *ngIf="validateMenu('repo')">
          <a [routerLink]="['/learning-reports']">Reports
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/icon/report.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li *ngIf="validateMenu('repo')">
            <a [routerLink]="['/learning-reports']">Reports
              <span class="pull-right hidden-xs showopacity">
                <img class="dashIcon" src="assets/icon/report.png" height="30px" width="30px" />
              </span>
            </a>
          </li>

      </ul>
    </div>
  </div>
</nav>