<nav class="navbar navbar-inverse navbar-fixed-top sidebar" role="navigation" style="overflow-y: scroll">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->


    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav" style="width: 100%">

        <li routerLinkActive="active" *ngIf="group == ''">
          <a [routerLink]="['/dashboard']">Dash Board
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/website-optimization-2-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/annual-plan']">Annual Plan
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/plan.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/user-management']">Users
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/MajlisUser.png" height="30px" width="30px" />
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/learning-mtr']">Learning Materials
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/books-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/criteria-management']">Criteria Maintenance
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/categorize-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/bis-str']">Business Structure Maintenance
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/tree-structure-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/activity-category']">Activity Category
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/activity-feed-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/resource-pool']">Resource Pool
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/workers-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/fee-waiver-reg']">Fee Waiver Students Registration
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/conference-call-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/child-dev-assmnt-update']">Update Child Development Assessments
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/training.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/criteria-management']">Criteria Managment
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/categorize-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/materialstock-management']">Material Stock Managment
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/stack-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/materialpack-management']">Material Pack Managment
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/package-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/sendmaterials-management']">Send Material Managment
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/send-file-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/receivematerials-management']">Receive Material Managment
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/arrow-177-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/distributed-mtr']">Distributed Material Managment
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/delivery-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/define-documents']">Document Managment
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/MajlisReport.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/define-activities']" [queryParams]="{maintain: 'false','type':'define'}">Define Activities
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/activity-feed-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/define-activities']" [queryParams]="{maintain: 'true','type':'maintain'}">Maintain Activities
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/settings-10-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/define-activities']" [queryParams]="{maintain: 'true','type':'auth'}">Authorize Activities
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/settings-10-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/certificate-management']">Certificate Management
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/document-2-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/longterm-program']">Long Term Training Programs
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/training.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/staffcapacitybuilding']">Staff Capacity Building
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/training.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/primaryschoolteachr-training']">Primary School Teachers Training
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/training.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/master-trainer']">Master Trainer
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/training.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/shortterm-trainer']">Shortterm Trainer
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/training.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/training-inistitute']">Training Institute
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/criteria.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/parental-awareness']">Parental Awareness Program
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/training.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/primary-headorientation']">Primary School Teacher and Head Orientation Program
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/training.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/admin-staff']">Training on ECD for Administrative Staff
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/training.svg" height="30px" width="30px" />
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/custom-report']">Custom Report
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/report-2-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/feewaiver']">Fee Waiver Payments
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/conference-call-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/social-audits']">Social Audits
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/conference-call-48.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/learning-reports']">Reports
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/MajlisReport.png" height="30px" width="30px" />
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/census']">Census
            <span class="pull-right hidden-xs showopacity">
              <img class="dashIcon" src="assets/img/icons/MajlisReport.png" height="30px" width="30px" />
            </span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>