<div class="container">
  <div class="page-title">
    <h2>Send Materials
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openCreateSendList()">Add New Send List</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">

    <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div> -->
    <p-dataTable [value]="listOfsendLists" [loading]="loading" [rows]="10" [paginator]="true" >
      <p-column [style]="{'text-align':'center'}" field="status">

        <ng-template let-col let-send="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="View" pButton (click)=showsendList(send)></button>

        </ng-template>

      </p-column>
      <!-- <p-column [style]="{'text-align':'center'}" field="status">

        <ng-template let-col let-send="rowData" pTemplate="body">
          <button *ngIf="send[col.field]!=2" class="ui-button-secondary" label="Update" pButton (click)=updatesendList(send)></button>
          <button *ngIf="send[col.field]==2" class="ui-button-secondary" [disabled] label="Update" pButton (click)=updatesendList(send)></button>
        </ng-template>

      </p-column> -->
      <p-column [style]="{'text-align':'center'}" field="description" header=" Description" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="learningCenter" header="Learning Center Name" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="officerName" header="Officer NAme" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="status" header="Status" [filter]="true" filterPlaceholder="Search">
        <ng-template let-col let-send="rowData" pTemplate="body">
          <span *ngIf="send[col.field]==0">Cancelled</span>
          <span *ngIf="send[col.field]==1">Pending</span>
          <span *ngIf="send[col.field]==2">Sent</span>
        </ng-template>

      </p-column>

    </p-dataTable>

  </div>
</div>



<div bsModal #createSendList="bs-modal" class="modal right fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">

  <div class="modal-dialog" style="width: 80vw">

    <div class="modal-content">
      <form [formGroup]="addSendListForm" #f="ngForm" (ngSubmit)="addSendList()">

        <div class="modal-header" style="background-color: #F79423;color: azure">

          <button type="button" class="close pull-right" (click)="createSendList.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Add New Send Materials</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Added a Send List!
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="template">Description</label>

            <input type="text" style="width: 300px" [(ngModel)]="sendObjecttobesaved.description" name="sendObjecttobesaved.description"
              class="form-control" required="true" formControlName="description">
          </div>


          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="template">Material Pack Name</label>
                <select [(ngModel)]="selectedMaterialPack" style="width: 300px" name="selectedMaterialPack" class="form-control" formControlName="packname">
                  <option [ngValue]="selectedMaterialPack" *ngFor="let selectedMaterialPack of materialPackList">{{selectedMaterialPack.packName}} - {{selectedMaterialPack.packId}}</option>
                </select>
              </div>
            </div>

           
           
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div style="width: 50px;margin-left: 50px">
            <button type="button" class="btn btn-secondary" pButton label="Add Material Pack" (click)="addPack()"></button>
          </div>
          <br>

          <div class="">


            <!-- <p-overlayPanel #op3>
              <div style="position: absolute">
                <label>materials</label>
                <label>materials</label>
                <label>materials</label>
                <label>materials</label>
                <label>materials</label>
                <label>materials</label>
                <label *ngFor="let a of materialListforSHow">{{a.materialName}}</label>
              </div>
            </p-overlayPanel> -->
            <div class="ui-g">
              <div class="ui-g-9">
                <p-dataTable [value]="materialPackListlocal" [responsive]="true" [editable]="true" [immutable]=false>
                  <p-column [style]="{'text-align':'center'}" styleClass="col-button">

                    <ng-template let-car="rowData" pTemplate="body">
                      <button type="button" class="ui-button-secondary" label="remove" pButton (click)="removeRow(car)"></button>
                    </ng-template>
                  </p-column>
                  <p-column [style]="{'text-align':'center'}" field="packId" header="Pack ID"></p-column>
                  <p-column [style]="{'text-align':'center'}" field="packName" header="Pack Name"></p-column>
                  <p-column [style]="{'text-align':'center'}" field="availablePackCount" header="Pack Count"></p-column>
                  <!-- <p-column [style]="{'text-align':'center'}" field="quantity" header="Quantity" [editable]="true"> -->
                  <!-- <div class="formGroup"> -->
                  <!-- <ng-template let-col let-car="rowData" pTemplate="body" let-ind="rowIndex">
                      <input type="number">
                    </ng-template> -->
                  <!-- </div> -->
                  <!-- </p-column> -->

                  <p-column [style]="{'text-align':'center'}" header="View Material Packs">
                    <ng-template let-car="rowData" pTemplate="body">
                      <button type="button" pButton (click)="selectCar(car);" icon="fa-search"></button>
                    </ng-template>
                  </p-column>
                </p-dataTable>
              </div>
              <div class="ui-g-3">

                <p-panel [toggleable]="true">
                  <p-header>
                    Materials of Pack
                  </p-header>
                  <span *ngFor="let a of materialListforSHow">{{a.materialName}}
                    <br>
                  </span>

                </p-panel>
              </div>
            </div>
          
             
           


          </div>
          
        
          <h5>Select a method to add a learning center</h5>

          <div class="row">

            <div class="col-sm-4">
              <div class=" pull-left">
                <label class="radio-inline">
                  <input type="radio" name="radio1" [checked]="checked==1" [(ngModel)]="checked" formControlName="radio1" value="1">Learning Center</label>
                <br>
                <br>
                <div *ngIf="checked==1" disabled class="form-group">
                  <label for="template">Location</label>
                  <p-tree [value]="files" [style]="{'border-color': 'white'}"  (onNodeSelect)="nodeSelected($event)" selectionMode="single" [(selection)]="selectedFile" (onNodeExpand)="nodeSelect($event)">


                  </p-tree>
                  <br>
                  <button type="button" (click)="showLearningCenters.show()" pButton icon="fa fa-plus" label="Add Learning Center"></button>
                  <br>
                  <br>
                  <!-- <label for="template">Learning Center</label>
                  <input disabled [(ngModel)]="selectedLearningCenter.name" class="form-control" style="width:100%" type="text" formControlName="learningcenter1"> -->

                </div>
              </div>
            </div>


            <div class="col-sm-4">
              <div class=" pull-left">
                <label class="radio-inline">
                  <input type="radio" name="radio1" [(ngModel)]="checked" formControlName="radio1" value="2" (change)="changeFIG($event)">FIG Granted</label>


                <div *ngIf="checked==2" disabled class="form-group">
                 
                  <br>
                  <button type="button" (click)="showLearningCenters.show()" icon="fa fa-plus" pButton label="Add Learning Center"></button>
                  <br>
                  <br>
                  <!-- <label for="template">Learning Center</label>
                  <input disabled [(ngModel)]="selectedLearningCenter.name" class="form-control" style="width: 100%" type="text" formControlName="learningcenter1"> -->

                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="pull-left">
                <label class="radio-inline">
                  <input type="radio" [(ngModel)]="checked" value="3" name="radio2" (click)="loadAllCriteraList()" formControlName="radio2">Criteria Name</label>
                <br>
                <br>
                <div *ngIf="checked==3" disabled class="form-group">
                  <label for="template">Criteria Name</label>
                  <select [(ngModel)]="selectedCriteria" name="selectedCriteria" class="form-control" (change)=changeAction(selectedCriteria)
                    formControlName="criteria">
                    <option [ngValue]="selectedCriteria" *ngFor="let selectedCriteria of criteriaList">{{selectedCriteria.criteriaName}} - {{selectedCriteria.criteriaId}}</option>
                  </select>
                </div>
                <div *ngIf="checked==3" disabled class="form-group">
                 

                  <br>
                  <button type="button" (click)="showLearningCenters.show()" pButton icon="fa fa-plus" label="Add Learning Center"></button>
                  <br>
                  <br>
                  <!-- <label for="template">Learning Center</label> -->

                  <!-- <input *ngIf="selectedLearningCenter!=undefined" disabled [(ngModel)]="selectedLearningCenter.name" class="form-control" style="width: 100%" type="text" formControlName="learningcenter1">
                  <input *ngIf="selectedLearningCenter==undefined" disabled value="No Value" class="form-control" style="width: 100%" type="text"> -->
                </div>
              </div>
            </div>


          </div>
          <div class="form-group">
            <label for="template">Learning Center</label>
          <input disabled [(ngModel)]="selectedLearningCenter.name" class="form-control" style="width: 300px" type="text" formControlName="learningcenter1">
          </div>
          
          <div class="form-group">
              <label for="template">Medium</label>
              <!-- <input disabled [(ngModel)]="selectedMedium" class="form-control" style="width: 300px" name="medium" type="text" formControlName="medium"> -->
              <select [(ngModel)]="selectedMedium" class="form-control" style="width: 300px" name="medium" formControlName="medium">
                <option [(ngValue)]="selectedMedium"  *ngFor="let a of mediumList;let in=index">{{a}}</option>
              </select>
            </div>
          <div class="form-group">
            <label for="template">ECD Officer</label>
            <select [(ngModel)]="selectedOfficer" name="selectedOfficer" class="form-control" style="width: 300px" formControlName="ecdofficer">
              <option [ngValue]="selectedOfficer" *ngFor="let selectedOfficer of officerList">{{selectedOfficer.fullName}}-{{selectedOfficer.userId}}</option>
            </select>

          </div>
          <!-- <div class="form-group">
            <label for="template" style="width: 300px">Status</label>
            <select class="form-control" [(ngModel)]="sendListStatus" name="status" formControlName="status">
              <option [ngValue]="1">Pending</option>
              <option [ngValue]="2">Sent</option>
              <option [ngValue]="3">Cancelled</option>
            </select>
          </div> -->



        </div>

        <div class="modal-footer">

          <button type="submit" [disabled]="!addSendListForm.valid" class="btn btn-success">Add</button>
        </div>

      </form>

    </div>
  </div>

</div>































<div bsModal #showSendList="bs-modal" class="modal right fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="width: 900px">

    <div class="modal-content">


      <div class="modal-header" style="background-color: #F79423;color: azure">

        <button type="button" class="close pull-right" (click)="showSendList.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Show Send Materials</h4>
      </div>
      <div class="alert alert-success" *ngIf="success">
        <strong>Success!</strong> You have Successfully Added a Stock!
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="template">Description</label>
          <!-- <input type="number" [(ngModel)]="grnDetails.quantity" name="grnDetails.quantity" class="form-control" required="true"> -->
          <input disabled type="text" [(ngModel)]="selectedRow.description" name="selectedRow.description" style="width: 300px" class="form-control"
            required="true">
        </div>






        <div class="row">
          <div class="col-sm-10">
            <!-- 

            <p-overlayPanel #op3>
              <div style="width: 50px;height: 50px">

                <label *ngFor="let a of materialListforSHow">{{a.materialName}}</label>
                <br>
                <br>

              </div>

            </p-overlayPanel> -->


            <p-dataTable [value]="materialPackList" [responsive]="true" [immutable]=false>
              <p-column [style]="{'text-align':'center'}" field="packId" header="Pack ID"></p-column>
              <p-column [style]="{'text-align':'center'}" field="packName" header="Pack Name"></p-column>

              <p-column [style]="{'text-align':'center'}" field="quantity" header="Quantity"></p-column>
              <p-column [style]="{'text-align':'center'}" header="View Material Details">
                <ng-template let-car="rowData" pTemplate="body">
                  <button class="ui-button-secondary" type="button" pButton (click)="selectCar(car);" icon="fa-search"></button>
                </ng-template>
              </p-column>
            </p-dataTable>



          </div>

        </div>

        <div class="form-group">

          <label for="template">Learning Center</label>
          <!-- <select [(ngModel)]="selectedMaterial" name="selectedMaterial" class="form-control"> -->
          <input disabled [(ngModel)]="selectedRow.learningCenter" name="selectedRow.learningCenter" type="text" style="width: 300px"
            class="form-control" required="true">
        </div>
        <div class="form-group">

          <label for="template">ECD Officer</label>
          <!-- <select [(ngModel)]="selectedMaterial" name="selectedMaterial" class="form-control"> -->
          <input [(ngModel)]="selectedRow.officerName" name="selectedRow.officerName" disabled type="text" style="width: 300px" class="form-control"
            required="true">
        </div>
        <div class="form-group">

          <label for="template">Status</label>
          <!-- <select [(ngModel)]="selectedMaterial" name="selectedMaterial" class="form-control"> -->
          <input *ngIf="selectedRow.status==1" value="Active" disabled type="text" style="width: 300px" class="form-control" required="true">
          <input *ngIf="selectedRow.status==2" value="Inactive" disabled type="text" style="width: 300px" class="form-control" required="true">
        </div>



      </div>

      <div class="modal-footer">


        <button type="button" class="btn btn-default" (click)="showSendList.hide()">Close</button>

      </div>

    </div>
  </div>
</div>



<div bsModal #viewMaterialList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">

      <div class="modal-header" style="background-color: #F79423;color: azure">

        <button type="button" class="close pull-right" (click)="viewMaterialList.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Mterial List</h4>
      </div>

      <div class="modal-body">

        <label *ngFor="let a of materialListforSHow">{{a.materialName}}</label>


      </div>


      <!--################ end form ################-->
    </div>
  </div>
</div>









<div bsModal #updateSendList="bs-modal" class="modal right fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">

  <div class="modal-dialog" style="width: 800px">

    <div class="modal-content">
      <form [formGroup]="updateSendListForm" #f="ngForm" (ngSubmit)="updateSendListObj()">

        <div class="modal-header" style="background-color: #F79423;color: azure">

          <button type="button" class="close pull-right" (click)="updateSendList.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Update Send Materials</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Updated a Send List!
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="template">Description</label>

            <!-- <input type="text" style="width: 300px" [(ngModel)]="sendList.description" name="sendList.description" class="form-control" required="true"> -->
            <input type="text" style="width: 300px" [(ngModel)]="sendObjecttobeUpadted.description" name="sendObjecttobesaved.description"
              class="form-control" required="true" formControlName="description">
          </div>


          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="template">Material Pack Name</label>
                <select [(ngModel)]="selectedMaterialPack" style="width: 300px" name="selectedMaterialPack" class="form-control" formControlName="packname">
                  <!-- <select class="form-control">  -->
                  <option [ngValue]="selectedMaterialPack" *ngFor="let selectedMaterialPack of materialPackList">{{selectedMaterialPack.packName}} - {{selectedMaterialPack.packId}}</option>

                </select>
              </div>



            </div>
            <div class="col-sm-3">

              <div class="panel panel-default">


                <label style="padding-left: 20px" *ngFor="let a of materialListforSHow">{{a.materialName}}</label>
                <br>


              </div>

            </div>
            <div class="col-sm-3"></div>
          </div>
          <div style="width: 50px;margin-left: 50px">
            <button type="button" class="btn btn-primary" (click)="addPackforUpdate()">Add Material Pack</button>
          </div>
          <br>

          <div class="">

            <!-- 
            <p-overlayPanel #op3>
              <div style="position: absolute">
                <label>materials</label>
                <label>materials</label>
                <label>materials</label>
                <label>materials</label>
                <label>materials</label>
                <label>materials</label>
                <label *ngFor="let a of materialListforSHow">{{a.materialName}}</label>
              </div>
            </p-overlayPanel> -->
            <p-dataTable [value]="materialPackListlocal1" [responsive]="true" [editable]="true" [immutable]=false>
              <p-header>Added Materal Packs</p-header>
              <p-column styleClass="col-button">

              </p-column>
              <p-column [style]="{'text-align':'center'}" field="packId" header="Pack ID"></p-column>
              <p-column [style]="{'text-align':'center'}" field="packName" header="Pack Name"></p-column>
              <p-column [style]="{'text-align':'center'}" field="availablePackCount" header="Pack Count"></p-column>
              <p-column [style]="{'text-align':'center'}" field="quantity" header="Quantity" [editable]="true">
                <input type="number">
              </p-column>
              <p-column [style]="{'text-align':'center'}" header="View Material Details">
                <ng-template let-car="rowData" pTemplate="body">
                  <button type="button" pButton (click)="selectCar($event,car,op3);" icon="fa-search"></button>
                </ng-template>
              </p-column>
            </p-dataTable>
            <p-dataTable [value]="materialPackListlocal" [responsive]="true" [editable]="true" [immutable]=false>
              <p-column [style]="{'text-align':'center'}" styleClass="col-button">

                <ng-template let-car="rowData" pTemplate="body">
                  <button type="button" label="remove" pButton (click)="removeRow(car)"></button>
                </ng-template>
              </p-column>
              <p-column [style]="{'text-align':'center'}" field="packId" header="Pack ID"></p-column>
              <p-column [style]="{'text-align':'center'}" field="packName" header="Pack Name"></p-column>
              <p-column [style]="{'text-align':'center'}" field="availablePackCount" header="Pack Count"></p-column>
              <p-column [style]="{'text-align':'center'}" field="quantity" header="Quantity" [editable]="true">

                <ng-template let-col let-car="rowData" pTemplate="body" let-ind="rowIndex">
                  <input type="number">
                </ng-template>

              </p-column>
              <p-column [style]="{'width':'10%','text-align':'center'}" header="View Materials">
                <ng-template let-car="rowData" pTemplate="body">
                  <button type="button" pButton (click)="selectPack($event,car,op3);" icon="fa-search"></button>
                </ng-template>
              </p-column>
            </p-dataTable>


          </div>
          <label for="template">Select Method to add a learning center</label>

          <div class="row">

            <div class="col-sm-6">

              <div class=" pull-left">

                <label class="radio-inline">
                  <input type="radio" name="radio1" [(ngModel)]="checked" formControlName="radio1" value="1">Learning Center</label>

                <br>
                <br>
                <div *ngIf="checked==1" disabled class="form-group">

                  <label for="template">Learning Center</label>
                  <select [(ngModel)]="selectedLearningCenter" name="selectedLearningCenter" class="form-control" formControlName="learningcenter1">
                    <!-- <select class="form-control" style="width: 300px">  -->
                    <option [ngValue]="selectedLearningCenter" *ngFor="let selectedLearningCenter of learningCenterList">{{selectedLearningCenter.name}}-{{selectedLearningCenter.sn}}</option>

                  </select>
                </div>
              </div>
            </div>

            <div class="col-sm-6">

              <div class="pull-left">

                <label class="radio-inline">
                  <input type="radio" [(ngModel)]="checked" value="2" name="radio2" (click)="loadAllCriteraList()" formControlName="radio2">Criteria Name</label>
                <br>
                <br>
                <div *ngIf="checked==2" disabled class="form-group">

                  <label for="template">Criteria Name</label>
                  <select [(ngModel)]="selectedCriteria" name="selectedCriteria" class="form-control" (change)=changeAction(selectedCriteria)
                    formControlName="criteria">
                    <!-- <select class="form-control" style="width: 300px">  -->
                    <option [ngValue]="selectedCriteria" *ngFor="let selectedCriteria of criteriaList">{{selectedCriteria.criteriaName}} - {{selectedCriteria.criteriaId}}</option>

                  </select>
                </div>

                <div *ngIf="checked==2" disabled class="form-group">

                  <label for="template">Learning Center</label>
                  <select [(ngModel)]="selectedLearningCenter" name="selectedLearningCenter" class="form-control" formControlName="learningcenter2">
                    <!-- <select class="form-control" style="width: 300px">  -->
                    <option [ngValue]="selectedLearningCenter" *ngFor="let selectedLearningCenter of learningCenterListbyCriteria">{{selectedLearningCenter.name}}-{{selectedLearningCenter.sn}}</option>

                  </select>
                </div>
              </div>

            </div>


          </div>

          <div class="form-group">
            <label for="template">ECD Officer</label>
            <select [(ngModel)]="selectedOfficer" name="selectedOfficer" class="form-control" style="width: 300px" formControlName="ecdofficer">
              <option [ngValue]="selectedOfficer" *ngFor="let selectedOfficer of officerList">{{selectedOfficer.fullName}}-{{selectedOfficer.userId}}</option>
            </select>

          </div>
          <div class="form-group">
            <label for="template" style="width: 300px">Status</label>
            <select class="form-control" [(ngModel)]="sendListStatus" name="status" formControlName="status">
              <option [ngValue]="1">Pending</option>
              <option [ngValue]="2">Sent</option>
              <option [ngValue]="3">Cancelled</option>
            </select>
          </div>



        </div>

        <div class="modal-footer">

          <button type="submit" [disabled]="!updateSendListForm.valid" class="btn btn-success">Update</button>
        </div>

      </form>

    </div>
  </div>

</div>

<div bsModal #showLearningCenters="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog " style="width:60vw">
                <div class="modal-content">
                    <form>
                        <!--########## start form ########-->
                        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                            <button type="button" class="close pull-right" (click)="showLearningCenters.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Learning centers</h4>
                        </div>
                        <div class="modal-body">
                            <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                            </div> -->
                            <p-dataTable [value]="learningCenterList" [(selection)]="selectedLearningCenter" selectionMode="single" [rows]="10" [paginator]="true"
                                [globalFilter]="gb" #dt dataKey="sn">
                                <!-- <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column> -->
                                <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="sn" header="SN"></p-column>
                                <p-column [style]="{'text-align':'center'}" field="name" [filter]="true" filterPlaceholder="Search" header="Name"></p-column>
                                <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="address" header="Address"></p-column>

                            </p-dataTable>


                        </div>
                        <div class="modal-footer">

                        </div>
                    </form>
                    <!--################ end form ################-->
                </div>
            </div>
        </div>

<p-overlayPanel #op3>
  <img src="assets/img/GovLogo.png" />
</p-overlayPanel>