<div>

    <div class="pull-right">
      <button class="btn btn-success" (click)="openaddParticipant()">Add New Participant</button>
    </div>
    <br>
    <br>
    <br>
  
    <div>
  
  
  
  
      <p-dataTable [value]="participantModel" [loading]="loading" [rows]="10" [paginator]="true">
  
        <p-column [style]="{'text-align':'center'}" header="Registerd" field="status">
          <ng-template let-col let-training="rowData" pTemplate="body">
            <input *ngIf="training[col.field]==1||training[col.field]==2||training[col.field]==3" checked type="checkbox">
            <input *ngIf="training[col.field]!=1&&training[col.field]!=2&&training[col.field]!=3" type="checkbox" (change)="updateStatus($event,1,training)">
          </ng-template>
  
  
        </p-column>
        <p-column [style]="{'text-align':'center'}" header="Participated" field="status">
          <ng-template let-col let-training="rowData" pTemplate="body">
            <input *ngIf="training[col.field]==2||training[col.field]==3" checked type="checkbox">
            <input *ngIf="training[col.field]!=2&&training[col.field]!=3" type="checkbox" (change)="updateStatus($event,2,training)">
          </ng-template>
  
  
  
        </p-column>
        <p-column [style]="{'text-align':'center'}" header="Completed" field="status">
  
          <ng-template let-col let-training="rowData" pTemplate="body">
            <input *ngIf="training[col.field]==3" type="checkbox" checked>
            <input *ngIf="training[col.field]!=3" type="checkbox" (change)="updateStatus($event,3,training)">
          </ng-template>
  
        </p-column>
        <!-- <p-column [style]="{'text-align':'center'}">
  
          <ng-template let-col let-training="rowData" pTemplate="body">
            <button class="ui-button-secondary" label="Update" type="button" pButton (click)="editParticipant(training)"></button>
  
          </ng-template>
  
        </p-column> -->
  
        <p-column [style]="{'text-align':'center'}" field="nic" header="NIC" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column [style]="{'text-align':'center'}" field="name" header="Name" [filter]="true" filterPlaceholder="Search"></p-column>
        <!-- <p-column [style]="{'text-align':'center'}" field="district" header="District" [filter]="true" filterPlaceholder="Search"></p-column> -->
        <p-column [style]="{'text-align':'center'}" field="address" header="Address" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column [style]="{'text-align':'center'}" field="telephoneNo" header="Tel Number" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column [style]="{'text-align':'center'}" field="gender" header="Gender" [filter]="true" filterPlaceholder="Search">
          <ng-template let-col let-training="rowData" pTemplate="body">
            <span *ngIf="training[col.field]==1"> Female</span>
            <span *ngIf="training[col.field]==2">Male </span>
          </ng-template>
        </p-column>
        <p-column *ngIf="" [style]="{'text-align':'center'}" field="organization" header="Organization" [filter]="true" filterPlaceholder="Search">
  
  
  
        </p-column>
        <p-column *ngIf="programType == 'mastertrainer'" [style]="{'text-align':'center'}" field="designation" header="Designation" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column *ngIf="programType == 'mastertrainer'" [style]="{'text-align':'center'}" field="designation" header="CV" [filter]="true" filterPlaceholder="Search"></p-column>
        <!-- <p-column [style]="{'text-align':'center'}" field="learningCenterName" header="Learning Center Name" [filter]="true" filterPlaceholder="Search"></p-column> -->
        <!-- <p-column [style]="{'text-align':'center'}" field="status" header="Status">
            <ng-template let-col let-training="rowData" pTemplate="body">
           
              <span class="glyphicon glyphicon-remove" *ngIf="training[col.field]==2"> </span>
              <span class="glyphicon glyphicon-ok" *ngIf="training[col.field]==1"> </span>
            </ng-template>
    
          </p-column> -->
  
      </p-dataTable>
  
  
  
  
    </div>
  
  
    <div bsModal #addParticipantSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" style="height: 70vh">
  
        <div class="modal-content">
          <form  [formGroup]="createParticipant">
            
   
              <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                <button type="button" class="close pull-right" (click)="addParticipantSetting.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add New Participant</h4>
  
                
              </div>
              <div class="alert alert-success" *ngIf="success">
                <strong>Success!</strong> You have Successfully Created a Participant!
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="template">NIC</label>
                  <input type="text" [(ngModel)]="participant.nic" class="form-control" formControlName="nic" required="true">
                </div>
  
                <div class="form-group">
                  <label for="template">Name</label>
                  <input type="text" [(ngModel)]="participant.name" class="form-control" formControlName="name" required="true">
  
                </div>
  
                <div class="form-group">
                  <label for="template">Address</label>
                  <input type="text" [(ngModel)]="participant.address" class="form-control" formControlName="address" required="true">
                </div>
  
  
                <div class="form-group">
                  <label for="template">Telephone Number</label>
                  <input maxlength="10" type="number" [(ngModel)]="participant.telephoneNo" class="form-control" formControlName="telephone"
                    required="true">
                </div>
  
                <div class="form-group">
                  <label for="template">Gender</label>
                  <select [(ngModel)]="participant.gender" formControlName="gender" class="form-control">
                    <option [ngValue]="1">Female</option>
                    <option [ngValue]="2">Male</option>
                  </select>
                </div>
  
  
  
  
  
                <div *ngIf="programType == 'adminstaff'" class="form-group">
                  <label for="template">Organization</label>
                  <select [(ngModel)]="selectedOrganization" [formControl]="organization" class="form-control">
                    <option [ngValue]="1">MWCA</option>
                    <option [ngValue]="2">PCs</option>
                    <option [ngValue]="3">PHDT</option>
                  </select>
                </div>
  
                <div *ngIf="programType == 'staff'" class="form-group">
                    <label for="template">Organization</label>
                    <input type="text" [(ngModel)]="participant.organization" class="form-control" [formControl]="organization" required="true">
                  </div>
  
                <div *ngIf="programType == 'adminstaff'" class="form-group">
                  <label for="template">Designation</label>
                  <input type="text" [(ngModel)]="participant.designation" class="form-control" [formControl]="designation" required="true">
                </div>
  
  
                <label *ngIf="programType == 'mastertrainer'||programType == 'primary'||programType == 'short'" for="template">Location</label>
                <p-tree *ngIf="programType == 'mastertrainer'||programType == 'primary'||programType == 'short'" [value]="files" [loading]="loading" (onNodeSelect)="nodeSelected($event)"
                  selectionMode="single" [(selection)]="selectedFile" (onNodeExpand)="nodeSelect($event)"></p-tree>
  
                <br>
                <div *ngIf="programType == 'mastertrainer'||programType == 'primary'||programType == 'short'" class="form-group">
                  <label for="template">Pre School</label>
                  <input type="text" disabled [(ngModel)]="selectedLearningCenter.name" class="form-control" [formControl]="preschool" required="true">
                </div>
  
                <div *ngIf="programType == 'mastertrainer'||programType == 'short'" class="form-group">
                  <label for="template">No of Children</label>
                  <input maxlength="10" type="number" [(ngModel)]="participant.noOfChidren" [formControl]="noofchildren" class="form-control"
                    required="true">
                </div>
                <!-- <div class="form-group">
                <label for="template">Pre School</label>
                <select *ngIf="participantDetail!=null" [(ngModel)]="selectedLearningCenter" formControlName="learningCenter" class="form-control">
                  <option [ngValue]="selectedLearningCenter" *ngFor="let selectedLearningCenter of learningCenterList">{{selectedLearningCenter.name}}-{{selectedLearningCenter.sn}}</option>
                </select>
              </div> -->
  
                <!-- <div class="form-group" *ngIf="programType!='staffcapacity'">
                <label for="template">No of Children</label>
                <input *ngIf="participantDetail!=null&&programtype!='staffcapacity'" type="number" [(ngModel)]="participantDetail.noOfChildren"
                  class="form-control" formControlName="count" required="true">
              </div> -->
  
              <p-fileUpload *ngIf="programType == 'mastertrainer'" name="myfile[]" url={{imageUrl}}  ></p-fileUpload>
              </div>
              
              <div class="modal-footer">
                <!--<span><img src="assets/inlineLoader.gif" *ngIf="updateUserLoade" style="width: 25px" /> </span>-->
  
                <button type="button" *ngIf="programType == 'mastertrainer'||programType == 'primary'||programType == 'short'" icon="fa fa-save" [disabled]="!createParticipant.valid&&!noofchildren.valid" label="Save" pButton (click)="saveParticipant()"></button>
                <button type="button" *ngIf="programType == 'adminstaff'" icon="fa fa-save" [disabled]="!createParticipant.valid&&!organization.valid&&!designation.valid" label="Save" pButton (click)="saveParticipant()"></button>
                <button type="button" *ngIf="programType == 'parental'" icon="fa fa-save" [disabled]="!createParticipant.valid" label="Save" pButton (click)="saveParticipant()"></button>
                <button type="button" *ngIf="programType == 'staff'" icon="fa fa-save" [disabled]="!createParticipant.valid&&!organization.valid" label="Save" pButton (click)="saveParticipant()"></button>
               
              </div>

              
          
          </form>
          <!--################ end form ################-->
        </div>
      </div>
    </div>
    <!--</template>-->
  
  
  
  
    <div bsModal #updateParticipantSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-md">
  
        <div class="modal-content">
          <form [formGroup]="createParticipant">
            <!--########## start form ########-->
            <div class="modal-header" style="background-color: #F79423;color: azure">
              <button type="button" class="close pull-right" (click)="updateParticipantSetting.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Edit Participant</h4>
  
              <!-- <h4 class="modal-title" *ngIf="a">View</h4>-->
            </div>
  
            <div class="alert alert-success" *ngIf="success">
              <strong>Success!</strong> You have Successfully Updated a Participant!
            </div>
  
  
            <div class="modal-body">
  
              <div class="form-group">
                <label for="template">NIC</label>
                <input *ngIf="participantDetail!=null" type="text" [(ngModel)]="participantDetail.nic" class="form-control" formControlName="nic"
                  required="true">
              </div>
  
              <div class="form-group">
                <label for="template">Name</label>
                <input *ngIf="participantDetail!=null" type="text" [(ngModel)]="participantDetail.name" class="form-control" formControlName="name"
                  required="true">
  
              </div>
  
              <div class="form-group">
                <label for="template">Address</label>
                <input *ngIf="participantDetail!=null" type="text" [(ngModel)]="participantDetail.address" class="form-control" formControlName="address"
                  required="true">
              </div>
  
              <div class="form-group" *ngIf="programType!='staffcapacity'">
                <label for="template">District</label>
                <input *ngIf="participantDetail!=null" type="text" [(ngModel)]="participantDetail.district" class="form-control" formControlName="district">
              </div>
  
              <div class="form-group">
                <label for="template">Telephone Number</label>
                <input *ngIf="participantDetail!=null" type="number" [(ngModel)]="participantDetail.telephoneNo" class="form-control" formControlName="telephone"
                  required="true">
              </div>
  
              <div class="form-group">
                <label for="template">Gender</label>
                <select *ngIf="participantDetail!=null" [(ngModel)]="selectedGender" formControlName="gender" class="form-control">
                  <option [ngValue]="1">Female</option>
                  <option [ngValue]="2">Male</option>
                </select>
              </div>
  
              <div class="form-group">
                <label for="template">Pre School</label>
                <select *ngIf="participantDetail!=null" [(ngModel)]="selectedLearningCenter" formControlName="learningCenter" class="form-control">
                  <option [ngValue]="selectedLearningCenter" *ngFor="let selectedLearningCenter of learningCenterList">{{selectedLearningCenter.name}}-{{selectedLearningCenter.sn}}</option>
                </select>
              </div>
  
              <div class="form-group" *ngIf="programType!='staffcapacity'">
                <label for="template">No of Children</label>
                <input *ngIf="participantDetail!=null" type="number" [(ngModel)]="participantDetail.noOfChildren" class="form-control" formControlName="count"
                  required>
              </div>
  
  
              <!-- <div class="form-group">
            <label for="template">Status</label>
            <select [(ngModel)]="shortDetail.status" name="shortDetail.status" class="form-control">
              <option [value]='1'>Active</option>
              <option [value]='2'>Inactive</option>
            </select>
          </div> -->
            </div>
  
            <div class="modal-footer">
              <!--<span><img src="assets/inlineLoader.gif" *ngIf="updateUserLoade" style="width: 25px" /> </span>-->
              <button type="button" class="btn btn-default" (click)="updateParticipantSetting.hide()">Close</button>
              <button type="button" class="btn btn-success" (click)="updateParticipant()">Save changes</button>
  
            </div>
          </form>
          <!--################ end form ################-->
        </div>
      </div>
    </div>
  
    <div>
  
      <div bsModal #showLearningCenters="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog " style="width:60vw">
          <div class="modal-content">
            <form>
              <!--########## start form ########-->
              <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                <button type="button" class="close pull-right" (click)="showLearningCenters.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Learning centers</h4>
              </div>
              <div class="modal-body">
                <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                        </div> -->
                <p-dataTable [value]="learningCenterList" [(selection)]="selectedLearningCenter" selectionMode="single" [rows]="10" [paginator]="true"
                  [globalFilter]="gb" #dt dataKey="sn">
                  <!-- <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column> -->
                  <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="sn" header="SN"></p-column>
                  <p-column [style]="{'text-align':'center'}" field="name" [filter]="true" filterPlaceholder="Search" header="Name"></p-column>
                  <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="address" header="Address"></p-column>
  
                </p-dataTable>
  
  
              </div>
              <div class="modal-footer">
  
              </div>
            </form>
            <!--################ end form ################-->
          </div>
        </div>
      </div>