<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
    <div class="page-title">
        <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
        <h2>Training Institute
            <span> </span>
        </h2>
    </div>
    <div class="pull-right">
        <button class="btn btn-success" (click)="openCreateIns()">Add New</button>
    </div>
    <br>
    <br>
    <br>

    <div class="panel panel-default">

        <!--<img class="center-block" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
      <img class="center-block"  style="margin-top:20px" src="assets/img/loader2.gif" />-->
     
            <!-- <p-header>List of Training Institute</p-header> -->
            <!-- <p-column styleClass="col-button">
                <ng-template let-instituteModel="rowData" pTemplate="body">
                    <button type="button" pButton (click)="getInsId(instituteModel)" label="Update"></button><br>
                </ng-template>
            </p-column>   -->
            <!-- <p-column field="instituteId" header="Institute ID"></p-column>
            <p-column field="name" header="Institute Name"></p-column>
            <p-column field="address" header="Address"></p-column>
            <p-column field="contactPerson" header="Contact Person" ></p-column>
            <p-column field="contactNo" header="Telephone No"></p-column> -->
            <!-- <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                Status
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
        
                        <span class="glyphicon glyphicon-ok" *ngIf="car.status==1"> </span>
                        <span class="glyphicon glyphicon-remove" *ngIf="car.status==2"> </span>
        
                </ng-template>
            </p-column> -->
        <!-- </p-datatable> -->
        <!-- <table class="table table-hover">
            <thead style="background-color: #000099;color: azure;box-shadow: 0px 5px 15px#000099">
                <tr class="tbl-header">
                    <th></th>
                    <th>Institute ID</th>
                    <th>Institute Name</th>
                    <th>Address</th>
                    <th>Contact Person</th>
                    <th>Telephone No</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let i of instituteModel">
                    <td>
                        <button class="btn btn-primary" (click)="getInsId(i)">
                            Update
                        </button>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{i.instituteId}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{i.name}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{i.address}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{i.contactPerson}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{i.contactNo}}</div>
                    </td>

                    <td>
                        <span class="glyphicon glyphicon-ok" *ngIf="i.status==1"> </span>
                        <span class="glyphicon glyphicon-remove" *ngIf="i.status==2"> </span>

                    </td>
                </tr>
            

            </tbody>
        </table> -->




        <p-dataTable [value]="instituteModel" [rows]="15" [paginator]="true" [globalFilter]="gb" #dt>
                <p-column [style]="{'text-align':'center'}" styleClass="col-button">
                        <ng-template let-i="rowData" pTemplate="body">
                            <button class="ui-button-secondary" type="button" pButton (click)="getInsId(i)" label="Update"></button><br>
                        </ng-template>
                    </p-column> 
            <p-column [style]="{'text-align':'center'}" field="name" header="Name" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="address" header="Address" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="contactNo" header="Contact No" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="contactPerson" header="Contact Person" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" styleClass="col-button">
                <ng-template pTemplate="header">
                Status
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
        
                        <span class="glyphicon glyphicon-ok" *ngIf="car.status==1"> </span>
                        <span class="glyphicon glyphicon-remove" *ngIf="car.status==2"> </span>
        
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>

</div>

<!--   New User Modal-->
<div bsModal #makeInsSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">
            <form [formGroup]="insForm">
                <!--########## start form ########-->
                <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                    <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                    <button type="button" class="close pull-right" (click)="makeInsSetting.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Add New Institute</h4>
                </div>
                <div class="alert alert-success" *ngIf="success">
                    <strong>Success!</strong> You have Successfully Created a Institute!
                </div>

                <div class="modal-body">

                    <!--<div class="form-group">
                    <label for="template">Material ID</label>
                    <input type="text" [(ngModel)]="materialModel.materialId" name="materialModel.materialId" class="form-control" required>
                </div>-->

                    <div class="form-group">
                        <label for="template">Institute Name</label>
                        <input type="text" [(ngModel)]="instituteDetail.name" name="instituteDetail.name" class="form-control" formControlName="name" required>
                    </div>

                    <div class="form-group">
                        <label for="template">Address</label>
                        <input type="text" [(ngModel)]="instituteDetail.address" name="instituteDetail.address" class="form-control" formControlName="address" required>
                    </div>

                    <div class="form-group">
                        <label for="template">Contact Person</label>
                        <input type="text" [(ngModel)]="instituteDetail.contactPerson" name="instituteDetail.contactPerson" class="form-control" formControlName="contactPerson" required>
                    </div>

                    <div class="form-group">
                        <label for="template">Telephone Number</label>
                        <input type="text" [(ngModel)]="instituteDetail.contactNo" name="instituteDetail.contactNo" class="form-control" formControlName="no" required>
                    </div>


                    <div class="form-group">
                        <label for="template">Status</label>
                        <select [(ngModel)]="instituteDetail.status" name="instituteDetail.status" formControlName="status" class="form-control">
                            <option [ngValue]="1">Active</option>
                            <option [ngValue]="2">Inactive</option>
                        </select>
                    </div>

                    <!--<div class="form-group">
                    <label for="template">Expiry Date</label>
                    <input type="date"  class="form-control">
                </div>-->
                </div>

                <div class="modal-footer">
                    <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

                    
                    <button type="submit" pButton label="Save" icon="fa fa-save"  [disabled]="!insForm.valid" (click)="createIns(evt)"></button>
                </div>
            </form>
            <!--################ end form ################-->
        </div>
    </div>
</div>
<!--   End User Modal-->

<!--   Update Modal-->
<div bsModal #updateInsSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">
            <form [formGroup]="updateInstituteForm">
                <!--########## start form ########-->
                <div class="modal-header" style="background-color: #02685E;color: azure">
                    <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                    <button type="button" class="close pull-right" (click)="updateInsSetting.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Update Institute</h4>
                </div>
                <div class="alert alert-success" *ngIf="success">
                    <strong>Success!</strong> You have Successfully Updated the Institute!
                </div>

                <div class="modal-body">

                    <!--<div class="form-group">
                    <label for="template">Material ID</label>
                    <input type="text" [(ngModel)]="materialModel.materialId" name="materialModel.materialId" class="form-control" required>
                </div>-->

                    <div class="form-group">
                        <label for="template">Institute Name</label>
                        <input type="text" [(ngModel)]="instituteDetail.name" name="instituteDetail.name" class="form-control" formControlName="name" required>
                    </div>

                    <div class="form-group">
                        <label for="template">Address</label>
                        <input type="text" [(ngModel)]="instituteDetail.address" name="instituteDetail.address" formControlName="address" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="template">Contact Person</label>
                        <input type="text" [(ngModel)]="instituteDetail.contactPerson" name="instituteDetail.contactPerson" formControlName="contactPerson" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="template">Telephone Number</label>
                        <input type="text" [(ngModel)]="instituteDetail.contactNo" name="instituteDetail.contactNo" formControlName="contactNo" class="form-control" required>
                    </div>


                    <div class="form-group">
                        <label for="template">Status</label>
                        <select [(ngModel)]="instituteDetail.status" name="instituteDetail.status" formControlName="status" class="form-control">
                            <option [ngValue]="1">Active</option>
                            <option [ngValue]="2">Inactive</option>
                        </select>
                    </div>

                    <!--<div class="form-group">
                    <label for="template">Expiry Date</label>
                    <input type="date"  class="form-control">
                </div>-->
                </div>

                <div class="modal-footer">
                    <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

                    
                    <button type="submit" pButton label="Save Changes" icon="fa fa-save"  (click)="updateIns()"></button>
                </div>
            </form>
            <!--################ end form ################-->
        </div>
    </div>
</div>
<!--   End update Modal-->