<div class="container">
    <div class="page-title">
        <span>
            <h2>Activity Details</h2>
        </span>
    </div>

    <div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
            <!-- <p-dropdown [options]="viewTypes" [(ngModel)]="selectedType"></p-dropdown>  -->
            <select class="form-control"  [(ngModel)]="selectedType" (change)="changeSelection('dis')">
                    <option [ngValue]="selectedType" *ngFor="let selectedType of viewTypes">{{selectedType.label}}</option>
                </select>
        </div>
        <div class="ui-g-4"></div>
        <div class="ui-g-2"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"><label>District :</label> 
        <select class="form-control"  [(ngModel)]="selectedDistric" (change)="changeSelection('dis')">
                <option [ngValue]="selectedDistric" *ngFor="let selectedDistric of businessList">{{selectedDistric.bisName}}</option>
            </select>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-3"><label>District Secretraint Division:</label>
            
            <select  class="form-control"  [(ngModel)]="selectedDsDivision" (change)="changeSelection('dn')">
                <option [ngValue]="selectedDsDivision" *ngFor="let selectedDsDivision of dsDivisionList">{{selectedDsDivision.bisName}}</option>
            </select>
        </div>
        <div class="ui-g-3"><label>Grama Niladhari Division:</label>
            <select class="form-control"  [(ngModel)]="selectedGnDivision">
                <option [ngValue]="selectedGnDivision" *ngFor="let selectedGnDivision of gnDivisionList">{{selectedGnDivision.bisName}}</option>
            </select>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-8"></div>
        <div class="ui-g-1">
            <button pButton label="Save" icon="fa fa-save" type="button" (click)="markLocations()">Search</button>
        </div>
        <div class="ui-g-1">
            <button class="btn btn-success" type="button" label="Reset" (click)="reset()">Reset</button>
        </div>
        <div class="ui-g-2"></div>
    </div>

  <app-list *ngIf="selectedType.name =='List View'&&selectedLoc!=null" [selectedLocation]="selectedLoc"></app-list>
  <app-map-component *ngIf="selectedType.name =='Map View'&&selectedLoc!=null" [selectedLocation]="selectedLoc"></app-map-component>
  
  


  
  
 
    </div>

    