<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
  <div class="page-title">
    <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
    <h2>Primary School Teacher Training and Head Orientation Program
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openCreateHdOr()">Add New Program</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">

  

  


    <p-dataTable [value]="primaryschoolModel" [loading]="loading" [rows]="10" [paginator]="true">
        <p-column [style]="{'text-align':'center'}">
          <ng-template let-col let-training="rowData" pTemplate="body">
             <button class="ui-button-secondary" label="Add Participant" type="button" pButton (click)="openAddParticipant(training.programId)"></button>
           </ng-template>
         </p-column>
         <p-column [style]="{'text-align':'center'}">
           <ng-template let-col let-training="rowData" pTemplate="body">
             <button class="ui-button-secondary" label="Edit" type="button" pButton (click)="getMasterId(training)"></button>
           </ng-template>
         </p-column>
         <p-column [style]="{'text-align':'center'}" field="programName" header="Program Name" [filter]="true" filterPlaceholder="Search"></p-column>
     
         <p-column [style]="{'text-align':'center'}" field="description" header="Description" [filter]="true" filterPlaceholder="Search"></p-column>
         <p-column [style]="{'text-align':'center'}" field="startDate" header="Start Date" [filter]="true" filterPlaceholder="Search">
           <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
         </p-column>
         <p-column [style]="{'text-align':'center'}" field="endDate" header="End Date" [filter]="true" filterPlaceholder="Search">
           <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
         </p-column>
         <p-column [style]="{'text-align':'center'}" field="locationName" header="Location" [filter]="true" filterPlaceholder="Search"></p-column>
         <p-column [style]="{'text-align':'center'}" field="status" header="Status">
           <ng-template let-col let-training="rowData" pTemplate="body">
             <span class="glyphicon glyphicon-remove" *ngIf="training[col.field]==2"> </span>
             <span class="glyphicon glyphicon-ok" *ngIf="training[col.field]==1"> </span>
           </ng-template>
         </p-column>
       </p-dataTable>

  </div>

</div>

<!--   New Headorientation Modal-->
<div bsModal #makeHeadOrientation="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
        <form [formGroup]="programForm">
            <!--########## start form ########-->
            <div class="modal-header" style="background-color: #A0A3A6;color: azure">
              <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
              <button type="button" class="close pull-right" (click)="makeHeadOrientation.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
    
              <h4 class="modal-title">Add New Program</h4>
            </div>
            <div class="alert alert-success" *ngIf="success">
              <strong>Success!</strong> You have Successfully Created a Program!
            </div>
            <div class="alert alert-danger" *ngIf="error">
              <strong>Error!</strong>Try Again Later!
            </div>
    
            <div class="modal-body">
    
              <div class="form-group">
                <label for="template">Program Name</label>
                <input type="text" [(ngModel)]="programData.program.programName" name="adminstaffDetail.programName" class="form-control" formControlName="programName"
                  required>
              </div>
    
              <div class="form-group">
                <label for="template">Description</label>
                <input type="text" [(ngModel)]="programData.program.description" name="adminstaffDetail.description" class="form-control" formControlName="description"
                  required>
              </div>
    
              <div class="form-group">
                <label for="template">Start Date</label>
                <input type="date" [(ngModel)]="programData.program.startDate" name="adminstaffDetail.startDate" class="form-control" required formControlName="startDate">
              </div>
    
              <div class="form-group">
                <label for="template">End Date</label>
                <input type="date" [(ngModel)]="programData.program.endDate" name="adminstaffDetail.endDate" class="form-control" required formControlName="endDate">
              </div>
    
              <label for="template">Location</label>
              <p-tree [value]="files" [loading]="loading" (onNodeSelect)="nodeSelected($event)" selectionMode="single" [(selection)]="selectedFile"
                (onNodeExpand)="nodeSelect($event)"></p-tree>
    
              <br>
    
              <div class="form-group">
                <label for="template">Location</label>
                <input type="text" disabled [(ngModel)]="programData.program.locationName" name="adminstaffDetail.locationName" class="form-control" formControlName="location"
                  required>
              </div>
    
              <div class="form-group">
                <label for="template">Venue</label>
                <input type="text" [(ngModel)]="programData.program.venue" name="adminstaffDetail.venue" class="form-control" required formControlName="venue">
              </div>
    
              <div class="form-group">
                <label for="template">Status</label>
                <select [(ngModel)]="programData.program.status" name="adminstaffDetail.status" class="form-control" formControlName="status">
                  <option [ngValue]="1">Active</option>
                  <option [ngValue]="2">Inactive</option>
                </select>
              </div>
    
              <div >
                <label for="template">Resource Person type</label>
                <select name="document.status" [(ngModel)]="rType" class="form-control" name="resourcePerson"  formControlName="type">
    
                  <option [ngValue]="1">Resource Pool</option>
                  <option [ngValue]="2">Other</option>
                </select>
    
              </div>
    
    
              <div class="row">
    
                <div *ngIf="rType==1" class="col-sm-8">
                  <br>
                    <div class="form-group">
                  <label for="template">Resource</label>
                  <select [(ngModel)]="selectedResource" name="document.status" class="form-control" formControlName="resource">
    
                    <option [ngValue]="selectedResource" *ngFor="let selectedResource of resModel" name="abc">{{selectedResource.resourceName}}</option>
    
                  </select>
                    </div>
                </div>
    
              
                <div *ngIf="rType==2" class="col-sm-4">
                    <br>
                  <label for="template">Resource Person</label>
                  <input [(ngModel)]="selectedOtherResource.personName" type="text" class="form-control" name="selectedOther" required [formControl]="name">
                </div>
    
                <div *ngIf="rType==2" class="col-sm-4">
                    <br>
                  <label for="template">Remark</label>
                  <input [(ngModel)]="selectedOtherResource.remarks" name="remarks" type="text" class="form-control" required [formControl]="remark">
                </div>
                <div class="col-sm-4">
                  <br><br>
                  <button  pButton icon="fa fa-plus" [disabled]="!name.valid&&rType==2" label="Add" (click)="addResourcePersons()"></button>
    
                </div>
              </div>
    
              <br>
              <div>
    
    
    
    
                <p-dataTable [style]="{'text-align':'center'}" [value]="selectedResourcePersonList" [immutable]="false">
    
                    <p-column [style]="{'text-align':'center'}">
                      <ng-template let-cri="rowData" pTemplate="body" let-col>
                        <button pButton class="ui-button-secondary" label="Remove" (click)=removeRows(cri)> </button>
                      </ng-template>
                    </p-column>
       
              
                    <p-column [style]="{'text-align':'center'}" field="personName" header="Person Name"></p-column>
                    <p-column [style]="{'text-align':'center'}" field="remarks" header="Remarks" ></p-column>
                    
                    <p-column [style]="{'text-align':'center'}" field="coordinator" header="Coordinator">
                      <ng-template let-col let-cri="rowData" pTemplate="body">
              
                       <input type="radio" name=radioCoordinator (change)=checked($event,cri)>
                        <span></span>
                      </ng-template>
              
                    </p-column>
                  </p-dataTable>
    
    
    
    
    
              </div>
            </div>
    
            <div class="modal-footer">
              <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->
    
    
              <button type="submit" label="Save" pButton icon="fa fa-save" [disabled]="!programForm.valid" (click)="createHeadProgram(evt)"></button>
            </div>
          </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>
<!--   End Headorientation Modal-->


<!--   Edit Headorientation Modal-->
<div bsModal #updateHeadOrientation="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form>
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #02685E;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="updateHeadOrientation.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Update Program</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Created a Institute!
        </div>

        <div class="modal-body">

          <!--<div class="form-group">
              <label for="template">Material ID</label>
              <input type="text" [(ngModel)]="materialModel.materialId" name="materialModel.materialId" class="form-control" required>
          </div>-->

          <div class="form-group">
            <label for="template">Program Name</label>
            <input type="text" [(ngModel)]="selectedprogram.program.programName" name="selectedprogram.program.programName" class="form-control"
              required>
          </div>

          <div class="form-group">
            <label for="template">Description</label>
            <input type="text" [(ngModel)]="selectedprogram.program.description" name="selectedprogram.program.description" class="form-control"
              required>
          </div>

          <div class="form-group">
            <label for="template">Start Date</label>
            <input type="date" [(ngModel)]="selectedprogram.program.startDate" name="selectedprogram.program.startDate" class="form-control"
              required>
          </div>

          <div class="form-group">
            <label for="template">End Date</label>
            <input type="date" [(ngModel)]="selectedprogram.program.endDate" name="selectedprogram.program.endDate" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">Location Name</label>
            <input type="text" [(ngModel)]="selectedprogram.program.locationName" name="selectedprogram.program.locationName" class="form-control"
              required>
          </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select [(ngModel)]="selectedprogram.program.status" name="selectedprogram.program.status" class="form-control">
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
          </div>

          <div>
            <label for="template">Resource Person type</label>
            <select name="document.status" [(ngModel)]="rType" class="form-control" name="resourcePerson">
              <!-- <select class="form-control">  -->
              <option [ngValue]="1">Resource Pool</option>
              <option [ngValue]="2">Other</option>
            </select>

          </div>

          <div class="row">
            <div *ngIf="rType==1" class="col-sm-8">

              <label for="template">Resource</label>
              <select [(ngModel)]="selectedResource" name="document.status" class="form-control">

                <option [ngValue]="selectedResource" *ngFor="let selectedResource of resModel" name="abc">{{selectedResource.resourceName}}</option>

              </select>
            </div>

            <div *ngIf="rType==2" class="col-sm-4">

              <label for="template">Resource Person</label>
              <input [(ngModel)]="selectedOtherResource.personName" type="text" class="form-control" name="selectedOther" required>
            </div>

            <div *ngIf="rType==2" class="col-sm-4">

              <label for="template">Remark</label>
              <input [(ngModel)]="selectedOtherResource.remarks" name="remarks" type="text" class="form-control" required>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-primary" style="height: 35px;margin-top: 23px" (click)="addResourcePersons()">Add</button>

            </div>
          </div>

          <br>
          <div>
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Resource Person</th>
                  <th>Remarks</th>
                  <th>Coordinator</th>
                </tr>
              </thead>
              <tr *ngFor="let a of selectedResourcePersonList">
                <td>
                  <div *ngIf="a.resourceName!=null" class="col-sm-12 user-name">{{a.resourceName}}</div>
                  <div *ngIf="a.personName!=null" class="col-sm-12 user-name">{{a.personName}}</div>
                  <div class="col-sm-12 user-name">{{a.name}}</div>

                </td>
                <td>
                  <div class="col-sm-12 user-name">{{a.remarks}}</div>
                </td>
                <td>
                  <!-- selectedOtherResourcesList <input type="checkbox" (change)="selctedCoordinator($event,a)"> selectedResourcePersonList -->
                </td>
              </tr>
            </table>
          </div>

          <!-- <label class="control-label">Select Icon (Support file type - JPG)</label>
          <input type="file" ng2FileSelect [uploader]="uploader" /> -->
          <!-- <div class="col-md-9" style="margin-bottom: 40px">

              <table class="table" style="margin-bottom: 5px">
                  <thead>
                      <tr>

                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of uploader.queue">
                          <td>
                              <strong>{{ item?.file?.name }}</strong>
                          </td>
                          <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                          <td *ngIf="uploader.isHTML5">
                              <div class="progress" style="margin-bottom: 0;">
                                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                              </div>
                          </td>
                          <td class="text-center">
                              <span *ngIf="item.isSuccess">
                                  <i class="glyphicon glyphicon-ok"></i>
                              </span>
                              <span *ngIf="item.isCancel">
                                  <i class="glyphicon glyphicon-ban-circle"></i>
                              </span>
                              <span *ngIf="item.isError">
                                  <i class="glyphicon glyphicon-remove"></i>
                              </span>
                          </td>
                          <td nowrap>
                              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                  <span class="glyphicon glyphicon-upload"></span> Upload
                              </button>
                              <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                              </button>
                              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                  <span class="glyphicon glyphicon-trash"></span> Remove
                              </button>
                          </td>
                          <button (click)="myFunction()">View Doc</button>
                      </tr>
                  </tbody>
              </table>

              <div>

              </div>

          </div>   -->

        </div>

        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <button type="reset" class="btn btn-default" (click)="updateHeadOrientation.hide()">Close</button>
          <button type="submit" class="btn btn-success" (click)="updateHeadProgram(evt)">Save changes</button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>
<!--   End Edit Headorientation Modal-->

<div bsModal #addParticipantView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90vw;height: 90vh">

        <div class="modal-content">


            <div class="modal-header" style="background-color: #A0A3A6;color: azure">

                <button type="button" class="close pull-right" (click)="addParticipantView.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Participants</h4>
            </div>

            <div class="modal-body" style="width: 90vw;height: 95vh">

                <app-registered-participant [program]="{programId:programId,'programType':'primary'}"></app-registered-participant>

            </div>



        </div>
    </div>
</div>

<div bsModal #showLearningCenters="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " style="width:60vw">
        <div class="modal-content">
            <form>
                <!--########## start form ########-->
                <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                    <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                    <button type="button" class="close pull-right" (click)="showLearningCenters.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Learning centers</h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div> -->
                    <p-dataTable [value]="learningCenterList" [(selection)]="selectedLearningCenter" selectionMode="single" [rows]="10" [paginator]="true"
                        [globalFilter]="gb" #dt dataKey="sn">
                        <!-- <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column> -->
                        <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="sn" header="SN"></p-column>
                        <p-column [style]="{'text-align':'center'}" field="name" [filter]="true" filterPlaceholder="Search" header="Name"></p-column>
                        <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="address" header="Address"></p-column>

                    </p-dataTable>


                </div>
                <div class="modal-footer">

                </div>
            </form>
            <!--################ end form ################-->
        </div>
    </div>
</div>