<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="loading-spinner" *ngIf="loadingMask">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="container">
  <div class="page-title">
    <h2>Criteria Result
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-success" (click)="openCreateCriteria()">Add New Result</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">





    <p-dataTable [value]="resultSet" [rows]="10" [paginator]="true">
      <p-column>
        <ng-template let-cri="rowData" pTemplate="body" let-col>
          <button [style]="{'text-align':'center'}" disabled pButton class="ui-button-secondary" label="Generate" (click)=generateReport(cri)>
          </button>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}">
        <ng-template let-cri="rowData" pTemplate="body" let-col>
          <button pButton class="ui-button-secondary" label="Show Result Set" (click)=showResult(cri)> </button>
        </ng-template>
      </p-column>

      <p-column [style]="{'text-align':'center'}" field="recordId" header="Record Id" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="description" header="Description" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="dateGenerated" header="Date Generated" [filter]="true" filterPlaceholder="Search"></p-column>


    </p-dataTable>

  </div>
</div>
<div bsModal #createResult="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="width: 40vw">

    <div class="modal-content">
      <form [formGroup]="resultForm" (ngSubmit)="saveResult(f)" #f="ngForm">
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="createResult.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>


          <h4 class="modal-title">Generate Result</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-success" *ngIf="success">
            <strong>Success!</strong> You have Successfully Inserted a criteria Result!
          </div>





          <div class="form-group">
            <label for="template">Result Description</label>
            <input style="width: 400px" type="text" name="desc" [(ngModel)]="description" formControlName="description" class="form-control"
              required>
          </div>


        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <!-- <button type="reset" class="btn btn-default" (click)="createResult.hide()">Close</button> -->
          <button pButton label="Save" icon="fa fa-save" type="submit" [disabled]="!f.valid"></button>
          <!-- <button type="submit" class="btn btn-success" *ngIf="f.valid">Save Changes</button> -->
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>


<div bsModal #showCriteriaResult="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="width: 90vw">

    <div class="modal-content">
      <form>
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="showCriteriaResult.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Generated Results</h4>
        </div>
        <div class="modal-body" style="overflow: auto">





          <p-dataTable [value]="recordDetailList" [loading]="loadingResult" [rows]="10" [paginator]="true" selectionMode="multiple"
            [(selection)]="selectedRecords" dataKey="censusNo">
            <!-- <p-column [style]="{'text-align':'center'}">
                <ng-template let-cri="rowData" pTemplate="body" let-col>
                  <button type="button" pButton class="ui-button-secondary" label="Show Census Result" (click)=showCensusData(cri)> </button>
                </ng-template>
              </p-column> -->
            <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
            <!-- <p-column field="award" [editable]="true">
                  <ng-template let-col let-cri="rowData" pTemplate="editor">
                      <p-dropdown [options]="statusList" [autoWidth]="false" name="award" [style]="{'width':'100%','overflow':'visible'}"  [(ngModel)]="cri[col.field]"  (onChange)="setOutput(cri,$event)"></p-dropdown>
                  </ng-template>
                </p-column> -->
            <!-- <p-column [style]="{'text-align':'center'}" field="point" header="Point" [filter]="true" [sortable]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="recordId" header="Record Id" [filter]="true" [sortable]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="censusNo" header="Census No" [filter]="true" [sortable]="true" filterPlaceholder="Search"></p-column> -->
            <p-column [style]="{'text-align':'center'}" field="data.name" header="Name" [filter]="true" [sortable]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="data.locationCode" header="District Name" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="data.dsName" header="DS Name" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="data.telephoneNo" header="Telephone No" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="data.noOfStudents" header="No of Students" [filter]="true" filterPlaceholder="Search"></p-column>

          </p-dataTable>

          <br>
          <p-dropdown [options]="statusList" [autoWidth]="false" name="award" [style]="{'width':'300px'}" [(ngModel)]="selectedStatus"
            (onChange)="updateStatusAll($event)"></p-dropdown>

        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <!-- <button type="reset" class="btn btn-default" (click)="showCriteriaResult.hide()">Close</button> -->
          <button pButton icon="fa fa-save" type="button" label="Save Changes" (click)="updateStatus()"></button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>






<div bsModal #showCensus="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form>
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="showCensus.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Census View</h4>
        </div>
        <div class="modal-body">


          <h1>Part1</h1>
          <div *ngFor="let a of dataValues">
            <label for="template">{{a.name}}:</label>
            <label>{{a.value}}</label>
          </div>

          <!-- <md-tab label="2">
              <h1>Part2</h1>
              <div *ngFor="let a1 of dataValues2">
                <label for="template">{{a1.name}}:</label>
                <label>{{a1.value}}</label>
              </div>
            </md-tab> -->
          <!-- <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues3">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues4">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues5">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues6">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues7">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues8">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues9">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues10">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues11">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues12">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues13">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues14">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues15">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues16">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab>
            <md-tab label="1">
              <h1>Part1</h1>
              <div *ngFor="let a of dataValues17">
                <label for="template">{{a.name}}:</label><br>
                <label>{{a.value}}</label>
              </div>
            </md-tab> -->




        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <!-- <button type="reset" class="btn btn-default" (click)="showCensus.hide()">Close</button> -->

        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>