<div class="container">
    <div class="page-title">
        <span>
            <h2>{{modalData.mainTitle}}</h2>
        </span>
    </div>
    <button class="btn btn-primary" *ngIf="viewChangeParam=='ADMIN_MAINTAIN'" pButton label="Authorized" (click)="getUnauthorized()"></button>
    <button class="btn btn-primary" *ngIf="viewChangeParam=='ADMIN_MAINTAIN'" pButton label="UnAuthorized" (click)="getAuthorized()"></button>
    <div *ngIf="viewChangeParam=='ECDOFFICER_DEFINE'" class="pull-right">
        <button class="btn btn-success" (click)="openActivity(null,'new')">Add New Activity</button>
    </div>
    <br>
    <br>
    <br>
    <div class="panel panel-default">


        <p-dataTable [value]="activityList" [loading]="loading" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt>

            <p-column [style]="{'text-align':'center'}" field="status">
                <ng-template let-col let-activity="rowData" pTemplate="body">
                    <button class="ui-button-secondary" *ngIf="activity[col.field]==3&&viewChangeParam=='ECDOFFICER_DEFINE'" label="View" type="button"
                        pButton (click)="openActivity(activity,'view')"></button>
                    <button class="ui-button-secondary" *ngIf="(activity[col.field]==4||activity[col.field]==1||activity[col.field]==2)&&viewChangeParam=='ECDOFFICER_DEFINE'"
                        label="Update" type="button" pButton (click)="openActivity(activity,'edit')"></button>
                    <button class="ui-button-secondary" *ngIf="activity[col.field]==4&&viewChangeParam=='ECDOFFICER_MAINTAIN'" type="button"
                        label="Continue Activity" pButton (click)="openActivity(activity,'edit')"></button>
                    <button class="ui-button-secondary" *ngIf="activity[col.field]==3&&viewChangeParam=='ADMIN_MAINTAIN'" type="button" label="Authorize"
                        pButton (click)="openActivity(activity,'edit')"></button>
                    <button class="ui-button-secondary" *ngIf="activity[col.field]==4&&viewChangeParam=='ADMIN_MAINTAIN'" type="button" label="View"
                        pButton (click)="openActivity(activity,'edit')"></button>

                </ng-template>
            </p-column>
            <!-- <p-column [style]="{'text-align':'center'}" field="activityId" header="Activity ID" [filter]="true" filterPlaceholder="Search"></p-column> -->
            <p-column [style]="{'text-align':'center'}" field="activityDescription" header="Activity Description" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="year" header="Date" [filter]="true" filterPlaceholder="Search"></p-column>


            <p-column [style]="{'text-align':'center'}" field="location.districtName" header="District Name/RPC" [filter]="true" filterPlaceholder="Search">
                <ng-template let-col let-activity="rowData" pTemplate="body">
                    <span>{{activity.location.districtName}}</span>
                </ng-template>
            </p-column>


            <p-column [style]="{'text-align':'center'}" field="location.dsName" header="DS Name/Estate" [filter]="true" filterPlaceholder="Search">
                <ng-template let-col let-activity="rowData" pTemplate="body">
                    <span>{{activity.location.dsName}}</span>
                </ng-template>
            </p-column>
            <p-column *ngIf="userId=='1'" [style]="{'text-align':'center'}" field="type" header="Type" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column *ngIf="selectedType=='PMU'&&userId!='1'" [style]="{'text-align':'center'}" field="learningCenter" header="Learning Center"
                [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column *ngIf="selectedType=='PHDT'&&userId!='1'" [style]="{'text-align':'center'}" field="learningCenter" header="Division"
                [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column *ngIf="userId=='1'||userId!='2'||userId!='3'" [style]="{'text-align':'center'}" field="learningCenter" header="Learning Center/Division"
                [filter]="true" filterPlaceholder="Search"></p-column>

            <!-- <p-column  [style]="{'text-align':'center'}" field="location.gnName" header="Division" [filter]="true"
                filterPlaceholder="Search">
                <ng-template let-col let-activity="rowData" pTemplate="body">
                    <span *ngIf="selectedType=='PHDT'">{{activity.location.gnName}}</span>
                </ng-template>
            </p-column> -->

            <p-column [style]="{'text-align':'center'}" field="category" header="Category" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="status" header="Status" [filter]="true" filterPlaceholder="Search">
                <ng-template let-col let-activity="rowData" pTemplate="body">
                    <span *ngIf="activity[col.field]==4">Authorized</span>
                    <span *ngIf="activity[col.field]==3">Not Authorized</span>
                    <span *ngIf="activity[col.field]==1">Rejected</span>
                    <span *ngIf="activity[col.field]==2">Saved</span>

                </ng-template>
            </p-column>
        </p-dataTable>
    </div>

    <div bsModal #viewActivity="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 80vw;height: 100vh">

            <div class="modal-content">
                <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                    <button type="button" class="close pull-right" (click)="closeViewActivity()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{modalData.title}}</h4>
                </div>
                <div class="alert alert-success" *ngIf="success&&activityStatus==2">
                    <strong>Success!</strong> {{msg}}</div>
                <div class="alert alert-danger" *ngIf="error&&activityStatus==2">
                    <strong>Error!</strong>{{msg}}</div>
                <div class="alert alert-warning" *ngIf="warnning&&activityStatus==2">
                    <strong>Warning!</strong>{{msg}}</div>
                <div class="alert alert-warning" *ngIf="warnning">
                    <strong>Warning!</strong>{{msg}}</div>
                <div class="alert alert-success" *ngIf="success&&activityStatus==3">
                    <strong>Success!</strong> You have Successfully Saved a base plan!</div>
                <div class="alert alert-success" *ngIf="success&&activityStatus==4">
                    <strong>Success!</strong> You have Successfully Saved Changes!</div>
                <!-- a<div class="alert alert-success" *ngIf="success&&activityStatus==4"><strong>Success!</strong> You have Successfully Authorized!</div> -->
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="template">Activity Description</label>
                                <input type="text" *ngIf="param=='new'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'" [formControl]="descControl" [(ngModel)]="description"
                                    class="form-control" name="desc" style="width: 400px">
                                <div *ngIf="descControl!=undefined&&descControl.invalid&&param=='new'" style="color: red">Activity description is required</div>
                                <input type="text" *ngIf="param=='view'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'"
                                    disabled [(ngModel)]="description" class="form-control" style="width: 400px">
                                <!-- <input type="text" *ngIf="param=='edit'&&viewChangeParamSub !='ECDOFFICER_MAINTAIN_EDIT'&&viewChangeParamSub !='ADMIN_MAINTAIN_EDIT'"
                                    [(ngModel)]="description" class="form-control" name="desc" required style="width: 400px"> -->
                            </div>

                        </div>
                    </div>

                    <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="template">Year</label>
                                    <!-- <input type="text" *ngIf="param=='new'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'" [formControl]="descControl" [(ngModel)]="description"
                                        class="form-control" name="desc" style="width: 400px"> -->
                                    <select class="form-control" style="width: 400px"  *ngIf="param=='new'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'" [(ngModel)]="year">
                                        <option [ngValue]="2017">2017</option>
                                        <option [ngValue]="2018">2018</option>
                                        <option [ngValue]="2019">2019</option>
                                        <option [ngValue]="2020">2020</option>
                                        <option [ngValue]="2021">2021</option>
                                    </select>
                                    <input type="text" *ngIf="param=='view'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'"
                                        disabled [(ngModel)]="year" class="form-control" style="width: 400px">
                                    <!-- <input type="text" *ngIf="param=='edit'&&viewChangeParamSub !='ECDOFFICER_MAINTAIN_EDIT'&&viewChangeParamSub !='ADMIN_MAINTAIN_EDIT'"
                                        [(ngModel)]="description" class="form-control" name="desc" required style="width: 400px"> -->
                                </div>
    
                            </div>
                        </div>



                    <div *ngIf="(param=='new')&&userId==1" class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="template">Type</label>
                                <select *ngIf="(param=='new')&&userId==1" [disabled]="loadingTree" [(ngModel)]="selectedType" name="type" style="width: 400px"
                                    class="form-control" (change)="changeType()">
                                    <option>PHDT</option>
                                    <option>PMU</option>
                                </select>
                             
                                <input type="text" *ngIf="viewChangeParamSub =='ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_DEFINE_EDIT'"
                                    style="width: 400px" disabled [(ngModel)]="selectedType" class="form-control" required="true"
                                    name="type">
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="(param=='new'||viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT')&&selectedType=='PMU'">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label *ngIf="selectedType=='PMU'" for="template">Activity Type</label>
                                <select *ngIf="param=='new'&&selectedType=='PMU'" [(ngModel)]="selectedActivityType" name="type" style="width: 400px" class="form-control"
                                    (change)="changeActivityTypePMU()" [disabled]="loadingTree">
                                    <option [ngValue]="1">FIG</option>
                                    <option [ngValue]="2">ECD Resource Center</option>
                                    <option [ngValue]="3">ECD Center</option>
                                </select>
                                <input type="text" *ngIf="selectedActivityType==1&&selectedType=='PMU'&&(viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT')"
                                    style="width: 400px" disabled value="FIG" class="form-control" required="true" name="type">
                                <input type="text" *ngIf="selectedActivityType==2&&selectedType=='PMU'&&(viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT')"
                                    style="width: 400px" disabled value="ECD Resource Center" class="form-control" required="true"
                                    name="type">
                                <input type="text" *ngIf="selectedActivityType==3&&selectedType=='PMU'&&(viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT')"
                                    style="width: 400px" disabled value="ECD Center" class="form-control" required="true" name="type">
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="param=='new'||param=='edit'&&viewChangeParamSub !='ECDOFFICER_MAINTAIN_EDIT'">
                        <div class="col-sm-6">
                            <div *ngIf="param=='new'" class="form-group">
                                <label for="template" *ngIf="param=='new'">Location</label>
                                <p-tree [style]="{'width':'400px'}" [value]="file" *ngIf="param=='new'" selectionMode="single" [(selection)]="selectedFile"
                                    (onNodeExpand)="nodeSelect($event)" (onNodeCollapse)="collapse($event)" (onNodeSelect)="nodeSelected($event)"
                                    [loading]="loadingTree">
                                </p-tree>


                                <label *ngIf="selectedLearningCenter!=undefined&&selectedType=='PMU'&&selectedActivityType!=1&&viewChangeParamSub !='ADMIN_MAINTAIN_EDIT'">Selected Area: {{this.selectedLearningCenter.address}}</label>
                                <input type="text" *ngIf="(viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT')"
                                    style="width: 400px" disabled class="form-control" required="true" name="type">
                              
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-6">
                            <label *ngIf="selectedType=='PMU'" for="template">Learning Center</label>
                            <!-- <label *ngIf="selectedType=='PMU'&&(selectedActivityType==2||selectedActivityType==3)" for="template">Area</label> -->


                            <label *ngIf="selectedType=='PHDT'" for="template">Division</label>

                            <!-- <input *ngIf="(param=='new'||viewChangeParamSub =='ECDOFFICER_DEFINE_EDIT')&&selectedType=='PMU'&&selectedActivityType==1"
                                disabled [(ngModel)]="selectedLearningCenter.name" class="form-control" [formControl]="learningCenterControl"
                                type="text" style="width: 400px"> -->

                            <input *ngIf="selectedActivityType==1&&selectedType=='PMU'&&(param=='new'||viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT')"
                                disabled [(ngModel)]="selectedLearningCenter.name" class="form-control" disabled type="text"
                                [formControl]="learningCenterControl" style="width: 400px">

                            <input *ngIf="selectedActivityType==3&&selectedActivityType==2&&selectedType=='PMU'&&(viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT')"
                                disabled [(ngModel)]="selectedLearningCenter.name" class="form-control" disabled type="text"
                                style="width: 400px">

                            <input *ngIf="(param=='new')&&selectedLearningCenter!=undefined&&selectedType=='PMU'&&selectedActivityType!=1" [(ngModel)]="selectedLearningCenter.name"
                                class="form-control" [formControl]="learningCenterControl" type="text" style="width: 400px">


                            <div *ngIf="!learningCenterControl.valid&&selectedType=='PMU'&&param=='new'" style="color: red">Learning Center is required</div>

                            <input *ngIf="selectedDivision!=undefined&&selectedType=='PHDT'&&(viewChangeParamSub == 'ECDOFFICER_DEFINE_VIEW'||param=='new'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT')"
                                disabled [(ngModel)]="selectedDivision.label" class="form-control" [formControl]="divisionControl"
                                type="text" style="width: 400px">
                            <input *ngIf="selectedDivision==undefined&&selectedType=='PHDT'&&(param=='new'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT')"
                                disabled class="form-control" type="text" style="width: 400px">




                            <!-- <input *ngIf="(userId==1&&selectedType=='PHDT')||selectedType=='PHDT'&&(param=='view'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT')"
                                disabled [(ngModel)]="selectedLearningCenter.name" class="form-control" [formControl]="divisionControl"
                                type="text" style="width: 400px"> -->
                            <div *ngIf="selectedDivision!=undefined&&divisionControl.invalid&&param=='new'&&selectedType=='PHDT'" style="color: red">Division is required</div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" *ngIf="(selectedType=='PHDT' ||(userId==1&&selectedType=='PHDT'))">
                            <label for="template">No Of Female Students</label>

                            <input type="number" *ngIf="(selectedType=='PHDT' ||(userId==1&&selectedType=='PHDT'))&&(param=='new'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT')"
                                [(ngModel)]="femaleCount" class="form-control" style="width: 400px">
                            <input type="number" disabled *ngIf="(selectedType=='PHDT' ||(userId==1&&selectedType=='PHDT'))&&(viewChangeParamSub == 'ECDOFFICER_DEFINE_VIEW'||viewChangeParamSub=='ADMIN_MAINTAIN_EDIT'||viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT')"
                                [(ngModel)]="femaleCount" class="form-control" style="width: 400px">

                        </div>
                    </div>
                        <div class="row">
                        <div class="col-sm-6" *ngIf="(selectedType=='PHDT'||(userId==1&&selectedType=='PHDT'))">
                            <label for="template">No Of Male Students</label>
                            <input *ngIf="(selectedType=='PHDT'||(userId==1&&selectedType=='PHDT'))&&(param=='new'||viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT')"
                                [(ngModel)]="maleCount" class="form-control" type="number" style="width: 400px">
                            <input disabled *ngIf="(selectedType=='PHDT' ||(userId==1&&selectedType=='PHDT'))&&(viewChangeParamSub == 'ECDOFFICER_DEFINE_VIEW'||viewChangeParamSub=='ADMIN_MAINTAIN_EDIT'||viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT')"
                                [(ngModel)]="maleCount" class="form-control" type="number" style="width: 400px">
                        </div>
                        </div>
                   

                   
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="template">Category</label>
                                <select [(ngModel)]="selectedCategory" *ngIf="param=='new'&&viewChangeParamSub !='ECDOFFICER_MAINTAIN_EDIT'" class="form-control"
                                    style="width: 400px" name="category" (change)="loadCatDetails(selectedCategory)">
                                    <option [ngValue]="selectedCategory" *ngFor="let selectedCategory of categoryList">{{selectedCategory.categoryName}}</option>
                                </select>
                                <!-- <div *ngIf="catControl.invalid&&param=='new'&&viewChangeParamSub !='ECDOFFICER_MAINTAIN_EDIT'" style="color: red">Activity description is required</div> -->
                                <input type="text" *ngIf="param=='view'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_DEFINE_EDIT'"
                                    disabled [(ngModel)]="selectedCategory.categoryName" class="form-control" required="true"
                                    style="width: 400px">
                            </div>
                        </div>
                    </div>




                    <div class="row" *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||param=='new'">
                        <div class="col-sm-12">
                            <div *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||param=='new'" class="form-group">
                                <label for="template">Milestone</label>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <select [(ngModel)]="selectedMilestone" *ngIf="param=='new'||param=='edit'" class="form-control" name="milestone" required="true"
                                            style="width: 400px" (change)="selectMilestone()">
                                            <option [ngValue]="selectedMilestone" *ngFor="let selectedMilestone of milestonesAll">{{selectedMilestone.milestoneName}}</option>
                                            <option>Other</option>
                                        </select>
                                        <br>
                                        <input type="text" *ngIf="selectedMilestone=='Other'" [(ngModel)]="otherMilestoneName" [formControl]="milestoneNameControl"
                                            class="form-control" name="desc" style="width: 400px">
                                    </div>
                                    <div class="col-sm-6">
                                        <button *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||param=='new'" (click)="addMilestoneExtra()" styleClass="ui-button-secondary"
                                            [disabled]="milestoneNameControl.invalid&&selectedMilestone=='Other'" icon="fa fa-plus"
                                            pButton label="Add Milestone"></button>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>





                    <!-- <button *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||param=='new'" type="button" class="btn btn-primary pull-right" (click)="openAddMilestones()">Add Milestones</button> -->



                    <div class="form-group" *ngIf="((viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT')&&userId<4)">
                        <label for="template">Actual Start Date(for Overall Activity)</label>
                        <br>
                        <p-calendar [style]=" {'width':'250px'}" *ngIf="userId<4" [(ngModel)]="startDate" dateFormat="dd-mm-yy" name="start"></p-calendar>

                    </div>
                    <div class="form-group" *ngIf="((viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT')&&userId<4)">
                        <label for="template" name="end">Actual End Date(for Overall Activity)</label>
                        <br>
                        <p-calendar *ngIf="userId<4" [(ngModel)]="endDate" dateFormat="dd-mm-yy"></p-calendar>

                    </div>

                    <div class="form-group" *ngIf="((viewChangeParamSub =='ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub =='ECDOFFICER_DEFINE_NEW')&&userId<4)">
                        <label for="template">Planned Start Date(for Overall Activity)</label>
                        <br>
                        <p-calendar [style]=" {'width':'250px'}" *ngIf="userId<4&&statusofaActivity!=4" [(ngModel)]="plannedActivityStartDate" dateFormat="dd-mm-yy"
                            name="start"></p-calendar>
                        <input type="text" name=strtDate class="form-control" style="width: 400px" *ngIf="userId<4&&statusofaActivity==4" [(ngModel)]="plannedActivityStartDate"
                            disabled>
                    </div>
                    <div class="form-group" *ngIf="((viewChangeParamSub =='ECDOFFICER_DEFINE_EDIT'||viewChangeParamSub =='ECDOFFICER_DEFINE_NEW')&&userId<4)">
                        <label for="template" name="end">Planned End Date(for Overall Activity)</label>
                        <br>
                        <p-calendar *ngIf="userId<4&&statusofaActivity!=4" [(ngModel)]="plannedActivityEndDate" dateFormat="dd-mm-yy"></p-calendar>
                        <input type="text" name=strtDate class="form-control" style="width: 400px" *ngIf="userId<4&&statusofaActivity==4" [(ngModel)]="plannedActivityEndDate"
                            disabled>

                    </div>

                    <br>
                    <p-dataTable [value]="selectedUpdatedMilestoneList" *ngIf="viewChangeParam=='ECDOFFICER_MAINTAIN'||viewChangeParam=='ADMIN_MAINTAIN'"
                        [editable]="true" [immutable]=false>
                        <!-- <p-header>Added Milestones</p-header> -->
                        <p-column [style]="{'text-align':'center'}" field="milestoneName" header="Milestone Name"></p-column>
                        <p-column [style]="{'text-align':'center'}" field="plannedStartDate" header="Planned Start Date"></p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId<4" field="actualStartDate"
                            header="Actual Start Date" [editable]="true">
                            <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
                            <ng-template let-col let-car="rowData" pTemplate="editor">
                                <p-calendar [(ngModel)]="car[col.field]" dateFormat="dd-mm-yy"></p-calendar>
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId>3" field="actualStartDate"
                            header="Actual Start Date">
                            <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>

                        </p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'" field="actualStartDate" header="Actual Start Date">
                            <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>

                        </p-column>
                        <p-column [style]="{'text-align':'center'}" field="plannedEndDate" header="Planned End Date"></p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId<4" field="actualEndDate"
                            header="Actual End Date" [editable]="true">
                            <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
                            <ng-template let-col let-car="rowData" pTemplate="editor">
                                <p-calendar [(ngModel)]="car[col.field]" dateFormat="dd-mm-yy" [minDate]="car.actualStartDate"></p-calendar>
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId>3" field="actualEndDate"
                            header="Actual End Date">
                            <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>

                        </p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'" field="actualEndDate" header="Actual End Date">
                            <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>

                        </p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId<4" field="grants"
                            header="Grant Amount" [editable]="true">
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <input type="number" [(ngModel)]="car[col.field]" name="a" (ngModelChange)="changeGrant()"> </ng-template>
                        </p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId>3" field="grants"
                            header="Grant Amount">

                        </p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'" field="grants" header="Grant Amount">

                        </p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId<4" field="status"
                            header="Status" [editable]="true">
                            <ng-template let-col let-car="rowData" pTemplate="editor">
                                <p-dropdown [options]="statusList" [(ngModel)]="car[col.field]" [autoWidth]="false" [style]="{'width':'100%','overflow':'visible'}"
                                    (onChange)="setOutput(car,$event)"></p-dropdown>

                                <!-- <select >                    <option value="car[col.field]==0">Cancel</option>                    <option value="car[col.field]==1">In Progress</option>                    <option value="car[col.field]==2">Complete</option>                </select> -->
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId>3" field="status"
                            header="Status">

                        </p-column>


                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'" field="status" header="Status">

                            <ng-template let-col let-car="rowData" pTemplate="editor">
                                <span *ngIf="car[col.field]==1">Cancel</span>
                                <span *ngIf="car[col.field]==2">In Progress</span>
                                <span *ngIf="car[col.field]==3">Completed</span>
                                <span *ngIf="car[col.field]==4">Grant Approved</span>
                                <span *ngIf="car[col.field]==5">Grant Released</span>
                                <span *ngIf="car[col.field]==6">Pending</span>
                                <span *ngIf="car[col.field]==7">Partially Completed</span>

                            </ng-template>
                        </p-column>

                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId<4" field="progress"
                            header="Progress" [editable]="true">
                            <ng-template let-col let-car="rowData">
                                <span *ngIf="car[col.field]==100||car.status==4">100%</span>
                                <span *ngIf="car[col.field]==0">0%</span>
                                <!-- <input *ngIf="(userId<4&&car[col.field]>0||car[col.field]<100)" type="number" /> -->
                                <!-- <input name="progress" [(ngModel)]="car[col.field]"  type="number" /> -->
                                <!-- <span *ngIf="(userId<4&&car[col.field]==0||car[col.field]==100)">{{car[col.field]}}</span> -->


                            </ng-template>
                            <ng-template let-col let-car="rowData" pTemplate="editor">

                                <!-- <input *ngIf="(userId<4&&car[col.field]>0||car[col.field]<100)" type="number" /> -->
                                <input name="progress" [(ngModel)]="car[col.field]" type="number" />
                                <!-- <span *ngIf="(userId<4&&car[col.field]==0||car[col.field]==100)">{{car[col.field]}}</span> -->


                            </ng-template>
                        </p-column>
                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId>3" field="progress"
                            header="Progress">

                        </p-column>

                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'&&userId<4" field="grantDate"
                            header="Grant Date" [editable]="true" [style]=" {'overflow':'visible' }">
                            <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
                            <ng-template let-col let-car="rowData" pTemplate="editor">
                                <p-calendar [(ngModel)]="car[col.field]" dateFormat="dd-mm-yy"></p-calendar>
                            </ng-template>
                        </p-column>

                        <p-column [style]="{'text-align':'center'}" *ngIf="viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'&&userId>3" field="grantDate"
                            header="Grant Date" [editable]="true" [style]=" {'overflow':'visible' }">
                            <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>

                        </p-column>


                        <p-column [style]="{'text-align':'center'}" styleClass="col-button" header="Add Photos">
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <button type="button" pButton (click)="addPhotos(car)" icon="fa fa-file-image-o"></button>
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'text-align':'center'}" field="documentList" styleClass="col-button" header="Mark Docs">
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <button *ngIf="car.documentList.length==0||userId>3" disabled type="button" pButton (click)="markDocuments(car)" icon="fa fa-pencil-square-o"></button>
                                <button *ngIf="car.documentList.length>0&&userId<4" type="button" pButton (click)="markDocuments(car)" icon="fa fa-pencil-square-o"></button>
                            </ng-template>
                        </p-column>
                    </p-dataTable>








                    <p-dataTable *ngIf="viewChangeParamSub=='ECDOFFICER_DEFINE_EDIT'||param=='new'" [style]="{'text-align':'center'}" [value]="milestonesList"
                        [immutable]=false>
                        <p-column *ngIf="statusofaActivity==2" [style]="{'text-align':'center'}">
                            <ng-template let-cri="rowData" pTemplate="body" let-col>
                                <button pButton class="ui-button-secondary" label="Remove" (click)=removeMilestoneRows(cri)> </button>
                            </ng-template>
                        </p-column>

                        <p-column [style]="{'text-align':'center'}" field="milestoneName" header="Milestone Name"></p-column>

                        <p-column [style]="{'text-align':'center','width':'200px'}" field="plannedStartDate" header="Planned Start Date">
                            <ng-template let-col let-cri="rowData" pTemplate="body">

                                <p-calendar [(ngModel)]="cri.plannedStartDate"></p-calendar>

                            </ng-template>

                        </p-column>
                        <p-column [style]="{'text-align':'center','width':'200px'}" field="plannedEndDate" header="Planned End Date">
                            <ng-template let-col let-cri="rowData" pTemplate="body">

                                <p-calendar [(ngModel)]="cri.plannedEndDate"></p-calendar>

                            </ng-template>

                        </p-column>
                        <p-column [style]="{'text-align':'center'}" field="documentList" header="Add Documents">
                            <ng-template let-col let-cri="rowData" pTemplate="body">
                                <!-- <span (click)="opencreateDocument(cri)">{{cri.documentList.length}}</span> -->

                                <button pButton icon="fa fa-plus-square" label={{cri.documentList.length}} (click)="opencreateDocument(cri)"></button>
                            </ng-template>

                        </p-column>
                    </p-dataTable>

                    <!-- View Define Act -->
                    <p-dataTable *ngIf="viewChangeParamSub=='ECDOFFICER_DEFINE_VIEW'" [style]="{'text-align':'center'}" [value]="milestonesList"
                        [immutable]=false>


                        <p-column [style]="{'text-align':'center'}" field="milestoneName" header="Milestone Name"></p-column>

                        <p-column [style]="{'text-align':'center','width':'200px'}" field="plannedStartDate" header="Planned Start Date">
                            <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>

                        </p-column>
                        <p-column [style]="{'text-align':'center','width':'200px'}" field="plannedEndDate" header="Planned End Date">
                            <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>

                        </p-column>
                        <p-column [style]="{'text-align':'center'}" field="documentList" header="Add Documents">
                            <ng-template let-col let-cri="rowData" pTemplate="body">
                                <!-- <span (click)="opencreateDocument(cri)">{{cri.documentList.length}}</span> -->

                                <button pButton icon="fa fa-plus-square" label={{cri.documentList.length}} (click)="opencreateDocument(cri)"></button>
                            </ng-template>

                        </p-column>
                    </p-dataTable>

                    <br>


                    <div class="row">
                        <div class="col-sm-12">
                            <div *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||param=='new'" class="form-group">
                                <label for="template">Budget Name</label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <select [(ngModel)]=selectedBudget class="form-control" required="true" name="budget" style="width: 400px">
                                            <option [ngValue]="selectedBudget" *ngFor="let selectedBudget of budgetList">{{selectedBudget.fieldName}}</option>
                                            <option>Other</option>
                                        </select>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" *ngIf="selectedBudget=='Other'" [(ngModel)]="otherBudget" [formControl]="budgetNameControl" class="form-control"
                                                    name="desc" style="width: 150px">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="number" *ngIf="selectedBudget=='Other'" [(ngModel)]="otherBudgetVal" [formControl]="budgetValControl" class="form-control"
                                                    name="desc" style="width: 150px">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <button *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||param=='new'" type="button" icon="fa fa-plus" (click)="addBudgetExtra()"
                                            [disabled]="budgetNameControl.invalid&&selectedBudget=='Other'" pButton label="Add Budget"></button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>





                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group" *ngIf="viewChangeParam=='ECDOFFICER_DEFINE'||viewChangeParam=='ADMIN_MAINTAIN'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'">
                                <label *ngIf="viewChangeParam=='ECDOFFICER_DEFINE'" for="template">Estimated Budget-Rs {{actualBudget| number : numberFormat}}</label>
                                <label *ngIf="viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'" for="template">Total Approved Budget-Rs {{allocatedBudget| number : numberFormat}}</label>


                            </div>
                        </div>
                        <div class="col-sm-4">


                            <div class="form-group" *ngIf="viewChangeParam=='ECDOFFICER_DEFINE'">
                                <label for="template">Total Approved Budget-Rs {{allocatedBudget| number : numberFormat}}</label>

                            </div>
                            <div class="form-group" *ngIf="viewChangeParam=='ADMIN_MAINTAIN'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'">
                                <label for="template">Total Claim Amount-Rs {{totalClaim| number : numberFormat}}</label>

                            </div>





                        </div>
                    </div>

                    <p-dataTable *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'||param=='new'" [style]="{'text-align':'center'}" [value]="selectedBudgetList"
                        [immutable]=false>
                        <p-column *ngIf="statusofaActivity==2" [style]="{'text-align':'center'}">
                            <ng-template let-cri="rowData" pTemplate="body" let-col>
                                <button pButton class="ui-button-secondary" label="Remove" (click)=removeBudgetRows(cri)> </button>
                            </ng-template>
                        </p-column>

                        <p-column [style]="{'text-align':'center'}" field="fieldName" header="Allocation Name"></p-column>
                        <p-column [style]="{'text-align':'center'}" field="budgetValue" header="Budget Value">
                            <ng-template let-col let-cri="rowData" pTemplate="body">
                                {{cri.budgetValue| number : numberFormat}}
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'text-align':'center'}" field="allocatedBudget" header="Approved Budget">
                            <ng-template let-col let-cri="rowData" pTemplate="body">

                                <input [(ngModel)]="cri.allocatedBudget" id="bud" type="number" (ngModelChange)="thousandSeperators($event,cri.allocatedBudget)">
                                <span></span>
                            </ng-template>

                        </p-column>
                    </p-dataTable>

                    <p-dataTable *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'" [style]="{'text-align':'center'}" [value]="selectedBudgetListExtra"
                        [immutable]=false>
                        <p-header>Newly Added Budgets</p-header>
                        <p-column [style]="{'text-align':'center'}">
                            <ng-template let-cri="rowData" pTemplate="body" let-col>
                                <button pButton class="ui-button-secondary" label="Remove" (click)=removeBudgetRows(cri)> </button>
                            </ng-template>
                        </p-column>

                        <p-column [style]="{'text-align':'center'}" field="fieldName" header="Allocation Name"></p-column>
                        <p-column [style]="{'text-align':'center'}" field="budgetValue" header="Budget Value">
                            <ng-template let-col let-cri="rowData" pTemplate="body">
                                {{cri.budgetValue| number : numberFormat}}
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'text-align':'center'}" field="allocatedBudget" header="Approved Budget">
                            <ng-template let-col let-cri="rowData" pTemplate="body">

                                <input [(ngModel)]="cri.allocatedBudget" id="bud" type="number" (ngModelChange)="thousandSeperators($event,cri.allocatedBudget)">
                                <span></span>
                            </ng-template>

                        </p-column>
                    </p-dataTable>

                    <!-- View After Define -->

                    <p-dataTable *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_VIEW'" [style]="{'text-align':'center'}" [value]="selectedBudgetList"
                        [immutable]=false>


                        <p-column [style]="{'text-align':'center'}" field="fieldName" header="Allocation Name"></p-column>
                        <p-column [style]="{'text-align':'center'}" field="budgetValue" header="Budget Value">
                            <ng-template let-col let-cri="rowData" pTemplate="body">
                                {{cri.budgetValue| number : numberFormat}}
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'text-align':'center'}" field="allocatedBudget" header="Actual Budget">
                            <ng-template let-col let-cri="rowData" pTemplate="body">
                                {{cri.allocatedBudget| number : numberFormat}}
                            </ng-template>

                        </p-column>
                    </p-dataTable>

                    <!-- /////////////////////////////////////////////// -->



                    <p-dataTable *ngIf="viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub=='ADMIN_MAINTAIN_EDIT'" [style]="{'text-align':'center'}"
                        [value]="selectedMaintainActivityFieldList" [immutable]=false>
                        <!-- <p-header>Added Budgets</p-header> -->

                        <p-column [style]="{'text-align':'center'}" field="fieldName" header="Field Name"></p-column>

                        <!-- <p-column [style]="{'text-align':'center'}" field="budgetValue" header="Budget Value"> -->


                        <!-- </p-column> -->
                        <!-- <p-column *ngIf="userId<4" [style]="{'text-align':'center'}" field="allocatedBudget" header="Allocated Budget" [editable]="true">
                            <ng-template let-col let-cri="rowData" pTemplate="body">

                               
                                <input *ngIf="viewChangeParam=='ECDOFFICER_MAINTAIN'" type="number" class="form-control" placeholder="0" [(ngModel)]="cri.allocatedBudget"
                                    name="allocated-{{in}}">
                                <span *ngIf="viewChangeParam=='ADMIN_MAINTAIN'">{{cri[col.field]}}</span>
                            </ng-template>

                        </p-column> -->
                        <p-column [style]="{'text-align':'center'}" field="allocatedBudget" header="Allocated Budget">


                        </p-column>
                    </p-dataTable>
                    <br>
                    <button *ngIf="(viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT')&&userId<4" (click)="addClaimstoGrid()" styleClass="ui-button-secondary"
                        icon="fa fa-plus" pButton label="Add a Claim"></button>

                    <br>
                    <br>

                    <p-dataTable *ngIf="viewChangeParam == 'ECDOFFICER_MAINTAIN'||viewChangeParam=='ADMIN_MAINTAIN'" [style]="{'text-align':'center'}"
                        [value]="claimGrid" [immutable]=false>
                        <!-- <p-header>Added Claims</p-header> -->

                        <p-column *ngIf="viewChangeParamSub!='ADMIN_MAINTAIN_EDIT'" [style]="{'text-align':'center'}">
                            <ng-template let-cri="rowData" pTemplate="body" let-col>
                                <button pButton class="ui-button-secondary" label="Remove" (click)=removeClaimfromGrid(cri)> </button>
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'text-align':'center'}" field="description" header="Description"></p-column>

                        <p-column [style]="{'text-align':'center'}" field="amount" header="Amount"></p-column>
                        <p-column [style]="{'text-align':'center'}" field="claimedDate" header="claimed Date"></p-column>

                    </p-dataTable>
                    <br>

                    <div class="form-group" *ngIf="viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'&&userId<4">
                        <label for="template">Status</label>
                        <select [(ngModel)]="activityStatus" class="form-control" *ngIf="param=='view'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_DEFINE_EDIT'"
                            style="width: 400px" name="staus" required="true">
                            <option [ngValue]="5">Completed</option>
                            <option [ngValue]="4">Not Completed</option>
                            <option [ngValue]="6">Suspended</option>
                        </select>



                    </div>
                    <div class="form-group" *ngIf="viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'&&userId>3">
                        <label for="template">Status</label>
                        <input disabled type="text" style="width: 400px" value="Not Completed" name="remark" class="form-control" *ngIf="(activityStatus==4)&&(param=='view'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_DEFINE_EDIT')">
                        <input disabled type="text" style="width: 400px" value="Completed" name="remark" class="form-control" *ngIf="(activityStatus==5)&&(param=='view'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_DEFINE_EDIT')">
                        <input disabled type="text" style="width: 400px" value="Suspended" name="remark" class="form-control" *ngIf="(activityStatus==6)&&(param=='view'||viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'||viewChangeParamSub =='ECDOFFICER_DEFINE_EDIT')">
                    </div>
                    <div class="form-group" *ngIf="viewChangeParamSub =='ECDOFFICER_MAINTAIN_EDIT'&&activityStatus==6">
                        <label for="template">Remark</label>
                        <input type="text" style="width: 400px" [(ngModel)]="remark" name="remark" class="form-control">

                    </div>




                    <div class="modal-footer">

                        <button pButton *ngIf="param=='new'&&selectedType=='PMU'" [disabled]="descControl.invalid||learningCenterControl.invalid"
                            type="submit" (click)="saveActivity(4)" label="Save"></button>
                        <button pButton *ngIf="param=='new'&&selectedType=='PHDT'" [disabled]="descControl.invalid||divisionControl.invalid" type="submit"
                            (click)="saveActivity(3)" label="Save Base Plan"></button>
                        <button pButton *ngIf="param=='new'&&selectedType=='PHDT'" [disabled]="descControl.invalid||divisionControl.invalid" type="submit"
                            (click)="saveActivity(2)" label="Save"></button>
                        <button pButton *ngIf="param=='new'&&selectedType=='PMU'&&selectedActivityType!=1" [disabled]="descControl.invalid||learningCenterControl.invalid"
                            type="submit" (click)="saveActivity(3)" label="Save Base Plan"></button>

                        <button pButton *ngIf="selectedType=='PMU'&&viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'" [disabled]="descControl.invalid"
                            type="submit" (click)="updateActivity(4)" label="Save"></button>
                        <button pButton *ngIf="selectedType=='PHDT'&&viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'" [disabled]="descControl.invalid"
                            type="submit" (click)="updateActivity(3)" label="Save Base Plan"></button>
                        <button pButton *ngIf="selectedType=='PHDT'&&viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'" [disabled]="descControl.invalid"
                            type="submit" (click)="updateActivity(2)" label="Save"></button>
                        <button pButton *ngIf="selectedType=='PMU'&&selectedActivityType!=1&&viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'" [disabled]="descControl.invalid"
                            type="submit" (click)="updateActivity(3)" label="Save Base Plan"></button>


                        <!-- <button *ngIf="param=='view'" type="button" class="btn btn-success" (click)="closeViewActivity()">Close</button> -->
                        <!-- <button *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'" type="button" (click)="updateActivity(2)">Save Changes</button>
                        <button *ngIf="viewChangeParamSub == 'ECDOFFICER_DEFINE_EDIT'" type="button" (click)="updateActivity(3)">Save Base Plan</button> -->
                        <button pButton label="Save Changes" *ngIf="viewChangeParamSub == 'ECDOFFICER_MAINTAIN_EDIT'" type="button" (click)="updateMaintainActivity(4)"></button>
                        <button pButton label="Authorize Base Plan" *ngIf="viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'&&status==3" type="button"
                            (click)="updateMaintainActivity(4)"></button>
                        <button pButton label="Reject" *ngIf="viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'&&status==3" (click)="updateMaintainActivity(1)"
                            type="button"></button>
                        <!-- <button *ngIf="viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'&&status==4" type="button" class="btn btn-success">close</button> -->
                    </div>
                    <!-- </form> -->
                    <!--################ end form ################-->
                </div>
            </div>
        </div>
        <div bsModal #createDocument="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog " style="width:500px">
                <div class="modal-content">
                    <form>
                        <!--########## start form ########-->
                        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                            <button type="button" class="close pull-right" (click)="createDocument.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Add Supproted Documents</h4>
                        </div>
                        <div class="modal-body">
                            <div *ngIf="viewChangeParamSub!='ECDOFFICER_DEFINE_VIEW'" class="form-group">
                                <label for="template">Document Name</label>
                                <select [(ngModel)]=selectedDocument class="form-control" name="document">
                                    <option [ngValue]="selectedDocument" *ngFor="let selectedDocument of documentList">{{selectedDocument.documentName}}</option>
                                </select>
                            </div>
                            <button pButton label="Add Documents" *ngIf="viewChangeParamSub!='ECDOFFICER_DEFINE_VIEW'" [disabled]="documentList.length==0"
                                type="button" (click)="addDocumentstoGrid()"></button>
                            <br>

                            <!-- <table class="table table-hover table-striped">
                                <thead>
                                    <tr class="tbl-header">
                                        <th></th>
                                        <th>Document ID</th>
                                        <th>Document Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of selecteddocumentList">
                                        <td>
                                            <button class="btn btn-primary" (click)="removeRow(a)"> Remove </button>
                                        </td>
                                        <td>
                                            <div class="col-sm-12 user-name">{{a.documentId}}</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-12 user-name">{{a.documentName}}</div>
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-ok" *ngIf="a.status==1"> </span>
                                            <span class="glyphicon glyphicon-remove" *ngIf="a.status==2"> </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->

                            <br>
                            <p-dataTable [style]="{'text-align':'center'}" [value]="selecteddocumentList" [immutable]=false>

                                <p-column [style]="{'text-align':'center'}">
                                    <ng-template let-cri="rowData" pTemplate="body" let-col>
                                        <button pButton type="button" class="ui-button-secondary" label="Remove" (click)=removeRow(cri)> </button>
                                    </ng-template>
                                </p-column>
                                <p-column [style]="{'text-align':'center'}" field="documentId" header="Document ID"></p-column>
                                <p-column [style]="{'text-align':'center'}" field="documentName" header="Document Name"></p-column>
                                <p-column [style]="{'text-align':'center'}" field="status" header="Status">
                                    <ng-template let-col let-cri="rowData" pTemplate="body">
                                        <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
                                        <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
                                    </ng-template>

                                </p-column>
                            </p-dataTable>





                        </div>
                        <div class="modal-footer">
                            <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->
                            <button pButton label="Save Changes" type="button" *ngIf="viewChangeParamSub!='ECDOFFICER_DEFINE_VIEW'" (click)="saveDocList()"></button>
                        </div>
                    </form>
                    <!--################ end form ################-->
                </div>
            </div>
        </div>
        <div bsModal #addMilestone="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog " style="width:500px">
                <div class="modal-content">
                    <form>
                        <!--########## start form ########-->
                        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                            <button type="button" class="close pull-right" (click)="addMilestone.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Add Milestone</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="template">Milestone</label>
                                <select [(ngModel)]=selectedMilestoneSub class="form-control" name="selectedMilestoneSub">
                                    <option [ngValue]="selectedMilestone" *ngFor="let selectedMilestone of milestonesAll">{{selectedMilestone.milestoneName}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="template">Start Date</label>
                                <br>
                                <!-- <input type="date" [(ngModel)]="selectedMilestoneSub.plannedStartDate" name="selectedMilestoneSub.plannedStartDate" class="form-control" -->
                                <!-- required="true"> -->
                                <p-calendar [(ngModel)]="plannedStartDate" name="selectedMilestoneSub.plannedStartDate"></p-calendar>
                            </div>
                            <div class="form-group">
                                <label for="template">End Date</label>
                                <br>
                                <!-- <input type="date" [(ngModel)]="selectedMilestoneSub.plannedEndDate" name="selectedMilestoneSub.plannedEndDate" class="form-control" -->
                                <p-calendar [(ngModel)]="plannedEndDate" name="selectedMilestoneSub.plannedEndDate" [minDate]="plannedStartDate"></p-calendar>
                                <!-- required="true"> -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->
                            <button type="button" class="btn btn-success" (click)="addMilestonesToMainGrid()">Add</button>
                        </div>
                    </form>
                    <!--################ end form ################-->
                </div>
            </div>
        </div>
        <div bsModal #addBudget="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog " style="width:500px">
                <div class="modal-content">
                    <form>
                        <!--########## start form ########-->
                        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                            <button type="button" class="close pull-right" (click)="addBudget.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Add Milestone</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="template">Budget Name</label>
                                <select [(ngModel)]=selectedBudget class="form-control" required="true" name="budget">
                                    <option [ngValue]="selectedBudget" *ngFor="let selectedBudget of budgetList">{{selectedBudget.fieldName}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="template">Value</label>
                                <input type="number" class="form-control" [(ngModel)]=selectedBudget.budgetValue required="true" name="budgetval"> </div>
                        </div>
                        <div class="modal-footer">
                            <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->
                            <button type="button" class="btn btn-success" (click)="addBudgettoMainGrid()">Add</button>
                        </div>
                    </form>
                    <!--################ end form ################-->
                </div>
            </div>
        </div>
        <div bsModal #showDocuments="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog " style="width:500px">
                <div class="modal-content">
                    <form>
                        <!--########## start form ########-->
                        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                            <button type="button" class="close pull-right" (click)="showDocuments.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Mark Received Documents</h4>
                        </div>
                        <div class="modal-body">

                            <!-- <table class="table table-hover table-striped">
                                <thead>
                                    <tr class="tbl-header">
                                        <th>Document</th>
                                        <th>Document Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of addedDocs">
                                        <td>
                                            <div class="col-sm-12 user-name">Document</div>
                                        </td>
                                        <td>
                                            <div class="col-sm-12 user-name">{{a.documentName}}</div>
                                        </td>
                                        <td>
                                            <div class="checkbox">

                                                <input type="checkbox" *ngIf="a.availability==1&&viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" checked (change)=checked($event,a)>
                                                <input type="checkbox" *ngIf="a.availability==0&&viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" (change)=checked($event,a)>
                                                <input disabled type="checkbox" *ngIf="a.availability==1&&viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'" checked (change)=checked($event,a)>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->

                            <p-dataTable [style]="{'text-align':'center'}" [value]="docList" [immutable]=false>
                                <p-column [style]="{'text-align':'center'}" field="documentId" header="Document ID"></p-column>
                                <p-column [style]="{'text-align':'center'}" field="documentName" header="Document Name"></p-column>
                                <p-column [style]="{'text-align':'center'}" field="availability" header="Availablility">
                                    <ng-template let-col let-cri="rowData" pTemplate="body">
                                        <input type="checkbox" *ngIf="cri.availability==1&&viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" checked (change)=checked($event,cri)>
                                        <input type="checkbox" *ngIf="cri.availability==0&&viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" (change)=checked($event,cri)>
                                        <input disabled type="checkbox" *ngIf="cri.availability==1&&viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'">
                                        <input disabled type="checkbox" *ngIf="cri.availability==0&&viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'">
                                    </ng-template>

                                </p-column>
                            </p-dataTable>
                            <br>
                            <p-dataTable [style]="{'text-align':'center'}" [value]="commentList" [immutable]=false>
                                <p-column [style]="{'text-align':'center'}" field="comment" header="Comment"></p-column>
                                <p-column [style]="{'text-align':'center'}" field="date" header="Posted Date">

                                </p-column>
                            </p-dataTable>
                            <br>

                            <div *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" class="form-group">
                                <label for="template">Comments</label>
                                <input *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" type="text" [(ngModel)]="comment" class="form-control" name="name"
                                    [formControl]="commentControl" required="true">
                                <!-- <input *ngIf="viewChangeParamSub == 'ADMIN_MAINTAIN_EDIT'" type="text" disabled [(ngModel)]="comment" class="form-control" [formControl]="commentControl"
                                    name="name" required="true"> -->
                            </div>
                            <label *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" for="template">Date</label>
                            <br>
                            <p-calendar *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" [(ngModel)]="dateCommented" dateFormat="dd-mm-yy" name="start"></p-calendar>
                            <br>
                            <br>
                            <button pButton label="Post Comment" icon="fa fa-plus" [disabled]="commentControl.invalid" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'"
                                type="button" (click)="postComment()"></button>
                        </div>
                        <div *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" class="modal-footer">
                            <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->
                            <button pButton label="Save Changes" *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" type="button" (click)="updateDoc()"></button>
                        </div>
                    </form>
                    <!--################ end form ################-->
                </div>
            </div>
        </div>
        <div bsModal #addPictures="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:500px">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                        <button type="button" class="close pull-right" (click)="addPictures.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Photos</h4>
                    </div>
                    <div class="modal-body">
                        <!-- <div class="alert alert-success" *ngIf="matched3&&matched4">
                                    <strong>Matched!</strong> No Geo Locations Found</div> -->
                        <div class="alert alert-success" *ngIf="matched1&&!firstPhoto">
                            <strong>Matched!</strong> The image you have selected does match with previos location</div>
                        <div class="alert alert-danger" *ngIf="matched2&&!firstPhoto">
                            <strong>Non Match!</strong>The image you have selected does not match with previos location</div>
                        <div class="alert alert-danger" *ngIf="matched3||matched4">
                            <strong>Non Match!</strong>The image you have selected does not have any gps location</div>
                        <form>
                            <p-fileUpload *ngIf="viewChangeParamSub != 'ADMIN_MAINTAIN_EDIT'" name="myfile[]" (onSelect)="beforeUpload($event)" [url]="imageSavingURL"
                                (onUpload)="onupload($event)" (onRemove)="resetMsg($event)" (onClear)="resetMsg($event)" (onError)="resetMsg($event)">
                                <ng-template pTemplate="content">

                                </ng-template>
                            </p-fileUpload>
                        </form>
                        <!-- <p-galleria [images]="images"  panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria> -->
                        <!-- <app-gallery [photoDetail]="{activityId:activityId,milestoneId:milestoneId}"></app-gallery> -->
                        <div class="ui-g">
                            <div class="ui-g-2"></div>
                            <div class="ui-g-5">
                                <h3 style="color: green"> Matched {{this.matchedPhotoCount}}</h3>
                            </div>
                            <div class="ui-g-5">
                                <h3 style="color: red">Not Matched {{this.nonMatchedPhotoCount}}</h3>
                            </div>
                            <div class="ui-g-2"></div>
                        </div>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img *ngIf="images[0]!=null" src={{images[0]}} alt="Los Angeles" style="width:100%;height:100%">
                                    <img *ngIf="images[0]==null" src="./assets/icon/picture.png" alt="Los Angeles" style="width:100%;">
                                </div>
                                <div class="item">
                                    <img *ngIf="images[1]!=null" src={{images[1]}} alt="Los Angeles" style="width:100%;height:100%">
                                    <img *ngIf="images[1]==null" src="./assets/icon/picture.png" alt="Los Angeles" style="width:100%;">
                                </div>
                                <div class="item">
                                    <img *ngIf="images[2]!=null" src={{images[2]}} alt="Los Angeles" style="width:100%;height:100%">
                                    <img *ngIf="images[2]==null" src="./assets/icon/picture.png" alt="Los Angeles" style="width:100%;">
                                </div>
                                <div class="item">
                                    <img *ngIf="images[3]!=null" src={{images[3]}} alt="Los Angeles" style="width:100%;height:100%">
                                    <img *ngIf="images[3]==null" src="./assets/icon/picture.png" alt="Los Angeles" style="width:100%;">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div bsModal #showLearningCenters="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog " style="width:60vw">
                <div class="modal-content">
                    <form>
                        <!--########## start form ########-->
                        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                            <button type="button" class="close pull-right" (click)="showLearningCenters.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Learning centers</h4>
                        </div>
                        <div class="modal-body">
                            <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                            </div> -->
                            <p-dataTable [value]="learningCenterList" [(selection)]="selectedLearningCenter" selectionMode="single" [rows]="10" [paginator]="true"
                                [globalFilter]="gb" #dt dataKey="sn">
                                <!-- <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column> -->
                                <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="sn" header="SN"></p-column>
                                <p-column [style]="{'text-align':'center'}" field="name" [filter]="true" filterPlaceholder="Search" header="Name"></p-column>
                                <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="address" header="Address"></p-column>

                            </p-dataTable>


                        </div>
                        <div class="modal-footer">

                        </div>
                    </form>
                    <!--################ end form ################-->
                </div>
            </div>
        </div>



        <div bsModal #addCalims="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog " style="width:500px">
                <div class="modal-content">
                    <form [formGroup]="claimForm">
                        <!--########## start form ########-->
                        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                            <button type="button" class="close pull-right" (click)="addCalims.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Claims</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="template">Description</label>
                                <!-- <input [(ngModel)]="claim.description" name="document.documentName" type="text" class="form-control" formControlName="description"
                                    required="true"> -->
                                <!-- <input name="description" type="text" class="form-control"> -->
                                <select [(ngModel)]="selectedDescription" name="document.description" class="form-control" formControlName="description">
                                    <option [ngValue]="selectedDescription" *ngFor="let selectedDescription of selectedUpdatedMilestoneList">{{selectedDescription.milestoneName}}</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="template">Claim Amount</label>
                                <input [(ngModel)]="claim.amount" name="document.documentName" type="number" class="form-control" formControlName="amount"
                                    required="true">
                                <!-- <input name="amount" type="number" class="form-control"> -->
                            </div>
                            <div class="form-group">
                                <label for="template">Claimed Date</label>
                                <br>

                                <p-calendar [(ngModel)]="claim.claimedDate" formControlName="claimedDate" required="true" dateFormat="dd-mm-yy"></p-calendar>
                                <!-- <p-calendar   dateFormat="dd-mm-yy"></p-calendar> -->
                            </div>



                        </div>
                        <div class="modal-footer">
                            <button pButton label="Add" [disabled]="!claimForm.valid" type="submit" (click)="addClaimtoGrid()"></button>
                        </div>
                    </form>
                    <!--################ end form ################-->
                </div>
            </div>
        </div>