
.panel-heading{
    background-color: #009688;
    margin-top: 40px;
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

#btnUser{
    margin-left: 170px;
}

.container{
    margin-top: 50PX;
    padding: 10px 10px 0 10px;
    position: absolute;
	width: calc(100% - 61px); 
	margin-left: 60px;
	float: right;
    overflow-x:hidden;
}

.circle-user{
 width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #F79423;
  margin-left: 20px;
}


.panel-body{
    margin-top: -30px;
}

.btn-primary{
    padding: 0 10%; 
    margin-top:10px;
    color: black;
        background:none;
  
    border-color: #757D75; 
        /* border-radius:0; */
}
.btn-success{
    background: #F79423;
    border-color: #F79423;
    color: #ffffff;
    /* border-radius:0; */
}

.page-title h2{
    color:#b7b7b7;
    padding-top:-100px;
  }


/*Model styles*/
.circle-image{
  margin-top: 6px;
  margin-left: 10px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
/*toggle styles*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 60px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #009486;
}

input:focus + .slider {
  box-shadow: 0 0 1px #009486;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*modal*/
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.glyphicon{
    margin-top: 10px;
}
.glyphicon-ok{
    color: #20b32d;
}

.glyphicon-remove{
    color: #f02e1a;
}

.user-name{
    color: #30363a;
    font-weight: bold;
    font-size: 16px;
}
.user-email{
    color: #6f7982;
}


.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 1%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.cat-list{
    color: #30363a;
    font-size: 16px;
}
.ui-widget-header {
    /* background: #f6f7f9 0 0 repeat-x; */
    background: linear-gradient(to bottom, #FCFCFC 0%, #FCFCFC 100%);
}