
<p-blockUI [blocked]="blocked" [target]="pnl"></p-blockUI>



<div class="container" >
      
    <div class="page-title">
        <h2>Criteria Management
            <span> </span>
        </h2>
    </div>
    <div class="pull-right">
        <button class="btn btn-success" (click)="openCreateCriteria()">Add New Criteria</button>
    </div>
    <br>
    <br>
    <br>

    <div class="panel panel-default">


        <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
        </div> -->
        <p-dataTable [style]="{'text-align':'center'}" [loading]="isLoading" [value]="criteriaList" [rows]="10" [paginator]="true" [globalFilter]="gb"
            #dt>
            <p-column [style]="{'text-align':'center'}">
                <ng-template let-cri="rowData" pTemplate="body" let-col>
                    <button pButton class="ui-button-secondary" label="Show Criteria" (click)=showCriteriaDetails(cri)> </button>
                </ng-template>
            </p-column>
            <p-column [style]="{'text-align':'center'}">
                <ng-template let-cri="rowData" pTemplate="body" let-col>
                    <button pButton class="ui-button-secondary" label="Update Criteria" (click)=updateCiteriaDetail(cri)> </button>
                </ng-template>
            </p-column>
            <p-column [style]="{'text-align':'center'}">
                <ng-template let-cri="rowData" pTemplate="body" let-col>
                    <button pButton class="ui-button-secondary" label="Generate Criteria" (click)="routeToResult(cri)"></button>
                </ng-template>
            </p-column>
            <!-- <p-column [style]="{'text-align':'center'}" field="id" header=" Criteria ID" [filter]="true" filterPlaceholder="Search"></p-column> -->
            <p-column [style]="{'text-align':'center'}" field="criteriaName" header="Criteria Name" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center','width':'200px'}" field="criteriaType" header="Criteria Type" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="status" header="Status">
                <ng-template let-col let-cri="rowData" pTemplate="body">

                    <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
                    <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
                    <span></span>
                </ng-template>

            </p-column>
        </p-dataTable>

    </div>

</div>



<!--Update Modal  -->
<div bsModal #updateriteria="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 60vw;height: 100vh">

        <div class="modal-content">
            <form [formGroup]="criteriaForm">

                <div class="modal-header" style="background-color: #A0A3A6;color: azure">

                    <button type="button" class="close pull-right" (click)="closeUpdateAction()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Update Criteria</h4>
                </div>
                <div class="alert alert-success" *ngIf="success">
                    <strong>Success!</strong> You have Successfully Updated a criteria!
                </div>
                <div class="modal-body">

                    <!-- <span class="ui-float-label">
                            <input id="float-input" type="text" size=30 pInputText [(ngModel)]="criteriaInfo.criteria.criteriaName" name="criteriaName"
                                formControlName="criteriaName">
                            <label for="float-input">Criteria Name</label>
                        </span> -->
                    <div class="form-group">
                        <label for="template">Criteria Name</label>
                        <input type="text" [(ngModel)]="criteriaInfo.criteria.criteriaName" name="criteriaName" class="form-control" style="width:400px"
                            formControlName="criteriaName" required>
                    </div>
             

                    <!-- <span class="ui-float-label">
                            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="criteriaInfo.criteria.criteriaType" name="criteriaType"
                                formControlName="criteriaType" required>
                            <label for="float-input">Criteria Type</label>
                        </span> -->
                    <div class="form-group">
                            <label for="template">Criteria Type</label>
                        <select [(ngModel)]="criteriaTypeVal" name="criteriaType" formControlName="criteriaType" class="form-control" style="width:400px">
                            <option [ngValue]="1">FIG</option>
                            <option [ngValue]="2">Fee Waiver</option>
                            <option [ngValue]="3">Material Distribution</option>
                        </select>
                    </div>


                    <div class="form-group">
                            <label for="template">Criteria Status</label>
                        <select [(ngModel)]="selectedStatus" name="status" formControlName="status" class="form-control" style="width:400px">
                            <option [ngValue]="1">Active</option>
                            <option [ngValue]="2">Inactive</option>

                        </select>
                    </div>
                    <!-- <p-dropdown [options]="statusList" [(ngModel)]="selectedStatus" [style]="{'width':'150px'}" formControlName="status"></p-dropdown> -->
                    <br>
                    <br>

                    <button type="button" label="Add SubCriteria" pButton icon="fa fa-plus" (click)="openAddSubCriteriaForm()"></button>
                    <br>
                    <br>
                    <div>

                        <p-dataTable [value]="subCriteriaAdded" [immutable]=false>
                            <p-header>Added Sub Criterias</p-header>
                            <p-column>
                                <ng-template pTemplate="body" let-col let-car="rowData">
                                    <button *ngIf="criteriaInfo.userEnterd!=null" pButton class="ui-button-secondary" label="Remove" (click)=removeRow(car)>
                                    </button>

                                </ng-template>
                            </p-column>
                            <p-column field="censusField" header="Census Field"></p-column>
                            <p-column field="operator" header="Operator"></p-column>
                            <p-column field="value" header="Value"></p-column>
                            <p-column field="function" header="Function"></p-column>
                            <p-column field="points" header="Points"></p-column>
                            <p-column field="status" header="Status">
                                <ng-template let-col let-car="rowData" pTemplate="body">

                                    <span *ngIf="car[col.field]==1">Active</span>
                                    <span *ngIf="car[col.field]==2">Inactive</span>

                                </ng-template>
                            </p-column>
                        </p-dataTable>


                        <p-dataTable [value]="subCriteriaList" [immutable]=false [editable]="true">
                            <p-column>
                                <ng-template pTemplate="body" let-col let-car="rowData">
                                    <button pButton class="ui-button-secondary" label="Remove" (click)=removeRow(car)> </button>
                                </ng-template>
                            </p-column>
                            <p-column field="censusField" header="Census Field"></p-column>
                            <p-column field="operator" header="Operator"></p-column>
                            <p-column field="value" header="Value"></p-column>
                            <p-column field="function" header="Function"></p-column>
                            <p-column field="points" header="Points"></p-column>
                            <p-column field="status" header="Status" [editable]="true">
                                <ng-template let-col let-car="rowData" pTemplate="editor">
                                    <!-- <p-dropdown [options]="statusList" [autoWidth]="false" [style]="{'width':'100%','overflow':'visible'}" (onChange)="setOutput(car,$event)"></p-dropdown> -->

                                    <select name="status" class="form-control">
                                        <option [ngValue]="1">Active</option>
                                        <option [ngValue]="2">Inactive</option>
                                    </select>

                                </ng-template>
                            </p-column>
                        </p-dataTable>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" pButton [disabled]="!criteriaForm.valid" icon="fa fa-save" (click)="updateCriteria(evt)" label="Save Changes"></button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--   End User Modal-->







<!-- Cretae Criteria -->



<div bsModal #createCriteriaView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
   
    <div class="modal-dialog" style="width: 50vw;height: 100vh">
           
        <div class="modal-content">
               
            <form [formGroup]="criteriaForm">

                <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                    <button type="button" class="close pull-right" (click)="closeAction()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Create Criteria</h4>
                </div>
                <div class="alert alert-success" *ngIf="success">
                    <strong>Success!</strong> You have Successfully Created a criteria!
                </div>
                <div class="alert alert-danger" *ngIf="error||warn">
                    <strong>Error!</strong> Add Sub Criterias
                </div>


                <div class="modal-body">

                    <!-- <span class="ui-float-label">
                            <input id="float-input" type="text" size=30 pInputText [(ngModel)]="criteriaInfo.criteria.criteriaName" name="criteriaName"
                                formControlName="criteriaName">
                            <label for="float-input">Criteria Name</label>
                        </span> -->
                    <div class="form-group">
                        <label for="template">Criteria Name</label>
                        <input type="text" [(ngModel)]="criteriaInfo.criteria.criteriaName" name="criteriaName" class="form-control" style="width:400px"
                            formControlName="criteriaName" required>
                    </div>



                    <!-- <span class="ui-float-label">
                            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="criteriaInfo.criteria.criteriaType" name="criteriaType"
                                formControlName="criteriaType" required>
                            <label for="float-input">Criteria Type</label>
                        </span> -->
                    <div class="form-group">
                        <select class="form-control" style="width: 400px" [(ngModel)]="criteriaTypeVal" name="criteriaType" formControlName="criteriaType">
                            <option [ngValue]="1">FIG</option>
                            <option [ngValue]="2">Fee Waiver</option>
                            <option [ngValue]="3">Material Distribution</option>
                        </select>
                    </div>




                    <!-- <p-dropdown [options]="statusList" [(ngModel)]="selectedStatus" [style]="{'width':'150px'}" formControlName="status"></p-dropdown> -->
                    <div class="form-group">
                        <select [(ngModel)]="selectedStatus" name="status" formControlName="status" class="form-control" style="width:400px">
                            <option [ngValue]="1">Active</option>
                            <option [ngValue]="2">Inactive</option>

                        </select>
                    </div>



                    <button type="button" label="Add SubCriteria" pButton icon="fa fa-plus" (click)="openAddSubCriteriaForm()"></button>


                    <div>


                        <br>
                        <p-dataTable [value]="subCriteriaList" [immutable]=false [editable]="true">
                            <p-column>
                                <ng-template pTemplate="body" let-col let-car="rowData">
                                    <button pButton class="ui-button-secondary" label="Remove" (click)=removeRow(car)> </button>
                                </ng-template>
                            </p-column>
                            <p-column field="censusField" header="Census Field"></p-column>
                            <p-column field="operator" header="Operator"></p-column>
                            <p-column field="value" header="Value"></p-column>
                            <p-column field="function" header="Function"></p-column>
                            <p-column field="points" header="Points"></p-column>

                        </p-dataTable>

                    </div>

                </div>

                <div class="modal-footer">
                    <button icon="fa fa-save" pButton type="submit" label="Save" [disabled]="!criteriaForm.valid" (click)="createCriteria(evt)"></button>
                </div>
            </form>
            <!--################ end form ################-->
        </div>
    </div>
</div>

<!--   End User Modal-->





<!-- Create Sub Criteria -->

<div bsModal #createSubCriteria="bs-modal" class="modal right fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 25vw;height:70vh;margin-top:2.3%">

        <div class="modal-content">
            <!-- <form> -->
                <!--########## start form ########-->
                <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                    <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                    <button type="button" class="close pull-right" (click)="createSubCriteria.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Add SubCriteria</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="template">Census Field</label>
                        <select name="selectedField" class="form-control" [(ngModel)]="selectedField" (change)=onChange($event)>

                            <option [ngValue]="selectedField" *ngFor="let selectedField of fieldList">{{selectedField.fieldCode}}</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="template">Arithmetic Operator</label>
                        <select [(ngModel)]="selectedOperator" name="selectedOperator" class="form-control">

                            <option [ngValue]="selectedOperator" *ngFor="let selectedOperator of operatorList">{{selectedOperator}}</option>

                        </select>
                    </div>


                    <div class="form-group">
                        <label for="template">Value</label>
                        <input type="number" [(ngModel)]="subCriteria.value" name="subCriteria.value" class="form-control" required="true">

                    </div>

                    <div class="form-group">
                        <label for="template">Point</label>
                        <input type="number" [(ngModel)]="subCriteria.points" name="subCriteria.points" class="form-control" required="true">

                    </div>

                    <div class="form-group">
                        <label for="template">Logical Operator</label>
                        <select [(ngModel)]="subCriteria.function" name="subCriteria.function" class="form-control">
                            <option [ngValue]="1">AND</option>
                            <option [ngValue]="2">OR</option>
                        </select>

                    </div>
                    <button type="button" icon="fa fa-plus" pButton label="Add" (click)="loadtoSubGrid()"></button>
                   
                   
                </div>
                <!-- <div class="modal-footer">
                        
                </div> -->


            <!-- </form> -->
            <!--################ end form ################-->
        </div>
    </div>
</div>
<!--   End Create SubCriteria Modal -->

<!-- Update Sub Criteria -->

<div bsModal #updateSubCriteria="bs-modal" class="modal right fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 25vw;height:58vh;margin-top:2.3%">

        <div class="modal-content">
            <form>

                <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                    <button type="button" class="close pull-right" (click)="updateSubCriteria.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Create SubCriteria</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="template">Census Field</label>
                        <select name="selectedField" class="form-control" [(ngModel)]="selectedField" (change)=onChange($event)>

                            <option [ngValue]="selectedField" *ngFor="let selectedField of fieldList">{{selectedField.fieldCode}}</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="template">Opertaor</label>
                        <select [(ngModel)]="selectedOperator" name="selectedOperator" class="form-control">

                            <option [ngValue]="selectedOperator" *ngFor="let selectedOperator of operatorList">{{selectedOperator}}</option>

                        </select>
                    </div>


                    <div class="form-group">
                        <label for="template">Value</label>
                        <input type="text" [(ngModel)]="subCriteria.value" name="subCriteria.value" class="form-control" required="true">

                    </div>

                    <div class="form-group">
                        <label for="template">Point</label>
                        <input type="text" [(ngModel)]="subCriteria.points" name="subCriteria.points" class="form-control" required="true">

                    </div>
                    <div class="form-group">
                        <label for="template">Status</label>
                        <select [(ngModel)]="selectedSubCriteriaStatus" name="selectedSubCriteriaStatus" class="form-control">
                            <option [ngValue]="selectedSubCriteriaStatus" *ngIf="selectedSubCriteriaStatus==1">Active</option>
                            <option [ngValue]="2">Inactive</option>
                        </select>
                    </div>

                </div>

                <div class="modal-footer">


                    <!-- <button type="reset" class="btn btn-default" (click)="updateSubCriteria.hide()">Close</button> -->
                    <button type="button" pButton label="Add" icon="fa fa-plus" (click)="loadtoUpdateSubGrid()"></button>
                </div>
            </form>
            <!--################ end form ################-->
        </div>
    </div>
</div>
<!--   End Create SubCriteria Modal -->




<!--Show criteria modal -->
<div bsModal #showCriteria="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog"  style="width: 50vw;height: 100vh">

        <div class="modal-content">

            <!--########## start form ########-->
            <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                <button type="button" class="close pull-right" (click)="showCriteria.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title">Show Criteria</h4>
            </div>
            <div class="modal-body">




                <!-- <span class="ui-float-label">
                    <input id="float-input" disabled type="text" size=50 pInputText [(ngModel)]="criteriaInfo.criteria.criteriaName" name="criteriaName">
                    <label>Criteria Name</label>
                </span> -->

                <!-- <br> -->
                <div class="form-group">
                    <label for="template">Criteria Name</label>
                    <input type="text" disabled [(ngModel)]="criteriaInfo.criteria.criteriaName" name="criteriaName" class="form-control" style="width:400px"
                        required>
                </div>


                <!-- <span class="ui-float-label">
                    <input id="float-input" disabled type="text" size=50 pInputText [(ngModel)]="criteriaInfo.criteria.criteriaType" name="criteriaType">
                    <label>Criteria Type</label>
                </span>

                <br> -->

                <div class="form-group">
                    <label for="template">Criteria Type</label>
                    <input type="text" disabled [(ngModel)]="criteriaInfo.criteria.criteriaType" disabled name="criteriaName" class="form-control" style="width:400px"
                         required>
                </div>

                <!-- <span class="ui-float-label">
                    <input id="float-input" disabled type="text" size=50 *ngIf="criteriaInfo.criteria.status==1" value="Active" pInputText name="status">
                    <input id="float-input" disabled type="text" size=50 *ngIf="criteriaInfo.criteria.status==2" value="Active" pInputText name="status">
                    <label>Criteria Status</label>
                </span> -->

                <!-- <br> -->

                <div class="form-group">
                        <label for="template">Criteria Status</label>
                        <input type="text" disabled *ngIf="criteriaInfo.criteria.status==1" value="Active" disabled name="criteriaName" class="form-control" style="width:400px"
                            required>
                            <input type="text" disabled *ngIf="criteriaInfo.criteria.status==2" value="Inactive" disabled name="criteriaName" class="form-control" style="width:400px"
                             required>
                    </div>
                <div>


                    <p-dataTable [value]="criteriaInfo.subCriteria" [immutable]=false [editable]="true">

                        <p-column field="censusField" header="Census Field"></p-column>
                        <p-column field="operator" header="Operator"></p-column>
                        <p-column field="value" header="Value"></p-column>
                        <p-column field="function" header="Function"></p-column>
                        <p-column field="points" header="Points"></p-column>
                        <p-column field="status" header="Status" [editable]="true">
                            <ng-template let-col let-car="rowData" pTemplate="editor">
                                <ng-template let-col let-cri="rowData" pTemplate="body" let-col>
                                    <span *ngIf="cri[col.field]==1">Active</span>
                                    <span *ngIf="cri[col.field]==2">Inactive</span>
                                    <span></span>
                                </ng-template>

                            </ng-template>
                        </p-column>
                    </p-dataTable>


                </div>

            </div>

            <div class="modal-footer">
                <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

                <!-- <button type="reset" class="btn btn-default" (click)="showCriteria.hide()">Close</button> -->

            </div>

            <!--################ end form ################-->
        </div>
    </div>
</div>


<!--   End User Modal-->