<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
  <div class="page-title">
    <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
    <h2>Training on ECD for Administrative Staff
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openCreateAdmin()">Add New Program</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">





    <p-dataTable [style]="{'text-align':'center'}" [value]="adminstaffModel" [rows]="10" [paginator]="true">

      <p-column [style]="{'text-align':'center'}">
        <ng-template let-cri="rowData" pTemplate="body" let-col>
          <button pButton class="ui-button-secondary" label="Add Participant" (click)="openAddParticipant(cri.programId)"> </button>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}">
        <ng-template let-cri="rowData" pTemplate="body" let-col>
          <button pButton class="ui-button-secondary" label="Update" (click)=getProgramId(cri)> </button>
        </ng-template>
      </p-column>


      <p-column [style]="{'text-align':'center'}" field="programName" header="Program Name" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="description" header="Description" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="startDate" header="Start Date" [filter]="true" filterPlaceholder="Search">
        <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}" field="endDate" header="End Date" [filter]="true" filterPlaceholder="Search">
        <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}" field="locationName" header="Location" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="venue" header="Venue" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="status" header="Status">
        <ng-template let-col let-cri="rowData" pTemplate="body">

          <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
          <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
          <span></span>
        </ng-template>

      </p-column>
    </p-dataTable>

  </div>

</div>

<!--   New Headorientation Modal-->
<div bsModal #makeAdminStaff="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form [formGroup]="programForm">
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="makeAdminStaff.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Add New Program</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Created a Program!
        </div>
        <div class="alert alert-danger" *ngIf="error">
          <strong>Error!</strong>Try Again Later!
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="template">Program Name</label>
            <input type="text" [(ngModel)]="programData.program.programName" name="adminstaffDetail.programName" class="form-control" formControlName="programName"
              required>
          </div>

          <div class="form-group">
            <label for="template">Description</label>
            <input type="text" [(ngModel)]="programData.program.description" name="adminstaffDetail.description" class="form-control" formControlName="description"
              required>
          </div>

          <div class="form-group">
            <label for="template">Start Date</label>
            <input type="date" [(ngModel)]="programData.program.startDate" name="adminstaffDetail.startDate" class="form-control" required formControlName="startDate">
          </div>

          <div class="form-group">
            <label for="template">End Date</label>
            <input type="date" [(ngModel)]="programData.program.endDate" name="adminstaffDetail.endDate" class="form-control" required formControlName="endDate">
          </div>

          <label for="template">Location</label>
          <p-tree [value]="files" [loading]="loading" (onNodeSelect)="nodeSelected($event)" selectionMode="single" [(selection)]="selectedFile"
            (onNodeExpand)="nodeSelect($event)"></p-tree>

          <br>

          <div class="form-group">
            <label for="template">Location</label>
            <input type="text" disabled [(ngModel)]="programData.program.locationName" name="adminstaffDetail.locationName" class="form-control" formControlName="location"
              required>
          </div>

          <div class="form-group">
            <label for="template">Venue</label>
            <input type="text" [(ngModel)]="programData.program.venue" name="adminstaffDetail.venue" class="form-control" required formControlName="venue">
          </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select [(ngModel)]="programData.program.status" name="adminstaffDetail.status" class="form-control" formControlName="status">
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
          </div>

          <div >
            <label for="template">Resource Person type</label>
            <select name="document.status" [(ngModel)]="rType" class="form-control" name="resourcePerson"  formControlName="type">

              <option [ngValue]="1">Resource Pool</option>
              <option [ngValue]="2">Other</option>
            </select>

          </div>


          <div class="row">

            <div *ngIf="rType==1" class="col-sm-8">
              <br>
                <div class="form-group">
              <label for="template">Resource</label>
              <select [(ngModel)]="selectedResource" name="document.status" class="form-control" formControlName="resource">

                <option [ngValue]="selectedResource" *ngFor="let selectedResource of resModel" name="abc">{{selectedResource.resourceName}}</option>

              </select>
                </div>
            </div>

          
            <div *ngIf="rType==2" class="col-sm-4">
                <br>
              <label for="template">Resource Person</label>
              <input [(ngModel)]="selectedOtherResource.personName" type="text" class="form-control" name="selectedOther" required [formControl]="name">
            </div>

            <div *ngIf="rType==2" class="col-sm-4">
                <br>
              <label for="template">Remark</label>
              <input [(ngModel)]="selectedOtherResource.remarks" name="remarks" type="text" class="form-control" required [formControl]="remark">
            </div>
            <div class="col-sm-4">
              <br><br>
              <button  pButton icon="fa fa-plus" [disabled]="!name.valid&&rType==2" label="Add" (click)="addResourcePersons()"></button>

            </div>
          </div>

          <br>
          <div>




            <p-dataTable [style]="{'text-align':'center'}" [value]="selectedResourcePersonList" [immutable]="false">

                <p-column [style]="{'text-align':'center'}">
                  <ng-template let-cri="rowData" pTemplate="body" let-col>
                    <button pButton class="ui-button-secondary" label="Remove" (click)=removeRows(cri)> </button>
                  </ng-template>
                </p-column>
   
          
                <p-column [style]="{'text-align':'center'}" field="personName" header="Person Name"></p-column>
                <p-column [style]="{'text-align':'center'}" field="remarks" header="Remarks" ></p-column>
                
                <p-column [style]="{'text-align':'center'}" field="coordinator" header="Coordinator">
                  <ng-template let-col let-cri="rowData" pTemplate="body">
          
                   <input type="radio" name=radioCoordinator (change)=checked($event,cri)>
                    <span></span>
                  </ng-template>
          
                </p-column>
              </p-dataTable>





          </div>
        </div>

        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->


          <button type="submit" label="Save" pButton icon="fa fa-save" [disabled]="!programForm.valid" (click)="createAdminProgram(evt)"></button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>
<!--   End Headorientation Modal-->

<!--   Edit Headorientation Modal-->
<div bsModal #editAdminStaff="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form [formGroup]="programForm">
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="editAdminStaff.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Update Program</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Updated the Program!
        </div>
        <div class="alert alert-success" *ngIf="error">
            <strong>Error!</strong> Try Again Later!
          </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="template">Program Name</label>
            <input type="text" [(ngModel)]="programData.program.programName" name="selectedprogram.program.programName" class="form-control" formControlName="programName"
              required>
          </div>

          <div class="form-group">
            <label for="template">Description</label>
            <input type="text" [(ngModel)]="programData.program.description" name="selectedprogram.program.description" class="form-control" formControlName="description"
              required>
          </div>

          <div class="form-group">
            <label for="template">Start Date</label>
            <input type="date" [(ngModel)]="programData.program.startDate" name="selectedprogram.program.startDate" class="form-control" formControlName="startDate"
              required>
          </div>

          <div class="form-group">
            <label for="template">End Date</label>
            <input type="date" [(ngModel)]="programData.program.endDate" name="selectedprogram.program.endDate" class="form-control" formControlName="endDate"
              required>
          </div>

          <div class="form-group">
            <label for="template">Location Name</label>
            <input type="text" disabled [(ngModel)]="programData.program.locationName" name="selectedprogram.program.locationName" class="form-control" formControlName="location"
              required>
          </div>

          <div class="form-group">
              <label for="template">Venue</label>
              <input type="text" [(ngModel)]="programData.program.venue" name="selectedprogram.program.venue" class="form-control"  formControlName="venue"
                required>
            </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select [(ngModel)]="programData.program.status" name="selectedprogram.program.status" class="form-control" formControlName="status">
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
          </div>

          <div>
            <label for="template">Resource Person type</label>
            <select name="document.status" [(ngModel)]="rType" class="form-control" name="resourcePerson" formControlName="type">

              <option [ngValue]="1">Resource Pool</option>
              <option [ngValue]="2">Other</option>
            </select>

          </div>


          <div class="row">
            <div *ngIf="rType==1" class="col-sm-8">

              <label for="template">Resource</label>
              <select [(ngModel)]="selectedResource" name="document.status" class="form-control" formControlName="resource">

                <option [ngValue]="selectedResource" *ngFor="let selectedResource of resModel" name="abc">{{selectedResource.resourceName}}</option>

              </select>
            </div>

            <div *ngIf="rType==2" class="col-sm-4">

              <label for="template">Resource Person</label>
              <input [(ngModel)]="selectedOtherResource.personName" type="text" class="form-control" name="selectedOther" required [formControl]="name">
            </div>

            <div *ngIf="rType==2" class="col-sm-4">

              <label for="template">Remark</label>
              <input [(ngModel)]="selectedOtherResource.remarks" name="remarks" type="text" class="form-control" required [formControl]="remark">
            </div>
            <div class="col-sm-4">
              <br>
              <button  pButton icon="fa fa-plus" [disabled]="!name.valid&&rType==2" label="Add" (click)="addResourcePersons()"></button>

            </div>
          </div>

          <br>
          <div>
              <p-dataTable [style]="{'text-align':'center'}" [value]="selectedResourcePersonList" [immutable]="false">

                  <p-column [style]="{'text-align':'center'}">
                    <ng-template let-cri="rowData" pTemplate="body" let-col>
                      <button pButton class="ui-button-secondary" label="Remove" (click)=removeRowswhenEdit(cri)> </button>
                    </ng-template>
                  </p-column>
     
            
                  <p-column [style]="{'text-align':'center'}" field="personName" header="Person Name"></p-column>
                  <p-column [style]="{'text-align':'center'}" field="remarks" header="Remarks" ></p-column>
                  
                  <p-column [style]="{'text-align':'center'}" field="coordinator" header="Coordinator">
                    <ng-template let-col let-cri="rowData" pTemplate="body">
            
                     <input type="radio" *ngIf="cri.coordinator==1" checked name=radioCoordinator (change)=checked($event,cri)>
                     <input type="radio" *ngIf="cri.coordinator==0"  name=radioCoordinator (change)=checked($event,cri)>
                      <span></span>
                    </ng-template>
            
                  </p-column>
                  <p-column [style]="{'text-align':'center'}" field="status" header="Status">
                      <ng-template let-col let-cri="rowData" pTemplate="body">
              
                        <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
                        <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
                        <span></span>
                      </ng-template>
              
                    </p-column>
                </p-dataTable>
          </div>

          
        </div>

        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

         
          <button type="submit" label="Save Changes" pButton icon="fa fa-save" [disabled]="!programForm.valid" (click)="updateAdminProgram(evt)"></button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>
<!--   End Edit Headorientation Modal-->

<!--   Person Load Modal-->
<div bsModal #makeAdminStaffPt="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form>
       
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="makeAdminStaffPt.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Participant</h4>
        </div>
        <!-- <div class="alert alert-success" *ngIf="success">
        <strong>Success!</strong> You have Successfully Created a Institute!
      </div> -->

        <div class="modal-body">
          <table class="table table-hover">
            <thead style="background-color: #000099;color: azure;box-shadow: 0px 5px 15px#000099">
              <tr class="tbl-header">
                <th></th>
                <th>NIC</th>
                <th>Name</th>
                <th>District/DS</th>
                <th>Telephone</th>
                <th>Gender</th>
                <th>Organization</th>
                <th>Designation</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let s of adminstaffPtList">
                <!-- <td>
                          <button class="btn btn-primary" (click)="getPid(s)">
                              Update
                          </button>
                      </td> -->
                <td>
                  <div class="col-sm-12 user-name">{{s.nic}}</div>
                </td>
                <td>
                  <div class="col-sm-12 user-name">{{s.name}}</div>
                </td>
                <td>
                  <div class="col-sm-12 user-name">{{s.district}}</div>
                </td>
                <td>
                  <div class="col-sm-12 user-name">{{s.telephoneNo}}</div>
                </td>
                <td>
                  <div class="col-sm-12 user-name">{{s.gender}}</div>
                </td>
                <td>
                  <div class="col-sm-12 user-name">{{s.learningCenterName}}</div>
                </td>
                <td>
                  <div class="col-sm-12 user-name">{{s.designation}}</div>
                </td>


              </tr>
              <!--<span *ngIf="a.groupStatus.codeId==3">Active</span>
            <span *ngIf="a.groupStatus.codeId==2">Inactive</span>-->

            </tbody>
          </table>
          <!--  -->
        </div>

        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <button type="reset" class="btn btn-default" (click)="makeAdminStaffPt.hide()">Close</button>
          <button type="submit" class="btn btn-success" (click)="createAdminProgram(evt)">Save changes</button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>
<!--   End Headorientation Modal-->




<div bsModal #addParticipantView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="width: 90vw;height: 90vh">

    <div class="modal-content">


      <div class="modal-header" style="background-color: #A0A3A6;color: azure">

        <button type="button" class="close pull-right" (click)="addParticipantView.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
        <h4 class="modal-title">Add Participants</h4>
      </div>

      <div class="modal-body" style="width: 90vw;height: 95vh" >

       <app-registered-participant [program]="{programId:programId,'programType':'adminstaff'}"></app-registered-participant>

      </div>
      


    </div>
  </div>
</div>
