


  <div bsModal #success class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close pull-right" (click)="success.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
          <h4 class="modal-title">Operation Completed</h4>
        </div>
        <div class="modal-body">
          <p>{{successMsg}}</p>

        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-default" (click)="success.hide()">Close</button>
        </div>

      </div>
    </div>
  </div>

  