<div class="container">
  <div class="page-title">
    <h2>Custom Reports
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openCreateReport()">Add New Report</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">

    <!-- <table class="table table-hover table-striped">
      <thead style="background-color: #6C7A89;color: white;box-shadow: 0px 5px 15px#bdc3c7">
        <tr class="tbl-header">
          <th></th>
          <th></th>
          <th>Report Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of reportList">
          <td>
            <button class="btn btn-primary" (click)="editReport(a)">
              Edit
            </button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="generate(a)">
              Generate
            </button>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.reportName}}</div>
          </td>
          <td>
            <span class="glyphicon glyphicon-ok" *ngIf="a.status==1"> </span>
            <span class="glyphicon glyphicon-remove" *ngIf="a.status==2"> </span>
          </td>
        </tr>
      </tbody>
    </table> -->


    <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div> -->
    <p-dataTable [style]="{'text-align':'center'}" [value]="reportList" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
      <p-column [style]="{'text-align':'center'}">
        <ng-template let-cri="rowData" pTemplate="body" let-col>
          <button pButton class="ui-button-secondary" label="Generate" (click)=generate(cri)> </button>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}">
        <ng-template let-cri="rowData" pTemplate="body" let-col>
          <button pButton class="ui-button-secondary" label="Update" (click)=editReport(cri)> </button>
        </ng-template>
      </p-column>

      <p-column [style]="{'text-align':'center'}" field="reportName" header="Report Name" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="status" header="Status">
        <ng-template let-col let-cri="rowData" pTemplate="body">

          <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
          <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
          <span></span>
        </ng-template>

      </p-column>
    </p-dataTable>




  </div>
</div>










<div bsModal #createReport="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form [formGroup]="reportForm">
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #F79423;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="createReport.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Add New Report</h4>
        </div>
        <div *ngIf="type=='NEW'&&success" class="alert alert-success">
          <strong>Success!</strong> You have Successfully Created a Report!
        </div>
        <div *ngIf="type=='EDIT'&&success" class="alert alert-success">
          <strong>Success!</strong> You have Successfully Updated the Report!
        </div>
        <div class="modal-body">


          <div class="form-group">
            <label for="template">Report Name</label>
            <input *ngIf="type=='NEW'" [(ngModel)]="report.reportName" name="reportName" type="text" class="form-control" required="true"
              formControlName="reportName">
            <input *ngIf="type=='EDIT'" [(ngModel)]="report.reportName" name="reportName" type="text" class="form-control" required="true"
              formControlName="reportName">
          </div>
          <div class="form-group">
            <label for="template">Query</label>
            <input *ngIf="type=='NEW'" [(ngModel)]="report.query" name="query" placeholder="SELECT * FROM EXAMPLE" type="text" class="form-control"
              required="true" formControlName="query">
            <input *ngIf="type=='EDIT'" [(ngModel)]="report.query" name="query" type="text" class="form-control" required="true" formControlName="query">
          </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select *ngIf="type=='NEW'||type=='EDIT'" [(ngModel)]="report.status" name="status" class="form-control" formControlName="status">
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>

          </div>

        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <button type="reset" class="btn btn-default" (click)="createReport.hide()">Close</button>
          <button *ngIf="type=='EDIT'" type="button" class="btn btn-success" (click)="updateReport()">Save Changes</button>
          <button *ngIf="type=='NEW'" type="submit" class="btn btn-success" (click)="saveReport()">Save</button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>