<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
    <div class="page-title">
        <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
        <h2>Child Development Assessments
            <span> </span>
        </h2>
    </div>
    <div class="pull-right">
        <button class="btn btn-success" (click)="openCreateAssessment()">Add New Assesment</button>
    </div>
    <br>
    <br>
    <br>

    <div class="panel panel-default">


        <p-dataTable [value]="childassmntList" [rows]="15" [paginator]="true" [globalFilter]="gb" #dt>
            <p-column styleClass="col-button" [style]="{'text-align':'center'}">
                <ng-template let-i="rowData" pTemplate="body">
                    <button class="ui-button-secondary" type="button" pButton (click)="getIdforStd(i.assessmentId)" label="Add Student"></button>
                    <br>
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" [style]="{'text-align':'center'}">
                <ng-template let-i="rowData" pTemplate="body">
                    <button class="ui-button-secondary" type="button" pButton (click)="getAssmnt(i)" label="Update"></button>
                    <br>
                </ng-template>
            </p-column>

            <p-column field="assessDate" [style]="{'text-align':'center'}" header="Assesssment Date" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="description" [style]="{'text-align':'center'}" header="Description" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="nameOfAssessor" [style]="{'text-align':'center'}" header="Name of Assessor" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="learningCenterName" [style]="{'text-align':'center'}" header="Pre School" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="noOfStudents" [style]="{'text-align':'center'}" header="No of Students" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="noOfAssessedStudents" [style]="{'text-align':'center'}" header="Assessed Students" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="status" [style]="{'text-align':'center'}" header="Status">
                <ng-template let-col let-cri="rowData" pTemplate="body">

                    <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
                    <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
                    <span></span>
                </ng-template>

            </p-column>
        </p-dataTable>
    </div>

</div>

<!--   New User Modal-->
<div bsModal #creatChildAssmnt="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">
            <form [formGroup]="childForm">
                <!--########## start form ########-->
                <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                    <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                    <button type="button" class="close pull-right" (click)="creatChildAssmnt.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Create Child Assesment</h4>
                </div>
                <div class="alert alert-success" *ngIf="success">
                    <strong>Success!</strong> You have Successfully Created an Assesment!
                </div>

                <div class="alert alert-danger" *ngIf="error">
                    <strong>Error!</strong> Try Again Later
                </div>

                <div class="modal-body">

                    <!--<div class="form-group">
                <label for="template">Material ID</label>
                <input type="text" [(ngModel)]="materialModel.materialId" name="materialModel.materialId" class="form-control" required>
            </div>-->

                    <div class="form-group">
                        <label for="template">Assess Date</label>
                        <br>
                        <input type="date" [(ngModel)]="childassmntModel.assessDate" name="childassmntModel.assessDate" class="form-control" formControlName="assessDate"
                            required>
                        <!-- <p-calendar [style]="{'width':'100%'}" [(ngModel)]="childassmntModel.assessDate" [formControlName]="assessDate" dateFormat="dd-mm-yy" name="childassmntModel.assessDate" ></p-calendar> -->
                    </div>


                    <div class="form-group">
                        <label for="template">Description</label>
                        <input type="text" [(ngModel)]="childassmntModel.description" name="childassmntModel.description" class="form-control" formControlName="description"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="template">Name of Assessor</label>
                        <input type="text" [(ngModel)]="childassmntModel.nameOfAssessor" name="childassmntModel.nameOfAssessor" formControlName="nameOfAssessor"
                            class="form-control" required>
                    </div>

                    <p-tree [value]="files" [loading]="loading" (onNodeSelect)="nodeSelected($event)" selectionMode="single" [(selection)]="selectedFile"
                        (onNodeExpand)="nodeSelect($event)">


                    </p-tree>
                    <br>
                    <div class="form-group">
                        <label for="template">Pre School</label>
                        <input type="text" [(ngModel)]="selectedLearningCenter.name" disabled name="childassmntModel.learningCenter" formControlName="learningCenter"
                            class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="template">No of Students</label>
                        <input type="number" [(ngModel)]="childassmntModel.noOfStudents" name="childassmntModel.noOfStudents" formControlName="noOfStudents"
                            class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="template">No of Assessed Students</label>
                        <input type="number" [(ngModel)]="childassmntModel.noOfAssessedStudents" name="childassmntModel.noOfStudents" formControlName="noOfAssessedStudents"
                            class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="template">Status</label>
                        <select [(ngModel)]="childassmntModel.status" name="instituteDetail.status" class="form-control" formControlName="status">
                            <option [ngValue]="1">Active</option>
                            <option [ngValue]="2">Inactive</option>
                        </select>
                    </div>

                    <!--<div class="form-group">
                <label for="template">Expiry Date</label>
                <input type="date"  class="form-control">
            </div>-->
                </div>

                <div class="modal-footer">
                    <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->


                    <button type="button" pButton label="Save" icon="fa fa-save" [disabled]="!childForm.valid" (click)="createChildAssessmnt(evt)"></button>
                </div>
            </form>
            <!--################ end form ################-->
        </div>
    </div>
</div>
<!--   End User Modal-->

<!--   New User Modal-->
<div bsModal #updateChildAssmnt="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">
            <form [formGroup]="childForm">
                <!--########## start form ########-->
                <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                    <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                    <button type="button" class="close pull-right" (click)="updateChildAssmnt.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Update Child Assesment</h4>
                </div>
                <div class="alert alert-success" *ngIf="success">
                    <strong>Success!</strong> You have Successfully Updated the Assesment Detail!
                </div>
                <div class="alert alert-danger" *ngIf="error">
                    <strong>Error!</strong> Try Again Later
                </div>

                <div class="modal-body">


                    <div class="form-group">
                        <label for="template">Assess Date</label>
                        <input type="date" [(ngModel)]="childassmntModel.assessDate" name="childassmntModel.assessDate" class="form-control" required
                            formControlName="assessDate">
                    </div>

                    <div class="form-group">
                        <label for="template">Description</label>
                        <input type="text" [(ngModel)]="childassmntModel.description" name="childassmntModel.description" class="form-control" required
                            formControlName="description">
                    </div>

                    <div class="form-group">
                        <label for="template">Name of Assessor</label>
                        <input type="text" [(ngModel)]="childassmntModel.nameOfAssessor" name="childassmntModel.nameOfAssessor" class="form-control"
                            formControlName="nameOfAssessor" required>
                    </div>


                    <div class="form-group">
                        <label for="template">Pre School</label>
                        <input type="text" disabled [(ngModel)]="childassmntModel.learningCenterName" name="childassmntModel.learningCenter" class="form-control"
                            formControlName="learningCenter" required>
                    </div>

                    <div class="form-group">
                        <label for="template">No of Students</label>
                        <input type="number" [(ngModel)]="childassmntModel.noOfStudents" name="childassmntModel.noOfStudents" class="form-control"
                            formControlName="noOfStudents" required>
                    </div>

                    <div class="form-group">
                        <label for="template">No of Assessed Students</label>
                        <input type="number" [(ngModel)]="childassmntModel.noOfAssessedStudents" name="childassmntModel.noOfAssessedStudents" class="form-control"
                            formControlName="noOfAssessedStudents" required>
                    </div>
                    <div class="form-group">
                        <label for="template">Status</label>
                        <select [(ngModel)]="childassmntModel.status" name="instituteDetail.status" class="form-control" formControlName="status">
                            <option [ngValue]="1">Active</option>
                            <option [ngValue]="2">Inactive</option>
                        </select>
                    </div>


                </div>

                <div class="modal-footer">
                    <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->


                    <button icon="fa fa-save" type="button" pButton label="Save Changes" [disabled]="!childForm.valid" (click)="updateChildAssessmnt(evt)"></button>
                </div>
            </form>
            <!--################ end form ################-->
        </div>
    </div>
</div>
<!--   End User Modal-->

<!-- get Students -->

<div bsModal #studentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 70vw">

        <div class="modal-content">
            <form>
                <!--########## start form ########-->
                <div class="modal-header" style="background-color: #A0A3A6;color: azure">

                    <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                    <button type="button" class="close pull-right" (click)="studentModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Added Students</h4>
                </div>
                
                <div class="modal-body">
                    <div class="pull-right">
                        <button class="btn btn-success" (click)="openCreateStudent(1,null)">Add New Student</button>
                    </div>

                    <br>
                    <br>
                    <br>
                    <p-dataTable [value]="studentList" [rows]="15" [paginator]="true" [globalFilter]="gb" #dt>

                        <p-column styleClass="col-button" [style]="{'text-align':'center'}">
                            <ng-template let-i="rowData" pTemplate="body">
                                <button class="ui-button-secondary" type="button" pButton (click)="openCreateStudent(2,i)" label="Update"></button>
                                <br>
                            </ng-template>
                        </p-column>

                        <p-column field="studentName" [style]="{'text-align':'center'}" header="Student Name" [filter]="true" filterPlaceholder="Search"></p-column>
                        <p-column field="score" [style]="{'text-align':'center'}" header="Score" [filter]="true" filterPlaceholder="Search"></p-column>

                        <p-column [style]="{'text-align':'center'}" field="status" [style]="{'text-align':'center'}" header="Status">
                            <ng-template let-col let-cri="rowData" pTemplate="body">

                                <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
                                <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
                                <span></span>
                            </ng-template>

                        </p-column>
                    </p-dataTable>

                </div>


            </form>
            <!--################ end form ################-->
        </div>
    </div>
</div>
<!-- End get Students -->

<!--   New User Modal-->
<div bsModal #addstudentModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 30vw">

        <div class="modal-content">
            <form [formGroup]="studentForm">
                <!--########## start form ########-->
                <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                    <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                    <button type="button" class="close pull-right" (click)="addstudentModel.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="alert alert-success" *ngIf="success">
                    <strong>Success!</strong> You have Successfully Created a Student!
                </div>
                <div class="alert alert-danger" *ngIf="error">
                    <strong>Error!</strong> Try Again Later!
                </div>

                <div class="modal-body">

                    <!--<div class="form-group">
            <label for="template">Material ID</label>
            <input type="text" [(ngModel)]="materialModel.materialId" name="materialModel.materialId" class="form-control" required>
        </div>-->

                    <div class="form-group">
                        <label for="template">Student ID</label>
                        <input type="text" [(ngModel)]="studentModel.studentId" name="studentModel.studentId" class="form-control" required formControlName="id">
                    </div>

                    <div class="form-group">
                        <label for="template">Student Name</label>
                        <input type="text" [(ngModel)]="studentModel.studentName" name="studentModel.studentName" class="form-control" required formControlName="name">
                    </div>

                    <div class="form-group">
                        <label for="template">Score</label>
                        <input type="number" [(ngModel)]="studentModel.score" name="studentModel.score" class="form-control" required formControlName="score">
                    </div>

                    <div class="form-group">
                            <label for="template">Status</label>
                            <select [(ngModel)]="studentModel.status" name="instituteDetail.status" class="form-control" formControlName="status">
                                <option [ngValue]="1">Active</option>
                                <option [ngValue]="2">Inactive</option>
                            </select>
                        </div>
                </div>

                <div class="modal-footer">
                    <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

                  
                    <button *ngIf="type==1" type="button" [disabled]="!studentForm.valid" pButton icon="fa fa-save" label="Save" (click)="createStudent(evt)"></button>
                    <button *ngIf="type==2" type="button" [disabled]="!studentForm.valid" pButton icon="fa fa-save" label="Save Changes" (click)="updateStudent(evt)"></button>
                </div>
            </form>
            <!--################ end form ################-->
        </div>
    </div>
</div>
<!--   End User Modal-->

<div bsModal #showLearningCenters="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " style="width:60vw">
        <div class="modal-content">
            <form>
                <!--########## start form ########-->
                <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                    <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                    <button type="button" class="close pull-right" (click)="showLearningCenters.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Learning centers</h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                            </div> -->
                    <p-dataTable [value]="learningCenterList" [(selection)]="selectedLearningCenter" selectionMode="single" [rows]="10" [paginator]="true"
                        [globalFilter]="gb" #dt dataKey="sn">
                        <!-- <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column> -->
                        <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="sn" header="SN"></p-column>
                        <p-column [style]="{'text-align':'center'}" field="name" [filter]="true" filterPlaceholder="Search" header="Name"></p-column>
                        <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="address" header="Address"></p-column>

                    </p-dataTable>


                </div>
                <div class="modal-footer">

                </div>
            </form>
            <!--################ end form ################-->
        </div>
    </div>
</div>