<div id="exTab3" class="container">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#1b" data-toggle="tab">Page 1</a>
    </li>
    <li>
      <a href="#2b" data-toggle="tab">Page 2</a>
    </li>
    <li>
      <a href="#3b" data-toggle="tab">Page 3</a>
    </li>
    <li>
      <a href="#4a" data-toggle="tab">Page 4</a>
    </li>
  </ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="1b">
      <h3></h3>

      <div class="form-group">
        <h3>A1</h3>
        <div class="ui-g">
          <div class="ui-g-4">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-2">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-2">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-4">
          </div>
        </div>
      </div>

      <div class="form-group">
        <h3>A2</h3>
        <div class="ui-g">
          <div class="ui-g-4">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-2">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-2">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-4">
          </div>
        </div>
      </div>

      <div class="form-group">
        <h3>A3</h3>
        <div class="ui-g">

          <div class="ui-g-4">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-2">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-2">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-4">
          </div>
        </div>
      </div>


      <div class="form-group">
        <h3>A4</h3>
        <div class="ui-g">
          <div class="ui-4">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="section">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-4">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="section">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-4">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="section">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <h3>A5</h3>
        <div class="ui-g">
          <div class="ui-3">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="section">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-3">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="section">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-3">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="section">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="ui-3">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="section">
              </div>
              <div class="ui-g-6">
                <h4>4</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <h3>A6</h3>
        <div class="ui-g">
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="registered">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="registered">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <h3>A7</h3>
        <div class="ui-g">
          <div class="ui-g-6">
            <h4>i</h4>
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-6"></div>
          <div class="ui-g-6">
            <h4>ii</h4>
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
          <div class="ui-g-6">

          </div>
          <div class="ui-g-6">
            <h4>iii</h4>
            <div class="ui-g">
              <div class="ui-3">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="text" name="year">
                  </div>
                  <div class="ui-g-6">

                  </div>
                </div>
              </div>
              <div class="ui-3">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="text" name="year">
                  </div>
                  <div class="ui-g-6">

                  </div>
                </div>
              </div>
              <div class="ui-3">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="text" name="year">
                  </div>
                  <div class="ui-g-6">

                  </div>
                </div>
              </div>
              <div class="ui-3">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="text" name="year">
                  </div>
                  <div class="ui-g-6">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui-g-6">

          </div>
          <div class="ui-g-4">
          </div>
        </div>
      </div>




      <div class="form-group">
        <h3>A8</h3>
        <div class="ui-g">
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="request">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="request">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <h3>A9</h3>

        <div class="ui-g">
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="notregistered?">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
              </div>
              <div class="ui-g-6">
                <h4>4</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
              </div>
              <div class="ui-g-6">
                <h4>5</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">

          </div>
          <div class="ui-g-3">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
        </div>
      </div>

      <div class="form-group">
        <h3>A10</h3>
        <div class="ui-g">
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="rejected?">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="rejected?">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <h3>A11</h3>

        <div class="ui-g">
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="reasons?">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="reasons?">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="reasons?">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="reasons?">
              </div>
              <div class="ui-g-6">
                <h4>4</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="reasons?">
              </div>
              <div class="ui-g-6">
                <h4>5</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
          </div>
          <div class="ui-2">

          </div>
        </div>
        <div class="ui-g-4">
        </div>
      </div>



      <div class="form-group">
        <h3>A12</h3>

        <div class="ui-g">
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="period">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="period">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="period">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="period">
              </div>
              <div class="ui-g-6">
                <h4>4</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="period">
              </div>
              <div class="ui-g-6">
                <h4>5</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
          </div>
          <div class="ui-2">

          </div>
        </div>
        <div class="ui-g-4">
        </div>
      </div>


      <div class="form-group">
        <h3>A13</h3>
        <div class="ui-g">
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="ownership">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="ownership">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="form-group">
        <h3>A14</h3>
        <div class="ui-g">
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="notregistered?">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
              </div>
              <div class="ui-g-6">
                <h4>4</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">

          </div>
          <div class="ui-g-4">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
        </div>
      </div>



      <div class="form-group">
        <h3>A15</h3>
        <div class="ui-g">
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="charged">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="charged">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="form-group">
        <h3>A16</h3>

        <div class="ui-g">
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
              </div>
              <div class="ui-g-6">
                <h4>4</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
              </div>
              <div class="ui-g-6">
                <h4>5</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
              </div>
              <div class="ui-g-6">
                <h4>6</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
              </div>
              <div class="ui-g-6">
                <h4>7</h4>
              </div>
            </div>

          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
              </div>
              <div class="ui-g-6">
                <h4>8</h4>
              </div>
            </div>

          </div>
        </div>
        <div class="ui-g-4">
        </div>
      </div>


      <div class="form-group">
        <h3>A17</h3>

        <div class="ui-g">
          <h4>Y</h4>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="feeFor1">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="feeFor2">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="feeFor3">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="feeFor4">
              </div>
              <div class="ui-g-6">
                <h4>4</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="feeFor5">
              </div>
              <div class="ui-g-6">
                <h4>5</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
          </div>
          <div class="ui-2">

          </div>
        </div>
        <div class="ui-g-4">
        </div>

        <br>

        <div class="ui-g">
          <h4>N</h4>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="feeFor1">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="feeFor2">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="feeFor3">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="feeFor4">
              </div>
              <div class="ui-g-6">
                <h4>4</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="feeFor5">
              </div>
              <div class="ui-g-6">
                <h4>5</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
          </div>
          <div class="ui-2">

          </div>
        </div>
        <div class="ui-g-4">
        </div>
      </div>




      <div class="form-group">
        <h3>A18</h3>
        <div class="ui-g">
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="form-group">
        <h3>A19</h3>
        <div class="ui-g">
          <div class="ui-g-7">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
        </div>
      </div>



      <div class="form-group">
        <h3>A20</h3>
        <div class="ui-g">
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
              </div>
              <div class="ui-g-6">
                <h4>4</h4>
              </div>
            </div>
          </div>
          <div class="ui-g-4">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
        </div>
      </div>




      <div class="form-group">
        <h3>A21</h3>
        <div class="ui-g">
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-6">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="form-group">
        <h3>A22</h3>
        <div class="ui-g">
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
              </div>
              <div class="ui-g-6">
                <h4>1</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
              </div>
              <div class="ui-g-6">
                <h4>2</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
            <div class="ui-g">
              <div class="ui-g-6">
                <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
              </div>
              <div class="ui-g-6">
                <h4>3</h4>
              </div>
            </div>
          </div>
          <div class="ui-2">
          </div>
          <div class="ui-2">
          </div>
          <div class="ui-g-4">
            <input name="document.documentName" type="text" class="form-control" required="true">
          </div>
        </div>
      </div>




    </div>
    <div class="tab-pane" id="2b">
      <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
    </div>
    <div class="tab-pane" id="3b">
      <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
    </div>
    <div class="tab-pane" id="4b">
      <h3>We use css to change the background color of the content to be equal to the tab</h3>
    </div>
  </div>
</div>


<!-- <div class="container">
  <div class="page-title">
    <h2>Census Data Management
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">

  </div>
  <br>
  <br>
  <br>


  <md-tab-group>
    <div class="ui-g">
      <div class="ui-g-2">

      </div>
      <div class="ui-g-8">

        <md-tab label="1">

          <h1>Part1</h1>

          <div class="form-group">
            <h3>A1</h3>
            <div class="ui-g">
              <div class="ui-g-4">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-2">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-2">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-4">
              </div>
            </div>
          </div>



          <div class="form-group">
            <h3>A2</h3>
            <div class="ui-g">
              <div class="ui-g-4">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-2">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-2">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-4">
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3>A3</h3>
            <div class="ui-g">

              <div class="ui-g-4">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-2">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-2">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-4">
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3>A4</h3>
            <div class="ui-g">
              <div class="ui-4">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="section">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-4">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="section">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-4">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="section">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <h3>A5</h3>
            <div class="ui-g">
              <div class="ui-3">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="section">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-3">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="section">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-3">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="section">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-3">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="section">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3>A6</h3>
            <div class="ui-g">
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="registered">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="registered">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <h3>A7</h3>
            <div class="ui-g">
              <div class="ui-g-6">
                <h4>i</h4>
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-6"></div>
              <div class="ui-g-6">
                <h4>ii</h4>
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
              <div class="ui-g-6">

              </div>
              <div class="ui-g-6">
                <h4>iii</h4>
                <div class="ui-g">
                  <div class="ui-3">
                    <div class="ui-g">
                      <div class="ui-g-6">
                        <input style="width: 30px;height: 30px;" type="text" name="year">
                      </div>
                      <div class="ui-g-6">

                      </div>
                    </div>
                  </div>
                  <div class="ui-3">
                    <div class="ui-g">
                      <div class="ui-g-6">
                        <input style="width: 30px;height: 30px;" type="text" name="year">
                      </div>
                      <div class="ui-g-6">

                      </div>
                    </div>
                  </div>
                  <div class="ui-3">
                    <div class="ui-g">
                      <div class="ui-g-6">
                        <input style="width: 30px;height: 30px;" type="text" name="year">
                      </div>
                      <div class="ui-g-6">

                      </div>
                    </div>
                  </div>
                  <div class="ui-3">
                    <div class="ui-g">
                      <div class="ui-g-6">
                        <input style="width: 30px;height: 30px;" type="text" name="year">
                      </div>
                      <div class="ui-g-6">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui-g-6">

              </div>
              <div class="ui-g-4">
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3>A8</h3>
            <div class="ui-g">
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="request">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="request">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <h3>A9</h3>

            <div class="ui-g">
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="notregistered?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
                  </div>
                  <div class="ui-g-6">
                    <h4>5</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">

              </div>
              <div class="ui-g-3">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3>A10</h3>
            <div class="ui-g">
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="rejected?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="rejected?">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <h3>A11</h3>

            <div class="ui-g">
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="reasons?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="reasons?">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="reasons?">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="reasons?">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="reasons?">
                  </div>
                  <div class="ui-g-6">
                    <h4>5</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
              </div>
              <div class="ui-2">

              </div>
            </div>
            <div class="ui-g-4">
            </div>
          </div>



          <div class="form-group">
            <h3>A12</h3>

            <div class="ui-g">
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="period">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="period">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="period">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="period">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="period">
                  </div>
                  <div class="ui-g-6">
                    <h4>5</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
              </div>
              <div class="ui-2">

              </div>
            </div>
            <div class="ui-g-4">
            </div>
          </div>


          <div class="form-group">
            <h3>A13</h3>
            <div class="ui-g">
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="ownership">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="ownership">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="form-group">
            <h3>A14</h3>
            <div class="ui-g">
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="notregistered?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="notregistered">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">

              </div>
              <div class="ui-g-4">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
            </div>
          </div>



          <div class="form-group">
            <h3>A15</h3>
            <div class="ui-g">
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="charged">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="charged">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="form-group">
            <h3>A16</h3>

            <div class="ui-g">
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>5</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>6</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>7</h4>
                  </div>
                </div>

              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>8</h4>
                  </div>
                </div>

              </div>
            </div>
            <div class="ui-g-4">
            </div>
          </div>


          <div class="form-group">
            <h3>A17</h3>

            <div class="ui-g">
              <h4>Y</h4>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor1">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor2">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor3">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor4">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor5">
                  </div>
                  <div class="ui-g-6">
                    <h4>5</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
              </div>
              <div class="ui-2">

              </div>
            </div>
            <div class="ui-g-4">
            </div>

            <br>

            <div class="ui-g">
              <h4>N</h4>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor1">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor2">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor3">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor4">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor5">
                  </div>
                  <div class="ui-g-6">
                    <h4>5</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
              </div>
              <div class="ui-2">

              </div>
            </div>
            <div class="ui-g-4">
            </div>
          </div>




          <div class="form-group">
            <h3>A18</h3>
            <div class="ui-g">
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="form-group">
            <h3>A19</h3>
            <div class="ui-g">
              <div class="ui-g-7">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
            </div>
          </div>



          <div class="form-group">
            <h3>A20</h3>
            <div class="ui-g">
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-g-4">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
            </div>
          </div>




          <div class="form-group">
            <h3>A21</h3>
            <div class="ui-g">
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="form-group">
            <h3>A22</h3>
            <div class="ui-g">
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
              </div>
              <div class="ui-2">
              </div>
              <div class="ui-g-4">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
            </div>
          </div>




        </md-tab>


        <md-tab label="2">

          <h1>Part2</h1>




          <div class="form-group">
            <h3>A15</h3>
            <div class="ui-g">
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="charged">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="charged">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="form-group">
            <h3>A16</h3>

            <div class="ui-g">
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>5</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>6</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>7</h4>
                  </div>
                </div>

              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="monthlyFee">
                  </div>
                  <div class="ui-g-6">
                    <h4>8</h4>
                  </div>
                </div>

              </div>
            </div>
            <div class="ui-g-4">
            </div>
          </div>


          <div class="form-group">
            <h3>A17</h3>

            <div class="ui-g">
              <h4>Y</h4>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor1">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor2">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor3">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor4">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor5">
                  </div>
                  <div class="ui-g-6">
                    <h4>5</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
              </div>
              <div class="ui-2">

              </div>
            </div>
            <div class="ui-g-4">
            </div>

            <br>

            <div class="ui-g">
              <h4>N</h4>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor1">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor2">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor3">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor4">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="feeFor5">
                  </div>
                  <div class="ui-g-6">
                    <h4>5</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
              </div>
              <div class="ui-2">

              </div>
            </div>
            <div class="ui-g-4">
            </div>
          </div>




          <div class="form-group">
            <h3>A18</h3>
            <div class="ui-g">
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="form-group">
            <h3>A19</h3>
            <div class="ui-g">
              <div class="ui-g-7">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
            </div>
          </div>



          <div class="form-group">
            <h3>A20</h3>
            <div class="ui-g">
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>4</h4>
                  </div>
                </div>
              </div>
              <div class="ui-g-4">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
            </div>
          </div>




          <div class="form-group">
            <h3>A21</h3>
            <div class="ui-g">
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-6">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFunds?">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="form-group">
            <h3>A22</h3>
            <div class="ui-g">
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>1</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>2</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <input style="width: 30px;height: 30px;" type="radio" name="otherFees?">
                  </div>
                  <div class="ui-g-6">
                    <h4>3</h4>
                  </div>
                </div>
              </div>
              <div class="ui-2">
              </div>
              <div class="ui-2">
              </div>
              <div class="ui-g-4">
                <input name="document.documentName" type="text" class="form-control" required="true">
              </div>
            </div>
          </div>


        </md-tab>




      </div>
      <div class="ui-g-2">

      </div>
    </div>
  </md-tab-group>
</div> -->