

/* .ui-widget-header {
    background: #f6f7f9 0 0 repeat-x;
    background: linear-gradient(to bottom, #889597 0%, #889597 100%);
} */
.page-title h2{
    color:#b7b7b7;
    padding-top:-100px;
  }