<div class="container" style="margin-left: 61px">
        <div class="page-title">
                <h2 style="color: #889597">Annual Plan
                        <span> </span>
                </h2>
        </div>
        <div class="page-title">
                <span>
                        <h2>Annual Plan</h2>
                </span>
        </div>

        <mat-card style="width:400px;text-align: center;margin-left: 30%">
                <mat-select [(value)]="selectedActType" placeholder="Select a Type" >

                        <mat-option value="1">PMU</mat-option>
                        <mat-option value="2">PHDT</mat-option>

                </mat-select>
        </mat-card>
        <mat-card style="width:400px;text-align: center;margin-left: 30%">
                <mat-select [(value)]="selectedYear" placeholder="Select a Year" >
                        <mat-option value="2017">2017</mat-option>
                        <mat-option value="2018">2018</mat-option>
                        <mat-option value="2019">2019</mat-option>

                </mat-select>
        </mat-card>

        <!-- <div class="center-block" style="width: 500px">
      <label style="font-size: 13pt">Year:</label>
      <p-dropdown [options]="years" [style]="{'width':'200px','margin-left':'5px','height':'30px','font-size':'13pt'}" [(ngModel)]="selectedYear" ></p-dropdown>
  </div>
<br> -->
        <div class="center-block" style="width: 950px">
                <p-tabView>
                        <p-tabPanel header="January">
                                <app-annual-plan-detail [month]="{month:'January','number':1}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="February">
                                <app-annual-plan-detail [month]="{month:'February','number':2}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="March">
                                <app-annual-plan-detail [month]="{month:'March','number':3}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="April">
                                <app-annual-plan-detail [month]="{month:'April','number':4}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="May">
                                <app-annual-plan-detail [month]="{month:'May','number':5}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="June">
                                <app-annual-plan-detail [month]="{month:'June','number':6}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="July">
                                <app-annual-plan-detail [month]="{month:'July','number':7}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="August">
                                <app-annual-plan-detail [month]="{month:'August','number':8}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="September">
                                <app-annual-plan-detail [month]="{month:'September','number':9}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="October">
                                <app-annual-plan-detail [month]="{month:'October','number':10}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="November">
                                <app-annual-plan-detail [month]="{month:'November','number':11}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>
                        <p-tabPanel header="December">
                                <app-annual-plan-detail [month]="{month:'December','number':12}" [year]="{year:selectedYear}" [type]="{type:selectedActType}"></app-annual-plan-detail>
                        </p-tabPanel>

                </p-tabView>

        </div>


</div>