<div class="container">
  <div class="page-title">
    <h2>Define Certificate
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openView('new',null)">Add New Certificate</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">
    <!-- <table class="table table-hover table-striped">
      <thead style="background-color: #6C7A89;color: white;box-shadow: 0px 5px 15px#bdc3c7">
        <tr class="tbl-header" >


          <th></th>
          
          <th>Certificate ID</th>
          <th>Certificate Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let a of certficateList" >
   

          <td>
            <button class="btn btn-primary" (click)="openView('edit',a)">
                            Edit
          </button>
          </td>
        
          <td>
            <div class="col-sm-12 user-name">{{a.certificateId}}</div>


          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.certificateName}}</div>
          </td>
          <td>
            <span class="glyphicon glyphicon-ok" *ngIf="a.status==1"> </span>
            <span class="glyphicon glyphicon-remove" *ngIf="a.status==2"> </span>
          </td>

        </tr>


      </tbody>
    </table> -->
    <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div> -->
    <p-dataTable [value]="certficateList" [rows]="10" [paginator]="true">
      <p-column [style]="{'text-align':'center'}">
        <ng-template let-cri="rowData" pTemplate="body" let-col>
          <button pButton class="ui-button-secondary" label="Edit" (click)="openView('edit',cri)"> </button>
        </ng-template>
      </p-column>
      <p-column field="certificateId" header="Certificate ID" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="certificateName" header="Certificate Name" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="status" header="Status">
        <ng-template let-col let-certificate="rowData" pTemplate="body">
          <!-- <button type="button" pButton (click)="selectCar(car)" icon="fa-search"></button> -->
          <!-- <span [style.color]="certificate[col.field]">{{car[col.field]}}</span> -->
          <span class="glyphicon glyphicon-remove" *ngIf="certificate[col.field]==2"> </span>
          <span class="glyphicon glyphicon-ok" *ngIf="certificate[col.field]==1"> </span>
        </ng-template>

      </p-column>

    </p-dataTable>
  </div>
</div>





<div bsModal #viewCertificate="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form [formGroup]="createCertificate">
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="closeView()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">{{modelData.title}}</h4>
        </div>
        <div class="alert alert-success" *ngIf="success&&viewParam=='NEW'">
          <strong>Success!</strong> You have Successfully Created a Certificate!
        </div>

        <div class="alert alert-success" *ngIf="success&&viewParam=='EDIT'">
          <strong>Success!</strong> You have Successfully Updated a Certificate!
        </div>


        <div class="modal-body">


          <div class="form-group">
            <label for="template">Certificate Name</label>
            <input [(ngModel)]="selectedCertificate.certificateName" placeholder="Certificate Name" type="text" class="form-control"
              formControlName="name" required="true">


          </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select [(ngModel)]="selectedCertificate.status" name="document.status" class="form-control" formControlName="status">
              <!-- <select class="form-control">  -->
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->


          <button type="submit" *ngIf="viewParam=='NEW'" class="btn btn-success" (click)="saveCertificate()">Save</button>
          <button type="submit" *ngIf="viewParam=='EDIT'" class="btn btn-success" (click)="updateCertificate()">Save Changes</button>

        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>