<div class="container">
  <div class="page-title">
    <h2>
      <span>{{title}}</span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openView(null,1)">Add New Program</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">






    <p-dataTable   resizableColumns="true"  scrollable="true"  scrollHeight ="350px"  [value]="programList" [loading]="loading" [rows]="10" [paginator]="true">



      <p-column [style]="{'text-align':'center'}">

        <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="Add Participant" type="button" pButton (click)="openAddParticipant(training.programId)"></button>

        </ng-template>

      </p-column>
      <p-column [style]="{'text-align':'center'}">

        <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="View" type="button" pButton (click)="openView(training.programId,2)"></button>

        </ng-template>

      </p-column>
      <!-- <p-column [style]="{'text-align':'center'}">

        <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="Update" type="button" pButton (click)="openView('edit',training)"></button>

        </ng-template>

      </p-column> -->


      <p-column [style]="{'text-align':'center'}" field="programName" header="Program Name" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="description" header="Description" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="instituteName" header="Institute Name" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="certificateName" header="Certificate Name" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="locationName" header="Location" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="venue" header="Venue" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="venue" header="Certificate / Diploma" [filter]="true" filterPlaceholder="Search">
        <ng-template let-col let-car="rowData" pTemplate="body">
          <span *ngIf="car.awardType==1">Certificate</span>
          <span *ngIf="car.awardType==2">Diploma</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}" field="certificateName" header="Certificate" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="instituteName" header="Institute" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="startDate" header="Start Date" [filter]="true" filterPlaceholder="Search">
        <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}" field="endDate" header="End Date" [filter]="true" filterPlaceholder="Search">
        <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center','overflow': 'visible'}" field="status" header="Status">
        <ng-template let-col let-training="rowData" pTemplate="body">
          <span class="glyphicon glyphicon-remove" *ngIf="training[col.field]==2"> </span>
          <span class="glyphicon glyphicon-ok" *ngIf="training[col.field]==1"> </span>
        </ng-template>

      </p-column>

    </p-dataTable>

  </div>
</div>





<div bsModal #viewProgram="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form [formGroup]="longtermForm">
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="viewProgram.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">{{modelData.title}}</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Created a long term training program!
        </div>

        <div class="modal-body">


          <div class="form-group">
            <label for="template">Program Name</label>
            <input type="text" *ngIf="viewType==1" [(ngModel)]="programData.program.programName" name="masterDetail.masterName" class="form-control"
              formControlName="programName" required>
            <input type="text" *ngIf="viewType==2" disabled [(ngModel)]="programData.program.programName" name="masterDetail.masterName"
              class="form-control" formControlName="programName" required>
          </div>

          <div class="form-group">
            <label for="template">Description</label>
            <input *ngIf="viewType==1" [(ngModel)]="programData.program.description" type="text" class="form-control" formControlName="description"
              required>
            <!-- <input *ngIf="viewParam=='EDIT'" [(ngModel)]="programData.program.description" type="text" class="form-control" formControlName="description"
              required> -->
            <input *ngIf="viewType==2" [(ngModel)]="programData.program.description" disabled type="text" class="form-control" formControlName="description">
          </div>

          <div class="form-group">
            <label for="template">Start Date</label>
            <input *ngIf="viewType==1" [(ngModel)]="programData.program.startDate" type="date" class="form-control" formControlName="startdate"
              required>
            <!-- <input *ngIf="viewParam=='EDIT'" [(ngModel)]="programData.program.startDate" type="date" class="form-control" formControlName="startdate"
              required> -->
            <input *ngIf="viewType==2" [(ngModel)]="programData.program.startDate" disabled type="text" class="form-control" formControlName="startdate">


          </div>
          <div class="form-group">
            <label for="template">End Date</label>
            <input *ngIf="viewType==1" [(ngModel)]="programData.program.endDate" type="date" class="form-control" formControlName="enddate"
              required>
            <!-- <input *ngIf="viewParam=='EDIT'" [(ngModel)]="programData.program.endDate" type="date" class="form-control" formControlName="enddate"
              required> -->
            <input *ngIf="viewType==2" [(ngModel)]="programData.program.endDate" disabled type="text" class="form-control" formControlName="enddate">
          </div>

          <label *ngIf="viewType==1" for="template">Location</label>

          <p-tree *ngIf="viewType==1" [value]="files" [loading]="loading" (onNodeSelect)="nodeSelected($event)" selectionMode="single"
            [(selection)]="selectedFile" (onNodeExpand)="nodeSelect($event)"></p-tree>

          <br>

          <div class="form-group">
            <label for="template">Location</label>
            <input type="text" *ngIf="viewType==1" type="text" disabled [(ngModel)]="programData.program.locationName" name="adminstaffDetail.locationName"
              class="form-control" formControlName="location" required>
            <input type="text" *ngIf="viewType==2" disabled [(ngModel)]="programData.program.locationName" name="adminstaffDetail.locationName"
              class="form-control" formControlName="location" required>
          </div>

          <div class="form-group">
            <label for="template">Venue</label>
            <input type="text" *ngIf="viewType==1" [(ngModel)]="programData.program.venue" name="adminstaffDetail.locationName" class="form-control"
              formControlName="venue" required>
            <input type="text" *ngIf="viewType==2" disabled [(ngModel)]="programData.program.venue" name="adminstaffDetail.locationName"
              class="form-control" formControlName="venue" required>
          </div>

          <div class="row" *ngIf="viewType==1">
            <div class="col-sm-6">
              <label class="radio-inline">
                <input type="radio" *ngIf="checke==1" checked="true" name="awardType">
                <input type="radio" name="awardType" value=1 [(ngModel)]="checke" formControlName="awardType" (change)="changeType(1)">Certificate</label>

            </div>
            <div class="col-sm-6">
              <label class="radio-inline">
                <input type="radio" name="awardType" value=2 [(ngModel)]="checke" formControlName="awardType" (change)="changeType(2)">Diploma</label>
            </div>
          </div>
          <br>
          <div *ngIf="checke==1&&viewType==1" class="form-group">
            <label for="template">Certificate</label>
            <select [(ngModel)]="selectedCertificate" name="document.status" class="form-control" formControlName="certificate">

              <option [ngValue]="selectedCertificate" *ngFor="let selectedCertificate of certificateList">{{selectedCertificate.certificateName}}</option>

            </select>


          </div>
          <div class="form-group">
            <label *ngIf="viewType==2&&programData.program.awardType==1" for="template">Certificate</label>
            <input *ngIf="viewType==2&&programData.program.awardType==1" [(ngModel)]="programData.program.certificateName" disabled value="Active"
              type="text" class="form-control" formControlName="certificate">
            <input *ngIf="viewType==2&&programData.program.awardType==2" value="Diploma" disabled value="Active" type="text" class="form-control"
              formControlName="certificate">
          </div>

          <div class="form-group">
            <label for="template">Institute</label>
            <select *ngIf="viewType==1" [(ngModel)]="selectedInstitute" name="document.status" class="form-control" formControlName="institute">
              <!-- <select class="form-control">  -->
              <option [ngValue]="selectedInstitute" *ngFor="let selectedInstitute of institueList">{{selectedInstitute.name}}</option>

            </select>

            <input *ngIf="viewType==2" formControlName="institute" disabled value="Inactive" type="text" class="form-control" [(ngModel)]="programData.program.instituteName">
          </div>



          <div class="form-group">
            <label for="template">Status</label>
            <select *ngIf="viewType==1" [(ngModel)]="programData.program.status" name="document.status" class="form-control" formControlName="status">
              <!-- <select class="form-control">  -->
              <option [ngValue]="1">Pending</option>
              <option [ngValue]="2">In progress</option>
              <option [ngValue]="3">Completed</option>
              <option [ngValue]="4">Cancelled</option>
            </select>
            <input *ngIf="viewType==2&&programData.program.status==1" disabled value="Active" type="text" class="form-control">
            <input *ngIf="viewType==2&&programData.program.status==2" disabled value="Inactive" type="text" class="form-control">
            <input *ngIf="viewType==2&&programData.program.status==3" disabled value="Inactive" type="text" class="form-control">
            <input *ngIf="viewType==2&&programData.program.status==4" disabled value="Inactive" type="text" class="form-control">

          </div>


          <!-- <div class="form-group">
      <label for="template">Resource</label>
      <select *ngIf="viewParam=='NEW'||viewParam=='EDIT'" [(ngModel)]="selectedResource" name="document.status" class="form-control" formControlName="resource">
 
    <option [ngValue]="selectedResource" *ngFor="let selectedResource of resourceList">{{selectedResource.resourceName}}</option>
   
    </select>
    <input *ngIf="viewParam=='VIEW'" [(ngModel)]="selectedResource.resourceName" formControlName="resource" disabled value="Active" type="text" class="form-control">
    
  </div> -->

          <div *ngIf="viewType==1">
            <label for="template">Resource Person type</label>
            <select name="document.status" [(ngModel)]="rType" class="form-control" formControlName="type">
              <!-- <select class="form-control">  -->
              <option [ngValue]="1">Resource Pool</option>
              <option [ngValue]="2">Other</option>
            </select>

          </div>


          <div class="row">

            <div *ngIf="rType==1" class="col-sm-8">
              <br>
              <div class="form-group">
                <label for="template">Resource</label>
                <select [(ngModel)]="selectedResource" name="document.status" class="form-control" formControlName="resource" formControlName="resource">

                  <option [ngValue]="selectedResource" *ngFor="let selectedResource of resourceList">{{selectedResource.resourceName}}</option>

                </select>
              </div>
            </div>


            <div *ngIf="rType==2" class="col-sm-4">
              <br>
              <label for="template">Resource Person</label>
              <input [(ngModel)]="selectedOtherResource.personName" type="text" class="form-control" name="selectedOther" required [formControl]="name">
            </div>

            <div *ngIf="rType==2" class="col-sm-4">
              <br>
              <label for="template">Remark</label>
              <input [(ngModel)]="selectedOtherResource.remarks" name="remarks" type="text" class="form-control" required [formControl]="remark">
            </div>
            <div class="col-sm-4">
              <br>
              <br>
              <button *ngIf="viewType==1" pButton icon="fa fa-plus" [disabled]="!name.valid&&rType==2" label="Add" (click)="addResourcePersons()"></button>

            </div>
          </div>

          <br>
          <div>

            <p-dataTable [style]="{'text-align':'center'}" [value]="selectedResourcePersonList" [immutable]="false">

              <p-column *ngIf="viewType==1" [style]="{'text-align':'center'}">
                <ng-template let-cri="rowData" pTemplate="body" let-col>
                  <button pButton class="ui-button-secondary" label="Remove" (click)=removeRows(cri)> </button>
                </ng-template>
              </p-column>
              <p-column [style]="{'text-align':'center'}" field="personName" header="Person Name"></p-column>
              <p-column [style]="{'text-align':'center'}" field="remarks" header="Remarks"></p-column>

              <p-column [style]="{'text-align':'center'}" field="coordinator" header="Coordinator">
                <ng-template let-col let-cri="rowData" pTemplate="body">

                  <input *ngIf="viewType==1" type="radio" name=radioCoordinator (change)=checked($event,cri)>
                  <input *ngIf="viewType==2&&cri[col.field]==1" checked disabled type="radio" name=radioCoordinator (change)=checked($event,cri)>
                  <span></span>
                </ng-template>

              </p-column>
            </p-dataTable>
          </div>
          <p-fileUpload *ngIf="viewParam=='NEW'||viewParam=='EDIT'" name="myfile[]" url={{imageSavingURL}}></p-fileUpload>


        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->


          <button *ngIf="viewType==1" pButton label="Save" icon="fa fa-save" [disabled]="!longtermForm.valid" type="submit" (click)="saveProgram()"></button>
          <button *ngIf="viewParam=='EDIT'" type="submit" class="btn btn-success" (click)="updateProgram()">Save Changes</button>
          <button *ngIf="viewParam=='VIEW'" type="button" class="btn btn-success" (click)="viewProgram.hide()">Close</button>

        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>






<div bsModal #addParticipantView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog " style="width: 90%;height: 60%">

    <div class="modal-content">


      <div class="modal-header" style="background-color: #A0A3A6;color: azure">

        <button type="button" class="close pull-right" (click)="addParticipantView.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{modelData.title}}</h4>
      </div>

      <div class="modal-body">

        <app-registered-participant [program]="{programId:programId,'programType':'longTerm'}"></app-registered-participant>

      </div>
      <div class="modal-footer">


        <button type="submit" *ngIf="viewParam=='NEW'" class="btn btn-success">Update</button>
        <button type="submit" *ngIf="viewParam=='EDIT'" class="btn btn-success" (click)="addParticipantView.hide()">Close</button>
      </div>


    </div>
  </div>
</div>