<div class="container">
  <div class="page-title">
    <h2>Social Audit
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="newAudit()">Create Social Audits</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">

    <!-- <table class="table table-hover table-striped">
      <thead style="background-color: #6C7A89;color: white;box-shadow: 0px 5px 15px#bdc3c7">
        <tr class="tbl-header">
          <th>Audit ID</th>
          <th>Audit Date</th>
          <th>Activity Description</th>
          <th>Province</th>
          <th>Name of Facilitator</th>
          <th>No of participant</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of auditList">
          <td>
            <div class="col-sm-12 user-name">{{a.auditId}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.auditDate}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.description}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.provinceName}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.facilitator}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.femaleParticipant+a.maleParticipants}}</div>
          </td>
          <td>
            <span class="glyphicon glyphicon-ok" *ngIf="a.status==1"> </span>
            <span class="glyphicon glyphicon-remove" *ngIf="a.status==2"> </span>
          </td>

          <td>
            <button class="btn btn-primary" (click)="viewAudit(a)">
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->




    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Global Filter">
      </div>
      <p-dataTable [style]="{'text-align':'center'}" [value]="auditList" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
             <p-column [style]="{'text-align':'center'}">
          <ng-template let-cri="rowData" pTemplate="body" let-col>
            <button pButton class="ui-button-secondary" label="View" (click)=viewAudit(cri)> </button>
          </ng-template>
        </p-column>
  
        <p-column [style]="{'text-align':'center'}" field="auditId" header="Id" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column [style]="{'text-align':'center'}" field="auditDate" header="Audit Date" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column [style]="{'text-align':'center'}" field="description" header="Description" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column [style]="{'text-align':'center'}" field="provinceName" header="Province Name" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column [style]="{'text-align':'center'}" field="facilitator" header="Facilitator" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column [style]="{'text-align':'center'}"  header="No of Students">
            <ng-template let-col let-cri="rowData" pTemplate="body">
    
              <span> {{cri.femaleParticipant+cri.maleParticipants}}</span>
             
            
            </ng-template>
    
          </p-column>
        
        <p-column [style]="{'text-align':'center'}" field="status" header="Status">
          <ng-template let-col let-cri="rowData" pTemplate="body">
  
            <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
            <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
            <span></span>
          </ng-template>
  
        </p-column>
      </p-dataTable>


  </div>
</div>





<div bsModal #viewAuditModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form>
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #F79423;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="viewAuditModel.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Add New Audit</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Created a Document!
        </div>
        <div class="modal-body">


          <div class="form-group">
            <label for="template">Audit Date</label>
            <input *ngIf="type=='NEW'" [(ngModel)]="audit.auditDate" name="auditId" type="date" class="form-control" required="true">
            <input *ngIf="type=='VIEW'" disabled [(ngModel)]="audit.auditDate" name="auditId" type="date" class="form-control" required="true">
          </div>

          <div class="form-group">
            <label for="template">Social Audit Description</label>
            <input *ngIf="type=='NEW'" [(ngModel)]="audit.description" name="description" type="text" class="form-control" required="true">
            <input *ngIf="type=='VIEW'" disabled [(ngModel)]="audit.description" name="description" type="text" class="form-control" required="true">
          </div>

          <div class="form-group">
            <label for="template">Province</label>
            <!-- <input [(ngModel)]="audit.provinceName" name="provinceName" type="text" class="form-control" required="true"> -->
            <select *ngIf="type=='NEW'" class="form-control" style="width: 100px;height: 26px" [(ngModel)]="selectedProvince" name="province">
                <option  [ngValue]="selectedProvince" *ngFor="let selectedDsDivision of provinceList">{{selectedDsDivision.bisName}}</option>
            </select>
            <input *ngIf="type=='VIEW'" disabled [(ngModel)]="audit.provinceName" name="description" type="text" class="form-control" required="true">
          </div>

          <div class="form-group">
            <label for="template">Name of Facilitator</label>
            <input *ngIf="type=='NEW'" [(ngModel)]="audit.facilitator" name="Facilitator" type="text" class="form-control" required="true">
            <input *ngIf="type=='VIEW'" disabled [(ngModel)]="audit.facilitator" name="Facilitator" type="text" class="form-control" required="true">
          </div>

          <label>No of Participants: </label><label *ngIf="audit.maleParticipants!=0||audit.maleParticipants!=undefined||audit.femaleParticipant!=0||audit.femaleParticipant!=undefined">{{audit.maleParticipants+audit.femaleParticipant}}</label><label *ngIf="audit.maleParticipants==0||audit.femaleParticipant==0">0</label>
          <div class="form-group">
            <label for="template">Male</label>
            <input *ngIf="type=='NEW'" [(ngModel)]="audit.maleParticipants" name="maleParticipants" type="number" class="form-control" required="true">
            <input *ngIf="type=='VIEW'" [(ngModel)]="audit.maleParticipants" name="maleParticipants" type="number" class="form-control" required="true">
          </div>
          <div class="form-group">
            <label for="template">Female</label>
            <input *ngIf="type=='NEW'" [(ngModel)]="audit.femaleParticipant" name="femaleParticipant" type="number" class="form-control" required="true">
            <input *ngIf="type=='VIEW'" disabled [(ngModel)]="audit.femaleParticipant" name="femaleParticipant" type="number" class="form-control" required="true">
          </div>
          <div class="form-group">
            <label for="template">Remarks</label>
            <input *ngIf="type=='NEW'" [(ngModel)]="audit.remarks" name="remarks" type="text" class="form-control" required="true">
            <input *ngIf="type=='VIEW'" disabled [(ngModel)]="audit.remarks" name="remarks" type="text" class="form-control" required="true">
          </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select *ngIf="type=='NEW'" [(ngModel)]="audit.status" name="status" class="form-control" >
              <!-- <select class="form-control">  -->
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
            <input *ngIf="type=='VIEW'&&audit.status==1" disabled value="Active" name="remarks" type="text" class="form-control" required="true">
            <input *ngIf="type=='VIEW'&&audit.status==2" disabled value="Inactive" name="remarks" type="text" class="form-control" required="true">
          </div>

        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

        
          <button *ngIf="type=='NEW'"  type="button" class="btn btn-success" (click)="saveAudit()"> Save</button>
          <button *ngIf="type=='VIEW'"  type="button" class="btn btn-success" (click)="saveAudit()"> Close</button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>