<div class="container">
  <div class="page-title">
    <h2>{{model.title}}
      <span> </span>
    </h2>
  </div>
 
  <br>
  <br>
  <br>

  <div class="panel panel-default">
    <table class="table table-hover table-striped">
      <thead style="background-color: #6C7A89;color: white;box-shadow: 0px 5px 15px#bdc3c7">
        <tr class="tbl-header">

          
          <th>Program ID</th>
          <th>Program Name</th>
          <th>Description</th>
          <th>Location</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let a of programList">

         
          
        

          <td>
            <div class="col-sm-12 user-name">{{a.programId}}</div>


          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.programName}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.description}}</div>
          </td>

          <td>
            <div class="col-sm-12 user-name">{{a.locationName}}</div>
          </td>
          <td>
            <span class="glyphicon glyphicon-ok" *ngIf="a.status==1"> </span>
            <span class="glyphicon glyphicon-remove" *ngIf="a.status==2"> </span>
          </td>
          <td>
            <button class="btn btn-primary" (click)="openView(a)">
              View
            </button>
          </td>
        </tr>


      </tbody>
    </table>

  </div>
</div>
<div bsModal #details="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-md">

  <div class="modal-content">
    <div class="modal-header" >
        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
       
     
      </div>
      <div class="modal-body">
        <label >Program Id :</label>
        <label *ngIf="selectedProgram!=null" >{{selectedProgram.programId}}</label><br>
        <label>Program Name :</label>
        <label *ngIf="selectedProgram!=null" >{{selectedProgram.programName}}</label><br>
        <label >Description :</label>
        <label *ngIf="selectedProgram!=null" >{{selectedProgram.description}}</label><br>
        <label >Start Date :</label>
        <label *ngIf="selectedProgram!=null" >{{selectedProgram.startDate}}</label><br>
        <label >End Date :</label>
        <label *ngIf="selectedProgram!=null">{{selectedProgram.endDate}}</label><br>
        <label>Location Name :</label> 
        <label *ngIf="selectedProgram!=null" >{{selectedProgram.locationName}}</label><br>  
       
      </div>
      <div class="modal-footer">
     
        <button type="reset" class="btn btn-default" (click)="details.hide()">Close</button>
      
      </div>
  </div>
</div>
</div>