<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
  <div class="page-title">
    <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
    <h2>Short Term Incentive programs
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openCreateShortProgram()">Add New Program</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">



    <p-dataTable [value]="shortTermModel" [rows]="15" [paginator]="true" [globalFilter]="gb" #dt>
    
      <p-column [style]="{'text-align':'center'}">
        <ng-template let-shortTermModel="rowData" pTemplate="body">
          <button type="button"  class="ui-button-secondary" pButton (click)="openAddParticipant(shortTermModel.programId)" label="Add Participant"></button><br>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}">
        <ng-template let-shortTermModel="rowData" pTemplate="body">
          <button type="button" class="ui-button-secondary" pButton (click)="getProgramId(shortTermModel)" label="View"> </button>
        </ng-template>
      </p-column>
     
      <p-column [style]="{'text-align':'center'}" field="programName" header="Name" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="description" header="Description " [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="startDate" header="Start Date" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="endDate" header="End Date" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="locationName" header="Location" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="venue" header="Venue" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="budget" header="Budgeted Value" [filter]="true" filterPlaceholder="Search"></p-column>

      <p-column [style]="{'text-align':'center'}" field="status" header="Status">
          <ng-template let-col let-training="rowData" pTemplate="body">
            <span class="glyphicon glyphicon-remove" *ngIf="training[col.field]==2"> </span>
            <span class="glyphicon glyphicon-ok" *ngIf="training[col.field]==1"> </span>
          </ng-template>
        </p-column>

    </p-dataTable>



  </div>

  <!--   New MShortTerm Modal-->
  <div bsModal #makeShortSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">


      <div class="modal-content">
          <form [formGroup]="programForm">
         
              <div class="modal-header" style="background-color: #A0A3A6;color: azure">
             
                <button type="button" class="close pull-right" (click)="makeShortSetting.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
    
                <h4 *ngIf="viewType==1" class="modal-title">Create Short Term Incentive Program</h4>
                <h4 *ngIf="viewType==2" class="modal-title">View Short Term Intensive Program</h4>
              </div>
              <div class="alert alert-success" *ngIf="success">
                <strong>Success!</strong> You have Successfully Created a Program!
              </div>
              <div class="alert alert-danger" *ngIf="error">
                <strong>Error!</strong>Try Again Later!
              </div>
    
              <div class="modal-body">
    
    
                <div class="form-group">
                  <label for="template">Program Name</label>
                  <input *ngIf="viewType==1" type="text" [(ngModel)]="programData.program.programName" name="masterDetail.masterName" class="form-control" formControlName="programName"
                    required>
                    <input type="text" *ngIf="viewType==2" disabled [(ngModel)]="programData.program.programName" name="masterDetail.masterName"
                    class="form-control" formControlName="programName" required>
                </div>
    
                <div class="form-group">
                  <label for="template">Description</label>
                  <input *ngIf="viewType==1" type="text" [(ngModel)]="programData.program.description" name="masterDetail.description" class="form-control" formControlName="description"
                    required>
                    <input *ngIf="viewType==2" [(ngModel)]="programData.program.description" disabled type="text" class="form-control" formControlName="description">
                    
                </div>
    
                <div class="form-group">
                  <label for="template">Start Date</label>
                  <input *ngIf="viewType==1"  type="date" [(ngModel)]="programData.program.startDate" name="programData.program.startDate" class="form-control"
                    formControlName="startDate" required>
                    <input *ngIf="viewType==2" [(ngModel)]="programData.program.startDate" disabled type="text" class="form-control" formControlName="startDate">
                </div>
    
                <div class="form-group">
                  <label for="template">End Date</label>
                  <input *ngIf="viewType==1" type="date" [(ngModel)]="programData.program.endDate" name="programData.program.endDate" class="form-control" formControlName="endDate"
                    required>
                    <input *ngIf="viewType==2" [(ngModel)]="programData.program.endDate" disabled type="text" class="form-control" formControlName="endDate">
                </div>
    
                <div class="form-group">
                  <label for="template">Budgeted Value</label>
                  <input *ngIf="viewType==1" type="number" [(ngModel)]="programData.program.budget" name="masterDetail.budgetedValue" class="form-control" formControlName="budget">
                  <input *ngIf="viewType==2" [(ngModel)]="programData.program.budget" disabled type="text" class="form-control"  formControlName="budget" 
                    required>
                </div>
    
                <label  *ngIf="viewType==1" for="template">Location</label>
                <p-tree  *ngIf="viewType==1" [value]="files" [loading]="loading" (onNodeSelect)="nodeSelected($event)" selectionMode="single" [(selection)]="selectedFile"
                  (onNodeExpand)="nodeSelect($event)"></p-tree>
                 
                <br>
    
                <div class="form-group">
                  <label for="template">Location</label>
                  <input  *ngIf="viewType==1" type="text" disabled [(ngModel)]="programData.program.locationName" name="adminstaffDetail.locationName" class="form-control"
                    formControlName="location" required>
                    <input type="text" *ngIf="viewType==2" disabled [(ngModel)]="programData.program.locationName" name="adminstaffDetail.locationName"
                    class="form-control" formControlName="location" required>
                </div>
    
                <div class="form-group">
                  <label for="template">Venue</label>
                  <input *ngIf="viewType==1" type="text" [(ngModel)]="programData.program.venue" name="masterDetail.venue" class="form-control" required formControlName="venue">
                  <input type="text" *ngIf="viewType==2" disabled [(ngModel)]="programData.program.venue" name="adminstaffDetail.locationName"
                  class="form-control" formControlName="venue" required>
                </div>
             
                <div class="form-group">
                  <label for="template">Status</label>
                  <select  *ngIf="viewType==1" [(ngModel)]="programData.program.status" name="masterDetail.status" class="form-control" formControlName="status">
                    <option [ngValue]="1">Pending</option>
                    <option [ngValue]="2">InProgress</option>
                    <option [ngValue]="3">Completed</option>
                    <option [ngValue]="4">Canceled</option>
                  </select>
                </div>
    
                <input *ngIf="viewType==2&&programData.program.status==1" disabled value="Active" type="text" class="form-control">
                <input *ngIf="viewType==2&&programData.program.status==2" disabled value="Inactive" type="text" class="form-control">
                <input *ngIf="viewType==2&&programData.program.status==3" disabled value="Inactive" type="text" class="form-control">
                <input *ngIf="viewType==2&&programData.program.status==4" disabled value="Inactive" type="text" class="form-control">
    
                <div *ngIf="viewType==1">
                  <label for="template">Resource Person type</label>
                  <select name="document.status" [(ngModel)]="rType" class="form-control" name="resourcePerson" formControlName="type">
    
                    <option [ngValue]="1">Resource Pool</option>
                    <option [ngValue]="2">Other</option>
                  </select>
    
                </div>
    
                <div *ngIf="viewType==1" class="row">
    
                  <div *ngIf="rType==1" class="col-sm-8">
                    <br>
                    <div class="form-group">
                      <label for="template">Resource</label>
                      <select [(ngModel)]="selectedResource" name="document.status" class="form-control" formControlName="resource" formControlName="resource">
    
                        <option [ngValue]="selectedResource" *ngFor="let selectedResource of resModel" >{{selectedResource.resourceName}}</option>
    
                      </select>
                    </div>
                  </div>
    
    
                  <div *ngIf="rType==2" class="col-sm-4">
                    <br>
                    <label for="template">Resource Person</label>
                    <input [(ngModel)]="selectedOtherResource.personName" type="text" class="form-control" name="selectedOther" required [formControl]="name">
                  </div>
    
                  <div *ngIf="rType==2" class="col-sm-4">
                    <br>
                    <label for="template">Remark</label>
                    <input [(ngModel)]="selectedOtherResource.remarks" name="remarks" type="text" class="form-control" required [formControl]="remark">
                  </div>
                  <div class="col-sm-4">
                    <br>
                    <br>
                    <button pButton icon="fa fa-plus" [disabled]="!name.valid&&rType==2" label="Add" (click)="addResourcePersons()"></button>
    
                  </div>
                </div>
    
                <br>
                <div>
    
                  <p-dataTable [style]="{'text-align':'center'}" [value]="selectedResourcePersonList" [immutable]="false">
    
                    <p-column *ngIf="viewType==1" [style]="{'text-align':'center'}">
                      <ng-template let-cri="rowData" pTemplate="body" let-col>
                        <button pButton class="ui-button-secondary" label="Remove" (click)=removeRows(cri)> </button>
                      </ng-template>
                    </p-column>
                   <p-column [style]="{'text-align':'center'}" field="personName" header="Person Name"></p-column>
                    <p-column [style]="{'text-align':'center'}" field="remarks" header="Remarks"></p-column>
    
                    <p-column [style]="{'text-align':'center'}" field="coordinator" header="Coordinator">
                      <ng-template let-col let-cri="rowData" pTemplate="body">
    
                        <input *ngIf="viewType==1" type="radio" name=radioCoordinator (change)=checked($event,cri)>
                        <input *ngIf="viewType==2&&cri[col.field]==1" checked disabled type="radio" name=radioCoordinator (change)=checked($event,cri)>
                        <span></span>
                      </ng-template>
    
                    </p-column>
                  </p-dataTable>
               </div>
              </div>
    
              <div class="modal-footer">
    
                <button *ngIf="viewType==1" type="button" pButton label="Save" [disabled]="!programForm.valid" icon="fa fa-save" (click)="createShortProgram(evt)"></button>
              </div>
            </form>
        <!--################ end form ################-->
      </div>
    </div>
  </div>
  <!--   End Master Modal-->

  <!--#################Make Group Admin Setting Modal###############-->
  <!--<template #template>-->




 


  <!--#################Show Program Participant Modal###############-->
  <!--<template #template>-->
  <div bsModal #viewParticipantSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <form #adminSettingForm="ngForm" (ngSubmit)="btnUSubmit()">
          <!--########## start form ########-->
          <div class="modal-header" style="background-color: #02685E;color: azure">
            <button type="button" class="close pull-right" (click)="viewParticipantSetting.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Participants</h4>
            <!-- <h4 class="modal-title" *ngIf="a">View</h4>-->
            <div class="pull-right">
              <button class="btn btn-success" (click)="openaddParticipant()">Add New</button>
            </div>
          </div>
          <div class="modal-body">

            <table class="table table-hover">
              <thead>
                <tr class="tbl-header">

                  <th>NIC</th>
                  <th>Name</th>

                  <th>District/DS</th>
                  <th>Address</th>
                  <th>Telephone</th>
                  <th>Gender</th>
                  <th>Pre School</th>
                  <th>No of Children</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let p of participantModel">

                  <td>
                    <button class="btn btn-primary" (click)="editParticipant(p.nic)">
                      Edit
                    </button>
                  </td>
                  <td>
                    <div class="col-sm-12 user-name">{{p.nic}}</div>


                  </td>
                  <td>
                    <div class="col-sm-12 user-name">{{p.name}}</div>
                  </td>

                  <td>
                    <div class="col-sm-12 user-name">{{p.district}}</div>
                  </td>
                  <td>
                    <div class="col-sm-12 user-name">{{p.address}}</div>
                  </td>
                  <td>
                    <div class="col-sm-12 user-name">{{p.telephoneNo}}</div>
                  </td>
                  <td>
                    <div class="col-sm-12 user-name">{{p.gender}}</div>
                  </td>
                  <td>
                    <div class="col-sm-12 user-name">{{p.learningCenterName}}</div>
                  </td>
                  <td>
                    <div class="col-sm-12 user-name">{{p.noOfChildren}}</div>
                  </td>

                  <!-- <td>
                    <button class="btn btn-primary" (click)="getDbtId(a.sendId)">
                            View
                        </button>
                  </td> -->

                </tr>


              </tbody>
            </table>

          </div>

          <div class="modal-footer">
            <!--<span><img src="assets/inlineLoader.gif" *ngIf="updateUserLoade" style="width: 25px" /> </span>-->
            <button type="button" class="btn btn-default" (click)="viewParticipantSetting.hide()">Close</button>
            <button type="button" class="btn btn-success" (click)="saveMasterChanges(event)">Save changes</button>
          </div>
        </form>
        <!--################ end form ################-->
      </div>
    </div>
  </div>
  <!--</template>-->

  <!--#################Add new Participant Modal###############-->
  <!--<template #template>-->
  <div bsModal #addParticipantSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <form #adminSettingForm="ngForm" (ngSubmit)="btnUSubmit()">
          <!--########## start form ########-->
          <div class="modal-header" style="background-color: #02685E;color: azure">
            <button type="button" class="close pull-right" (click)="addParticipantSetting.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Add New Participant</h4>

            <!-- <h4 class="modal-title" *ngIf="a">View</h4>-->
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="template">Description</label>
              <input type="text" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Start Date</label>
              <input type="date" class="form-control" required>

            </div>

            <div class="form-group">
              <label for="template">End Date</label>
              <input type="date" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Budgeted Value</label>
              <input type="text" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Location</label>
              <input type="text" class="form-control" required>
            </div>


            <!-- <div class="form-group">
              <label for="template">Status</label>
              <select [(ngModel)]="shortDetail.status" name="shortDetail.status" class="form-control">
                <option [value]='1'>Active</option>
                <option [value]='2'>Inactive</option>
              </select>
            </div> -->
          </div>

          <div class="modal-footer">
            <!--<span><img src="assets/inlineLoader.gif" *ngIf="updateUserLoade" style="width: 25px" /> </span>-->
            <button type="button" class="btn btn-default" (click)="addParticipantSetting.hide()">Close</button>
            <button type="button" class="btn btn-success" (click)="saveParticipant(event)">Save changes</button>
          </div>
        </form>
        <!--################ end form ################-->
      </div>
    </div>
  </div>
  <!--</template>-->

  <!--#################Edit Participant Modal###############-->
  <!--<template #template>-->
  <div bsModal #updateParticipantSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <form #adminSettingForm="ngForm" (ngSubmit)="btnUSubmit()">
          <!--########## start form ########-->
          <div class="modal-header" style="background-color: #02685E;color: azure">
            <button type="button" class="close pull-right" (click)="updateParticipantSetting.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Edit Participant</h4>

            <!-- <h4 class="modal-title" *ngIf="a">View</h4>-->
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="template">Description</label>
              <input type="text" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Start Date</label>
              <input type="date" class="form-control" required>

            </div>

            <div class="form-group">
              <label for="template">End Date</label>
              <input type="date" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Budgeted Value</label>
              <input type="text" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Location</label>
              <input type="text" class="form-control" required>
            </div>


            <!-- <div class="form-group">
              <label for="template">Status</label>
              <select [(ngModel)]="shortDetail.status" name="shortDetail.status" class="form-control">
                <option [value]='1'>Active</option>
                <option [value]='2'>Inactive</option>
              </select>
            </div> -->
          </div>

          <div class="modal-footer">
            <!--<span><img src="assets/inlineLoader.gif" *ngIf="updateUserLoade" style="width: 25px" /> </span>-->
            <button type="button" class="btn btn-default" (click)="updateParticipantSetting.hide()">Close</button>
            <button type="button" class="btn btn-success" (click)="saveMasterChanges(event)">Save changes</button>
          </div>
        </form>
        <!--################ end form ################-->
      </div>
    </div>
  </div>
  <!--</template>-->


</div>

<div bsModal #addParticipantView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="width: 90vw;height: 90vh">

    <div class="modal-content">


      <div class="modal-header" style="background-color: #A0A3A6;color: azure">

        <button type="button" class="close pull-right" (click)="addParticipantView.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
        <h4 class="modal-title">Add Participants</h4>
      </div>

      <div class="modal-body" style="width: 90vw;height: 95vh" >

       <app-registered-participant [program]="{programId:programId,'programType':'short'}"></app-registered-participant>

      </div>
      


    </div>
  </div>
</div>