<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
  <div class="page-title">
    <h2>Distributed Materials Management
      <span> </span>
    </h2>
  </div>
  <div class="pull-left">
    <button class="btn btn-success" (click)="loadDistributedListPending()" style="margin-right: 10px;">Distribute Pending</button>
  </div>
  <div class="pull-left">
    <button class="btn btn-success" (click)="loadDistributedList()">Distributed</button>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openDistribute()">Distribute</button>
  </div>
  <br>
  <br>
  <br>

  <div>
    <div *ngIf="distributedPending" class="panel panel-default">
      <table class="table table-hover">
        <thead style="background-color: #6C7A89;color: azure;box-shadow: 0px 5px 15px#6C7A89">
          <tr class="tbl-header">

            <th>Description</th>
            <th>Learning Center</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let d of distributeModel">


            <!--<td>
            <button class="btn btn-primary" (click)="routeToResult(a.criteriaId)">
                            Generate
                        </button>
          </td>-->
            <td>
              <div class="col-sm-12 user-name">{{d.description}}</div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{d.learningCenter}}</div>
            </td>

            <td>
              <span class="glyphicon glyphicon-ok" *ngIf="d.status==1"> </span>
              <span class="glyphicon glyphicon-remove" *ngIf="d.status==2"> </span>

            </td>
          </tr>


        </tbody>
      </table>

    </div>

    <!--  -->
    <div *ngIf="distributed" class="panel panel-default">
      <table class="table table-hover">
        <thead style="background-color: #6C7A89;color: azure;box-shadow: 0px 5px 15px#6C7A89">
          <tr class="tbl-header">

            <th>Description</th>
            <th>Learning Center</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let dt of distributedModel">


            <!--<td>
            <button class="btn btn-primary" (click)="routeToResult(a.criteriaId)">
                            Generate
                        </button>
          </td>-->
            <td>
              <div class="col-sm-12 user-name">{{dt.description}}</div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{dt.learningCenter}}</div>
            </td>

            <td>
              <span class="glyphicon glyphicon-ok" *ngIf="dt.status==1"> </span>
              <span class="glyphicon glyphicon-remove" *ngIf="dt.status==2"> </span>

            </td>
          </tr>


        </tbody>
      </table>

    </div>
    <!--  -->

    <!-- Cretae Distributed -->

    <div bsModal #viewDistribute="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-md">

        <div class="modal-content">
          <!-- <form> -->
          <!--########## start form ########-->
          <div class="modal-header" style="background-color: #02685E;color: azure">
            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
            <button type="button" class="close pull-right" (click)="viewDistribute.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h4 class="modal-title">Distribute</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="template">Learning Center</label>
              <!-- <select [(ngModel)]="preschoolModel.Name" (change)="onChange(preschoolModel[0].Id)" name="preschoolModel.Name" class="form-control">
                <option *ngFor="let x of preschoolModel" [ngValue]="x.Id">{{x.Name}}</option>
              </select> -->


              <select [(ngModel)]="selecteLearningCenter" (change)="onChange(selecteLearningCenter)" name="preschoolModel" class="form-control">
                  <option *ngFor="let selecteLearningCenter of preschoolModel" [ngValue]="selecteLearningCenter">{{selecteLearningCenter.Name}}</option>
                </select>

            </div>





            <table class="table table-hover">
              <thead>
                <tr class="tbl-header">
                  <!-- <th></th> -->
                  <th>Bulk</th>
                  <th>Description</th>

                  <!-- <th>Received Remarks</th> -->
                  <th></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let a of packsModel">
                  <!-- <td> -->
                  <!--<input  type="checkbox"  [(ngModel)]="packsModel.sendId" >-->
                  <!--<input [(ngModel)]="packsModel.sendId" (ngModelChange)="checksendId(packsModel[0].description)" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"  checked>-->
                  <!-- <label class="checkbox-inline">                     -->
                  <!-- <input type="checkbox" (change)="onChangeCheckBox(a.sendId, $event.target.checked)"><br> -->
                  <!--<input type="checkbox" name="awesome" ng-model="packsModel" ng-true-value="packsModel.sendId" ng-false-value="">-->
                  <!-- </label> -->
                  <!--<div class="pull-left">
                      <label class="checkbox-inline">
                  <input type="checkbox" name="optradio" [(ngModel)]="checked" value="1" (change)="checksendId(packsModel[0].description)"></label>
                      <br><br>

                    </div>-->
                  <!-- </td> -->
                  <td>
                    <div class="col-sm-12 user-name">{{a.sendId}}</div>


                  </td>
                  <td>
                    <div class="col-sm-12 user-name">{{a.description}}</div>
                  </td>

                  <!-- <td>
                    <div class="col-sm-12 user-name">{{a.status}}</div>
                  </td> -->
                  <!--<td>
                    <div class="col-sm-12 user-name">{{a.receivedDate}}</div>
                  </td>-->
                  <!-- <td>
                    <span class="glyphicon glyphicon-ok" *ngIf="a.status==1">Active</span>
                    <span class="glyphicon glyphicon-remove" *ngIf="a.status==2">Inactive</span>
                  </td>
                  <td> -->
                  <td>
                    <button class="btn btn-primary" (click)="getDbtId(a.sendId)">
                      View
                    </button>
                  </td>

                </tr>


              </tbody>
            </table>

            <div class="form-group">
              <label for="template">Distribute Date</label>
              <input type="date" [(ngModel)]="distributeinfoList.dateDistribute" name="distributeinfoList.dateDistribute" class="form-control"
                class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Received Person Name:</label>
              <input type="text" [(ngModel)]="distributeinfoList.receivedPerson" name="distributeinfoList.receivedPerson" class="form-control"
                required>
            </div>

            <div class="form-group">
              <label for="template">Received Person Designation:</label>
              <input type="text" [(ngModel)]="distributeinfoList.receivedPersonDesignation" name="distributeinfoList.receivedPersonDesignation"
                class="form-control" required>
            </div>
            <p-fileUpload name="myfile[]" url={{imageUrl}}  (onUpload)="onBasicUpload($event)" ></p-fileUpload>
          </div>

          <!--<label class="control-label">Select Banner Image (Support file type - JPG)</label>
            <input type="file" accept="image/jpeg" ng2FileSelect [uploader]="uploader" />

            <table class="table">
              <thead>

              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.que
                ue" style="text-align: right">

                  <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                  </td>

                </tr>
              </tbody>
            </table>-->


           

          <div class="modal-footer">
            <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

            <button type="reset" class="btn btn-default" (click)="viewDistribute.hide()">Close</button>
            <button type="submit" class="btn btn-success" (click)="saveDtrChanges(evt)">Save Changes</button>
          </div>
          <!-- </form> -->
          <!--################ end form ################-->
        </div>
      </div>
    </div>
    <!--   End User Modal-->

    <!--Packs Modal-->
    <div bsModal #viewPacks="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">

        <div class="modal-content">
          <!-- <form> -->
          <!--########## start form ########-->
          <div class="modal-header" style="background-color: #02685E;color: azure">
            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
            <button type="button" class="close pull-right" (click)="viewPacks.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h4 class="modal-title">Distribute Packs</h4>
          </div>
          <div class="modal-body">


            <table class="table table-hover">
              <thead>
                <tr class="tbl-header">

                  <th>Pack Id</th>
                  <th>Pack Name</th>

                  <th>Material Count</th>
                  <th>Available PackCount</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let m of mtrpacksModel">

                  <td>
                    <div class="col-sm-12 user-name">{{m.packId}}</div>


                  </td>
                  <td>
                    <div class="col-sm-12 user-name">{{m.packName}}</div>
                  </td>

                  <td>
                    <div class="col-sm-12 user-name">{{m.materialCount}}</div>
                  </td>

                  <td>
                    <td>
                      <div class="col-sm-12 user-name">{{m.availablePackCount}}</div>
                    </td>


                    <td>
                      <button class="btn btn-primary" (click)="getPackId(m.packId)">
                        View
                      </button>
                    </td>

                </tr>


              </tbody>
            </table>


          </div>



          <div class="modal-footer">
            <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

            <button type="reset" class="btn btn-default" (click)="viewPacks.hide()">Close</button>
            <!--<button type="submit" class="btn btn-success" (click)="createCriteria(evt)">Save Changes</button>-->
          </div>
          <!-- </form> -->
          <!--################ end form ################-->
        </div>
      </div>
    </div>
    <!--   End Packs Modal-->


    <!--Material Modal-->
    <div bsModal #viewMtr="bs-modal" class="modal right fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-md">

        <div class="modal-content">
          <!-- <form> -->
          <!--########## start form ########-->
          <div class="modal-header" style="background-color: #02685E;color: azure">
            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
            <button type="button" class="close pull-right" (click)="viewMtr.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h4 class="modal-title">Material List</h4>
          </div>
          <div class="modal-body">


            <table class="table table-hover">
              <thead>
                <tr class="tbl-header">

                  <th>Material Id</th>
                  <th>Name</th>

                  <th>Quantity
                    <th>

                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let m of mtrlistsModel">

                  <td>
                    <div class="col-sm-12 user-name">{{m.materialId}}</div>


                  </td>
                  <td>
                    <div class="col-sm-12 user-name">{{m.materialName}}</div>
                  </td>

                  <td>
                    <div class="col-sm-12 user-name">{{m.quantity}}</div>
                  </td>


                  <td>
                    <div class="col-sm-12 user-name">{{m.availablePackCount}}</div>
                  </td>
                </tr>


              </tbody>
            </table>


          </div>



          <div class="modal-footer">
            <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

            <button type="reset" class="btn btn-default" (click)="viewMtr.hide()">Close</button>
            <!--<button type="submit" class="btn btn-success" (click)="createCriteria(evt)">Save Changes</button>-->
          </div>
          <!-- </form> -->
          <!--################ end form ################-->
        </div>
      </div>
    </div>
    <!--   End Material Modal-->