.panel-heading{
    background-color: #009688;
    margin-top: 40px;
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

#btnUser{
    margin-left: 170px;
}

.container{
    margin-top: 50PX;
    padding: 10px 10px 0 10px;
    position: absolute;
	width: calc(100% - 51px); 
	margin-left: 50px;
	float: right;
    overflow-x:hidden;
}

.circle-user{
 width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #F79423;
  margin-left: 20px;
}


.panel-body{
    margin-top: -30px;
}

.btn-primary{
    padding: 0 10%; 
    margin-top:10px;
    color: black;
        background:none;
  
    border-color: #757D75; 
        /* border-radius:0; */
}
.btn-success{
    background: #F79423;
    border-color: #F79423;
    color: #ffffff;
    /* border-radius:0; */
}

.page-title h2{
  color:#b7b7b7;
  padding-top:-100px;
}


/*Model styles*/
.circle-image{
  margin-top: 6px;
  margin-left: 10px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
/*toggle styles*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 60px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #009486;
}

input:focus + .slider {
  box-shadow: 0 0 1px #009486;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*modal*/
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.glyphicon{
    margin-top: 10px;
}
.glyphicon-ok{
    color: #20b32d;
}

.glyphicon-remove{
    color: #f02e1a;
}

.user-name{
    color: #30363a;
    font-weight: bold;
    font-size: 16px;
}
.user-email{
    color: #6f7982;
}


.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.cat-list{
    color: #30363a;
    font-size: 16px;
}

/*right modal*/

.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}