<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
    <div class="page-title">
        <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
        <h2>Learning Material Definition <span> </span></h2>
    </div>
    <div class="pull-right"><button class="btn btn-success" (click)="openCreateMtr()">Add New</button></div><br><br><br>

    <div class="panel panel-default">

        <!--<img class="center-block" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
        <img class="center-block"  style="margin-top:20px" src="assets/img/loader2.gif" />-->



        <p-dataTable [value]="materialModel" [rows]="15" [paginator]="true" [globalFilter]="gb" #dt>
            <p-header>List of Learning Materials</p-header>
            <p-column styleClass="col-button">
                <ng-template let-materialModel="rowData" pTemplate="body">
                    <button type="button" pButton (click)="getMtrId(materialModel)" label="Update"></button><br>
                </ng-template>
            </p-column>        
            <p-column field="materialId" header="Material ID" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="materialName" header="Material Name " [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="quantity" header="Quantity" [filter]="true" filterPlaceholder="Search"></p-column>
          
            <!--<p-column field="user.status" header="Status">
                <ng-template pTemplate="body">
                  
                </ng-template>
            </p-column>-->


      <p-column styleClass="col-button">
        <ng-template pTemplate="header">
        Status
        </ng-template>
        <ng-template let-car="rowData" pTemplate="body">

                <span class="glyphicon glyphicon-ok" *ngIf="car.status==1"> </span>
                <span class="glyphicon glyphicon-remove" *ngIf="car.status==2"> </span>

        </ng-template>
    </p-column>

        </p-dataTable>













<!--


        <table class="table table-hover">
            <thead style="background-color: #000099;color: azure;box-shadow: 0px 5px 15px#000099">
                <tr class="tbl-header">
                    <th></th>
                    <th>Material ID</th>
                    <th>Material Name</th>
                    <th>Status</th>
                    <th>Quantity</th>

                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let m of materialModel">-->
                    <!--<td>-->
                    <!--<div class="circle-user col-sm-1">{{myName}}</div>-->
                    <!--</td>-->
                    <!--<td>
                        <button class="btn btn-primary" (click)="getMtrId(m)">
                            Update
                        </button>
                    </td>

                    <td>
                        <div class="col-sm-12 user-name">{{m.materialId}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{m.materialName}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{m.status}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{m.quantity}}</div>
                    </td>-->
                   
                    <!--<td>
                        <span class="glyphicon glyphicon-ok" *ngIf="a.user.status==1"> </span>
                        <span class="glyphicon glyphicon-remove" *ngIf="a.user.status==2"> </span>
                        
                    </td>-->
                <!--</tr>-->
                <!--<span *ngIf="a.groupStatus.codeId==3">Active</span>
            <span *ngIf="a.groupStatus.codeId==2">Inactive</span>-->

            <!--</tbody>
        </table>-->

    </div>


    <!--   New User Modal-->
    <div bsModal #makeMtrSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <form [formGroup]="mtrForm">
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #02685E;color: azure">
                        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                        <button type="button" class="close pull-right" (click)="makeMtrSetting.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                        <h4 class="modal-title">Create Material</h4>
                    </div>
                    <div class="alert alert-success" *ngIf="success">
                            <strong>Success!</strong> You have Successfully Created a Institute!
                        </div>

                    <div class="modal-body">

                        <!--<div class="form-group">
                            <label for="template">Material ID</label>
                            <input type="text" [(ngModel)]="materialModel.materialId" name="materialModel.materialId" class="form-control" required>
                        </div>-->

                        <div class="form-group">
                            <label for="template">Material Name</label>
                            <input type="text" [(ngModel)]="materialDetailNew.materialName" name="materialDetailNew.materialName" class="form-control" formControlName="materialName"
                                required>
                        </div>

                        <!-- <div class="form-group">
                            <label for="template">Status</label>
                            <input type="text" [(ngModel)]="materialDetailNew.status" name="materialDetailNew.status" class="form-control" required>
                        </div> -->
                        <div class="form-group">
                            <label for="template">Status</label>
                            <select [(ngModel)]="materialDetailNew.status" name="materialDetailNew.status" class="form-control" formControlName="status"> 
                                <option [ngValue]="1">Active</option>
                                <option [ngValue]="2">Inactive</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="template">Quantity</label>
                            <input type="text" [(ngModel)]="materialDetailNew.quantity" name="materialDetailNew.quantity" class="form-control" formControlName="quantity" required>
                        </div>




                        <!--<div class="form-group">
                            <label for="template">Status</label>
                            <select class="form-control">
                            <option>Active</option>
                            <option>Inactive</option>
                            </select>
                        </div>-->

                        <!--<div class="form-group">
                            <label for="template">Expiry Date</label>
                            <input type="date"  class="form-control">
                        </div>-->
                    </div>

                    <div class="modal-footer">
                        <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

                        <button type="reset" class="btn btn-default" (click)="makeMtrSetting.hide()">Close</button>
                        <button type="button" class="btn btn-success" (click)="createMtr(evt)">Save changes</button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
</div>
<!--   End User Modal-->

<!--#################Make Group Admin Setting Modal###############-->
<!--<template #template>-->
<div bsModal #makeGroupAdminSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">
            <form #adminSettingForm="ngForm" (ngSubmit)="btnUSubmit()">
                <!--########## start form ########-->
                <div class="modal-header" style="background-color: #02685E;color: azure">
                    <button type="button" class="close pull-right" (click)="makeGroupAdminSetting.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                    <h4 class="modal-title" *ngIf="b">Update</h4>
                    <h4 class="modal-title" *ngIf="a">View</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="template">MaterialName</label>
                        <input type="text" [(ngModel)]="materialDetail.materialName" name="materialDetail.materialName" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="template">Quantity</label>
                        <input type="text" [(ngModel)]="materialDetail.quantity" disabled name="materialDetail.quantity" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="template">Status</label>
                        <select [(ngModel)]="materialDetail.status" name="materialDetail.status" class="form-control">
                            <option [value]='1'>Active</option>
                            <option [value]='2'>Inactive</option>
                            </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <!--<span><img src="assets/inlineLoader.gif" *ngIf="updateUserLoade" style="width: 25px" /> </span>-->
                    <button type="button" class="btn btn-default" (click)="makeGroupAdminSetting.hide()">Close</button>
                    <button type="button" class="btn btn-success" *ngIf="!a" (click)="saveMtrChanges(event)">Save changes</button>
                </div>
            </form>
            <!--################ end form ################-->
        </div>
    </div>
    </div>
    <!--</template>-->

    </div>