<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
    <div class="page-title">
        <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
        <h2>Reports
            <span> </span>
        </h2>
    </div>
    <br>
    <br>
    <br>

    <div class="panel panel-default">
        <h3 style="text-align: center">Learning Material</h3>
        <form id="eventForm" method="post" class="form-horizontal">

            <div class="form-group">
                <label class="col-xs-3 control-label">Start date</label>
                <div class="col-xs-5 dateContainer">
                    <div class="input-group input-append date" id="startDatePicker">
                        <input type="date" class="form-control" name="startDate">
                        <span class="input-group-addon add-on">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">End date</label>
                <div class="col-xs-5 dateContainer">
                    <div class="input-group input-append date" id="endDatePicker">
                        <input type="date" class="form-control" name="endDate">
                        <span class="input-group-addon add-on">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Pending Materials</label>
                <div class="col-xs-5 dateContainer">
                    <button type="button" pButton label="Generate" icon="fa fa-download" (click)="generatePendingReport()"></button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Received Materials</label>
                <div class="col-xs-5 dateContainer">
                    <button type="button" pButton label="Generate" icon="fa fa-download" (click)="generateReceivedReport()"></button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Distributed Materials</label>
                <div class="col-xs-5 dateContainer">
                    <button type="button" pButton label="Generate" icon="fa fa-download" (click)="generateDistributeReport()"></button>
                </div>
            </div>
        </form>



        <div>

        </div>
    </div>
    <div class="panel panel-default">
        <h3 style="text-align: center">Fee Waiver</h3>
        <div class="form-group" style="margin-left: 25%">
            <label for="template">District</label>
            <select [(ngModel)]="selectedDistrict" name="district" class="form-control" style="width:400px" (change)="getAllDS()">
                <option [ngValue]="selectedDistrict" *ngFor="let selectedDistrict of districtList">{{selectedDistrict.name}}</option>
            </select>
        </div>
        <div class="form-group" style="margin-left: 25%">
            <label for="template">DS Division</label>
            <select [(ngModel)]="selectedDs" name="ds" class="form-control" style="width:400px">
                <option [ngValue]="selectedDs" *ngFor="let selectedDs of dsList">{{selectedDs.name}}</option>
            </select>
        </div>

        <label style="margin-left: 25%" class="radio-inline">
            <input type="radio" name="radio1" [(ngModel)]="checked1" value="1">
            <input *ngIf="checked1==1" type="radio" name="radio2" checked value="1">To be paid details</label>

        <label style="margin-left:15%" class="radio-inline">
            <input type="radio" name="radio2" [(ngModel)]="checked1" value="2">Payment Details</label>

            <br><br>

        <div *ngIf="checked1==2" class="form-group" style="margin-left: 25%">
            <label for="template">Year</label>
            <select [(ngModel)]="selectedYear" name="year" class="form-control" style="width:400px">
                <option [ngValue]="2017">2017</option>
                <option [ngValue]="2018">2018</option>
                <option [ngValue]="2019">2019</option>
                <option [ngValue]="2020">2020</option>
                <option [ngValue]="2021">2021</option>
                <option [ngValue]="2022">2022</option>

            </select>
        </div>
        <div *ngIf="checked1==2" class="form-group" style="margin-left: 25%">
            <label for="template">Quarter</label>
            <select [(ngModel)]="selectedQ" name="quarter" class="form-control" style="width:400px">
                <option [ngValue]="1">Q 1</option>
                <option [ngValue]="2">Q 2</option>
                <option [ngValue]="3">Q 3</option>
                <option [ngValue]="4">Q 4</option>


            </select>
        </div>

        <form *ngIf="checked1==1" id="eventForm" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label">Start date</label>
                <div class="col-xs-5 dateContainer">
                    <div class="input-group input-append date" id="startDatePicker">
                        <input type="date" class="form-control" name="startDate1" [(ngModel)]="startDate1">
                        <span class="input-group-addon add-on">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">End date</label>
                <div class="col-xs-5 dateContainer">
                    <div class="input-group input-append date" id="endDatePicker">
                        <input type="date" class="form-control" name="endDate1" [(ngModel)]="endDate1">
                        <span class="input-group-addon add-on">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            </form>


        <label style="margin-left: 25%" class="radio-inline">
            <input type="radio" name="radio1" [(ngModel)]="checked" value="1">
            <input *ngIf="checked==1" type="radio" name="radio1" checked value="1">District Wise</label>

        <label style="margin-left:15%" class="radio-inline">
            <input type="radio" name="radio1" [(ngModel)]="checked" value="2">DS Wise</label>


        <br>
        <br>

        <div style="margin-left: 25%">
            <button *ngIf="(selectedDs!=undefined&&checked==2)||checked==1" pButton label="Generate" icon="fa fa-download" (click)="generateReport()"></button>
            <button *ngIf="selectedDs==undefined&&checked==2" pButton label="Generate" icon="fa fa-download" disabled (click)="generateReport()"></button>
        </div>
        <br>
        <br>
        <br>
        <form id="eventForm" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-3 control-label">Start date</label>
            <div class="col-xs-5 dateContainer">
                <div class="input-group input-append date" id="startDatePicker">
                    <input type="date" class="form-control" name="startDate" [(ngModel)]="startDateF">
                    <span class="input-group-addon add-on">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">End date</label>
            <div class="col-xs-5 dateContainer">
                <div class="input-group input-append date" id="endDatePicker">
                    <input type="date" class="form-control" name="endDate" [(ngModel)]="endDateF">
                    <span class="input-group-addon add-on">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        </form>
        <br>
        <br>
        <br>
    </div>

</div>