<div class="container" style="width: 950px">
  <div class="alert alert-success" *ngIf="success">
    <strong>Success!</strong> You have Successfully Added a Plan!
  </div>
  <div class="alert alert-danger" *ngIf="error">
      <strong>Error!</strong> Try Again Later!
    </div>
  <div class="alert alert-success" *ngIf="update">
      <strong>Updated!</strong> You have Successfully Updated!
    </div>
  <h2 *ngIf="type.type==1">Project Activities Implemented by PMU {{month.month}} {{year.year.name}}</h2>
  <h2 *ngIf="type.type==2">Project Activities Implemented by PHDT {{month.month}} {{year.year.name}}</h2>
  <form [formGroup]="annualPlan">
    <div *ngIf="type.type==1" class="ui-g">
        <div  class="ui-g-6">National Census on ECD centers</div>
        <div class="ui-g-6">
          <input type="number" style="width:30%" [(ngModel)]="annualPlanData.census" name="census" class="form-control" formControlName="census"
            required>
         
        </div>

        <div  class="ui-g-6">Teaching-Learning Materials for ECD centers</div>
        <div class="ui-g-6">
          <input type="number" style="width:30%" [(ngModel)]="annualPlanData.learningMaterials" name="learningMaterials" class="form-control" formControlName="learningMaterials"
            required>
         
        </div>

        <div  class="ui-g-6">Support to ECD Centers in conducting annual Child Development Assessments (CDA)</div>
        <div class="ui-g-6">
          <input type="number" style="width:30%" [(ngModel)]="annualPlanData.childAss" name="childAss" class="form-control" formControlName="childAss"
            required>
         
        </div>

        <div  class="ui-g-6">Tuition Fee Support for Poor ECD Students</div>
        <div class="ui-g-6">
          <input type="number" style="width:30%" [(ngModel)]="annualPlanData.feeWaiver" name="feeWaiver" class="form-control" formControlName="feeWaiver"
            required>
         
        </div>

        <div  class="ui-g-6">Facility Improvement Grants for ECD centers</div>
        <div class="ui-g-6">
          <input type="number" style="width:30%" [(ngModel)]="annualPlanData.fig" name="fig" class="form-control" formControlName="fig"
            required>
         
        </div>
        <div  class="ui-g-6">Development of ECD Resource Centers in Provinces</div>
        <div class="ui-g-6">
          <input type="number" style="width:30%" [(ngModel)]="annualPlanData.ecdResource" name="ecdResource" class="form-control" formControlName="ecdResource"
            required>
         
        </div>

        <div  class="ui-g-6">Establishment of new ECD Centers</div>
        <div class="ui-g-6">
          <input type="number" style="width:30%" [(ngModel)]="annualPlanData.ecdCenter" name="ecdCenter" class="form-control" formControlName="ecdCenter"
            required>
         
        </div>

      <div  class="ui-g-6">TOT for Master Trainers on ECD</div>
      <div class="ui-g-6">
        <input type="number" style="width:30%" [(ngModel)]="annualPlanData.masterTrainer" name="masterTrainer" class="form-control" formControlName="masterTrainer"
          required>
       
      </div>

      <div class="ui-g-6">ECD Certificate/ Diploma Courses for ECD Teachers</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.longTerm" name="longTerm" class="form-control" formControlName="longTerm"
          required>
      
      </div>

      <div class="ui-g-6">Short-term Standardized Training for ECD Teachers</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.shortTerm" name="shortTerm" class="form-control" formControlName="shortTerm"
          required>
     
      </div>

      <div class="ui-g-6">Parental Awareness Sessions</div>
      <div class="ui-g-6">
        <input type="number"style="width: 30%" [(ngModel)]="annualPlanData.parentalAwareness" name="parentalAwareness" class="form-control" formControlName="parentalAwarenes"
          required>
      
      </div>
      <div class="ui-g-6">Periodic ECD Teacher Interactions </div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.periodPreSchool" name="periodPreSchool" class="form-control" formControlName="periodPreSchool"
          required>
      
      </div>
      <div class="ui-g-6">Staff Capacity</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.staffCapacity" name="staffCapacity" class="form-control" formControlName="staffCapacity"
          required>
       
      </div>
      <div class="ui-g-6">ECD Training for Administrative Staff</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.adminStaff" name="adminStaff" class="form-control" formControlName="adminStaff"
          required>
       
      </div>
      <div class="ui-g-6">Periodic ECD Teacher Interactions </div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.headOrientation" name="headOrientation" class="form-control" formControlName="headOrientation"
          required>
       
      </div>

      <div class="ui-g-6">Establishment of ECD Sector Management of Information System (MIS) </div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.mis" name="mis" class="form-control" formControlName="mis"
          required>
       
      </div>

      <div class="ui-g-6">Establishment of Provincial ECD Center Registration System</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.ecdCenterReg" name="adminStaff" class="form-control" formControlName="adminStaff"
          required>
       
      </div>

      <div class="ui-g-6">Community Monitoring, Evaluation & Oversight in Provinces through Social Audits</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.socialAudit" name="socialAudit" class="form-control" formControlName="socialAudit"
          required>
       
      </div>

    </div>
    <div *ngIf="type.type==2" class="ui-g">
      

      <div class="ui-g-6">Replacement of CDCs in the Plantations</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.newCdc" name="newCdc" class="form-control" formControlName="newCdc"
          required>
      
      </div>

      <div class="ui-g-6">Renovation of CDCs in the Plantations</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.renCdc" name="renCdc" class="form-control" formControlName="renCdc"
          required>
     
      </div>

      <div class="ui-g-6">Construction of New Play Areas in the Plantations</div>
      <div class="ui-g-6">
        <input type="number"style="width: 30%" [(ngModel)]="annualPlanData.newPlay" name="newPlay" class="form-control" formControlName="newPlay"
          required>
      
      </div>
      <div class="ui-g-6">Upgrading Existing Play Areas in the Plantations</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.renPlay" name="renPlay" class="form-control" formControlName="renPlay"
          required>
      
      </div>
      <div class="ui-g-6">ECD Diploma Program for CDOs in the Plantations</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.diplomaPhdt" name="diplomaPhdt" class="form-control" formControlName="diplomaPhdt"
          required>
       
      </div>
      <div class="ui-g-6">Advance Refresher Training for CDOs in the Plantations</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.refresherTraining" name="refresherTraining" class="form-control" formControlName="refresherTraining"
          required>
       
      </div>
      <div class="ui-g-6">Parental Awareness Sessions in the Plantations</div>
      <div class="ui-g-6">
        <input type="number" style="width: 30%" [(ngModel)]="annualPlanData.parentalPhdt" name="adminStaff" class="form-control" formControlName="parentalPhdt"
          required>
       
      </div>

    </div>

    <!-- <h2>Activities </h2>
    <div class="ui-g">
      <div class="ui-g-6">PMU</div>
      <div class="ui-g-6">
       
        <input type="number" style="width:30%" [(ngModel)]="annualPlanData.pmu" name="pmu" class="form-control" formControlName="periodPreSchool" required>
      </div>

      <div class="ui-g-6">PHDT</div>
      <div class="ui-g-6">
     
        <input type="number" style="width:30%" [(ngModel)]="annualPlanData.phdt" name="phdt" class="form-control" formControlName="periodPreSchool"
          required>
      </div>


    </div> -->
    <br>
    <div class="pull-right">
        <button pButton label="Save" icon="fa fa-save" type="submit" *ngIf= "annualPlanData.dateInserted == null" (click)="saveDetails()"></button>
        <button  pButton label="Save Changes" icon="fa fa-save" type="submit"  *ngIf= "annualPlanData.dateInserted != null" (click)="updateDetails()"></button>
    </div>
    <br>
  </form>
</div>

