<div class="container">
  <div class="page-title">
    <h2>Staff Capacity Building Program
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openView(1,null)">Add New Program</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">





    <p-dataTable [value]="buildingList" [loading]="loading" [rows]="10" [paginator]="true">

      <p-column [style]="{'text-align':'center'}">

        <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="Add Participant" type="button" pButton (click)="openAddParticipant(training.programId)"></button>

        </ng-template>

      </p-column>
      <!-- <p-column [style]="{'text-align':'center'}">

        <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="View" type="button" pButton (click)="openView('view',training)"></button>

        </ng-template>

      </p-column> -->
      <p-column [style]="{'text-align':'center'}">

        <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="View" type="button" pButton (click)="openView(2,training)"></button>

        </ng-template>

      </p-column>

      <p-column [style]="{'text-align':'center'}" field="programId" header="Program ID" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="programName" header="Program Name" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="description" header="Description" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="programArea" header="Program Area" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="locationName" header="Location" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="venue" header="Venue" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="startDate" header="Start Date" [filter]="true" filterPlaceholder="Search">
          <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
        </p-column>
        <p-column [style]="{'text-align':'center'}" field="endDate" header="End Date" [filter]="true" filterPlaceholder="Search">
          <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
        </p-column>
      <p-column [style]="{'text-align':'center'}" field="status" header="Status">
        <ng-template let-col let-training="rowData" pTemplate="body">
          <span class="glyphicon glyphicon-remove" *ngIf="training[col.field]==2"> </span>
          <span class="glyphicon glyphicon-ok" *ngIf="training[col.field]==1"> </span>
        </ng-template>

      </p-column>

    </p-dataTable>

  </div>
</div>


<div bsModal #viewProgram="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form [formGroup]="programForm">
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="viewProgram.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Add New Program</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Created a Program!
        </div>
        <div class="alert alert-danger" *ngIf="error">
          <strong>Error!</strong>Try Again Later!
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="template">Program Name</label>
            <input *ngIf="viewParam==1" type="text" [(ngModel)]="programData.program.programName" name="adminstaffDetail.programName" class="form-control"
              formControlName="programName" required>
              <input *ngIf="viewParam==2" disabled type="text" [(ngModel)]="programData.program.programName" name="adminstaffDetail.programName" class="form-control"
              formControlName="programName" required>
          </div>

          <div class="form-group">
            <label for="template">Description</label>
            <input *ngIf="viewParam==1" type="text" [(ngModel)]="programData.program.description" name="adminstaffDetail.description" class="form-control"
              formControlName="description" required>
              <input *ngIf="viewParam==2" disabled type="text" [(ngModel)]="programData.program.description" name="adminstaffDetail.description" class="form-control"
              formControlName="description" required>
          </div>

          <div class="form-group">
            <label for="template">Start Date</label>
            <input *ngIf="viewParam==1" type="date" [(ngModel)]="programData.program.startDate" name="adminstaffDetail.startDate" class="form-control" required
              formControlName="startDate">
              <input *ngIf="viewParam==2" disabled type="date" [(ngModel)]="programData.program.startDate" name="adminstaffDetail.startDate" class="form-control" required
              formControlName="startDate">
          </div>

          <div class="form-group">
            <label for="template">End Date</label>
            <input *ngIf="viewParam==1" type="date" [(ngModel)]="programData.program.endDate" name="adminstaffDetail.endDate" class="form-control" required
              formControlName="endDate">
              <input *ngIf="viewParam==2" disabled type="date" [(ngModel)]="programData.program.endDate" name="adminstaffDetail.endDate" class="form-control" required
              formControlName="endDate">
          </div>

          <label  *ngIf="viewParam==1" for="template">Location</label>
          <p-tree  *ngIf="viewParam==1" [value]="files" [loading]="loading" (onNodeSelect)="nodeSelected($event)" selectionMode="single" [(selection)]="selectedFile"
            (onNodeExpand)="nodeSelect($event)"></p-tree>

          <br>

          <div class="form-group">
            <label for="template">Location</label>
            <input  *ngIf="viewParam==1" type="text" disabled [(ngModel)]="programData.program.locationName" name="adminstaffDetail.locationName" class="form-control"
              formControlName="location" required>
              <input  *ngIf="viewParam==2" disabled type="text" disabled [(ngModel)]="programData.program.locationName" name="adminstaffDetail.locationName" class="form-control"
              formControlName="location" required>
          </div>

          <div class="form-group">
            <label for="template">Venue</label>
            <input  *ngIf="viewParam==1" type="text" [(ngModel)]="programData.program.venue" name="adminstaffDetail.venue" class="form-control" required formControlName="venue">
            <input  *ngIf="viewParam==2" disabled type="text" [(ngModel)]="programData.program.venue" name="adminstaffDetail.venue" class="form-control" required formControlName="venue">
          </div>

          <div class="form-group">
              <label for="template">Program Area</label>
              <select  *ngIf="viewParam==1" [(ngModel)]="selectedProgramArea" name="adminstaffDetail.status" class="form-control" formControlName="area">
                <option [ngValue]="1">M&E</option>
                <option [ngValue]="2">Project Management</option>
                <option [ngValue]="3">Social</option>
                <option [ngValue]="4">Procurement</option>
              </select>
              <input  *ngIf="viewParam==2" disabled type="text" [(ngModel)]="programData.program.programArea" name="adminstaffDetail.venue" class="form-control" required formControlName="area">
            </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select *ngIf="viewParam==1"  [(ngModel)]="programData.program.status" name="adminstaffDetail.status" class="form-control" formControlName="status">
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
            <input  *ngIf="viewParam==2&&programData.program.status==1" disabled type="text" value="Active" name="adminstaffDetail.st" class="form-control" required>
            <input  *ngIf="viewParam==2&&programData.program.status==2" disabled type="text" value="Inctive" name="adminstaffDetail.st" class="form-control" required >
          </div>

          <div  *ngIf="viewParam==1">
            <label for="template">Resource Person type</label>
            <select name="document.status" [(ngModel)]="rType" class="form-control" name="resourcePerson" formControlName="type">

              <option [ngValue]="1">Resource Pool</option>
              <option [ngValue]="2">Other</option>
            </select>

          </div>


          <div  *ngIf="viewParam==1" class="row">

            <div *ngIf="rType==1" class="col-sm-8">
              <br>
              <div class="form-group">
                <label for="template">Resource</label>
                <select [(ngModel)]="selectedResource" name="document.status" class="form-control" formControlName="resource">

                  <option [ngValue]="selectedResource" *ngFor="let selectedResource of resourceList" name="abc">{{selectedResource.resourceName}}</option>

                </select>
              </div>
            </div>


            <div *ngIf="rType==2" class="col-sm-4">
              <br>
              <label for="template">Resource Person</label>
              <input [(ngModel)]="selectedOtherResource.personName" type="text" class="form-control" name="selectedOther" required [formControl]="name">
            </div>

            <div *ngIf="rType==2" class="col-sm-4">
              <br>
              <label for="template">Remark</label>
              <input [(ngModel)]="selectedOtherResource.remarks" name="remarks" type="text" class="form-control" required [formControl]="remark">
            </div>
            <div class="col-sm-4">
              <br>
              <br>
              <button  *ngIf="viewParam==1" pButton icon="fa fa-plus" [disabled]="!name.valid&&rType==2" label="Add" (click)="addResourcePersons()"></button>

            </div>
          </div>

          <br>
          <div>




            <p-dataTable [style]="{'text-align':'center'}" [value]="selectedResourcePersonList" [immutable]="false">

              <p-column  *ngIf="viewParam==1" [style]="{'text-align':'center'}">
                <ng-template let-cri="rowData" pTemplate="body" let-col>
                  <button pButton class="ui-button-secondary" label="Remove" (click)=removeRows(cri)> </button>
                </ng-template>
              </p-column>


              <p-column [style]="{'text-align':'center'}" field="personName" header="Person Name"></p-column>
              <p-column [style]="{'text-align':'center'}" field="remarks" header="Remarks"></p-column>

              <p-column [style]="{'text-align':'center'}" field="coordinator" header="Coordinator">
                <ng-template let-col let-cri="rowData" pTemplate="body">

                  <input  *ngIf="viewParam==1" type="radio" name=radioCoordinator (change)=checked($event,cri)>
                  <input  *ngIf="viewParam==2&&cri[col.field]==1" disabled checked type="radio" name=radioCoordinator (change)=checked($event,cri)>
                  <span></span>
                </ng-template>

              </p-column>
            </p-dataTable>





          </div>
        </div>

        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->


          <button *ngIf="viewParam==1" type="submit" label="Save" pButton icon="fa fa-save" [disabled]="!programForm.valid" (click)="saveProgram(evt)"></button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--################ end form ################-->




<div bsModal #viewParticipant="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form>
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #F79423;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="viewParticipant.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">{{modelData.title}}</h4>
        </div>

        <div class="modal-body">

          <table class="table table-hover">
            <thead>
              <tr class="tbl-header">

                <th>Selected</th>
                <th>Participated</th>
                <th>Completed</th>
                <th></th>
                <th>NIC</th>
                <th>Name</th>

                <th>District/DS</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Gender</th>
                <th>Pre School</th>
                <th>No of Children</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let p of participantModel">

                <td>
                  <input type="checkbox">
                </td>
                <td>
                  <input type="checkbox">
                </td>
                <td>
                  <input type="checkbox">
                </td>
                <td>
                  <button class="btn btn-primary" (click)="editParticipant(p)">
                    Edit
                  </button>
                </td>
                <td>
                  <div class="col-sm-12 user-name"></div>


                </td>
                <td>
                  <div class="col-sm-12 user-name"></div>
                </td>

                <td>
                  <div class="col-sm-12 user-name"></div>
                </td>
                <td>
                  <div class="col-sm-12 user-name"></div>
                </td>
                <td>
                  <div class="col-sm-12 user-name"></div>
                </td>
                <td>
                  <div class="col-sm-12 user-name"></div>

                </td>
                <td>
                  <div class="col-sm-12 user-name"></div>
                </td>
                <td>
                  <div class="col-sm-12 user-name"></div>
                </td>

                <!-- <td>
                        <button class="btn btn-primary" (click)="getDbtId(a.sendId)">
                                View
                            </button>
                      </td> -->

              </tr>


            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->


          <button type="submit" *ngIf="viewParam=='NEW'" class="btn btn-success" (click)="saveCertificate()">Save</button>
          <button type="submit" *ngIf="viewParam=='EDIT'" class="btn btn-success" (click)="updateCertificate()">Save Changes</button>

        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>

<div bsModal #addParticipantView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90vw;height: 90vh">

        <div class="modal-content">


            <div class="modal-header" style="background-color: #A0A3A6;color: azure">

                <button type="button" class="close pull-right" (click)="addParticipantView.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Participants</h4>
            </div>

            <div class="modal-body" style="width: 90vw;height: 95vh">

                <app-registered-participant [program]="{programId:programId,'programType':'staff'}"></app-registered-participant>

            </div>



        </div>
    </div>
</div>