<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container"  >
    <div class="page-title">
        <h2>View Activity Categories
            <span> </span>
        </h2>
    </div>
    <div class="pull-right">
        <button class="btn btn-success" type="button" (click)="openCreateCategory()">Add New</button>
    </div>
    <br>
    <br>
    <br>

    <div class="panel panel-default">

        <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
        </div> -->
        <p-dataTable [style]="{'text-align':'center'}" [value]="activitycatModel" [rows]="10" [paginator]="true" [globalFilter]="gb"
            #dt>
          
            <p-column [style]="{'text-align':'center'}">
                <ng-template let-col let-cri="rowData" pTemplate="body" let-col>
                    <button pButton class="ui-button-secondary" label="View" (click)=getcatId(cri.categoryId)> </button>
                </ng-template>
            </p-column>

            <p-column [style]="{'text-align':'center'}" field="categoryId" header="Category Id" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="categoryName" header="Category Name" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="totalBudget" header="Total Budget" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="status" header="Status">
                <ng-template let-col let-cri="rowData" pTemplate="body">

                    <!-- <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
                    <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
                    <span></span> -->
                    <select class="form-control" [(ngModel)]="cri.status" (change)="setStatus(cri)">
                        <option [ngValue]="1">Active</option>
                        <option [ngValue]="2">Inactive</option>
                    </select>
                </ng-template>

            </p-column>
        </p-dataTable>
    </div>



    <div bsModal #addActivity="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 60vw">

            <div class="modal-content">
                <form [formGroup]="activityForm">

                    <div class="modal-header" style="background-color: #A0A3A6;color: azure">

                        <button type="button" class="close pull-right" (click)="addActivity.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 class="modal-title">Add New Activity Category</h4>
                    </div>
                    <div class="alert alert-success" *ngIf="success">
                        <strong>Success!</strong> You have Successfully Added a Category!
                    </div>
                    <div class="modal-body">

                            <div class="form-group" *ngIf="userId==1">
                                    <label for="template">Category Type</label>
                                    <select [(ngModel)]="selectedType" formControlName="type" name="type" style="width: 400px" class="form-control">
                                        <option [ngValue]="1">PHDT</option>
                                        <option [ngValue]="2">PMU</option>
                                    </select>
                                </div>

                        <div class="form-group">
                            <label for="template">Category Name</label>
                            <input type="text" style="width: 400px" [(ngModel)]="activitycataddModel.categoryName" name="materialDetailNew.categoryName"
                                class="form-control" formControlName="categoryName" required>
                        </div>
                       

                        <div class="form-group">
                            <label for="template">Total Budget Value</label>
                            <input *ngIf="userId==2||(selectedType==2&&userId==1)" type="number" style="width: 400px" [(ngModel)]="totalBudgetVal" name="budgetallocationModel.totalBudget"
                                class="form-control" formControlName="totalBudget" required>
                            <input *ngIf="userId==3||(userId==1&&selectedType==1)" disabled type="number" style="width: 400px" [(ngModel)]="totalBudgetVal" name="budgetallocationModel.totalBudget"
                                class="form-control" formControlName="totalBudget" required>

                        </div>


                        <button [disabled]="activityForm.invalid&&(userId=='2'||(selectedType==2&&userId==1))" type="button" pButton label="Add Budget"
                             (click)="addBudget()" icon="fa fa-plus"></button>

                        <br>
                        <br>
                        <p-dataTable [style]="{'text-align':'center'}" [value]="selectedBudgetFieldLIst" [immutable]=false>

                            <p-column [style]="{'text-align':'center'}">
                                <ng-template let-col let-cri="rowData" pTemplate="body" let-col>
                                    <button pButton class="ui-button-secondary" label="Remove" (click)=removeRow(cri)> </button>
                                </ng-template>
                            </p-column>

                            <p-column [style]="{'text-align':'center'}" field="fieldName" header="Budget Name"></p-column>
                            <p-column [style]="{'text-align':'center'}" field="budgetValue" header="Budget Value"></p-column>

                        </p-dataTable>





                        <br>

                        <button *ngIf="userId=='3'||(userId==1&&selectedType==1)" type="button" icon="fa fa-plus" pButton label="Add Milestone" 
                            (click)="addMilestone()"></button>


                        <br>
                        <br>

                        <p-dataTable [style]="{'text-align':'center'}" [value]="milestoneListForShowList" [immutable]=false>

                            <p-column *ngIf="userId=='3'||(userId==1&&selectedType==1)" [style]="{'text-align':'center'}">
                                <ng-template let-col let-cri="rowData" pTemplate="body" let-col>
                                    <button type="button" pButton class="ui-button-secondary" label="Remove" (click)=removeRowM(cri)> </button>
                                </ng-template>
                            </p-column>

                            <p-column [style]="{'text-align':'center'}" field="milestoneId" header="Milestone Id"></p-column>
                            <p-column [style]="{'text-align':'center'}" field="milestoneName" header="Milestone Name"></p-column>
                            <p-column [style]="{'text-align':'center'}" field="documentCatList" header="Documents Added">
                                <ng-template let-col let-cri="rowData" pTemplate="body" let-col>
                                    <span *ngFor="let a of cri[col.field];let i= index">{{i+1}}.{{a.documentName}}
                                        <br>
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column [style]="{'text-align':'center'}">
                                <ng-template let-col let-cri="rowData" pTemplate="body" let-col>
                                    <button type="button" pButton label="Add Documents" class="btn btn-primary" (click)="addDocument(cri.milestoneId)"></button>
                                </ng-template>
                            </p-column>

                        </p-dataTable>



                    </div>



                    <div class="modal-footer">
                        <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

                        <!-- <button type="reset" class="btn btn-default" (click)="addActivity.hide()">Close</button> -->
                        <button type="button" pButton label="Save" [disabled]="!activityForm.valid" (click)="createCategory(evt)"></button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>
    <!--   End Packs Modal-->
    <!--End Create Category-->

    <!-- Start addBudgetModal-->
    <div bsModal #addBudgetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog " style="width:500px">

            <div class="modal-content">
                <form>
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                        <button type="button" class="close pull-right" (click)="addBudgetModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 class="modal-title">Add Budget</h4>
                    </div>
                    <div class="modal-body">


                        <div class="form-group">

                            <select class="form-control" [(ngModel)]="selectedBudget" name="budget-{{in}}">
                                <option [ngValue]="selectedBudget" *ngFor="let selectedBudget of budgetArrayForGrid">{{selectedBudget.fieldName}}</option>
                            </select>
                            <button type="button" class="btn btn-primary pull-right" (click)="addBudgettoSelectedList()">Add Budget</button>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

                        <!-- <button type="button" class="btn btn-success" (click)="addBudgetModal.hide()">Cancel</button> -->
                        <!-- <button type="button" class="btn btn-success" (click)="addBudgettoSelectedList()">Add</button> -->
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>

    <div bsModal #addMilestoneModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog " style="width:500px">

            <div class="modal-content">
                <form>

                    <div class="modal-header" style="background-color: #A0A3A6;color: azure">

                        <button type="button" class="close pull-right" (click)="addMilestoneModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 class="modal-title">Add Milestone</h4>
                    </div>
                    <div class="modal-body">


                        <div class="form-group">

                            <select class="form-control" [(ngModel)]="selectedMilestone" name="budget-{{in}}">
                                <option [ngValue]="selectedMilestone" *ngFor="let selectedMilestone of milestoneArrayForGrid">{{selectedMilestone.milestoneName}}</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary pull-right" (click)="addMilestonestoGrid()">Add Milestone</button>

                    </div>
                    <div class="modal-footer">

                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- End addMilestoneModal-->

    <!--Start Edit Category-->

    <div bsModal #editActivity="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <form>
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                        <button type="button" class="close pull-right" (click)="editActivity.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 class="modal-title">View Activity Category</h4>
                    </div>
                    <div class="modal-body">

                        <!--<div class="form-group">
                            <label for="template">Learning Center</label>
                            <select [(ngModel)]="activitycatModel.Name" (change)="onChange($event.target.value)" name="activitycatModel.Name" class="form-control">
                <option *ngFor="let x of activitycatModel"  [ngValue]="x.categoryId">{{x.categoryName}}</option>
              </select>
                        </div>-->

                        <div class="form-group">
                            <label for="template">Category Name</label>
                            <input type="text" disabled [(ngModel)]="activitycatEditModel.categoryName" name="materialDetailNew.categoryName" class="form-control"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="template">Total Budget Value</label>
                            <input type="number" disabled [(ngModel)]="activitycatEditModel.totalBudget" name="budgetallocationModel.totalBudget" class="form-control"
                                required>

                            <!-- <div class="col-sm-4">
                                <button class="btn btn-primary" style="height: 35px;margin-top: 23px;margin-left:450px" (click)="addBudget()">Add</button>

                            </div> -->
                        </div>

                        <p-dataTable [style]="{'text-align':'center'}" [value]="budgetArrayForGrid" [immutable]=false>

                            <!-- <p-column [style]="{'text-align':'center'}">
                                <ng-template let-col let-cri="rowData" pTemplate="body" let-col>
                                    <button pButton class="ui-button-secondary" label="Remove" (click)=removeRow(cri)> </button>
                                </ng-template>
                            </p-column> -->

                            <p-column [style]="{'text-align':'center'}" field="fieldName" header="Budget Allocation FIeld Name"></p-column>
                            <p-column [style]="{'text-align':'center'}" field="budgetValue" header="Budget Value"></p-column>

                        </p-dataTable>


                        <br>




                        <p-dataTable [style]="{'text-align':'center'}" [value]="milestoneArrayForGrid" [immutable]=false>


                            <p-column [style]="{'text-align':'center'}" field="milestoneId" header="Milestone Id"></p-column>
                            <p-column [style]="{'text-align':'center'}" field="milestoneName" header="Milestone Name"></p-column>
                            <p-column [style]="{'text-align':'center'}" field="documentList" header="Documents Added">
                                <ng-template let-col let-cri="rowData" pTemplate="body" let-col>
                                    <span *ngFor="let a of cri[col.field];let i= index">{{i+1}}.{{a.documentName}}
                                        <br>
                                    </span>
                                </ng-template>
                            </p-column>


                        </p-dataTable>



                    </div>



                    <div class="modal-footer">
                        <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

                        <!-- <button type="reset" class="btn btn-default" (click)="editActivity.hide()">Close</button> -->

                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>

    <!--End Edit Category-->



    <div bsModal #createDocument="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog " style="width:500px">
            <div class="modal-content">
                <form>
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                        <button type="button" class="close pull-right" (click)="createDocument.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Add Document</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="template">Document</label>
                            <select [(ngModel)]=selectedDocument class="form-control" name="document">
                                <option [ngValue]="selectedDocument" *ngFor="let selectedDocument of documentList">{{selectedDocument.documentName}}</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary pull-right" (click)="addDocumentsToGrid()">Add</button>

                    </div>
                    <div class="modal-footer">

                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>






    <!--   End User Modal-->