<div class="container"style="width: 40vw">
  <h2>Training Programs {{month.month}} {{year.year.name}}</h2>

  <div class="ui-g">
    <div class="ui-g-4">Master Trainer</div>
    <div class="ui-g-4">
      <p-progressBar [value]="masterVal" (click)="Open('mastertrainer')"></p-progressBar>
    </div>
    <div class="ui-g-4"></div>
   
    <div class="ui-g-4">Long Term</div>
    <div class="ui-g-4">
      <p-progressBar [value]="longTermVAl"  (click)="Open('longterm')"></p-progressBar>
    </div>
    <div class="ui-g-4"></div>
   
    <div class="ui-g-4">Short Term</div>
    <div class="ui-g-4">
      <p-progressBar [value]="shortTermVal" (click)="Open('shortterm')" ></p-progressBar>
    </div>
    <div class="ui-g-4"></div>
    
    <div class="ui-g-4">Parental Awarenes</div>
    <div class="ui-g-4">
      <p-progressBar [value]="parentalVal" (click)="Open('parental')" ></p-progressBar>
    </div>
    <div class="ui-g-4"></div>

    <div class="ui-g-4">Period Pre School</div>
    <div class="ui-g-4">
      <p-progressBar [value]="periodVal" (click)="Open('period')"></p-progressBar>
    </div>
    <div class="ui-g-4"></div>

    <div class="ui-g-4">Staff Capacity</div>
    <div class="ui-g-4">
      <p-progressBar [value]="staffVale" (click)="Open('staff')"></p-progressBar>
    </div>
    <div class="ui-g-4"></div>

    <div class="ui-g-4">Admin Staff</div>
    <div class="ui-g-4">
      <p-progressBar [value]="adminVal" (click)="Open('admin')"></p-progressBar>
    </div>
   <div class="ui-g-4"></div>

   <div class="ui-g-4">Head Orientation</div>
   <div class="ui-g-4">
     <p-progressBar [value]="headVAl" (click)="Open('head')"></p-progressBar>
   </div>
  <div class="ui-g-4"></div>

  </div>

  <h2>Activities </h2>
  <div class="ui-g">
    <div class="ui-g-4">PMU</div>
    <div class="ui-g-4">
      <p-progressBar [value]="pmuVal" (click)="openMap()"></p-progressBar>
    </div>
    <div class="ui-g-4"></div>
   
    <div class="ui-g-4">PHDT</div>
    <div class="ui-g-4">
      <p-progressBar [value]="phdtVal"></p-progressBar>
    </div>
    <div class="ui-g-4"></div>


  </div>
</div>


<div bsModal #viewDetails="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-md">

  <div class="modal-content">
 
      <!--########## start form ########-->
      <div class="modal-header" style="background-color: #F79423;color: azure">
      

        <h4 class="modal-title">{{model.title}}</h4>
      </div>
     
      <div class="modal-body">
        <div>
            <label>From Date</label>
            <p-calendar [(ngModel)]="fromDate" dateFormat="yy-mm-dd" (onSelect)="loadMasterList()" dataType="string"></p-calendar>
            <label>To Date</label>
            <p-calendar [(ngModel)]="toDate" dateFormat="yy-mm-dd" (onSelect)="loadMasterList()" dataType="string"  [minDate]="minDate"></p-calendar>
        </div>
        <br><br>
        <div class="ui-g">
            <div class="ui-g-4"><h3>Completed</h3></div>
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><h3>{{activityComplete.actual}}</h3></div>
            
            <div class="ui-g-12">

              <p-dataTable [value]="mastrList" [rows]="10" [paginator]="true">
                <p-column field="programId" header="Program ID"></p-column>
                <p-column field="programName" header="Program Name"></p-column>
                <p-column field="description" header="Description"></p-column>
                
            </p-dataTable>
            </div>
           
            <div class="ui-g-4"><h4>Pending</h4></div>
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><h4>{{activityComplete.planned-activityComplete.actual}}</h4></div>
            <div class="ui-g-4"><h4></h4></div>
            <div class="ui-g-4">Total</div>
            <div class="ui-g-4"><h4>{{activityComplete.planned}}</h4></div>
        </div>
        <div>
            
        </div>
          
      </div>
       
    <!--################ end form ################-->
  </div>
</div>
</div>
