<div class="container">
  <div class="page-title">
    <h2>Define Documents
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openCreateDocument()">Add New Document</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">

   

    <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div> -->
    <p-dataTable [style]="{'text-align':'center'}" [value]="documentsList" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
           <p-column [style]="{'text-align':'center'}">
        <ng-template let-cri="rowData" pTemplate="body" let-col>
          <button pButton class="ui-button-secondary" label="Update" (click)=editDocument(cri)> </button>
        </ng-template>
      </p-column>

      <p-column [style]="{'text-align':'center'}" field="documentId" header="Id" [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="documentName" header="Document Name" [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="status" [style]="{'text-align':'center'}" header="Status">
        <ng-template let-col let-cri="rowData" pTemplate="body">

          <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
          <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
          <span></span>
        </ng-template>

      </p-column>
    </p-dataTable>



  </div>
</div>





<div bsModal #updateDocument="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form #f="ngForm" [formGroup]="documentForm" (ngSubmit)="updateDocumentAction(f)">
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="closeUpdateAction()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Update Document</h4>
        </div>

        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Updated a Document!
        </div>
        <div class="modal-body">





          <div class="form-group">
            <label for="template">Document ID</label>
            <input disabled [(ngModel)]="document.documentId" name="document.documentId" style="width: 400px" type="text" class="form-control" formControlName="docId">
          </div>

          <div class="form-group">
            <label for="template">Document Name</label>
            <input type="text" [(ngModel)]="document.documentName" name="document.documentName" style="width: 400px" class="form-control" formControlName="docName"
              required>
          </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select [(ngModel)]="document.status" name="document.status" class="form-control" style="width: 400px" formControlName="status">
              <!-- <select class="form-control">  -->
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          
          <button pButton label="Save Changes" [disabled]="!documentForm.valid" type="submit" ></button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>












<div bsModal #createDocument="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form #f="ngForm" [formGroup]="documentForm" (ngSubmit)="saveDocument(f)">
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="closeAction()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Add New Document</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Created a Document!
        </div>
        <div class="modal-body">


          <div class="form-group">
            <label for="template">Document Name</label>
            <input [(ngModel)]="document.documentName" name="document.documentName" style="width: 400px" placeholder="Document Name" type="text" class="form-control"
              formControlName="docName" required="true">
          </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select [(ngModel)]="document.status" name="document.status" class="form-control" style="width: 400px" formControlName="status">
              <!-- <select class="form-control">  -->
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

        
          <button pButton label="Save" type="submit" [disabled]="!documentForm.valid" ></button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>