<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top" style="margin-bottom: 0px;height: 62px">
  
  <div class="navbar-brand text-hide" href="#">
    <div class="row">
      
      <div class="col-sm-4">
          <img src="assets/icon/gov.png" style="height:60px; margin-Top:-5px; margin-left: -50px;">
        </div>
        <div class="col-sm-8">
            <img src="assets/img/logo.png" style="width: 200px; height:60px; margin-Top:-5px; margin-left: -60px;">
        </div>
    </div>
  </div>
 
  <ul class="nav navbar-nav navbar-right">

    
    <!-- <li><a href="#">{{userId}}</a></li> -->
    <!-- <li> <img src="assets/icon/loggeduser.png"></li> -->
   
      <li>
        <div class="row" style="text-align: center">
            <img style="border-radius: 50%;height:45px;width:60px" src="{{showImage}}">
        </div>
        <div class="row" style="text-align: center">
          
            <a style="color: white;font-size: 10pt">{{this.userData[0].firstName}} {{this.userData[0].lastName}}</a>
        </div>
         
    </li>
    <li><a href="#"></a></li>
    <li><a href="#"><button icon="fa fa-sign-out" pButton label="Log Out"></button></a></li>
       
  </ul>
</nav>


<!-- <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top" style="margin-bottom: 0px;height: 60px">
  <div class="container-fluid">
    <div class="nav-header">
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-xs-6">
              <a class="navbar-brand" href="#">
                <img alt="Brand" id="brand2" src="assets/img/GovLogo.png" class="img-responsive">
              </a>
            </div>
            <div class="col-xs-6">

              <a class="navbar-brand" href="#">
                <img alt="Brand" id="brand1" class="img img-responsive" src="assets/img/logo.png">
              </a>


            </div>
          </div>
        </div>
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="#">{{userId}}</a>
          </li>
          <li>
            <a>Welcome {{this.userData[0].userId}}</a>
          </li>
          <li>
            <a href="#">
              <button icon="fa fa-sign-out" pButton label="Log Out"></button>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav> -->