.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 110%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none; 
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}
.navbar-brand{
  margin-top: -11px;
}
.circle-image{
  margin-top: 6px;
  margin-left: 30px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.navbar-brand {
  margin-left: 35px;
}
.navbar-right{
  margin-right:35px;
}

.navbar-inverse {

  background: linear-gradient(-90deg, #41474E, #ffffff);
  border-color: #ffffff;
}


/* .navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 110%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none; 
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}
.navbar-brand{
  margin-top: -11px;
}
.circle-image{
  margin-top: 6px;
  margin-left: 30px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.navbar-brand {
  margin-left: 35px;
}
.navbar-right{
  margin-right:35px;
}

.navbar-inverse {
 
  background: linear-gradient(-90deg, #41474E, #ffffff);
  border-color: #ffffff;
} */