<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
  <div class="page-title">
    <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
    <h2>Master Trainer Programs
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-success" (click)="openCreateMaster(1)">Add New Program</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">





    <p-dataTable [value]="masterModel" [loading]="loading" [rows]="10" [paginator]="true">
     <p-column [style]="{'text-align':'center'}">
       <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="Add Participant" type="button" pButton (click)="openAddParticipant(training.masterId)"></button>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}">
        <ng-template let-col let-training="rowData" pTemplate="body">
          <button class="ui-button-secondary" label="View" type="button" pButton (click)="openCreateMaster(2,training.programId)"></button>
        </ng-template>
      </p-column>
      <!-- <p-column [style]="{'text-align':'center'}" field="masterId" header="Master ID" [filter]="true" filterPlaceholder="Search"></p-column> -->
      <p-column [style]="{'text-align':'center'}" field="programName" header="Program Name" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="description" header="Description" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="startDate" header="Start Date" [filter]="true" filterPlaceholder="Search">
        <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}" field="endDate" header="End Date" [filter]="true" filterPlaceholder="Search">
        <ng-template let-col let-car="rowData" pTemplate="body"> {{car[col.field]|date:'yyyy-MM-dd' }} </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}" field="budget" header="Budget Value" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="venue" header="Venue" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="medium" header="Medium">
        <ng-template let-col let-training="rowData" pTemplate="body">
          
              <span *ngIf="training.medium==1">Sinhala</span>
              <span *ngIf="training.medium==2">Tamil</span>
              <span *ngIf="training.medium==3">English</span>
           
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}" field="status" header="Status">
        <ng-template let-col let-training="rowData" pTemplate="body">
          <!-- <span class="glyphicon glyphicon-remove" *ngIf="training[col.field]==2"> </span>
          <span class="glyphicon glyphicon-ok" *ngIf="training[col.field]==1"> </span> -->
          <select [(ngModel)]="training.status" name="masterDetail.status" class="form-control" (change)="changeStatus(training)">
              <option [ngValue]="1">Pending</option>
              <option [ngValue]="2">InProgress</option>
              <option [ngValue]="3">Completed</option>
              <option [ngValue]="4">Canceled</option>
            </select>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>


  <div bsModal #makeMasterSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <form [formGroup]="programForm">
         
          <div class="modal-header" style="background-color: #A0A3A6;color: azure">
         
            <button type="button" class="close pull-right" (click)="makeMasterSetting.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h4 *ngIf="type==1" class="modal-title">Create Master Trainer Program</h4>
            <h4 *ngIf="type==2" class="modal-title">View Master Trainer Program</h4>
            <h4 *ngIf="type==3" class="modal-title">Update Master Trainer Program</h4>
          </div>
          <div class="alert alert-success" *ngIf="success">
            <strong>Success!</strong> You have Successfully Created a Program!
          </div>
          <div class="alert alert-danger" *ngIf="error">
            <strong>Error!</strong>Try Again Later!
          </div>

          <div class="modal-body">


            <div class="form-group">
              <label for="template">Program Name</label>
              <input *ngIf="type==1" type="text" [(ngModel)]="programData.program.programName" name="masterDetail.masterName" class="form-control" formControlName="programName" required>
              <input *ngIf="type==2" type="text" disabled [(ngModel)]="programData.program.programName" name="masterDetail.masterName" class="form-control" formControlName="programName" required>
            </div>

            <div class="form-group">
              <label for="template">Description</label>
              <input *ngIf="type==1" type="text" [(ngModel)]="programData.program.description" name="masterDetail.description" class="form-control" formControlName="description"  required>
              <input *ngIf="type==2" disabled type="text" [(ngModel)]="programData.program.description" name="masterDetail.description" class="form-control" formControlName="description"  required>
            </div>

            <div class="form-group">
              <label for="template">Start Date</label>
              <input *ngIf="type==1" type="date" [(ngModel)]="programData.program.startDate" name="programData.program.startDate" class="form-control" formControlName="startDate" required>
              <input *ngIf="type==2" disabled type="date" [(ngModel)]="programData.program.startDate" name="programData.program.startDate" class="form-control" formControlName="startDate" required>
            </div>

            <div class="form-group">
              <label for="template">End Date</label>
              <input *ngIf="type==1" type="date" [(ngModel)]="programData.program.endDate" name="programData.program.endDate" class="form-control" formControlName="endDate" required>
              <input *ngIf="type==2" disabled type="date" [(ngModel)]="programData.program.endDate" name="programData.program.endDate" class="form-control" formControlName="endDate" required>
            </div>

            <div class="form-group">
              <label for="template">Budgeted Value</label>
              <input *ngIf="type==1" type="number" [(ngModel)]="programData.program.budget" name="masterDetail.budgetedValue" class="form-control" formControlName="budget" required>
              <input *ngIf="type==2" disabled type="number" [(ngModel)]="programData.program.budget" name="masterDetail.budgetedValue" class="form-control" formControlName="budget" required>
            </div>
<!-- 
            <label for="template">Location</label>
            <p-tree [value]="files" [loading]="loading" (onNodeSelect)="nodeSelected($event)" selectionMode="single" [(selection)]="selectedFile"
              (onNodeExpand)="nodeSelect($event)"></p-tree>

            <br> -->

            <div class="form-group">
              <label for="template">Medium</label>
              <select *ngIf="type==1" [(ngModel)]="programData.program.medium" name="masterDetail.medium" class="form-control" formControlName="medium">
                <option [ngValue]="1">Sinhala</option>
                <option [ngValue]="2">Tamil</option>
                <option [ngValue]="3">English</option>
               
              </select>
              <input *ngIf="type==2&&programData.program.medium==1" disabled type="text" value="Sinhala" name="masterDetail.medium" class="form-control" formControlName="medium" required>
              <input *ngIf="type==2&&programData.program.medium==2" disabled type="text" value="Tamil" name="masterDetail.medium" class="form-control" formControlName="medium" required>
              <input *ngIf="type==2&&programData.program.medium==3" disabled type="text" value="English" name="masterDetail.medium" class="form-control" formControlName="medium" required>
            </div>

            <div class="form-group">
              <label for="template">Venue</label>
              <input *ngIf="type==1" type="text" [(ngModel)]="programData.program.venue" name="masterDetail.venue" class="form-control" required formControlName="venue">
              <input *ngIf="type==2" disabled type="text" [(ngModel)]="programData.program.venue" name="masterDetail.venue" class="form-control" required formControlName="venue">
            </div>
         
            <div class="form-group">
              <label for="template">Status</label>
              <select *ngIf="type==1" [(ngModel)]="programData.program.status" name="masterDetail.status" class="form-control" formControlName="status">
                <option [ngValue]="1">Pending</option>
                <option [ngValue]="2">InProgress</option>
                <option [ngValue]="3">Completed</option>
                <option [ngValue]="4">Canceled</option>
              </select>
              <input *ngIf="type==2" disabled type="text" [(ngModel)]="programData.program.status" name="masterDetail.status" class="form-control" required formControlName="venue">
            </div>

            <div *ngIf="type==1">
              <label for="template">Resource Person type</label>
              <select name="document.status" [(ngModel)]="rType" class="form-control" name="resourcePerson" formControlName="type">

                <option [ngValue]="1">Resource Pool</option>
                <option [ngValue]="2">Other</option>
              </select>

            </div>

            <div *ngIf="type==1" class="row">

              <div *ngIf="rType==1" class="col-sm-8">
                <br>
                <div class="form-group">
                  <label for="template">Resource</label>
                  <select [(ngModel)]="selectedResource" name="document.status" class="form-control" formControlName="resource" formControlName="resource">

                    <option [ngValue]="selectedResource" *ngFor="let selectedResource of resourceList" >{{selectedResource.resourceName}}</option>

                  </select>
                </div>
              </div>


              <div *ngIf="rType==2" class="col-sm-4">
                <br>
                <label for="template">Resource Person</label>
                <input [(ngModel)]="selectedOtherResource.personName" type="text" class="form-control" name="selectedOther" required [formControl]="name">
              </div>

              <div *ngIf="rType==2" class="col-sm-4">
                <br>
                <label for="template">Remark</label>
                <input [(ngModel)]="selectedOtherResource.remarks" name="remarks" type="text" class="form-control" required [formControl]="remark">
              </div>
              <div class="col-sm-4">
                <br>
                <br>
                <button pButton icon="fa fa-plus" [disabled]="!name.valid&&rType==2" label="Add" (click)="addResourcePersons()"></button>

              </div>
            </div>

            <br>
            <div>

              <p-dataTable [style]="{'text-align':'center'}" [value]="selectedResourcePersonList" [immutable]="false">

                <p-column *ngIf="type==1" [style]="{'text-align':'center'}">
                  <ng-template let-cri="rowData" pTemplate="body" let-col>
                    <button pButton class="ui-button-secondary" label="Remove" (click)=removeRows(cri)> </button>
                  </ng-template>
                </p-column>
               <p-column [style]="{'text-align':'center'}" field="personName" header="Person Name"></p-column>
                <p-column [style]="{'text-align':'center'}" field="remarks" header="Remarks"></p-column>

                <p-column [style]="{'text-align':'center'}" field="coordinator" header="Coordinator">
                  <ng-template let-col let-cri="rowData" pTemplate="body">

                    <input *ngIf="type==1" type="radio" name=radioCoordinator (change)=checked($event,cri)>
                    <input *ngIf="type==2&&cri.coordinator==1" checked disabled type="radio" name=radioCoordinator >
                    <span></span>
                  </ng-template>

                </p-column>
              </p-dataTable>
           </div>
          </div>

          <div class="modal-footer">

            <button *ngIf="type==1" type="button" pButton label="Save" [disabled]="!programForm.valid" icon="fa fa-save" (click)="createMasterProgram(evt)"></button>
          </div>
        </form>
        <!--################ end form ################-->
      </div>
    </div>
  </div>
  <!--   End Master Modal-->

  <!--#################Make Group Admin Setting Modal###############-->
  <!--<template #template>-->
  <div bsModal #updateMasterSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <form #adminSettingForm="ngForm" (ngSubmit)="btnUSubmit()">
          <!--########## start form ########-->
          <div class="modal-header" style="background-color: #02685E;color: azure">
            <button type="button" class="close pull-right" (click)="updateMasterSetting.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <!--<h4 class="modal-title" *ngIf="b">Update</h4>
          <h4 class="modal-title" *ngIf="a">View</h4>-->
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="template">Program Name</label>
              <input type="text" [(ngModel)]="masterDetail.masterName" name="masterDetail.masterName" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Description</label>
              <input type="text" [(ngModel)]="masterDetail.description" name="masterDetail.description" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Start Date</label>
              <input type="date" [(ngModel)]="d1" name="d1" class="form-control" required>

            </div>

            <div class="form-group">
              <label for="template">End Date</label>
              <input type="date" [(ngModel)]="d2" name="d2" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Budgeted Value</label>
              <input type="text" [(ngModel)]="masterDetail.budgetedValue" name="masterDetail.budgetedValue" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="template">Location</label>
              <input type="text" [(ngModel)]="masterDetail.location" name="masterDetail.location" class="form-control" required>
            </div>


            <div class="form-group">
              <label for="template">Status</label>
              <select [(ngModel)]="masterDetail.status" name="masterDetail.status" class="form-control">
                <option [value]='1'>Active</option>
                <option [value]='2'>Inactive</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <!--<span><img src="assets/inlineLoader.gif" *ngIf="updateUserLoade" style="width: 25px" /> </span>-->
            <button type="button" class="btn btn-default" (click)="updateMasterSetting.hide()">Close</button>
            <button type="button" class="btn btn-success" (click)="saveMasterChanges(event)">Save changes</button>
          </div>
        </form>
        <!--################ end form ################-->
      </div>
    </div>
  </div>
  <!--</template>-->


</div>



<div bsModal #addParticipantView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="width: 90vw;height: 90vh">

    <div class="modal-content">


      <div class="modal-header" style="background-color: #A0A3A6;color: azure">

        <button type="button" class="close pull-right" (click)="addParticipantView.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
        <h4 class="modal-title">Add Participants</h4>
      </div>

      <div class="modal-body" style="width: 90vw;height: 95vh" >

       <app-registered-participant [program]="{programId:programId,'programType':'mastertrainer'}"></app-registered-participant>

      </div>
      


    </div>
  </div>
</div>