<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
  <div class="page-title">
    <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
    <h2>Participant
      <span> </span>
    </h2>
  </div>
  <div class="pull-right">
    <button class="btn btn-success" (click)="openCreatePt()">Add New</button>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-default">

    <!--<img class="center-block" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
      <img class="center-block"  style="margin-top:20px" src="assets/img/loader2.gif" />-->

    <table class="table table-hover">
      <thead style="background-color: #000099;color: azure;box-shadow: 0px 5px 15px#000099">
        <tr class="tbl-header">
          <th></th>
          <th>NIC</th>
          <th>Name</th>
          <th>District</th>
          <th>Telephone</th>
          <th>Gender</th>
          <th>School</th>

          <th>Status</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let p of parentalPtList">
          <!-- <td>
                  <button class="btn btn-primary" (click)="getProgramIdPt(p.programId)">
                    Add Teacher
                  </button>
                </td>-->
          <td>
            <button class="btn btn-primary" (click)="getPtId(p)">
              Edit Status
            </button>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{p.nic}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{p.name}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{p.district}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{p.telephoneNo}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{p.gender}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{p.learningCenterName}}</div>
          </td>

          <td>
            <span class="glyphicon glyphicon-ok" *ngIf="p.status==1"> </span>
            <span class="glyphicon glyphicon-remove" *ngIf="p.status==2"> </span>

          </td>
        </tr>
        <!--<span *ngIf="a.groupStatus.codeId==3">Active</span>
          <span *ngIf="a.groupStatus.codeId==2">Inactive</span>-->

      </tbody>
    </table>

  </div>

</div>

<!--   New Participant Modal-->
<div bsModal #makeParticipant="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form>
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #02685E;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="makeParticipant.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Add New </h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Created a Institute!
        </div>

        <div class="modal-body">

          <!--<div class="form-group">
                <label for="template">Material ID</label>
                <input type="text" [(ngModel)]="materialModel.materialId" name="materialModel.materialId" class="form-control" required>
            </div>-->

          <div class="form-group">
            <label for="template">Name</label>
            <input type="text" [(ngModel)]="parentalPtModel.name" name="parentalPtModel.name" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">Address</label>
            <input type="text" [(ngModel)]="parentalPtModel.address" name="parentalPtModel.address" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">District</label>
            <input type="text" [(ngModel)]="parentalPtModel.district" name="parentalPtModel.district" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">Telephone Number</label>
            <input type="text" [(ngModel)]="parentalPtModel.telephoneNo" name="parentalPtModel.telephoneNo" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">Gender</label>
            <select [(ngModel)]="parentalPtModel.gender" name="parentalPtModel.gender" class="form-control">
              <option [ngValue]="1">Male</option>
              <option [ngValue]="2">Female</option>
            </select>
          </div>

          <div class="form-group">
            <label for="template">Learning School</label>
            <input type="text" [(ngModel)]="parentalPtModel.learningCenterName" name="parentalPtModel.learningCenterName" class="form-control"
              required>
          </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select [(ngModel)]="parentalPtModel.status" name="parentalPtModel.status" class="form-control">
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
          </div>

          <!--<div class="form-group">
                <label for="template">Expiry Date</label>
                <input type="date"  class="form-control">
            </div>-->
        </div>

        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <button type="reset" class="btn btn-default" (click)="makeParticipant.hide()">Close</button>
          <button type="submit" class="btn btn-success" (click)="createOrPt(evt)">Save changes</button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>
<!--   End Participant Modal-->

<!--   Edit Participant Modal-->
<div bsModal #editParticipant="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form>
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #02685E;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="editParticipant.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Add New </h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Created a Institute!
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="template">NIC</label>
            <input type="text" [(ngModel)]="parentalPtModel.nic" name="parentalPtModel.nic" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">Name</label>
            <input type="text" [(ngModel)]="parentalPtModel.name" name="parentalPtModel.name" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">Address</label>
            <input type="text" [(ngModel)]="parentalPtModel.address" name="parentalPtModel.address" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">District</label>
            <input type="text" [(ngModel)]="parentalPtModel.district" name="parentalPtModel.district" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">Telephone Number</label>
            <input type="text" [(ngModel)]="parentalPtModel.telephoneNo" name="parentalPtModel.telephoneNo" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">Gender</label>
            <select [(ngModel)]="parentalPtModel.gender" name="parentalPtModel.gender" class="form-control">
              <option [ngValue]="1">Male</option>
              <option [ngValue]="2">Female</option>
            </select>
          </div>

          <div class="form-group">
            <label for="template">Learning School</label>
            <input type="text" [(ngModel)]="parentalPtModel.learningCenterName" name="parentalPtModel.learningCenterName" class="form-control"
              required>
          </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select [(ngModel)]="parentalPtModel.status" name="parentalPtModel.status" class="form-control">
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
          </div>

          <!--<div class="form-group">
              <label for="template">Expiry Date</label>
              <input type="date"  class="form-control">
          </div>-->
        </div>

        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <button type="reset" class="btn btn-default" (click)="editParticipant.hide()">Close</button>
          <button type="submit" class="btn btn-success" (click)="editOrPt(evt)">Save changes</button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>
<!--   End Edit Participant Modal-->