<div class="container">


  <br>
  <br>
  <br>

  <div class="panel panel-default">



    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div>
    <p-dataTable [style]="{'text-align':'center'}" [value]="locationList" [rows]="10" [paginator]="true" [globalFilter]="gb"
      #dt>
      <p-column [style]="{'text-align':'center'}">
        <ng-template let-cri="rowData" pTemplate="body" let-col>
          <button pButton class="ui-button-secondary" label="Show" (click)=openView(cri)> </button>
        </ng-template>
      </p-column>

      <p-column [style]="{'text-align':'center'}" field="activityDescription" header="Activity Description" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" field="learningCenter" header="Learning Center" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column [style]="{'text-align':'center'}" header="Progress">
        <ng-template let-col let-cri="rowData" pTemplate="body">
          <p-progressBar [value]="(cri.completedMilestones/cri.allMilestones)*100" (click)="showDialog(cri)"></p-progressBar>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align':'center'}" field="status" header="Status">
        <ng-template let-col let-cri="rowData" pTemplate="body">
          <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
          <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
        </ng-template>
      </p-column>
    </p-dataTable>





  </div>
</div>


<p-dialog header="All Milestones in Total" [(visible)]="display">
  <div class="ui-g">
    <div class="ui-g-6">
      <span>Completed</span>
    </div>
    <div class="ui-g-6">{{selectedActivity.completedMilestones}}</div>
    <div class="ui-g-6">
      <span>Pending</span>
    </div>
    <div class="ui-g-6">{{selectedActivity.allMilestones-selectedActivity.completedMilestones}}</div>
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <a (click)="openMilestone()">All issues {{selectedActivity.allMilestones}}</a>
    </div>
    <div class="ui-g-2"></div>
  </div>
</p-dialog>

<p-dialog header="All Milestones in Total" [(visible)]="displayMilestoneDetails" [width]="1500">
    <p-header>
        
    </p-header>
    <p-progressBar [value]="(selectedActivity.completedMilestones/selectedActivity.allMilestones)*100"></p-progressBar>
    <div class="ui-g">
      <div class="ui-g-4"><h2>{{selectedActivity.allMilestones}} Milestones in the Activity</h2></div>
      <div class="ui-g-4"><h2>{{selectedActivity.completedMilestones}} Completed Milestones</h2></div>
      <div class="ui-g-4"><h2>{{selectedActivity.allMilestones-selectedActivity.completedMilestones}} Pending Mielstones</h2></div>
    </div>

    <p-dataTable [style]="{'text-align':'center'}" [value]="this.activity.milestoneList">
    

    <p-column [style]="{'text-align':'center'}" field="milestoneName" header="Milestone Name"></p-column>
    <p-column [style]="{'text-align':'center'}" field="plannedStartDate" header="Planned Start Date" >
        <ng-template let-col let-cri="rowData" pTemplate="body">
            <span>
              {{cri[col.field]|date}}
            </span>
            
          </ng-template>
    </p-column>
    <p-column [style]="{'text-align':'center'}" field="plannedEndDate" header="Planned End Date" >
        <ng-template let-col let-cri="rowData" pTemplate="body">
            <span>
              {{cri[col.field]|date}}
            </span>
            
          </ng-template>
    </p-column>
    <p-column [style]="{'text-align':'center'}" field="actualStartDate" header="Actual Start Date" >
        <ng-template let-col let-cri="rowData" pTemplate="body">
            <span>
              {{cri[col.field]|date}}
            </span>
            
          </ng-template>
    </p-column>
    <p-column [style]="{'text-align':'center'}" field="actualEndDate" header="Actual End Date" >
        <ng-template let-col let-cri="rowData" pTemplate="body">
            <span>
              {{cri[col.field]|date}}
            </span>
            
          </ng-template>
    </p-column>
   
  
  </p-dataTable>
   
</p-dialog>