
.btn-primary{
    padding: 0 10%; 
    margin-top:10px;
    color: black;
        background:none;
  
    border-color: #757D75; 
        /* border-radius:0; */
}
.btn-success{
    background: #F79423;
    border-color: #F79423;
    color: #ffffff;
    /* border-radius:0; */
}

