<!--<p>
  forgotpassword works!
</p>-->

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


<!--<app-side-bar></app-side-bar>-->

<div class="container-fluid fill">

  <div class="col-md-4 col-xs-2"></div>
  <div class="col-md-4 col-xs-8 center-block">

    <div class="main_box">
      <div class="col-md-12 col-xs-12 login_box" align="center">
        <div class="wrapper"><img src="assets/img/reset.png" style="width: 100px; height:100px; margin-top: 50px;"/></div>
        <h1>Forgot Password ?</h1>
      </div>

      <div class="col-md-12 col-xs-12 login_control">
        <form>

          <div class="control">
           
            <input type="text" [(ngModel)]="userId" name="userId" class="form-control" placeholder="Username" required autofocus>

          </div>

          
          <div class="text-center">
            <button class="btn btn-green" (click)="resetlogin()" type="submit">Reset Password </button>
          </div>
          <div class="cssload-container" style="margin-top: 40px">
            <div class="cssload-whirlpool"></div>
          </div>

          <div class="alert alert-success" role="alert" *ngIf="loginFailMsg =='sent'">
            <strong>Password sent!</strong> Your password has been sent to your email address.
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="loginFailMsg =='Cannot send mail '">
             <strong>Something wrong!</strong> {{loginFailMsg}}.
          </div>
        </form>
      </div>
    </div>
     <p><a [routerLink]="['/login']">Login Page</a></p>
  </div>
  
 
  
</div>