<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
    <div class="page-title">
        <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
        <h2>User Management
            <span> </span>
        </h2>
    </div>
    <div class="pull-right">
        <button class="btn btn-success" (click)="openCreateUser()">Add New User</button>
    </div>
    <br>
    <br>
    <br>

    <div class="panel panel-default">

        <!--<img class="center-block" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
        <img class="center-block"  style="margin-top:20px" src="assets/img/loader2.gif" />-->
        <!--////////////////////////////-->

        <p-dataTable [value]="userModel" [rows]="15" [paginator]="true" [loading]="loading">
            <!-- <p-header>List of Users</p-header> -->
            <p-column styleClass="col-button" [style]="{'text-align':'center'}">
                <ng-template let-userModel="rowData" pTemplate="body">
                    <button class="ui-button-secondary" type="button" pButton (click)="getUserId(userModel)" label="Update"></button>
                    <br>
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" [style]="{'text-align':'center'}">
                <ng-template let-userModel="rowData" pTemplate="body">
                    <button class="ui-button-secondary" type="button" pButton (click)="getUserIdView(userModel)" label="View"> </button>
                </ng-template>
            </p-column>
            <p-column field="user.firstName" header="First Name" [filter]="true" [style]="{'text-align':'center'}" filterPlaceholder="Search"></p-column>
            <p-column field="user.lastName" header="Last Name " [filter]="true" [style]="{'text-align':'center'}" filterPlaceholder="Search"></p-column>
            <p-column field="user.userId" header="User ID" [filter]="true" [style]="{'text-align':'center'}" filterPlaceholder="Search"></p-column>
            <p-column field="user.designation" header="Designation" [filter]="true" [style]="{'text-align':'center','width':'150px'}"
                filterPlaceholder="Search"></p-column>
            <p-column field="user.telephoneNumber" header="Telephone" [filter]="true" [style]="{'text-align':'center'}" filterPlaceholder="Search"></p-column>
            <p-column field="user.email" header="Email Address" [filter]="true" [style]="{'text-align':'center','width':'200px'}" filterPlaceholder="Search"></p-column>
            <p-column field="user.userType" header="User Type" [filter]="true" [style]="{'text-align':'center'}" filterPlaceholder="Search"></p-column>
            <!--<p-column field="user.status" header="Status">
                <ng-template pTemplate="body">
                  
                </ng-template>
            </p-column>-->


            <p-column styleClass="col-button" [style]="{'text-align':'center'}" header="Header">
                <ng-template pTemplate="header">

                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">

                    <span class="glyphicon glyphicon-ok" *ngIf="car.user.status==1"> </span>
                    <span class="glyphicon glyphicon-remove" *ngIf="car.user.status==2"> </span>

                </ng-template>
            </p-column>

        </p-dataTable>
        <!--<table class="table table-hover">
            <thead style="background-color: #02685E;color: azure;box-shadow: 0px 5px 15px#02685E">
                <tr class="tbl-header">-->
        <!--<th></th>-->
        <!--<th></th>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>UserID</th>
                    <th>Designation</th>
                    <th>Telephone</th>-->
        <!--<th>Photograph</th>-->
        <!--<th>Email</th>
                    <th>User Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let a of userModel">-->
        <!--<td>-->
        <!--<div class="circle-user col-sm-1">{{myName}}</div>-->
        <!--</td>-->
        <!--<td>
                        <button class="btn btn-primary" (click)="getUserId(a)">
                            Update
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="getUserIdView(a)">
                            View
                        </button>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{a.user.firstName}}</div>-->
        <!--<div class="col-sm-12 user-email">{{a.user.userType}}</div>-->

        <!--</td>
                    <td>
                        <div class="col-sm-12 user-name">{{a.user.lastName}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{a.user.userId}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{a.user.designation}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{a.user.telephoneNumber}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{a.user.email}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{a.user.userType}}</div>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" *ngIf="a.user.status==1"> </span>
                        <span class="glyphicon glyphicon-remove" *ngIf="a.user.status==2"> </span>-->
        <!--<span class="glyphicon glyphicon-ok" *ngIf="c.status== 1"></span>-->
        <!--</td>
                </tr>-->
        <!--<span *ngIf="a.groupStatus.codeId==3">Active</span>
            <span *ngIf="a.groupStatus.codeId==2">Inactive</span>-->

        <!--</tbody>
        </table>-->



    </div>

    <!--   New User Modal-->
    <div bsModal #makeUserSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 60vw;height: 100vh">

            <div class="modal-content">
                <form [formGroup]="userForm">
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                        <button type="button" class="close pull-right" (click)="makeUserSetting.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 class="modal-title">Create User</h4>
                    </div>
                    <div class="alert alert-success"  *ngIf="success">
                        <strong>Success!</strong> {{msg}}
                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                        <strong>Error!</strong> {{msg}}.
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="template">UserID</label>
                            <input style="width:400px" placeholder="This will be the User ID of user. User should log with this User ID" type="text"
                                [(ngModel)]="newUserModel.user.userId" name="newUserModel.userId" class="form-control" formControlName="uid"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="template">First Name</label>
                            <input style="width:400px" type="text" [(ngModel)]="newUserModel.user.firstName" name="newUserModel.user.firstName" class="form-control"
                                formControlName="fname" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Last Name</label>
                            <input style="width:400px" type="text" [(ngModel)]="newUserModel.user.lastName" name="newUserModel.user.lastName" class="form-control"
                                formControlName="lname" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Designation</label>
                            <input style="width:400px" type="text" [(ngModel)]="newUserModel.user.designation" name="newUserModel.user.designation" formControlName="designation"
                                class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Telephone</label>
                            <input style="width:400px" type="number" [(ngModel)]="newUserModel.user.telephoneNumber" name="newUserModel.user.telephoneNumber"
                                formControlName="telephone" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Email</label>
                            <input style="width:400px" type="text" [(ngModel)]="newUserModel.user.email" name="newUserModel.user.email" formControlName="email"
                                class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="template">User Type</label>
                            <select style="width:400px" [(ngModel)]="newUserModel.userType" name="newUserModel.userType" formControlName="utype" class="form-control">
                                <option [ngValue]="1">ECD Admin</option>
                                <option [ngValue]="2">ECD Officer</option>
                                <option [ngValue]="3">PHDT User</option>
                                <option [ngValue]="4">Master Trainer</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="template">Status</label>
                            <select style="width:400px" [(ngModel)]="newUserModel.user.status" name="newUserModel.user.status" class="form-control" formControlName="status">
                                <option [ngValue]="1">Active</option>
                                <option [ngValue]="2">Inactive</option>
                            </select>
                        </div>





                        <!-- <input type="file" ng2FileSelect [uploader]="uploader" /> -->
                        <!-- <div class="col-md-9" style="margin-bottom: 40px">

                        <table class="table" style="margin-bottom: 5px">
                            <thead>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of uploader.queue">
                                    <td>
                                        <strong>{{ item?.file?.name }}</strong>
                                    </td>
                                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                    <td *ngIf="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                        <span *ngIf="item.isCancel">
                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                        </span>
                                        <span *ngIf="item.isError">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <div>

                        </div>

                    </div> -->
                        <br>







                        <!--<div class="form-group">
                        <label for="template">User Type</label>
                        <!--<input type="text" [(ngModel)]="newUserModel.user.status" name="newUserModel.user.status" class="form-control" required>-->
                        <!--<select class="form-control">-->
                        <!--<option>Active</option>
                        <option>Inactive</option>
                    </select>-->

                        <!--</div>-->



                        <!--<div class="form-group">
                        <label for="template">Expiry Date</label>
                        <input type="date"  class="form-control">
                    </div>-->
                    </div>

                    <div class="modal-footer">
                        <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

                        <!-- <button type="reset" class="btn btn-default" (click)="makeUserSetting.hide()">Close</button> -->
                        <button pButton label="Save" type="submit" [disabled]="!userForm.valid" (click)="createUser(evt)"></button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>
    <!--   End User Modal-->

    <!--#################Make Group Admin Setting Modal###############-->
    <div bsModal #makeGroupAdminSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 60vw;height: 100vh">

            <div class="modal-content">
                <form>
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                        <button type="button" class="close pull-right" (click)="makeGroupAdminSetting.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" *ngIf="b">Update</h4>
                        <h4 class="modal-title" *ngIf="a">View</h4>
                    </div>
                    <div class="alert alert-success" *ngIf="success">
                        <strong>Success!</strong> You have Successfully Updated the User!
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label for="template">UserID</label>
                                    <input style="width:400px" type="text" [disabled]="a" [(ngModel)]="user.user.userId" name="user.userId" class="form-control"
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="template">First Name</label>
                                    <input style="width:400px" type="text" [disabled]="a" [(ngModel)]="user.user.firstName" name="user.firstName" class="form-control"
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="template">Last Name</label>
                                    <input style="width:400px" type="text" [disabled]="a" [(ngModel)]="user.user.lastName" name="newUserModel.lastName" class="form-control"
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="template">Designation</label>
                                    <input style="width:400px" type="text" [disabled]="a" [(ngModel)]="user.user.designation" name="user.designation" class="form-control"
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="template">Telephone</label>
                                    <input style="width:400px" type="text" [disabled]="a" [(ngModel)]="user.user.telephoneNumber" name="user.telephoneNumber"
                                        class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="template">Email</label>
                                    <input style="width:400px" type="text" [disabled]="a" [(ngModel)]="user.user.email" name="user.email" class="form-control"
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="template">Status</label>
                                    <select style="width:400px" [disabled]="a" [(ngModel)]="user.user.status" name="user.status" class="form-control">
                                        <option [value]='1'>Active</option>
                                        <option [value]='2'>Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                    <!-- image display -->
                                    <img style="width:250px;height:300px;" src="{{showImage}}">
                            </div>
                        </div>



                        <label *ngIf="b" class="control-label">Select Photo</label>

                        <p-fileUpload *ngIf="b" name="myfile[]" url={{imageSavingURL}} (onUpload)="uploadImg($event)"></p-fileUpload>
                    </div>



                    <div class="modal-footer">
                        <!--<span><img src="assets/inlineLoader.gif" *ngIf="updateUserLoade" style="width: 25px" /> </span>-->
                        <!-- <button type="button" class="btn btn-default" (click)="makeGroupAdminSetting.hide()">Close</button> -->
                        <button icon="fa fa-save" type="button" pButton label="Save changes" *ngIf="!a" (click)="saveUserChanges(event)"></button>
                    </div>
                    <!-- <div class="alert alert-danger" role="alert" >
                <strong>AddingFailed!</strong> {{failMessage}}.
             </div> -->
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>

</div>

<!--<div bsModal #success class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">

            <div class="modal-header" style="background-color: #449D44; color: azure">
                <button type="button" class="close pull-right" (click)="success.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                <h4 class="modal-title">Operation Completed</h4>
            </div>
            <div class="modal-body">
                <p>{{successMessage}}</p>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" (click)="success.hide()">Close</button>
            </div>

        </div>
    </div>
</div>
-->
<div bsModal #fail class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">

            <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                <button type="button" class="close pull-right" (click)="fail.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Operation Failed!</h4>
            </div>
            <div class="modal-body">
                <p>{{failMessage}}</p>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" (click)="fail.hide()">Close</button>
            </div>

        </div>
    </div>
</div>