<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
  <div class="page-title">

    <h2>Business Structure Maintenance
      <span> </span>
    </h2>
  </div>

  <br>
  <br>
  <br>
  <!-- <div class="panel panel-default">
   <button (click)="collapseAll()">collapse all</button>
<tree-root #tree  [nodes]="bsVar" [focused]="true" [options]="options">
      <ng-template  #treeNodeTemplate let-node let-index="index">
        <span>{{node.data.bisId}}</span>
        <span>{{node.data.bisName}}</span>
        
      </ng-template>
    </tree-root>

    </div>

  


</div> -->
<div class="pull-right">
    <button pButton label="View Census Data" icon="fa fa-search" type="button" (click)="openDialog()"></button>
</div>
  <p-tree [loading]="loading" [value]="files" [style]="{'width':'80vw','font-size':'20pt','border-color': 'white'}" 
    selectionMode="single" [(selection)]="selectedFile" (onNodeExpand)="nodeSelect($event)"  [contextMenu]="cm">



  </p-tree>

  <br>
  <br>
  <!-- <button pButton class="btn btn-success" type="button" label="Add Level" (click)="addUser()"></button>
  <button pButton class="btn btn-success" type="button" label="Edit Level" (click)="addUser()"></button> -->
  <div bsModal #viewUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <!-- <form #f="ngForm" [formGroup]="documentForm" (ngSubmit)="saveDocument(f)"> -->
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <div class="alert alert-success" *ngIf="success">
            <strong>Success!</strong> You have Successfully Added a Stock!
          </div>

          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="viewUser.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Assign Users for Departments</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Added a User!
        </div>
        <div class="modal-body">

          <button pButton label="Assign User" (click)="getAllUsersLocation()"></button>

          <br>
          <br>
          <p-dataTable [style]="{'text-align':'center'}" [value]="userModel">


            <p-column [style]="{'text-align':'center'}" field="user.userId" header="User Id"></p-column>
            <p-column [style]="{'text-align':'center'}" field="user.firstName" header="User Name"></p-column>

          </p-dataTable>



        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <br>

        </div>

        <!--################ end form ################-->
      </div>
    </div>
  </div>

  <div bsModal #pickListView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <!-- <form #f="ngForm" [formGroup]="documentForm" (ngSubmit)="saveDocument(f)"> -->
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button class="btn btn-success" type="button" class="close pull-right" (click)="pickListView.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Assign Users for Departments</h4>
        </div>

        <div class="modal-body">

          <p-pickList [source]="userModel1" [target]="list2" sourceHeader="Available User ID" targetHeader="Selected" [responsive]="true"
            filterBy="brand" dragdrop="true" dragdropScope="cars" sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by brand"
            [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
            <ng-template let-car pTemplate="item">
              <div class="ui-helper-clearfix">
                <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48"> -->
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.user.userId}} </div>
              </div>
            </ng-template>
          </p-pickList>


        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <br>
          <button pButton label="Assign" type="submit" (click)="assignUser()" ></button>
        </div>

        <!--################ end form ################-->
      </div>
    </div>
  </div>

  <p-contextMenu #cm [model]="items"></p-contextMenu>

  <div bsModal #addDept="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <!-- <form #f="ngForm" [formGroup]="documentForm" (ngSubmit)="saveDocument(f)"> -->
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="closeAction()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Add New Department</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Created a Document!
        </div>
        <div class="modal-body">


          <div class="form-group">
            <label for="template">Department Name</label>
            <input  name="document.documentName" placeholder="Document Name" type="text" class="form-control">
          </div>

        

        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

        
          <button pButton label="Save" type="submit" class="btn btn-success"></button>
        </div>
      <!-- </form> -->
      <!--################ end form ################-->
    </div>
  </div>
</div>

<p-dialog header="Census Locations" [(visible)]="display" [width]="1000">
   <app-census-view></app-census-view>
</p-dialog>