
<div class="container" style="width: 500px">

    <div class="page-header" style="margin-top: 100px">
        <h2 style="color: grey">Material Stock Addition <span> </span></h2>
    </div>
    <div class="alert alert-success" *ngIf="success">
        <strong>Success!</strong> You have Successfully Added a Stock!
      </div>
      <form [formGroup]="materialStockForm" #f="ngForm" (ngSubmit)="AddStock(f)">
  <div class="form-group">
    <label for="template">Material Type</label>
    <select [(ngModel)]="selectedMaterial" name="selectedMaterial" class="form-control" formControlName="materialName">
        <!-- <select class="form-control">  -->
<option [ngValue]="selectedMaterial" *ngFor="let selectedMaterial of materialList">{{selectedMaterial.materialName}}-{{selectedMaterial.materia}}</option>

</select>
  </div>
   <div class="pull-right">
      <label for="template">Quantity Available</label>
      <label style="color: grey" for="template">{{selectedMaterial.quantity}}</label>
      

  </div>

  <div class="form-group">
      <label for="template">Quantity</label>
      <input type="number" [(ngModel)]="grnDetails.quantity" name="grnDetails.quantity"   class="form-control" formControlName="quantity" required="true" pattern="^[0-9]*[1-9][0-9]*$">

  </div>
 
  <div class="form-group">
      <label for="template">Date</label>
      <!-- <input type="date" [(ngModel)]="grnDetails.grnDate" name="grnDetails.grnDate" class="form-control" formControlName="date" required="true"> -->
      <p-calendar [(ngModel)]="selectedDate" dateFormat="dd-mm-yy" formControlName="date"  [maxDate]="maxDateVAlue"></p-calendar>

  </div>
  <div class="pull-right">
      <button type="submit" class="btn btn-success"  [disabled]="!materialStockForm.valid" >Add</button>
      

  </div>
</form>
  </div>