<div class="container">
  <div class="page-title">
    <h2>Receive Materials
      <span> </span>
    </h2>
  </div>


  <div class="panel panel-default">

    <!-- <table class="table table-hover table-striped">
      <thead style="background-color: #6C7A89;color: azure;box-shadow: 0px 5px 15px#6C7A89">
        <tr class="tbl-header">
          <th></th>
          <th>Description</th>
          <th>Learning Center</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of listOfreceievedLists">
          <td>
            <button class="btn btn-primary" (click)=openReceivedList(a)>
              Receieved
            </button>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.description}}</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">{{a.learningCenter}}</div>
          </td>
        </tr>
      </tbody>
    </table> -->


    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div>
    <p-dataTable [value]="listOfreceievedLists" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
      <p-column>
        <ng-template let-cri="rowData" pTemplate="body" let-col>
          <button pButton class="ui-button-secondary" label="Receive" (click)=openReceivedList(cri)> </button>
        </ng-template>
      </p-column>


      <p-column field="description" header="Description" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="learningCenter" header="Learning Center" [filter]="true" filterPlaceholder="Search"></p-column>

    </p-dataTable>


  </div>













  <div bsModal #receiveList="bs-modal" class="modal right fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px">

      <div class="modal-content">
        <form [formGroup]="receiveForm" #f="ngForm" (ngSubmit)="updateReceieved()">

          <div class="modal-header" style="background-color: #F79423;color: azure">



            <h4 class="modal-title">View Receive Materials</h4>
          </div>
          <div class="alert alert-success" *ngIf="success">
            <strong>Success!</strong> You have Successfully Added a Stock!
          </div>

          <div class="modal-body">
            <div class=".panel pull-right" style="margin-right: 200px">
              <label style="padding-left: 20px" *ngFor="let a of materialListforSHow">{{a.materialName}}</label>
              <br>


            </div>

            <div class="form-group">
              <label for="template">Description</label>
              <input type="text" disabled [(ngModel)]="receievedList.description" style="width: 300px" name="receievedList.description"
                class="form-control" required="true" formControlName="description">
              <!-- <input type="number" style="width: 300px" class="form-control" required="true"> -->
            </div>


            <div class="form-group">
              <label for="template">Learning Center</label>
              <input type="text" style="width: 300px" disabled [(ngModel)]="receievedList.learningCenter" name="receievedList.learningCenter"
                class="form-control" required="true" formControlName="learningcenter">
            </div>



            <div>




              <p-dataTable [value]="pList" [editable]="true" [immutable]="false">
                <p-column>
                  <ng-template let-cri="rowData" pTemplate="body" let-col>
                    <button pButton class="ui-button-secondary" label="Receive" (click)=showMaterials(cri)> </button>
                  </ng-template>
                </p-column>


                <p-column field="packId" header="Pack ID"></p-column>
                <p-column field="packName" header="Pack Name"></p-column>
                <p-column field="quantity" header="To be receievd Pack Quantity"></p-column>

                <p-column field="availablePackCount" header="Stock Quantity" [editable]="true">
                 
                </p-column>

                <!-- <div class="formGroup"> -->
                  <p-column  field="currentQty" header="Receievd Quantity" [editable]="true" [style]="{'overflow':'visible'}">
                    <!-- <ng-template let-cri="rowData" pTemplate="editor" let-col let-i="rowIndex"  > -->
                      <!-- <span [style]="{'display': 'block'}">
                          <input type="number" >
                      </span>
                       -->
                        
                    <!-- </ng-template> -->
                  </p-column>
                <!-- </div> -->

              </p-dataTable>

            </div>







          </div>

          <div class="modal-footer">


            <button type="button" class="btn btn-default" (click)="receiveList.hide()">Close</button>
            <button pButton type="sumbit" class="btn btn-success" label="Save Changes" [disabled]="!receiveForm.valid"></button>
          </div>
        </form>

      </div>
    </div>
  </div>