<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="loading-spinner" *ngIf="loadingMask">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="container">
  <div class="page-title">

    <h2>Fee Waiver Students
      <span> </span>
    </h2>

  </div>
  <hr>
  <form [formGroup]="selectForm">


    
    <div class="row">

      <div class="col-sm-3">
        <div class=" pull-left">
          <label class="radio-inline">
            <input type="radio" formControlName="radio1" name="radio1" [checked]="checked==1" [(ngModel)]="checked" (change)="changeLearningCenter($event)"
              value="1">Learning Center</label>


          <br>
          <br>
          <div *ngIf="checked==1" disabled class="form-group">
            <label for="template">Location</label>
            <p-tree [value]="files" [loading]="loading" [style]="{'border-color': 'white'}" (onNodeSelect)="nodeSelected($event)" selectionMode="single"
              [(selection)]="selectedFile" (onNodeExpand)="nodeSelect($event)"></p-tree>
            <br>
            <!-- <button type="button" icon="fa fa-plus" (click)="showLearningCenters.show()" pButton label="Add Learning Center"></button> -->


          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class=" pull-left">
          <label class="radio-inline">
            <input type="radio" formControlName="radio1" name="radio1" [(ngModel)]="checked" (change)="changeFIG($event)" value="2">FIG Selected</label>


          <div *ngIf="checked==2" disabled class="form-group">
            <!-- <label for="template">Location</label> -->
            <!-- <p-tree  [value]="files" (onNodeSelect)="nodeSelect($event)" selectionMode="single" [(selection)]="selectedFile" (onNodeExpand)="expand($event)">


            </p-tree> -->
            <br>
            <button type="button" icon="fa fa-plus" (click)="showLearningCenters.show()" pButton label="Add Learning Center"></button>


          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="pull-left">
          <label class="radio-inline">
            <input type="radio" formControlName="radio1" [(ngModel)]="checked" value="3" name="radio1" (click)="loadAllCriteraList()">Criteria Name</label>
          <br>
          <br>
          <div *ngIf="checked==3" disabled class="form-group">
            <label for="template">Criteria Name</label>
            <select formControlName="criteria" [(ngModel)]="selectedCriteria" name="selectedCriteria" class="form-control" (change)=changeAction()>
              <option [ngValue]="selectedCriteria" *ngFor="let selectedCriteria of criteriaList">{{selectedCriteria.criteriaName}} - {{selectedCriteria.criteriaId}}</option>
            </select>
          </div>
          <div *ngIf="checked==3" disabled class="form-group">


            <br>
            <button type="button" icon="fa fa-plus" (click)="showLearningCenters.show()" pButton label="Add Learning Center"></button>


          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="pull-left">
          <label class="radio-inline">
            <input type="radio" formControlName="radio1" [(ngModel)]="checked" value="4" name="radio1" (click)="othrChecked()">Other</label>
          <br>
          <br>

          <br>
          <div *ngIf="checked==4" disabled class="form-group">
          <button type="button" icon="fa fa-plus" (click)="addNewPreSchool()" pButton label="Add New Pre School"></button>
            </div>

        </div>
      </div>
    </div>




<hr>
<div class="form-group">
  <label for="template">Learning Center</label>
  <input disabled [(ngModel)]="selectedLearningCenter.name" (ngModelChange)="changingLearningCenter()" formControlName="learningCenter"
    class="form-control" style="width: 30%" type="text">
</div>


<!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
  </div> -->
<div class="pull-right">
  <button pButton label="Add New Student" [disabled]="selectedLearningCenter.name==null" class="btn btn-success" (click)="openCreateFeeWv()"></button>
  <br>
</div>

<br>
<br>
<p-dataTable [style]="{'text-align':'center'}" [value]="feeWaiverList" [rows]="10" [paginator]="true" [immutable]=false>
  <p-column [style]="{'text-align':'center'}">
    <ng-template let-cri="rowData" pTemplate="body" let-col>
      <button pButton class="ui-button-secondary" label="Update" (click)=editStudent(cri.student.studentId)> </button>
    </ng-template>
  </p-column>

  <p-column [style]="{'text-align':'center'}" field="student.studentId" header="Student Id" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column [style]="{'text-align':'center'}" field="student.name" header="Student Name" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column [style]="{'text-align':'center'}" field="student.regDate" header="Date of Registration" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column [style]="{'text-align':'center'}" field="student.leaveDate" header="Expected Date to be Leave" [filter]="true"
    filterPlaceholder="Search"></p-column>
  <p-column [style]="{'text-align':'center'}" field="student.gender" header="Gender">
    <ng-template let-col let-cri="rowData" pTemplate="body">
      <span *ngIf="cri.student.gender==1">Female</span>
      <span *ngIf="cri.student.gender==2">Male</span>
    </ng-template>

  </p-column>
  <p-column [style]="{'text-align':'center'}" field="student.status" header="Status">
    <ng-template let-col let-cri="rowData" pTemplate="body">
      <input type="checkbox" name="status" [checked]="cri.student.status==1" (change)="onChangeCheckBox(cri,$event.target.checked)">
      <span></span>
    </ng-template>

  </p-column>
</p-dataTable>
</form>
</div>




<div bsModal #addModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form [formGroup]="addForm">
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="addModel.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 *ngIf="taskType=='new'" class="modal-title">Add New Student</h4>
          <h4 *ngIf="taskType=='edit'" class="modal-title">Update Student</h4>
        </div>

        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong>{{msg}}
        </div>
        <div class="alert alert-danger" *ngIf="error">
          <strong>Error!</strong>{{msg}}
        </div>
        <div class="modal-body">

          <!-- <div class="form-group">
            <label for="template">Student ID</label>
            <input style="width: 50%" formControlName="id" type="text" [(ngModel)]="feeWaiverModel.studentId" name="feeWaiverModel.studentId"
              class="form-control" required>
          </div> -->
          <div class="form-group">
            <label for="template">Student Name</label>
            <input style="width: 50%" formControlName="name" type="text" [(ngModel)]="feeWaiverData.student.name" name="feeWaiverModel.name"
              class="form-control" required>

          </div>

          <div class="form-group">
            <label for="template">Date of Admission</label>
            <br>
            <p-calendar formControlName="jDate" dateFormat="yy-mm-dd" [(ngModel)]="feeWaiverData.student.regDate" name="joinedDate"></p-calendar>
          </div>

          <div class="form-group">
            <label for="template">Expected Date of Leave</label>
            <br>
            <p-calendar formControlName="lDate" dateFormat="yy-mm-dd" [(ngModel)]="feeWaiverData.student.leaveDate" name="leaveDate"></p-calendar>
          </div>


          <div class="form-group">
            <label for="template">Gender</label>
            <select formControlName="gender" style="width: 50%" [(ngModel)]="feeWaiverData.student.gender" name="feeWaiverModel.status"
              class="form-control">
              <option [ngValue]="1">Female</option>
              <option [ngValue]="2">Male</option>
            </select>
          </div>
          <div class="form-group">
            <label for="template">Status</label>
            <select formControlName="status" style="width: 50%" [(ngModel)]="feeWaiverData.student.status" name="feeWaiverModel.status"
              class="form-control">
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
          </div>


        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <button type="button" *ngIf="taskType=='new'" pButton label="Save" [disabled]="!addForm.valid" icon="fa fa-save" (click)="createFW()"></button>
          <button type="button" *ngIf="taskType=='edit'" pButton label="Save Changes" [disabled]="!addForm.valid" icon="fa fa-save"
            (click)="editFW()"></button>
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>
<div bsModal #showLearningCenters="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog " style="width:60vw">
    <div class="modal-content">
      <form>
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="showLearningCenters.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Learning centers</h4>
        </div>
        <div class="modal-body">
          <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                            </div> -->
          <p-dataTable [value]="learningCenterList" [(selection)]="selectedLearningCenter" selectionMode="single" [rows]="10" [paginator]="true"
            [globalFilter]="gb" #dt dataKey="sn">
            <!-- <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column> -->
            
            <p-column [style]="{'text-align':'center'}" field="name" [filter]="true" filterPlaceholder="Search" header="Name"></p-column>
            <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="address" header="Address"></p-column>
            <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="distictName" header="District"></p-column>
            <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="dsName" header="DS"></p-column>
            

          </p-dataTable>


        </div>
        <div class="modal-footer">

        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>

<div bsModal #preschoolView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <form [formGroup]="preSchoolForm">
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="preschoolView.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Add New PreSchool</h4>

        </div>

        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong>{{msg}}
        </div>
        <div class="alert alert-danger" *ngIf="error">
          <strong>Error!</strong>{{msg}}
        </div>
        <div class="modal-body">
            <div class="form-group">
            <select style="width:300px" formControlName="province"  [(ngModel)]="selectedProvince" name="selectedMaterial" class="form-control"
            (change)="loadDistricts(selectedProvince)">
            <option [ngValue]="1">Western</option>
            <option [ngValue]="2">Central</option>
            <option [ngValue]="3">Southern</option>
            <option [ngValue]="4">Nothern</option>
            <option [ngValue]="5">Eastern</option>
            <option [ngValue]="6">North Western </option>
            <option [ngValue]="7">North Central </option>
            <option [ngValue]="8">Uva </option>
            <option [ngValue]="9">Sabaragamuwa </option>

          </select>

            </div>
          <div class="form-group">
              <select style="width:300px"formControlName="district" [(ngModel)]="selectedDistrict" name="selectedDistrict" class="form-control"
                (change)="getDSList(selectedDistrict.id)">
                <option [ngValue]="selectedDistrict" *ngFor="let selectedDistrict of districtList">{{selectedDistrict.name}}</option>
              </select>
              <input disabled class="form-control" *ngIf="districtSelected" [value]="selectedDistrict.name" type="text" style="width: 300px">
            </div>

            
            <div class="form-group">
                <select style="width:300px" formControlName="ds" [(ngModel)]="selectedDS" name="selectedMaterial" class="form-control">
                  <option [ngValue]="selectedDS" *ngFor="let selectedDS of dsList">{{selectedDS.name}}</option>
                </select>
              </div>
          

          <div class="form-group">
            <label for="template">Name</label>
            <input style="width: 50%" formControlName="name" type="text" [(ngModel)]="preSchool.name" name="feeWaiverModel.name"
              class="form-control" required>

          </div>

          <div class="form-group">
            <label for="template">Address</label>
            <input style="width: 50%" formControlName="address" type="text" [(ngModel)]="preSchool.address" name="feeWaiverModel.address"
              class="form-control" required>

          </div>

          <div class="form-group">
              <label for="template">Telephone Number</label>
              <input style="width: 50%" formControlName="tp" type="text" [(ngModel)]="preSchool.tp" name="feeWaiverModel.tp"
                class="form-control" required>
  
            </div>

          <div class="form-group">
            <label for="template">Status</label>
            <select formControlName="status" style="width: 50%" [(ngModel)]="preSchool.status" name="feeWaiverModel.status"
              class="form-control">
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Inactive</option>
            </select>
          </div>


        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <button type="button"  pButton label="Save" [disabled]="!preSchoolForm.valid" icon="fa fa-save" (click)="createPreSchool()"></button>
         
        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>
