

   
<p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'400px'}" (onOverlayClick)="handleOverlayClick($event)"></p-gmap>

<div bsModal #details="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-sm">

  <div class="modal-content">
    <div class="modal-header" >
        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
       
        <h4 class="modal-title">{{selectedActivity.activityDescription}}</h4>
      </div>
      <div class="modal-body">
        <label style="font-size: 8pt">{{selectedActivity.learningCenter}}</label>
        <label style="font-size: 8pt">{{selectedActivity.address}}</label>
        <p-progressBar [value]="progressVal" ></p-progressBar>
      </div>
      <div class="modal-footer">
     
        <button type="reset" class="btn btn-default" (click)="details.hide()">Close</button>
        <button type="submit" class="btn btn-success" (click)="ganttView()" >View</button>
      </div>
  </div>
</div>
</div>
    <!--################ end form ################-->
 