<div class="container">
  <div class="pull-right">
    <button class="btn btn-success" (click)="openAddPack()">Add New Pack</button>
  </div>
  <br>
  <br>
  <br>
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
  </div>
  <p-dataTable [value]="materialPackList" [rows]="10" [paginator]="true" [globalFilter]="gb"  [editable]="true" #dt>
    <p-column field="packId" header="Pack ID" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="packName" header="Pack Name " [filter]="true" filterPlaceholder="Search"></p-column>
    <!-- <p-column field="quantity" header="Quantity" [filter]="true" filterPlaceholder="Search"></p-column> -->
    <p-column field="availablePackCount" header="Available Pack Quantity " [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="status.label" header="Status" [editable]="true">
        <ng-template let-col let-car="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="car[col.field]" [options]="statusList" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  (onChange)="updateStatus(car,car[col.field])"></p-dropdown>
        </ng-template>
    </p-column>
  </p-dataTable>

</div>


<div bsModal #addPack="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <form [formGroup]="materialPackForm" #f="ngForm" (ngSubmit)="saveMaterialPack(f)">
      <div class="modal-content">

        <div class="modal-header" style="background-color: #F79423;color: azure">

          <button type="button" class="close pull-right" (click)="addPack.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Add New Pack</h4>
        </div>
        <div class="alert alert-success" *ngIf="success">
          <strong>Success!</strong> You have Successfully Added a Pack!
        </div>
        <div class="modal-body">





          <div class="pull-right">
            <label style="font-size: 16pt" for="template">No of Packs</label>
            <br>
            <label style="color: grey;font-size: 16pt;padding-left: 50px" for="template">{{availableQty}}</label>


          </div>
          <div class="form-group">
            <label for="template">Material Pack Name</label>
            <input style="width: 300px" type="text" [(ngModel)]="materialPack.packName" name="materialPack.packName" class="form-control"
              formControlName="packname" required="true">

          </div>
          <div class="pull-right">
            <label for="template">Quantity Available</label>
            <br>
            <label style="color: grey;padding-left: 50px" for="template">{{selectedMaterial.quantity}}</label>


          </div>

          <div class="form-group">
            <label for="template">Material Type</label>
            <select style="width: 300px" [(ngModel)]="selectedMaterial" name="selectedMaterial" class="form-control" formControlName="material"
              (change)=onChange(selectedMaterial)>
              <!-- <select class="form-control">  -->
              <option [ngValue]="selectedMaterial" *ngFor="let selectedMaterial of materialList">{{selectedMaterial.materialName}}-{{selectedMaterial.materialId}}</option>

            </select>
          </div>



          <div class="form-group">
            <label for="template">Quantity</label>
            <input style="width: 300px" type="number" [(ngModel)]="packDetail.quantity" name="grnDetails.quantity" formControlName="quantity"
              class="form-control" required="true" pattern="^[0-9]*[1-9][0-9]*$">

          </div>

          <div style="padding-left: 380px">
            <button type="button" class="btn btn-success" [disabled]="!materialPackForm.valid" (click)="AddToGrid()">Add Material</button>


          </div>

          <br>
          <br>


          <div>
            <div class="panel panel-body">
<!--             
              <table class="table table-hover table-striped">
                <thead style="background-color: #6C7A89;color: azure;box-shadow: 0px 5px 15px#6C7A89">
                  <tr class="tbl-header">
                    <th></th>
                    <th>Material Type</th>
                    <th>Quantity</th>
                    <th>Available Quantity</th>
                    <th>No of packs</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of randomArr">
                    <td>
                      <button class="btn btn-primary" (click)=removeRow()>
                        Remove
                      </button>
                    </td>
                    <td>
                      <div class="col-sm-12 user-name">{{a.materialName}}</div>
                    </td>
                    <td>
                      <div class="col-sm-12 user-name">{{a.quantity}}</div>
                    </td>
                    <td>
                      <div class="col-sm-12 user-name">{{a.availableQuantity}}</div>
                    </td>
                    <td>
                      <div class="col-sm-12 user-name">{{a.packNumber}}</div>
                    </td>
                  </tr>
                </tbody>
              </table> -->
         
              <p-dataTable [value]="randomArr" [immutable]=false>

                  <p-column styleClass="col-button">
                     
                      <ng-template let-car="rowData" pTemplate="body">
                          <button type="button" label="remove" pButton (click)="removeRow(car)" ></button>
                      </ng-template>
                  </p-column>
                  <p-column field="materialType" header="Material Name"></p-column>
                  <p-column field="quantity" header="Quantity"></p-column>
                  <p-column field="availableQuantity" header="Available Quantity"></p-column>
                  <p-column field="packNumber" header="Number of Packs"></p-column>
              </p-dataTable>
            </div>
          </div>





        </div>
        <div class="modal-footer">
          <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->

          <button type="reset" class="btn btn-default" (click)="addPack.hide()">Close</button>
          <button type="submit" [disabled]="!materialPackForm.valid" class="btn btn-success">Save</button>
        </div>


        <!--################ end form ################-->

      </div>
    </form>
  </div>
</div>