
<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="loading-spinner" *ngIf="loadingMask">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="container">
  <div class="page-title">
    <h2>Fee Waiver Payments
      <span> </span>
    </h2>
  </div>

  <form>


    <div class="ui-g">
      <div class="ui-g-4">
        <div class="form-group">
          <!-- <label for="template">Learning Center</label>
          <select [(ngModel)]="selectedLearningCenter" (change)="getAllStudents()" name="selectedLearningCenter" class="form-control"
            style="width: 300px">
            <option [ngValue]="selectedLearningCenter" *ngFor="let selectedLearningCenter of learningCenterList">{{selectedLearningCenter.name}}-{{selectedLearningCenter.sn}}</option>
          </select> -->

          <input type="text" style="width: 300px"  [(ngModel)]="selectedLearningCenter.name" disabled name="learningcenter" class="form-control"/>
          <br>
          <button type="button" icon="fa fa-plus" (click)="getAllLearningCenters()" pButton label="Add Learning Center"></button>
        </div>
      </div>
    </div>





    <div class="ui-g">
      <div class="ui-g-4">
        <div class="form-group">
          <label for="template">Total Payment </label>

          <!-- <input type="text" style="width: 300px" [(ngModel)]="sendList.description" name="sendList.description" class="form-control" required="true"> -->
          <input type="text" style="width: 300px" [(ngModel)]="value" disabled name="sendObjecttobesaved.description" class="form-control"
            required="true">
        </div>
      </div>
    </div>

    <div class="ui-g">

      <div class="ui-g-4">
        <div class="form-group">
          <label for="template">Start Year</label>



          <select *ngIf="year==0" [(ngModel)]="selectedYear"  name="selectedYear" class="form-control" style="width: 300px">
            <option [ngValue]=selectedYear *ngFor="let selectedYear of yearList">{{selectedYear}}</option>
          </select>

          <input type="text" *ngIf="year!=0" name="year" style="width: 300px" disabled [(ngModel)]="selectedYear" class="form-control" ame="type">

        </div>
      </div>
      <div class="ui-g-4">
        <div class="form-group">
          <label for="template">Month</label>


          <!-- <input *ngIf="!pickDate" type="text" style="width: 300px" disabled name="sendObjecttobesaved.description" class="form-control"
            required="true"> -->
          <select *ngIf="month==0" [(ngModel)]="selectedMonth" name="selectedMonth" class="form-control" style="width: 300px">
            <!-- <select class="form-control" style="width: 300px">  -->
            <option [ngValue]=1>January</option>
            <option [ngValue]=2>February</option>
            <option [ngValue]=3>March</option>
            <option [ngValue]=4>April</option>
            <option [ngValue]=5>May</option>
            <option [ngValue]=6>June</option>
            <option [ngValue]=7>July</option>
            <option [ngValue]=8>August</option>
            <option [ngValue]=9>September</option>
            <option [ngValue]=10>October</option>
            <option [ngValue]=11>November</option>
            <option [ngValue]=12>December</option>

          </select>

          <input type="text" *ngIf="month!=0&&selectedMonth==1" style="width: 300px" disabled value="January" class="form-control"
            name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==2" style="width: 300px" disabled value="February"  class="form-control" name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==3" style="width: 300px" disabled value="March"  class="form-control" name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==4" style="width: 300px" disabled value="April"  class="form-control" name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==5" style="width: 300px" disabled value="May"  class="form-control" name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==6" style="width: 300px" disabled value="June"  class="form-control" name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==7" style="width: 300px" disabled value="July"  class="form-control" name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==8" style="width: 300px" disabled value="August"  class="form-control" name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==9" style="width: 300px" disabled value="September"  class="form-control" name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==10" style="width: 300px" disabled value="October"  class="form-control" name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==11" style="width: 300px" disabled value="November"  class="form-control" name="type">
            <input type="text" *ngIf="month!=0&&selectedMonth==12" style="width: 300px" disabled value="December"  class="form-control" name="type">
        </div>
      </div>

    </div>







    <div style="overflow-x: scroll">
      <table style="overflow-x: scroll" class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Registration Name</th>
            <th>Student's Name</th>
            <th colspan="2">Month 1</th>
            <th colspan="2">Month 2</th>
            <th colspan="2">Month 3</th>
            <th colspan="2">Month 4</th>
            <th colspan="2">Month 5</th>
            <th colspan="2">Month 6</th>
            <th colspan="2">Month 7</th>
            <th colspan="2">Month 8</th>
            <th colspan="2">Month 9</th>
            <th colspan="2">Month 10</th>
            <th colspan="2">Month 11</th>
            <th colspan="2">Month 12</th>
            <th colspan="2">Month 13</th>
            <th colspan="2">Month 14</th>
            <th colspan="2">Month 15</th>
            <th colspan="2">Month 16</th>
            <th colspan="2">Month 17</th>
            <th colspan="2">Month 18</th>
            <th colspan="2">Month 19</th>
            <th colspan="2">Month 20</th>
            <th colspan="2">Month 21</th>
            <th colspan="2">Month 22</th>
            <th colspan="2">Month 23</th>
            <th colspan="2">Month 24</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>




          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of studentList;let in = index">

            <td>
              <div class="col-sm-12 user-name">
                <label *ngIf="a.status==1">{{a.studentId}}</label>
                <label *ngIf="a.status==2" style="color:red">{{a.studentId}}</label>
              </div>
              
             

            </td>
            <td>
              <div class="col-sm-12 user-name">
                  <label *ngIf="a.status==1">{{a.studentName}}</label>
                  <label *ngIf="a.status==2" style="color:red">{{a.studentName}}</label>
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment1!=0&&!a.paid1"  type="checkbox" (change)="updateStatus($event,1,a.studentId)">
                <input *ngIf="a.paid1&&!status1" checked  type="checkbox" (change)="updateStatus($event,1,a.studentId)">
                <input *ngIf="a.paid1&&status1" checked  type="checkbox" >
                <input *ngIf="(a.payment1==0&&!a.paid1)" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance1}}%</div>
            
            </td>



            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment2!=0&&!a.paid2"  type="checkbox" (change)="updateStatus($event,2,a.studentId)">
                <input *ngIf="a.paid2&&!status2" checked  type="checkbox" (change)="updateStatus($event,2,a.studentId)">
                <input *ngIf="a.paid2&&status2" checked  type="checkbox" (change)="updateStatus($event,2,a.studentId)">
                <input *ngIf="(a.payment2==0&&!a.paid2)" disabled type="checkbox">
              </div>
            </td>
            <td>
            
              <div class="col-sm-12 user-name">{{a.attendance2}}%</div>
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment3!=0&&!a.paid3"  type="checkbox" (change)="updateStatus($event,3,a.studentId)">
                <input *ngIf="a.paid3&&status3" checked  type="checkbox" (change)="updateStatus($event,3,a.studentId)">
                <input *ngIf="a.paid3&&!status3" checked  type="checkbox" (change)="updateStatus($event,3,a.studentId)">
                <input *ngIf="a.payment3==0&&!a.paid3" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance3}}%</div>
             
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment4!=0&&!a.paid4"  type="checkbox" (change)="updateStatus($event,4,a.studentId)">
                <input *ngIf="a.paid4&&status4" checked  type="checkbox" (change)="updateStatus($event,4,a.studentId)">
                <input *ngIf="a.paid4&&!status4" checked  type="checkbox" (change)="updateStatus($event,4,a.studentId)">
                <input *ngIf="a.payment4==0&&!a.paid4" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance4}}%</div>
            
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment5!=0&&!a.paid5"  type="checkbox" (change)="updateStatus($event,5,a.studentId)">
                <input *ngIf="a.paid5&&status5" checked  type="checkbox" (change)="updateStatus($event,5,a.studentId)">
                <input *ngIf="a.paid5&&!status5" checked  type="checkbox" (change)="updateStatus($event,5,a.studentId)">
                <!-- <input *ngIf="a.payment5==0&&!a.paid5" disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance5}}%</div>
              
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment6!=0&&!a.paid6"  type="checkbox" (change)="updateStatus($event,6,a.studentId)">
                <input *ngIf="a.paid6&&status6" checked  type="checkbox" (change)="updateStatus($event,6,a.studentId)">
                <input *ngIf="a.paid6&&!status6" checked  type="checkbox" (change)="updateStatus($event,6,a.studentId)">
                <input *ngIf="a.payment6==0&&!a.paid6" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance6}}%</div>
             
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment7!=0&&!a.paid7"  type="checkbox" (change)="updateStatus($event,7,a.studentId)">
                <input *ngIf="a.paid7&&status7" checked  type="checkbox" (change)="updateStatus($event,7,a.studentId)">
                <input *ngIf="a.paid7&&!status7" checked  type="checkbox" (change)="updateStatus($event,7,a.studentId)">
                <input *ngIf="a.payment7==0&&!a.paid7" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance7}}%</div>
           
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment8!=0&&!a.paid8"  type="checkbox" (change)="updateStatus($event,8,a.studentId)">
                <input *ngIf="a.paid8&&status8" checked  type="checkbox" (change)="updateStatus($event,8,a.studentId)">
                <input *ngIf="a.paid8&&!status8" checked  type="checkbox" (change)="updateStatus($event,8,a.studentId)">
                <input *ngIf="a.payment8==0&&!a.paid8" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance8}}%</div>
            
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment9!=0&&!a.paid9"  type="checkbox" (change)="updateStatus($event,9,a.studentId)">
                <input *ngIf="a.paid9&&status9" checked  type="checkbox" (change)="updateStatus($event,9,a.studentId)">
                <input *ngIf="a.paid9&&!status9" checked  type="checkbox" (change)="updateStatus($event,9,a.studentId)">
                <input *ngIf="a.payment9==0&&!a.paid9" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance9}}%</div>
          
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment10!=0&&!a.paid10"  type="checkbox" (change)="updateStatus($event,10,a.studentId)">
                <input *ngIf="a.paid10&&status10" checked  type="checkbox" (change)="updateStatus($event,10,a.studentId)">
                <input *ngIf="a.paid10&&!status10" checked  type="checkbox" (change)="updateStatus($event,10,a.studentId)">
                <input *ngIf="a.payment10==0&&!a.paid10" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance10}}%</div>
          
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment11!=0&&!a.paid11"  type="checkbox" (change)="updateStatus($event,11,a.studentId)">
                <input *ngIf="a.paid11&&status11" checked  type="checkbox" (change)="updateStatus($event,11,a.studentId)">
                <input *ngIf="a.paid11&&!status11" checked  type="checkbox" (change)="updateStatus($event,11,a.studentId)">
                <input *ngIf="a.payment11==0&&!a.paid11" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance11}}%</div>
            
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment12!=0&&!a.paid12"  type="checkbox" (change)="updateStatus($event,12,a.studentId)">
                <input *ngIf="a.paid12&&status12" checked  type="checkbox" (change)="updateStatus($event,12,a.studentId)">
                <input *ngIf="a.paid12&&!status12" checked  type="checkbox" (change)="updateStatus($event,12,a.studentId)">
                <!-- <input *ngIf="a.payment12==0&&!a.paid12" disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance12}}%</div>
             
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment13!=0&&!a.paid13"  type="checkbox" (change)="updateStatus($event,13,a.studentId)">
                <input *ngIf="a.paid13&&status13" checked  type="checkbox" (change)="updateStatus($event,13,a.studentId)">
                <input *ngIf="a.paid13&&!status13" checked  type="checkbox" (change)="updateStatus($event,13,a.studentId)">
                <input *ngIf="a.payment13==0&&!a.paid13" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance13}}%</div>
             
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment14!=0&&!a.paid14"  type="checkbox" (change)="updateStatus($event,14,a.studentId)">
                <input *ngIf="a.paid14&&status14" checked  type="checkbox" (change)="updateStatus($event,14,a.studentId)">
                <input *ngIf="a.paid14&&!status14" checked  type="checkbox" (change)="updateStatus($event,14,a.studentId)">
                <input *ngIf="a.payment14==0&&!a.paid14" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance14}}%</div>
             
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment15!=0&&!a.paid15"  type="checkbox" (change)="updateStatus($event,15,a.studentId)">
                <input *ngIf="a.paid15&&status15" checked  type="checkbox" (change)="updateStatus($event,15,a.studentId)">
                <input *ngIf="a.paid15&&!status15" checked  type="checkbox" (change)="updateStatus($event,15,a.studentId)">
                <input *ngIf="a.payment15==0&&!a.paid15" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance15}}%</div>
            
            </td>


            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment16!=0&&!a.paid16"  type="checkbox" (change)="updateStatus($event,16,a.studentId)">
                <input *ngIf="a.paid16&&status16" checked  type="checkbox" (change)="updateStatus($event,16,a.studentId)">
                <input *ngIf="a.paid16&&!status16" checked  type="checkbox" (change)="updateStatus($event,16,a.studentId)">
                <input *ngIf="a.payment16==0&&!a.paid16" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance16}}%</div>
            
            </td>


            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment17!=0&&!a.paid17"  type="checkbox" (change)="updateStatus($event,17,a.studentId)">
                <input *ngIf="a.paid17&&status17" checked  type="checkbox" (change)="updateStatus($event,17,a.studentId)">
                <input *ngIf="a.paid17&&!status17" checked  type="checkbox" (change)="updateStatus($event,17,a.studentId)">
                <input *ngIf="a.payment17==0&&!a.paid17" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance17}}%</div>
             
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment18!=0&&!a.paid18"  type="checkbox" (change)="updateStatus($event,18,a.studentId)">
                <input *ngIf="a.paid18&&status18" checked  type="checkbox" (change)="updateStatus($event,18,a.studentId)">
                <input *ngIf="a.paid18&&!status18" checked  type="checkbox" (change)="updateStatus($event,18,a.studentId)">
                <input *ngIf="a.payment18==0&&!a.paid18" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance18}}%</div>
             
            </td>


            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment19!=0&&!a.paid19"  type="checkbox" (change)="updateStatus($event,19,a.studentId)">
                <input *ngIf="a.paid19&&status19" checked  type="checkbox" (change)="updateStatus($event,19,a.studentId)">
                <input *ngIf="a.paid19&&!status19" checked  type="checkbox" (change)="updateStatus($event,19,a.studentId)">
                <input *ngIf="a.payment19==0&&!a.paid19" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance19}}%</div>
             
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment20!=0&&!a.paid20"  type="checkbox" (change)="updateStatus($event,20,a.studentId)">
                <input *ngIf="a.paid20&&status20" checked  type="checkbox" (change)="updateStatus($event,20,a.studentId)">
                <input *ngIf="a.paid20&&!status20" checked  type="checkbox" (change)="updateStatus($event,20,a.studentId)">
                <input *ngIf="a.payment20==0&&!a.paid20" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance20}}%</div>
            
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment21!=0&&!a.paid21"  type="checkbox" (change)="updateStatus($event,21,a.studentId)">
                <input *ngIf="a.paid21&&status21" checked  type="checkbox" (change)="updateStatus($event,21,a.studentId)">
                <input *ngIf="a.paid21&&!status21" checked  type="checkbox" (change)="updateStatus($event,21,a.studentId)">
                <input *ngIf="a.payment21==0&&!a.paid21" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance21}}%</div>
            
            </td>


            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment22!=0&&!a.paid22"  type="checkbox" (change)="updateStatus($event,22,a.studentId)">
                <input *ngIf="a.paid22&&status22" checked  type="checkbox" (change)="updateStatus($event,22,a.studentId)">
                <input *ngIf="a.paid22&&!status22" checked  type="checkbox" (change)="updateStatus($event,22,a.studentId)">
                <input *ngIf="a.payment22==0&&!a.paid22" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance22}}%</div>
              
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment23!=0&&!a.paid23"  type="checkbox" (change)="updateStatus($event,23,a.studentId)">
                <input *ngIf="a.paid23&&status23" checked  type="checkbox" (change)="updateStatus($event,23,a.studentId)">
                <input *ngIf="a.paid23&&!status23" checked  type="checkbox" (change)="updateStatus($event,23,a.studentId)">
                <input *ngIf="a.payment23==0&&!a.paid23" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance23}}%</div>
             
            </td>


            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="a.payment24!=0&&!a.paid24"  type="checkbox" (change)="updateStatus($event,24,a.studentId)">
                <input *ngIf="a.paid24&&status24" checked  type="checkbox" (change)="updateStatus($event,24,a.studentId)">
                <input *ngIf="a.paid24&&!status24" checked  type="checkbox" (change)="updateStatus($event,24,a.studentId)">
                <input *ngIf="a.payment24==0&&!a.paid24" disabled type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance24}}%</div>
           
            </td>
          </tr>


        </tbody>
      </table>
    </div>
    <br>
    <div class="pull-right">
      <button type="button" icon="fa fa-plus" pButton label="Add New Payment" (click)="addPayment()"></button>
    </div>
  </form>
</div>



<div bsModal #adPaymentView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="width: 40vw">

    <div class="modal-content">
      <!-- <form #f="ngForm" [formGroup]="documentForm" (ngSubmit)="saveDocument(f)"> -->
      <!--########## start form ########-->
      <div class="modal-header" style="background-color: #A0A3A6;color: azure">
        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
        <button type="button" class="close pull-right" (click)="adPaymentView.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Add New Payment</h4>
      </div>
      <div class="alert alert-success" *ngIf="success">
        <strong>Success!</strong> You have Successfully Created a Document!
      </div>
      <div class="modal-body">


        <table *ngIf="studentList[0]!=undefined" class="table table-hover table-striped">
          <thead>
            <tr class="tbl-header">


              <th>Installment</th>
              <th>Paid</th>
              <th>Payment</th>
              <th>School Fee</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>
                <div class="col-sm-12 user-name">Month1</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid1" type="checkbox" (change)="changeStatus($event,1)">
                  <input *ngIf="studentList[0].paid1" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid1" [(ngModel)]="studentList[0].payment1" type=text class="form-control" (ngModelChange)="changePayment()">
                  <input *ngIf="studentList[0].paid1" [(ngModel)]="studentList[0].payment1" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid1" [(ngModel)]="studentList[0].schoolfee1"  type=text class="form-control"  (ngModelChange)="changeFee()">
                  <input *ngIf="studentList[0].paid1" [(ngModel)]="studentList[0].schoolfee1" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month2</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid2" type="checkbox" (change)="changeStatus($event,2)">
                  <input *ngIf="studentList[0].paid2" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid2"[(ngModel)]="studentList[0].payment2" type=text class="form-control">
                  <input *ngIf="studentList[0].paid2" [(ngModel)]="studentList[0].payment2" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid2" [(ngModel)]="studentList[0].schoolfee2"  type=text class="form-control">
                  <input  *ngIf="studentList[0].paid2" [(ngModel)]="studentList[0].schoolfee2" disabled  type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month3</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid3" type="checkbox" (change)="changeStatus($event,3)">
                  <input *ngIf="studentList[0].paid3" checked disabled type="checkbox">
                </div>
              </td>
              
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid3" [(ngModel)]="studentList[0].payment3" type=text class="form-control">
                  <input *ngIf="studentList[0].paid3" [(ngModel)]="studentList[0].payment3" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid3" [(ngModel)]="studentList[0].schoolfee3"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid3" [(ngModel)]="studentList[0].schoolfee3" disabled  type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month4</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid4" type="checkbox" (change)="changeStatus($event,4)">
                  <input *ngIf="studentList[0].paid4" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid4" [(ngModel)]="studentList[0].payment4" type=text class="form-control">
                  <input *ngIf="studentList[0].paid4" [(ngModel)]="studentList[0].payment4" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid4" [(ngModel)]="studentList[0].schoolfee4"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid4" [(ngModel)]="studentList[0].schoolfee4" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month5</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid5" type="checkbox" (change)="changeStatus($event,5)">
                  <input *ngIf="studentList[0].paid5" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid5" [(ngModel)]="studentList[0].payment5" type=text class="form-control">
                  <input *ngIf="studentList[0].paid5" [(ngModel)]="studentList[0].payment5" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid5" [(ngModel)]="studentList[0].schoolfee5"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid5" [(ngModel)]="studentList[0].schoolfee5" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month6</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid6" type="checkbox" (change)="changeStatus($event,6)">
                  <input *ngIf="studentList[0].paid6" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid6" [(ngModel)]="studentList[0].payment6" type=text class="form-control">
                  <input *ngIf="studentList[0].paid6" [(ngModel)]="studentList[0].payment6" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid6" [(ngModel)]="studentList[0].schoolfee6"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid6" [(ngModel)]="studentList[0].schoolfee6" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month7</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid7" type="checkbox" (change)="changeStatus($event,7)">
                  <input *ngIf="studentList[0].paid7" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid7" [(ngModel)]="studentList[0].payment7" type=text class="form-control">
                  <input *ngIf="studentList[0].paid7" [(ngModel)]="studentList[0].payment7" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid7" [(ngModel)]="studentList[0].schoolfee7"  type=text class="form-control">
                  <input  *ngIf="studentList[0].paid7" [(ngModel)]="studentList[0].schoolfee7" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month8</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid8" type="checkbox" (change)="changeStatus($event,8)">
                  <input *ngIf="studentList[0].paid8" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid8" [(ngModel)]="studentList[0].payment8" type=text class="form-control">
                  <input *ngIf="studentList[0].paid8" [(ngModel)]="studentList[0].payment8" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid8" [(ngModel)]="studentList[0].schoolfee8"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid8" [(ngModel)]="studentList[0].schoolfee8" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month9</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid9" type="checkbox" (change)="changeStatus($event,9)">
                  <input *ngIf="studentList[0].paid9" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid9" [(ngModel)]="studentList[0].payment9" type=text class="form-control">
                  <input *ngIf="studentList[0].paid9" [(ngModel)]="studentList[0].payment9" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input  *ngIf="!studentList[0].paid9" [(ngModel)]="studentList[0].schoolfee9"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid9" [(ngModel)]="studentList[0].schoolfee9" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month10</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid10" type="checkbox" (change)="changeStatus($event,10)">
                  <input *ngIf="studentList[0].paid10" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid10" [(ngModel)]="studentList[0].payment10" type=text class="form-control">
                  <input *ngIf="studentList[0].paid10" [(ngModel)]="studentList[0].payment10" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid10" [(ngModel)]="studentList[0].schoolfee10"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid10" [(ngModel)]="studentList[0].schoolfee10" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month11</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid11" type="checkbox" (change)="changeStatus($event,11)">
                  <input *ngIf="studentList[0].paid11" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid11" [(ngModel)]="studentList[0].payment11" type=text class="form-control">
                  <input *ngIf="studentList[0].paid11" [(ngModel)]="studentList[0].payment11" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid11" [(ngModel)]="studentList[0].schoolfee11"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid11" [(ngModel)]="studentList[0].schoolfee11" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month12</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid12" type="checkbox" (change)="changeStatus($event,12)">
                  <input *ngIf="studentList[0].paid12" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid12" [(ngModel)]="studentList[0].payment12" type=text class="form-control">
                  <input *ngIf="studentList[0].paid12" [(ngModel)]="studentList[0].payment12" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid12" [(ngModel)]="studentList[0].schoolfee12"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid12" [(ngModel)]="studentList[0].schoolfee12" disabled type=text class="form-control">
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-sm-12 user-name">Month13</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid13" type="checkbox" (change)="changeStatus($event,13)">
                  <input *ngIf="studentList[0].paid13" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid13" [(ngModel)]="studentList[0].payment13" type=text class="form-control">
                  <input *ngIf="studentList[0].paid13" [(ngModel)]="studentList[0].payment13" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid13" [(ngModel)]="studentList[0].schoolfee13"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid13" [(ngModel)]="studentList[0].schoolfee13" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month14</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid14" type="checkbox" (change)="changeStatus($event,14)">
                  <input *ngIf="studentList[0].paid14" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid14"[(ngModel)]="studentList[0].payment14" type=text class="form-control">
                  <input *ngIf="studentList[0].paid14" [(ngModel)]="studentList[0].payment14" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid14" [(ngModel)]="studentList[0].schoolfee14"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid14" [(ngModel)]="studentList[0].schoolfee14" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month15</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid15" type="checkbox" (change)="changeStatus($event,15)">
                  <input *ngIf="studentList[0].paid15" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid15"[(ngModel)]="studentList[0].payment15" type=text class="form-control">
                  <input *ngIf="studentList[0].paid15" [(ngModel)]="studentList[0].payment15" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input  *ngIf="!studentList[0].paid15" [(ngModel)]="studentList[0].schoolfee15"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid15" [(ngModel)]="studentList[0].schoolfee15" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month16</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid16" type="checkbox" (change)="changeStatus($event,16)">
                  <input *ngIf="studentList[0].paid16" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid16" [(ngModel)]="studentList[0].payment16" type=text class="form-control">
                  <input *ngIf="studentList[0].paid16" [(ngModel)]="studentList[0].payment16" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input  *ngIf="!studentList[0].paid16" [(ngModel)]="studentList[0].schoolfee16"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid16" [(ngModel)]="studentList[0].schoolfee16" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month17</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid17" type="checkbox" (change)="changeStatus($event,17)">
                  <input *ngIf="studentList[0].paid17" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid17"[(ngModel)]="studentList[0].payment17" type=text class="form-control">
                  <input *ngIf="studentList[0].paid17" [(ngModel)]="studentList[0].payment17" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid17" [(ngModel)]="studentList[0].schoolfee17"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid17" [(ngModel)]="studentList[0].schoolfee17" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month18</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid18" type="checkbox" (change)="changeStatus($event,18)">
                  <input *ngIf="studentList[0].paid18" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid18"[(ngModel)]="studentList[0].payment18" type=text class="form-control">
                  <input *ngIf="studentList[0].paid18" [(ngModel)]="studentList[0].payment18" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid18" [(ngModel)]="studentList[0].schoolfee18"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid18" [(ngModel)]="studentList[0].schoolfee18" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month19</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid19" type="checkbox" (change)="changeStatus($event,19)">
                  <input *ngIf="studentList[0].paid19" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid19"[(ngModel)]="studentList[0].payment19" type=text class="form-control">
                  <input *ngIf="studentList[0].paid19" [(ngModel)]="studentList[0].payment19" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid19" [(ngModel)]="studentList[0].schoolfee19"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid19" [(ngModel)]="studentList[0].schoolfee19" disabled  type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month20</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid20" type="checkbox" (change)="changeStatus($event,20)">
                  <input *ngIf="studentList[0].paid20" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid20"[(ngModel)]="studentList[0].payment20" type=text class="form-control">
                  <input *ngIf="studentList[0].paid20" [(ngModel)]="studentList[0].payment20" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid20" [(ngModel)]="studentList[0].schoolfee20"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid20" [(ngModel)]="studentList[0].schoolfee20" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month21</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid21" type="checkbox" (change)="changeStatus($event,21)">
                  <input *ngIf="studentList[0].paid21" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid21"[(ngModel)]="studentList[0].payment21" type=text class="form-control">
                  <input *ngIf="studentList[0].paid21" [(ngModel)]="studentList[0].payment21" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid21" [(ngModel)]="studentList[0].schoolfee21"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid21" [(ngModel)]="studentList[0].schoolfee21" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month22</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid22" type="checkbox" (change)="changeStatus($event,22)">
                  <input *ngIf="studentList[0].paid22" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid22"[(ngModel)]="studentList[0].payment22" type=text class="form-control">
                  <input *ngIf="studentList[0].paid22" [(ngModel)]="studentList[0].payment22" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid22" [(ngModel)]="studentList[0].schoolfee22"  type=text class="form-control">
                  <input *ngIf="studentList[0].paid22" [(ngModel)]="studentList[0].schoolfee22" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month23</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid23" type="checkbox" (change)="changeStatus($event,23)">
                  <input *ngIf="studentList[0].paid23" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid23"[(ngModel)]="studentList[0].payment23" type=text class="form-control">
                  <input *ngIf="studentList[0].paid23" [(ngModel)]="studentList[0].payment23" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid23" [(ngModel)]="studentList[0].schoolfee23" type=text class="form-control">
                  <input *ngIf="studentList[0].paid23" [(ngModel)]="studentList[0].schoolfee23" disabled type=text class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month24</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid24" type="checkbox" (change)="changeStatus($event,24)">
                  <input *ngIf="studentList[0].paid24" checked disabled type="checkbox">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid24"[(ngModel)]="studentList[0].payment24" type=text class="form-control">
                  <input *ngIf="studentList[0].paid24" [(ngModel)]="studentList[0].payment24" disabled type=text class="form-control">
                </div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid24" [(ngModel)]="studentList[0].schoolfee24" type=text class="form-control">
                  <input *ngIf="studentList[0].paid24" [(ngModel)]="studentList[0].schoolfee24" disabled type=text class="form-control">
                </div>
              </td>
            </tr>

          </tbody>
        </table>

        <div class="form-group">
          <label for="template">Hand over to the payment</label>
          <input style="width:400px" type="date" name="date" [(ngModel)]="selectedDate" class="form-control">
        </div>

        <div class="modal-footer">



          <button type="button" icon="fa fa-save" pButton label="Save" (click)="saveStudentPayments()"></button>
        </div>
        <!-- </form> -->
        <!--################ end form ################-->
      </div>
    </div>
  </div>

</div>

  <div bsModal #showLearningCenters="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog " style="width:70vw">
                <div class="modal-content">
                    <form>
                        <!--########## start form ########-->
                        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                            <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                            <button type="button" class="close pull-right" (click)="showLearningCenters.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Learning centers</h4>
                        </div>
                        <div class="modal-body">
                            <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                            </div> -->
                            <p-dataTable [value]="learningCenterList" [(selection)]="selectedLearningCenter" selectionMode="single" [rows]="10" [paginator]="true"
                                [globalFilter]="gb" #dt dataKey="sn" (onRowSelect)="onRowSelect($eventvent)" >
                                <!-- <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column> -->
                                <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="sn" header="Fee waiver Number"></p-column>
                                <p-column [style]="{'text-align':'center'}" field="name" [filter]="true" filterPlaceholder="Search" header="Name"></p-column>
                                <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="address" header="Address"></p-column>
                                <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="district" header="District Name"></p-column>
                                <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="ds" header="DS Division"></p-column>
                                <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="gn" header="GN Division"></p-column>
                                <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="type" header="Type">
                                  <ng-template let-col let-cri="rowData" pTemplate="body">
                                    <span *ngIf="cri.type==1">Registered</span>
                                    <span *ngIf="cri.type==2">Other</span>
                                  </ng-template>
                                </p-column>

                            </p-dataTable>


                        </div>
                        <div class="modal-footer">

                        </div>
                    </form>
                    <!--################ end form ################-->
                </div>
            </div>
        </div>