<div class="container">
  <div class="page-title">
      <span>
          <h2>Activity Details</h2>
      </span>
  </div>
  <!-- <div class="panel panel-default">
    <table class="table table-hover table-striped">
      <thead style="background-color: #6C7A89;color: white;box-shadow: 0px 5px 15px#bdc3c7">
        <tr class="tbl-header" >

          <th></th>
          <th></th>
          <th></th>
          <th>Program ID</th>
          <th>Program Name</th>
          <th>Description</th>
          <th>Institute</th>
          <th>Certificate</th>
          <th>Resource</th>
          <th>Location</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let a of programList" >
   
          <td>
            <button class="btn btn-primary" (click)="openAddParticipant(a.programId)">
                          Add Participant
          </button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="openView('edit',a)">
                            Edit
          </button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="openView('view',a)">
                           View
          </button>
          </td>
        
          <td>
            <div class="col-sm-12 user-name">Program iD</div>


          </td>
          <td>
            <div class="col-sm-12 user-name">Program Name</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">Description</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">Institute</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">Certificate</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">Resource</div>
          </td>
          <td>
            <div class="col-sm-12 user-name">Location</div>
          </td>
          <td>
            <span class="glyphicon glyphicon-ok" *ngIf="a.status==1"> </span>
            <span class="glyphicon glyphicon-remove" *ngIf="a.status==2"> </span>
          </td>

        </tr>


      </tbody>
    </table>

  </div>

 -->

 <p-dataTable [value]="programList">
  <p-column field="programName" header="Programe Name"></p-column>
  <p-column field="description" header="Description"></p-column>
  <p-column field="startDate" header="Start Date"></p-column>
  <p-column field="endDate" header="End Date"></p-column>
  <p-column styleClass="col-button">
      <ng-template pTemplate="header">
          
      </ng-template>
      <ng-template let-car="rowData" pTemplate="body">
          <button type="button" pButton (click)="selectCar(car)" icon="fa-search"></button>
      </ng-template>
  </p-column>
</p-dataTable>

<div bsModal #viewDetails="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-md">

  <div class="modal-content">
 
      <!--########## start form ########-->
      <div class="modal-header" style="background-color: #F79423;color: azure">
      

        <h4 class="modal-title">GGG</h4>
      </div>
     
      <div class="modal-body">
        <div>
            <label>From Date</label>
            <p-calendar [(ngModel)]="date"></p-calendar>
            <label>To Date</label>
            <p-calendar [(ngModel)]="date"></p-calendar>
        </div>
        <br><br>
        <div class="ui-g">
            <div class="ui-g-4"><h4>Completed</h4></div>
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><h4>02</h4></div>
            <div class="ui-g-4"><h5>Program Name</h5></div>
            <div class="ui-g-4"><h5>Description</h5></div>
            <div class="ui-g-4"><h5>Location</h5></div>
            <div class="ui-g-4"><h4>Pending</h4></div>
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><h4>05</h4></div>
            <div class="ui-g-4"><h4></h4></div>
            <div class="ui-g-4">Total</div>
            <div class="ui-g-4"><h4>07</h4></div>
        </div>
        <div>
            
        </div>
          
      </div>
       
    <!--################ end form ################-->
  </div>
</div>
</div>
