<div class="container">
    <div class="page-title">
        <span>
            <h2>Progress</h2>
        </span>
    </div>

  

    <div class="center-block" style="height: 80px;width: 500px">
        <label style="font-size: 13pt">Year:</label>
        <p-dropdown [options]="years" [style]="{'width':'200px','margin-left':'5px','height':'30px','font-size':'13pt'}" [(ngModel)]="selectedYear" (onChange)="changeAction()"></p-dropdown>
    </div>

    <div >
        <p-tabView (onChange)="handleChange($event)">
            <p-tabPanel header="January" (onChange)="handleChange($event)"> 
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'January','number':1}" [year]="{year:selectedYear}"></app-dashboard-plan></div>
                <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="February" (onChange)="handleChange($event)">
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'February','number':2}" [year]="{year:selectedYear}"></app-dashboard-plan></div>
                    <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="March" (onChange)="handleChange($event)">
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'March','number':3}" [year]="{year:selectedYear}"></app-dashboard-plan></div>
                    <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="April" (onChange)="handleChange($event)">
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'April','number':4}" [year]="{year:selectedYear}"></app-dashboard-plan></div>
                    <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="May" (onChange)="handleChange($event)">
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'May','number':5}" [year]="{year:selectedYear}"></app-dashboard-plan></div>

                    <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="June" (onChange)="handleChange($event)">
                <div class="ui-g-6"> <app-dashboard-plan [month]="{month:'June','number':6}" [year]="{year:selectedYear}"></app-dashboard-plan></div>

                    <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="July" (onChange)="handleChange($event)">
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'July','number':7}" [year]="{year:selectedYear}"></app-dashboard-plan></div>
                    <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="August" (onChange)="handleChange($event)">
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'August','number':8}" [year]="{year:selectedYear}"></app-dashboard-plan></div>
                    <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="September" (onChange)="handleChange($event)">
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'September','number':9}" [year]="{year:selectedYear}"></app-dashboard-plan></div>
                    <div class="ui-g-6"><p-chart  type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="October" (onChange)="handleChange($event)">
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'October','number':10}" [year]="{year:selectedYear}"></app-dashboard-plan></div>
                    <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="November" (onChange)="handleChange($event)">
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'November','number':11}" [year]="{year:selectedYear}"></app-dashboard-plan></div>
                    <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>
            <p-tabPanel header="December" (onChange)="handleChange($event)">
                <div class="ui-g-6"><app-dashboard-plan [month]="{month:'December','number':12}" [year]="{year:selectedYear}"></app-dashboard-plan></div>
                    <div class="ui-g-6"><p-chart [options]="options" type="bar" [data]="data" (onDataSelect)="selectData($event)"></p-chart></div>
            </p-tabPanel>

        </p-tabView>

    </div>


</div>