<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
    <div class="page-title">
        <h2>Fee Waiver Report Details
            <span> </span>
        </h2>
    </div>
   
    <br>
   

    <div class="row" style="text-align: center;margin-left: 20%">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="template">District</label>
                <select [(ngModel)]="selectedDistrict" name="district" class="form-control" style="width:200px" (change)="getAllDS()">
                    <option [ngValue]="selectedDistrict" *ngFor="let selectedDistrict of districtList">{{selectedDistrict.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="template">DS Division</label>
                <select [(ngModel)]="selectedDs" name="ds" class="form-control" style="width:200px">
                    <option [ngValue]="selectedDs" *ngFor="let selectedDs of dsList">{{selectedDs.name}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="template">Start Date</label>
                <br>
                <input type="date" class="form-control" name="startDate" style="width:200px" [(ngModel)]="startDate">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="template">End Date</label>
                <br>
                <input type="date" class="form-control" name="endDate" style="width:200px" [(ngModel)]="endDate">
            </div>
        </div>
        <div class="col-sm-2">
                <button class="btn btn-success" type="button" (click)="searchRecords()">Add New</button>
        </div>
    </div>
    <table style="width:60%">
        <tr>
            <th>Pre School</th>
            <th>Submission Date to the accounts branch</th>
            <th>Payment Date</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
    </table>
</div>