<app-pagetop>
  </app-pagetop>
  <app-side-bar></app-side-bar>

<div class="container">
    <div class="loading-spinner" *ngIf="loadingMask">
        <h3 class="laoding-message">NO PRE SCHOOLS TO BE AWARDED. ADD ONE AND TRY!!!</h3>
        <p-progressSpinner></p-progressSpinner>
      </div>
  <div class="page-title">
    <h2>Fee Waiver Paymets
      <span> </span>
    </h2>
  </div>

  <form>


    <div class="ui-g">
      <div class="ui-g-4">
        <div class="form-group">
          <!-- <label for="template">Learning Center</label>
          <select [(ngModel)]="selectedLearningCenter" (change)="getAllStudents()" name="selectedLearningCenter" class="form-control"
            style="width: 300px">
            <option [ngValue]="selectedLearningCenter" *ngFor="let selectedLearningCenter of learningCenterList">{{selectedLearningCenter.name}}-{{selectedLearningCenter.sn}}</option>
          </select> -->

          <input type="text" style="width: 300px" [(ngModel)]="selectedLearningCenter.name" disabled name="learningcenter" class="form-control"
          />
          <br>
          <button type="button" icon="fa fa-plus" (click)="showLearningCenters.show()" pButton label="Add Learning Center"></button>
        </div>
      </div>
    </div>





    <div class="ui-g">
      <div class="ui-g-4">
        <div class="form-group">
          <label for="template">Total Monthly Payment per School</label>

          <!-- <input type="text" style="width: 300px" [(ngModel)]="sendList.description" name="sendList.description" class="form-control" required="true"> -->
          <input type="text" style="width: 300px" [(ngModel)]="value" disabled name="sendObjecttobesaved.description" class="form-control"
            required="true">
        </div>
      </div>
    </div>

    <div class="ui-g">

      <div class="ui-g-4">
        <div class="form-group">
          <label for="template">Start Year</label>



          <select *ngIf="year==0" [(ngModel)]="selectedYear" name="selectedYear" class="form-control" style="width: 300px">
            <option [ngValue]=selectedYear *ngFor="let selectedYear of yearList">{{selectedYear}}</option>
          </select>

          <input type="text" *ngIf="year!=0" name="year" style="width: 300px" disabled [(ngModel)]="selectedYear" class="form-control"
            ame="type">

        </div>
      </div>
      <div class="ui-g-4">
        <div class="form-group">
          <label for="template">Month</label>


          <!-- <input *ngIf="!pickDate" type="text" style="width: 300px" disabled name="sendObjecttobesaved.description" class="form-control"
            required="true"> -->
          <select *ngIf="month==0||month==undefined||month==null" [(ngModel)]="selectedMonth" name="selectedMonth" class="form-control" style="width: 300px">
            <!-- <select class="form-control" style="width: 300px">  -->
            <option [ngValue]=1>January</option>
            <option [ngValue]=2>February</option>
            <option [ngValue]=3>March</option>
            <option [ngValue]=4>April</option>
            <option [ngValue]=5>May</option>
            <option [ngValue]=6>June</option>
            <option [ngValue]=7>July</option>
            <option [ngValue]=8>August</option>
            <option [ngValue]=9>September</option>
            <option [ngValue]=10>October</option>
            <option [ngValue]=11>November</option>
            <option [ngValue]=12>December</option>

          </select>

          <input type="text" *ngIf="month!=0&&selectedMonth==1" style="width: 300px" disabled value="January" class="form-control"
            name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==2" style="width: 300px" disabled value="February" class="form-control"
            name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==3" style="width: 300px" disabled value="March" class="form-control" name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==4" style="width: 300px" disabled value="April" class="form-control" name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==5" style="width: 300px" disabled value="May" class="form-control" name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==6" style="width: 300px" disabled value="June" class="form-control" name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==7" style="width: 300px" disabled value="July" class="form-control" name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==8" style="width: 300px" disabled value="August" class="form-control" name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==9" style="width: 300px" disabled value="September" class="form-control"
            name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==10" style="width: 300px" disabled value="October" class="form-control"
            name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==11" style="width: 300px" disabled value="November" class="form-control"
            name="type">
          <input type="text" *ngIf="month!=0&&selectedMonth==12" style="width: 300px" disabled value="December" class="form-control"
            name="type">
        </div>
      </div>

    </div>







    <div style="overflow-x: scroll">
      <table style="overflow-x: scroll" class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Registration Name</th>
            <th>Student's Name</th>
            <th colspan="2">Month 1</th>
            <th colspan="2">Month 2</th>
            <th colspan="2">Month 3</th>
            <th colspan="2">Month 4</th>
            <th colspan="2">Month 5</th>
            <th colspan="2">Month 6</th>
            <th colspan="2">Month 7</th>
            <th colspan="2">Month 8</th>
            <th colspan="2">Month 9</th>
            <th colspan="2">Month 10</th>
            <th colspan="2">Month 11</th>
            <th colspan="2">Month 12</th>
            <th colspan="2">Month 13</th>
            <th colspan="2">Month 14</th>
            <th colspan="2">Month 15</th>
            <th colspan="2">Month 16</th>
            <th colspan="2">Month 17</th>
            <th colspan="2">Month 18</th>
            <th colspan="2">Month 19</th>
            <th colspan="2">Month 20</th>
            <th colspan="2">Month 21</th>
            <th colspan="2">Month 22</th>
            <th colspan="2">Month 23</th>
            <th colspan="2">Month 24</th>
            <th colspan="2">Month 25</th>
            <th colspan="2">Month 26</th>
            <th colspan="2">Month 27</th>
            <th colspan="2">Month 28</th>
            <th colspan="2">Month 29</th>
            <th colspan="2">Month 30</th>
            <th colspan="2">Month 31</th>
            <th colspan="2">Month 32</th>
            <th colspan="2">Month 33</th>
            <th colspan="2">Month 34</th>
            <th colspan="2">Month 35</th>
            <th colspan="2">Month 36</th>
            <th colspan="2">Month 37</th>
            <th colspan="2">Month 38</th>
            <th colspan="2">Month 39</th>
            <th colspan="2">Month 40</th>


          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>
            <td>Paid</td>
            <td>Atten</td>





          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of studentList;let in = index">

            <td>
              <div class="col-sm-12 user-name">
                <label *ngIf="a.status==1">{{a.studentId}}</label>
                <label *ngIf="a.status==2" style="color:red">{{a.studentId}}</label>
              </div>

              <!--<div class="col-sm-12 user-email">{{a.user.userType}}</div>-->

            </td>
            <td>
              <div class="col-sm-12 user-name">
                <label *ngIf="a.status==1">{{a.studentName}}</label>
                <label *ngIf="a.status==2" style="color:red">{{a.studentName}}</label>
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid1" disabled type="checkbox">
                <input *ngIf="a.paid1" checked  type="checkbox">
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance1}}%</div>
              <!--<div *ngIf="a.attendance1==0||a.noOfDays1==0" class="col-sm-12 user-name">0%</div>-->
            </td>



            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid2" disabled type="checkbox">
                <input *ngIf="a.paid2" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=2" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==2" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <!-- <div  class="col-sm-12 user-name">{{a.p2}}%</div> -->
              <div class="col-sm-12 user-name">{{a.attendance2}}%</div>
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid3" disabled type="checkbox">
                <input *ngIf="a.paid3" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=3" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==3" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance3}}%</div>
              <!--<div *ngIf="a.attendance3==0||a.noOfDays3==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid4" disabled type="checkbox">
                <input *ngIf="a.paid4" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=4" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==4" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance4}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p4}}%</div> -->
              <!--<div *ngIf="a.attendance4==0||a.noOfDays4==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid5" disabled type="checkbox">
                <input *ngIf="a.paid5" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=5" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==5" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance5}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p5}}%</div> -->
              <!--<div  class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid6" disabled type="checkbox">
                <input *ngIf="a.paid6" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=6" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==6" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance6}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p6}}%</div> -->
              <!--<div *ngIf="a.attendance6==0||a.noOfDays6==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid7" disabled type="checkbox">
                <input *ngIf="a.paid7" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=7" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==7" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance7}}%</div>
              <!--<div *ngIf="a.attendance7==0||a.noOfDays7==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid8" disabled type="checkbox">
                <input *ngIf="a.paid8" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=8" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==8" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance8}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p8}}%</div> -->
              <!--<div *ngIf="a.attendance8==0||a.noOfDays8==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid9" disabled type="checkbox">
                <input *ngIf="a.paid9" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=9" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==9" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance9}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p9}}%</div> -->
              <!--<div *ngIf="a.attendance9==0||a.noOfDays9==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid10" disabled type="checkbox">
                <input *ngIf="a.paid10" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=10" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==10" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance10}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p10}}%</div> -->
              <!--<div *ngIf="a.attendance10==0||a.noOfDays10==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid11" disabled type="checkbox">
                <input *ngIf="a.paid11" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=11" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==11" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance11}}%</div>
              <!-- <div class="col-sm-12 user-name">{{a.p11}}%</div> -->
              <!--<div *ngIf="a.attendance11==0||a.noOfDays11==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid12" disabled type="checkbox">
                <input *ngIf="a.paid12" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance12}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid13" disabled type="checkbox">
                <input *ngIf="a.paid13" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                  <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance13}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid14" disabled type="checkbox">
                <input *ngIf="a.paid14" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                    <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance14}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid15" disabled type="checkbox">
                <input *ngIf="a.paid15" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                      <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance15}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>


            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid16" disabled type="checkbox">
                <input *ngIf="a.paid16" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance16}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>


            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid17" disabled type="checkbox">
                <input *ngIf="a.paid17" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                          <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance17}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid18" disabled type="checkbox">
                <input *ngIf="a.paid18" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                            <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance18}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>


            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid19" disabled type="checkbox">
                <input *ngIf="a.paid19" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                              <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance19}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid20" disabled type="checkbox">
                <input *ngIf="a.paid20" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance20}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid21" disabled type="checkbox">
                <input *ngIf="a.paid21" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                  <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance21}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>


            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid22" disabled type="checkbox">
                <input *ngIf="a.paid22" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                    <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance22}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>

            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid23" disabled type="checkbox">
                <input *ngIf="a.paid23" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                      <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance23}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>


            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid24" disabled type="checkbox">
                <input *ngIf="a.paid24" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance24}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid25" disabled type="checkbox">
                <input *ngIf="a.paid25" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance25}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid26" disabled type="checkbox">
                <input *ngIf="a.paid26" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance26}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid27" disabled type="checkbox">
                <input *ngIf="a.paid27" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance27}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid28" disabled type="checkbox">
                <input *ngIf="a.paid28" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance28}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid29" disabled type="checkbox">
                <input *ngIf="a.paid29" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance29}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid30" disabled type="checkbox">
                <input *ngIf="a.paid30" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance30}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid31" disabled type="checkbox">
                <input *ngIf="a.paid31" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance31}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid32" disabled type="checkbox">
                <input *ngIf="a.paid32" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance32}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid33" disabled type="checkbox">
                <input *ngIf="a.paid33" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance33}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid34" disabled type="checkbox">
                <input *ngIf="a.paid34" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance34}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid35" disabled type="checkbox">
                <input *ngIf="a.paid35" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance35}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid36" disabled type="checkbox">
                <input *ngIf="a.paid36" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance36}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid37" disabled type="checkbox">
                <input *ngIf="a.paid37" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance37}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid38" disabled type="checkbox">
                <input *ngIf="a.paid38" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance38}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid39" disabled type="checkbox">
                <input *ngIf="a.paid39" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance39}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
            <td>
              <div class="col-sm-12 user-name">
                <input *ngIf="!a.paid40" disabled type="checkbox">
                <input *ngIf="a.paid40" checked  type="checkbox">
                <!-- <input *ngIf="a.payment.paymentMonth!=12" disabled type="checkbox">
                                        <input *ngIf="a.payment.paymentMonth==12" checked disabled type="checkbox"> -->
              </div>
            </td>
            <td>
              <div class="col-sm-12 user-name">{{a.attendance40}}%</div>
              <!-- <div  class="col-sm-12 user-name">{{a.p12}}%</div> -->
              <!--<div *ngIf="a.attendance12==0||a.noOfDays12==0" class="col-sm-12 user-name">0%</div>-->
            </td>
          </tr>


        </tbody>
      </table>
    </div>
    <br>
    <div class="pull-right">
      <button type="button" icon="fa fa-plus" pButton label="Add New Payment" (click)="addPayment()"></button>
    </div>
  </form>
</div>



<div bsModal #adPaymentView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <!-- <form #f="ngForm" [formGroup]="documentForm" (ngSubmit)="saveDocument(f)"> -->
      <!--########## start form ########-->
      <div class="modal-header" style="background-color: #A0A3A6;color: azure">
        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
        <button type="button" class="close pull-right" (click)="adPaymentView.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Add New Payment</h4>
      </div>
      <div class="alert alert-success" *ngIf="success">
        <strong>Success!</strong> You have Successfully Created a Document!
      </div>
      <div class="modal-body">


        <table *ngIf="studentList[0]!=undefined" class="table table-hover table-striped">
          <thead>
            <tr class="tbl-header">


              <th>Installment</th>
              <th>Paid</th>


            </tr>
          </thead>
          <tbody>

            <tr>
              <td>
                <div class="col-sm-12 user-name">Month1</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid1" type="checkbox" (change)="changeStatus($event,1)">
                  <input *ngIf="studentList[0].paid1" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month2</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid2" type="checkbox" (change)="changeStatus($event,2)">
                  <input *ngIf="studentList[0].paid2" checked disabled type="checkbox">
                </div>
              </td>

            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month3</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid3" type="checkbox" (change)="changeStatus($event,3)">
                  <input *ngIf="studentList[0].paid3" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month4</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid4" type="checkbox" (change)="changeStatus($event,4)">
                  <input *ngIf="studentList[0].paid4" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month5</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid5" type="checkbox" (change)="changeStatus($event,5)">
                  <input *ngIf="studentList[0].paid5" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month6</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid6" type="checkbox" (change)="changeStatus($event,6)">
                  <input *ngIf="studentList[0].paid6" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month7</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid7" type="checkbox" (change)="changeStatus($event,7)">
                  <input *ngIf="studentList[0].paid7" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month8</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid8" type="checkbox" (change)="changeStatus($event,8)">
                  <input *ngIf="studentList[0].paid8" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month9</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid9" type="checkbox" (change)="changeStatus($event,9)">
                  <input *ngIf="studentList[0].paid9" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month10</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid10" type="checkbox" (change)="changeStatus($event,10)">
                  <input *ngIf="studentList[0].paid10" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month11</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid11" type="checkbox" (change)="changeStatus($event,11)">
                  <input *ngIf="studentList[0].paid11" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month12</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid12" type="checkbox" (change)="changeStatus($event,12)">
                  <input *ngIf="studentList[0].paid12" checked disabled type="checkbox">
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="col-sm-12 user-name">Month13</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid13" type="checkbox" (change)="changeStatus($event,13)">
                  <input *ngIf="studentList[0].paid13" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month14</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid14" type="checkbox" (change)="changeStatus($event,14)">
                  <input *ngIf="studentList[0].paid14" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month15</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid15" type="checkbox" (change)="changeStatus($event,15)">
                  <input *ngIf="studentList[0].paid15" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month16</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid16" type="checkbox" (change)="changeStatus($event,16)">
                  <input *ngIf="studentList[0].paid16" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month17</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid17" type="checkbox" (change)="changeStatus($event,17)">
                  <input *ngIf="studentList[0].paid17" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month18</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid18" type="checkbox" (change)="changeStatus($event,18)">
                  <input *ngIf="studentList[0].paid18" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month19</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid19" type="checkbox" (change)="changeStatus($event,19)">
                  <input *ngIf="studentList[0].paid19" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month20</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid20" type="checkbox" (change)="changeStatus($event,20)">
                  <input *ngIf="studentList[0].paid20" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month21</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid21" type="checkbox" (change)="changeStatus($event,21)">
                  <input *ngIf="studentList[0].paid21" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month22</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid22" type="checkbox" (change)="changeStatus($event,22)">
                  <input *ngIf="studentList[0].paid22" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month23</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid23" type="checkbox" (change)="changeStatus($event,23)">
                  <input *ngIf="studentList[0].paid23" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month24</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid24" type="checkbox" (change)="changeStatus($event,24)">
                  <input *ngIf="studentList[0].paid24" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month25</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid25" type="checkbox" (change)="changeStatus($event,25)">
                  <input *ngIf="studentList[0].paid25" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month26</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid26" type="checkbox" (change)="changeStatus($event,26)">
                  <input *ngIf="studentList[0].paid26" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month27</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid27" type="checkbox" (change)="changeStatus($event,27)">
                  <input *ngIf="studentList[0].paid27" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month28</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid28" type="checkbox" (change)="changeStatus($event,28)">
                  <input *ngIf="studentList[0].paid28" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month29</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid29" type="checkbox" (change)="changeStatus($event,29)">
                  <input *ngIf="studentList[0].paid29" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month30</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid30" type="checkbox" (change)="changeStatus($event,30)">
                  <input *ngIf="studentList[0].paid30" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month31</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid31" type="checkbox" (change)="changeStatus($event,31)">
                  <input *ngIf="studentList[0].paid31" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month32</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid32" type="checkbox" (change)="changeStatus($event,32)">
                  <input *ngIf="studentList[0].paid32" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month33</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid33" type="checkbox" (change)="changeStatus($event,33)">
                  <input *ngIf="studentList[0].paid33" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month34</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid34" type="checkbox" (change)="changeStatus($event,34)">
                  <input *ngIf="studentList[0].paid34" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month35</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid35" type="checkbox" (change)="changeStatus($event,35)">
                  <input *ngIf="studentList[0].paid35" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month36</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid36" type="checkbox" (change)="changeStatus($event,36)">
                  <input *ngIf="studentList[0].paid36" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month37</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid37" type="checkbox" (change)="changeStatus($event,37)">
                  <input *ngIf="studentList[0].paid37" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month38</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid38" type="checkbox" (change)="changeStatus($event,38)">
                  <input *ngIf="studentList[0].paid38" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month39</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid39" type="checkbox" (change)="changeStatus($event,39)">
                  <input *ngIf="studentList[0].paid39" checked disabled type="checkbox">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="col-sm-12 user-name">Month40</div>
              </td>
              <td>
                <div class="col-sm-12 user-name">
                  <input *ngIf="!studentList[0].paid40" type="checkbox" (change)="changeStatus($event,40)">
                  <input *ngIf="studentList[0].paid40" checked disabled type="checkbox">
                </div>
              </td>
            </tr>


          </tbody>
        </table>

        <div class="form-group">
          <label for="template">Payment Date</label>
          <input type="date" name="date" [(ngModel)]="selectedDate" class="form-control">
        </div>

        <div class="modal-footer">



          <button type="button" icon="fa fa-save" pButton label="Save" (click)="saveStudentPayments()"></button>
        </div>
        <!-- </form> -->
        <!--################ end form ################-->
      </div>
    </div>
  </div>

</div>

<div bsModal #showLearningCenters="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog " style="width:70vw">
    <div class="modal-content">
      <form>
        <!--########## start form ########-->
        <div class="modal-header" style="background-color: #A0A3A6;color: azure">
          <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
          <button type="button" class="close pull-right" (click)="showLearningCenters.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Learning centers</h4>
        </div>
        <div class="modal-body">
          <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                            </div> -->
          <p-dataTable [value]="learningCenterList" [(selection)]="selectedLearningCenter" selectionMode="single" [rows]="10" [paginator]="true"
            [globalFilter]="gb" #dt dataKey="sn" (onRowSelect)="onRowSelect($event)">
            <!-- <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column> -->
            <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="sn" header="SN"></p-column>
            <p-column [style]="{'text-align':'center'}" field="name" [filter]="true" filterPlaceholder="Search" header="Name"></p-column>
            <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="address" header="Address"></p-column>
            <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="district" header="District Name"></p-column>
            <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="ds" header="DS Division"></p-column>
            <p-column [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Search" field="gn" header="GN Division"></p-column>

          </p-dataTable>


        </div>
        <div class="modal-footer">

        </div>
      </form>
      <!--################ end form ################-->
    </div>
  </div>
</div>