<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
    <div class="page-title">
        <!--<h2>User Management <span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span></h2>-->
        <h2>Resource Pool
            <span> </span>
        </h2>
    </div>
    <div class="pull-right">
        <button class="btn btn-success" (click)="openCreateMtr()">Add New</button>
    </div>
    <br>
    <br>
    <br>

    <div class="panel panel-default">


        <!-- <table class="table table-hover">
            <thead style="background-color: #000099;color: azure;box-shadow: 0px 5px 15px#000099">
                <tr class="tbl-header">
                    <th></th>
                    <th>Resource ID</th>
                    <th>Resource Name</th>
                    <th>Institution</th>
                    <th>Qualification</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let r of resourcepoolModel">
                    <td>
                        <button class="btn btn-primary" (click)="getResId(r)">
                            Edit
                        </button>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{r.id}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{r.resourceName}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{r.institute}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 user-name">{{r.qualification}}</div>
                    </td>

                    <td>
                        <span class="glyphicon glyphicon-ok" *ngIf="r.status==1"> </span>
                        <span class="glyphicon glyphicon-remove" *ngIf="r.status==2"> </span>

                    </td>
                </tr>
            </tbody>
        </table> -->

        <p-dataTable [style]="{'text-align':'center'}" [value]="resourcepoolModel" [rows]="10" [paginator]="true" [globalFilter]="gb"
            #dt>
            <p-column [style]="{'text-align':'center'}">
                <ng-template let-cri="rowData" pTemplate="body" let-col>
                    <button pButton class="ui-button-secondary" label="Update" (click)=getResId(cri)> </button>
                </ng-template>
            </p-column>

            <p-column [style]="{'text-align':'center'}" field="resourceName" header="Resource Name" [style]="{'text-align':'center'}"
                [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="institute" header="Institute" [style]="{'text-align':'center'}" [filter]="true"
                filterPlaceholder="Search"></p-column>

            <p-column [style]="{'text-align':'center'}" field="qualification" header="Qualification" [style]="{'text-align':'center'}"
                [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column [style]="{'text-align':'center'}" field="status" [style]="{'text-align':'center'}" header="Status">
                <ng-template let-col let-cri="rowData" pTemplate="body">

                    <span class="glyphicon glyphicon-ok" *ngIf="cri.status==1"> </span>
                    <span class="glyphicon glyphicon-remove" *ngIf="cri.status==2"> </span>
                    <span></span>
                </ng-template>

            </p-column>
        </p-dataTable>

    </div>

    <!--   New User Modal-->
    <div bsModal #addResource="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <form [formGroup]="resForm">
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #A0A3A6;color: azure">
                        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                        <button type="button" class="close pull-right" (click)="addResource.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 class="modal-title">Add New Resource</h4>
                    </div>
                    <div class="alert alert-success" *ngIf="success">
                        <strong>Success!</strong> You have Successfully Added a Resource
                    </div>

                    <div class="modal-body">

                        <!--<div class="form-group">
                            <label for="template">Material ID</label>
                            <input type="text" [(ngModel)]="materialModel.materialId" name="materialModel.materialId" class="form-control" required>
                        </div>-->

                        <!--<div class="form-group">
                            <label for="template">Resource Id</label>
                            <input type="text" [(ngModel)]="resourcepoolDetail.id" name="resourcepoolDetail.id"  class="form-control"
                                required>
                        </div>-->
                        <div class="form-group">
                            <label for="template">Title</label>
                            <select [(ngModel)]="resourcepersonDetail.title"  name="selectedIns.name" class="form-control" formControlName="ins"
                                style="width:60%">
                                <option ngValue="Rev">Rev</option>
                                <option ngValue="Dr">Dr</option>
                                <option ngValue="Mr">Mr</option>
                                <option ngValue="Mrs">Mrs</option>
                                <option ngValue="Miss">Miss</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="template">Resource Name</label>
                            <input style="width:60%" type="text" [(ngModel)]="resourcepersonDetail.resourceName" name="resourcepersonDetail.resourceName"
                                class="form-control" formControlName="resourceName" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Institute</label>
                            <select [(ngModel)]="selectedIns" (change)="getIns(selectedIns)" name="selectedIns.name" class="form-control" formControlName="ins"
                                style="width:60%">
                                <option *ngFor="let selectedIns of instituteModel" [ngValue]="selectedIns">{{selectedIns.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="template">Qualifications</label>
                            <input type="text" [(ngModel)]="resourcepersonDetail.qualification" name="resourcepersonDetail.qualification" class="form-control"
                                style="width:60%" formControlName="qualification" required>
                        </div>



                        <div class="form-group">
                            <label for="template">Status</label>
                            <select [(ngModel)]="resourcepersonDetail.status" name="resourcepersonDetail.status" class="form-control" formControlName="status" style="width:60%">
                                <option [ngValue]="1">Active</option>
                                <option [ngValue]="2">Inactive</option>
                            </select>
                        </div>
                        <!--<div class="form-group">
                            <label for="template">Status</label>
                            <select class="form-control">
                            <option>Active</option>
                            <option>Inactive</option>
                            </select>
                        </div>-->

                        <!--<div class="form-group">
                            <label for="template">Expiry Date</label>
                            <input type="date"  class="form-control">
                        </div>-->
                    </div>

                    <div class="modal-footer">
                        <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->


                        <button pButton icon="fa fa-save" type="button" label="Save" [disabled]="!resForm.valid" (click)="createResource(evt)"></button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>
    <!--   End User Modal-->


    <!-- Edit resource pool -->
    <div bsModal #editResource="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <form>
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #02685E;color: azure">
                        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                        <button type="button" class="close pull-right" (click)="editResource.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 class="modal-title">Edit Resource</h4>
                    </div>
                    <!--<div class="alert alert-success" *ngIf="success">
                   <strong>Success!</strong> You have Successfully Added a Material!
               </div>-->

                    <div class="modal-body">

                        <!--<div class="form-group">
                       <label for="template">Material ID</label>
                       <input type="text" [(ngModel)]="materialModel.materialId" name="materialModel.materialId" class="form-control" required>
                   </div>-->

                        <!--<div class="form-group">
                       <label for="template">Resource Id</label>
                       <input type="text" [(ngModel)]="resourcepoolDetail.id" name="resourcepoolDetail.id"  class="form-control"
                           required>
                   </div>-->

                        <div class="form-group">
                            <label for="template">Resource Name</label>
                            <input type="text" [(ngModel)]="resourcepersonDetail.resourceName" name="resourcepoolDetail.resourceName" class="form-control"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="template">Institute</label>
                            <select [(ngModel)]="selectedIns" (change)="getIns(selectedIns)" name="selectedIns.name" class="form-control" style="width: 40%">
                                <option *ngFor="let selectedIns of instituteModel" [ngValue]="selectedIns">{{selectedIns.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="template">Qualifications</label>
                            <input type="text" [(ngModel)]="resourcepersonDetail.qualification" name="resourcepoolDetail.qualification" class="form-control"
                                required>
                        </div>



                        <div class="form-group">
                            <label for="template">Status</label>
                            <select [(ngModel)]="resourcepersonDetail.status" name="resourcepoolDetail.status" class="form-control">
                                <option [ngValue]="1">Active</option>
                                <option [ngValue]="2">Inactive</option>
                            </select>
                        </div>
                        <!--<div class="form-group">
                       <label for="template">Status</label>
                       <select class="form-control">
                       <option>Active</option>
                       <option>Inactive</option>
                       </select>
                   </div>-->

                        <!--<div class="form-group">
                       <label for="template">Expiry Date</label>
                       <input type="date"  class="form-control">
                   </div>-->
                    </div>

                    <div class="modal-footer">
                        <!--<span><img src="assets/inlineLoader.gif"  style="width: 25px" /> </span>-->


                        <button pButton icon="fa fa-save" label="Save Changes" type="button" (click)="editResourceDtl(evt)"></button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>
    <!-- End edit resource pool -->



</div>