<div class="container" style="overflow-y: hidden">


    <div class="ui-g">
        <div class="ui-g-3">
            <!-- <mat-card>
                <mat-card-header style="text-align: center">
                    TOTAL NUMBER OF PHDT ACTIVITIES
                </mat-card-header>
                <mat-card-content style="text-align: center">
                    <span style="font-size: 20pt">86</span>
                </mat-card-content>

            </mat-card> -->
        </div>
        <div class="ui-g-3">
            <!-- <mat-card>
                <mat-card-header style="text-align: center">
                    TOTAL NUMBER OF PMU ACTIVITIES
                </mat-card-header>
                <mat-card-content style="text-align: center">
                    <span style="font-size: 20pt">98</span>
                </mat-card-content>

            </mat-card> -->
        </div>
        <div class="ui-g-3">
            <!-- <mat-card>
                <mat-card-header style="text-align: center">
                    TOTAL NUMBER OF TRAININGS
                </mat-card-header>
                <mat-card-content style="text-align: center">
                    <span style="font-size: 20pt">120</span>
                </mat-card-content>

            </mat-card> -->
        </div>
        <div class="ui-g-3">
            <!-- <mat-card>
                <mat-card-header style="text-align: center">
                    TOTAL EXPENDITURES
                </mat-card-header>
                <mat-card-content style="text-align: center">
                    <span style="font-size: 20pt">120,00000</span>
                </mat-card-content>

            </mat-card> -->
        </div>
        <div class="ui-g-12">
            <mat-card-header style="text-align: center;margin-left: 40%">
                <mat-form-field>
                    <mat-select *ngIf="userId==2||userId==3" disabled [(value)]="selectedActType" placeholder="Select a Type" (change)="loadActivities()">

                        <mat-option value="1">PMU</mat-option>
                        <mat-option value="2">PHDT</mat-option>

                    </mat-select>
                    <mat-select *ngIf="userId==1" [(value)]="selectedActType" placeholder="Select a Type" (change)="loadActivityCategory()">

                        <mat-option value="1">PMU</mat-option>
                        <mat-option value="2">PHDT</mat-option>

                    </mat-select>
                </mat-form-field>



            </mat-card-header>

            <mat-card>

                <mat-card-content>
                    <mat-card>
                        <div *ngIf="selectedActType==2" class="ui-g">
                            <div class="ui-g-2">

                            </div>
                            <div class="ui-g-2">
                                <label>2017</label>
                            </div>
                            <div class="ui-g-2">
                                <label>2018</label>
                            </div>
                            <div class="ui-g-2">
                                <label>2019</label>
                            </div>
                            <div class="ui-g-2">
                                <label>2020</label>
                            </div>
                            <div class="ui-g-2">
                                <label>2021</label>
                            </div>
                            <div class="ui-g-2">
                                <label>New CDC</label>
                            </div>
                            <div class="ui-g-2">
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        {{activityStatus2017_newcdc.pending}} <span style="font-weight: bold">P</span>
                                        <br>
                                        {{activityStatus2017_newcdc.inProgress}} <span style="font-weight: bold">I</span>
                                        <br>
                                        {{activityStatus2017_newcdc.completed}} <span style="font-weight: bold">C</span>
                                    </div>
                                    <div class="ui-g-2">
                                        <button pButton icon="fa fa-download" (click)="generateReport('PHDT',2,2017)"></button>
                                    </div>
                                    <div class="ui-g-4"></div>
                                </div>

                            </div>

                            <div class="ui-g-2">

                                <div class="ui-g">
                                    <div class="ui-g-4">

                                        {{activityStatus2018_newcdc.pending}} <span style="font-weight: bold">P</span>
                                        <br>
                                        {{activityStatus2018_newcdc.inProgress}} <span style="font-weight: bold">I</span>
                                        <br>
                                        {{activityStatus2018_newcdc.completed}} <span style="font-weight: bold">C</span>
                                    </div>

                                    <div class="ui-g-2">
                                        <button pButton icon="fa fa-download" (click)="generateReport('PHDT',2,2018)"></button>
                                    </div>
                                    <div class="ui-g-4"></div>
                                </div>
                            </div>

                            <div class="ui-g-2">
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        {{activityStatus2019_newcdc.pending}} <span style="font-weight: bold">P</span>
                                        <br>
                                        {{activityStatus2019_newcdc.inProgress}} <span style="font-weight: bold">I</span>
                                        <br>
                                        {{activityStatus2019_newcdc.completed}} <span style="font-weight: bold">C</span>
                                    </div>
                                    <div class="ui-g-2">
                                        <button pButton icon="fa fa-download" (click)="generateReport('PHDT',2,2019)"></button>
                                    </div>
                                    <div class="ui-g-4"></div>
                                </div>
                            </div>

                            <div class="ui-g-2">
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        {{activityStatus2020_newcdc.pending}} <span style="font-weight: bold">P</span>
                                        <br>
                                        {{activityStatus2020_newcdc.inProgress}} <span style="font-weight: bold">I</span>
                                        <br>
                                        {{activityStatus2020_newcdc.completed}} <span style="font-weight: bold">C</span>
                                    </div>
                                    <div class="ui-g-2">
                                        <button pButton icon="fa fa-download" (click)="generateReport('PHDT',2,2020)"></button>
                                    </div>
                                    <div class="ui-g-4"></div>
                                </div>
                            </div>

                            <div class="ui-g-2">
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        {{activityStatus2021_newcdc.pending}} <span style="font-weight: bold">P</span>
                                        <br>
                                        {{activityStatus2021_newcdc.inProgress}} <span style="font-weight: bold">I</span>
                                        <br>
                                       {{activityStatus2021_newcdc.completed}} <span style="font-weight: bold">C</span>
                                    </div>
                                    <div class="ui-g-2">
                                        <button pButton icon="fa fa-download" (click)="generateReport('PHDT',2,2021)"></button>
                                    </div>
                                    <div class="ui-g-4"></div>
                                </div>
                            </div>


                            <div class="ui-g-2">
                                <label>Renovation CDC</label>
                            </div>
                            <div class="ui-g-2">
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        {{activityStatus2017_rencdc.pending}} <span style="font-weight: bold">P</span>
                                        <br>
                                        {{activityStatus2017_rencdc.inProgress}} <span style="font-weight: bold">I</span>
                                        <br>
                                        {{activityStatus2017_rencdc.completed}} <span style="font-weight: bold">C</span>
                                    </div>
                                    <div class="ui-g-2">
                                        <button pButton icon="fa fa-download" (click)="generateReport('PHDT',3,2017)"></button>
                                    </div>
                                    <div class="ui-g-4"></div>
                                </div>
                            </div>

                            <div class="ui-g-2">
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        {{activityStatus2018_rencdc.pending}} <span style="font-weight: bold">P</span>
                                        <br>
                                        {{activityStatus2018_rencdc.inProgress}} <span style="font-weight: bold">I</span>
                                        <br>
                                        {{activityStatus2018_rencdc.completed}} <span style="font-weight: bold">C</span>
                                    </div>
                                    <div class="ui-g-2">
                                        <button pButton icon="fa fa-download" (click)="generateReport('PHDT',3,2018)"></button>
                                    </div>
                                    <div class="ui-g-4"></div>
                                </div>
                            </div>


                            <div class="ui-g-2">
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                       {{activityStatus2019_rencdc.pending}} <span style="font-weight: bold">P</span>
                                        <br>
                                        {{activityStatus2019_rencdc.inProgress}} <span style="font-weight: bold">I</span>
                                        <br>
                                        {{activityStatus2019_rencdc.completed}} <span style="font-weight: bold">C</span>
                                    </div>
                                    <div class="ui-g-2">
                                        <button pButton icon="fa fa-download" (click)="generateReport('PHDT',3,2019)"></button>
                                    </div>
                                    <div class="ui-g-4"></div>
                                </div>
                            </div>

                            <div class="ui-g-2">
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        {{activityStatus2020_rencdc.pending}} <span style="font-weight: bold">P</span>
                                        <br>
                                        {{activityStatus2020_rencdc.inProgress}} <span style="font-weight: bold">I</span>
                                        <br>
                                        {{activityStatus2020_rencdc.completed}} <span style="font-weight: bold">C</span>
                                    </div>
                                    <div class="ui-g-2">
                                        <button pButton icon="fa fa-download" (click)="generateReport('PHDT',3,2020)"></button>
                                    </div>
                                    <div class="ui-g-4"></div>
                                </div>
                            </div>

                            <div class="ui-g-2">
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        {{activityStatus2021_rencdc.pending}} <span style="font-weight: bold">P</span>
                                        <br>
                                        {{activityStatus2021_rencdc.inProgress}} <span style="font-weight: bold">I</span>
                                        <br>
                                        {{activityStatus2021_rencdc.completed}} <span style="font-weight: bold">C</span>
                                    </div>
                                    <div class="ui-g-2">
                                        <button pButton icon="fa fa-download" (click)="generateReport('PHDT',3,2021)"></button>
                                    </div>
                                    <div class="ui-g-4"></div>
                                </div>
                            </div>

                            <div class="ui-g-2">
                               
                                        <label>New Play Area</label>
                                    </div>
                                    <div class="ui-g-2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                                {{activityStatus2017_newplay.pending}} <span style="font-weight: bold">P</span>
                                                <br>
                                                {{activityStatus2017_newplay.inProgress}} <span style="font-weight: bold">I</span>
                                                <br>
                                                {{activityStatus2017_newplay.completed}} <span style="font-weight: bold">C</span>
                                            </div>
                                            <div class="ui-g-2">
                                                <button pButton icon="fa fa-download" (click)="generateReport('PHDT',4,2017)"></button>
                                            </div>
                                            <div class="ui-g-4"></div>
                                        </div>
                                    </div>

                                    <div class="ui-g-2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                                {{activityStatus2018_newplay.pending}} <span style="font-weight: bold">P</span>
                                                <br>
                                                {{activityStatus2018_newplay.inProgress}} <span style="font-weight: bold">I</span>
                                                <br>
                                                {{activityStatus2018_newplay.completed}} <span style="font-weight: bold">C</span>
                                            </div>
                                            <div class="ui-g-2">
                                                <button pButton icon="fa fa-download" (click)="generateReport('PHDT',4,2018)"></button>
                                            </div>
                                            <div class="ui-g-4"></div>
                                        </div>
                                    </div>

                                    <div class="ui-g-2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                               {{activityStatus2019_newplay.pending}}<span style="font-weight: bold">P</span>
                                                <br>
                                               {{activityStatus2019_newplay.inProgress}} <span style="font-weight: bold">I</span>
                                                <br>
                                                {{activityStatus2019_newplay.completed}} <span style="font-weight: bold">C</span>
                                            </div>
                                            <div class="ui-g-2">
                                                <button pButton icon="fa fa-download" (click)="generateReport('PHDT',4,2019)"></button>
                                            </div>
                                            <div class="ui-g-4"></div>
                                        </div>
                                    </div>

                                    <div class="ui-g-2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                                {{activityStatus2020_newplay.pending}} <span style="font-weight: bold">P</span>
                                                <br>
                                                {{activityStatus2020_newplay.inProgress}} <span style="font-weight: bold">I</span>
                                                <br>
                                                {{activityStatus2020_newplay.completed}} <span style="font-weight: bold">C</span>
                                            </div>
                                            <div class="ui-g-2">
                                                <button pButton icon="fa fa-download" (click)="generateReport('PHDT',4,2020)"></button>
                                            </div>
                                            <div class="ui-g-4"></div>
                                        </div>
                                    </div>

                                    <div class="ui-g-2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                               {{activityStatus2021_newplay.pending}} <span style="font-weight: bold">P</span>
                                                <br>
                                                {{activityStatus2021_newplay.inProgress}} <span style="font-weight: bold">I</span>
                                                <br>
                                                {{activityStatus2021_newplay.completed}} <span style="font-weight: bold">C</span>
                                            </div>
                                            <div class="ui-g-2">
                                                <button pButton icon="fa fa-download" (click)="generateReport('PHDT',4,2021)"></button>
                                            </div>
                                            <div class="ui-g-4"></div>
                                        </div>
                                    </div>

                                    <div class="ui-g-2">
                                        <label>Renovation Play Area</label>
                                    </div>
                                    <div class="ui-g-2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                                {{activityStatus2017_renplay.pending}}<span style="font-weight: bold">P</span>
                                                <br>
                                                {{activityStatus2017_renplay.inProgress}} <span style="font-weight: bold">I</span>
                                                <br>
                                                {{activityStatus2017_renplay.completed}} <span style="font-weight: bold">C</span>
                                            </div>
                                            <div class="ui-g-2">
                                                <button pButton icon="fa fa-download" (click)="generateReport('PHDT',4,2017)"></button>
                                            </div>
                                            <div class="ui-g-4"></div>
                                        </div>
                                    </div>

                                    <div class="ui-g-2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                                {{activityStatus2018_renplay.pending}} <span style="font-weight: bold">P</span>
                                                <br>
                                                {{activityStatus2018_renplay.inProgress}}<span style="font-weight: bold">I</span>
                                                <br>
                                                {{activityStatus2018_renplay.completed}} <span style="font-weight: bold">C</span>
                                            </div>
                                            <div class="ui-g-2">
                                                <button pButton icon="fa fa-download" (click)="generateReport('PHDT',5,2017)"></button>
                                            </div>
                                            <div class="ui-g-4"></div>
                                        </div>
                                    </div>

                                    <div class="ui-g-2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                                {{activityStatus2019_renplay.pending}} <span style="font-weight: bold">P</span>
                                                <br>
                                                {{activityStatus2019_renplay.inProgress}}<span style="font-weight: bold">I</span>
                                                <br>
                                               {{activityStatus2019_renplay.completed}} <span style="font-weight: bold">C</span>
                                            </div>
                                            <div class="ui-g-2">
                                                <button pButton icon="fa fa-download" (click)="generateReport('PHDT',5,2018)"></button>
                                            </div>
                                            <div class="ui-g-4"></div>
                                        </div>
                                    </div>

                                    <div class="ui-g-2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                                {{activityStatus2020_renplay.pending}} <span style="font-weight: bold">P</span>
                                                <br>
                                               {{activityStatus2020_renplay.inProgress}}<span style="font-weight: bold">I</span>
                                                <br>
                                                {{activityStatus2020_renplay.completed}}<span style="font-weight: bold">C</span>
                                            </div>
                                            <div class="ui-g-2">
                                                <button pButton icon="fa fa-download" (click)="generateReport('PHDT',5,2019)"></button>
                                            </div>
                                            <div class="ui-g-4"></div>
                                        </div>
                                    </div>

                                    <div class="ui-g-2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                                {{activityStatus2021_renplay.pending}} <span style="font-weight: bold">P</span>
                                                <br>
                                                {{activityStatus2021_renplay.inProgress}}<span style="font-weight: bold">I</span>
                                                <br>
                                                {{activityStatus2021_renplay.completed}} <span style="font-weight: bold">C</span>
                                            </div>
                                            <div class="ui-g-2">
                                                <button pButton icon="fa fa-download" (click)="generateReport('PHDT',5,2020)"></button>
                                            </div>
                                            <div class="ui-g-1"></div>
                                            <div class="ui-g-6">
                                                <span style="font-size: 8pt">P-Pending</span><br>
                                                <span style="font-size: 8pt">I-In Progress</span><br>
                                                <span style="font-size: 8pt">C-Completed</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                    </mat-card>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <mat-card>
                                <mat-card-header style="margin-left: 30%">
                                    <mat-form-field>
                                        <mat-select [(value)]="selectedYear" placeholder="Select a Year" (change)="loadActivities()">
                                            <mat-option value="2017">2017</mat-option>
                                            <mat-option value="2018">2018</mat-option>
                                            <mat-option value="2019">2019</mat-option>

                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select [(value)]="selectedMonth" placeholder="Select a Month" (change)="loadActivities()">

                                            <mat-option value="01">January</mat-option>
                                            <mat-option value="02">February</mat-option>
                                            <mat-option value="03">March</mat-option>
                                            <mat-option value="04">April</mat-option>
                                            <mat-option value="05">May</mat-option>
                                            <mat-option value="06">June</mat-option>
                                            <mat-option value="07">July</mat-option>
                                            <mat-option value="08">August</mat-option>
                                            <mat-option value="09">September</mat-option>
                                            <mat-option value="10">October</mat-option>
                                            <mat-option value="11">November</mat-option>
                                            <mat-option value="12">December</mat-option>


                                        </mat-select>
                                    </mat-form-field>
                                </mat-card-header>
                                <mat-card-content>

                                </mat-card-content>

                                <div class="ui-g">


                                    <div class="ui-g-6">



                                        <mat-card>
                                            <mat-card-header>
                                                Training Programs Conducted in &nbsp;<span *ngIf="selectedYear!=undefined||selectedYear!=null">  {{selectedYear}}</span> &nbsp; (Planned vs Actual) 
                                            </mat-card-header>
                                            <mat-card-content>
                                                <p-chart *ngIf="selectedActType==1" type="bar" [data]="dataBar" [options]="optionsBar"></p-chart>
                                                <p-chart *ngIf="selectedActType==2" type="bar" [data]="dataBar1" [options]="optionsBar"></p-chart>
                                            </mat-card-content>

                                        </mat-card>


                                    </div>
                                    <div class="ui-g-6">
                                        <mat-card>
                                            <mat-card-header style="text-align: center">
                                                Training Programs Progress Conducted in &nbsp;<span *ngIf="selectedYear!=undefined||selectedYear!=null">  {{selectedYear}}</span> 
                                            </mat-card-header>
                                            <mat-card-content>
                                                <p-dataTable [value]="commnList"  [immutable]=false>
                                                    <p-column field="name" header="Program Name"></p-column>
                                                    <p-column field="value" header="Progress">
                                                        <ng-template let-col let-cri="rowData" pTemplate="body" let-col>
                                                            <p-progressBar [value]="cri.value"></p-progressBar>
                                                        </ng-template>
                                                    </p-column>
                                                    <!-- <p-column field="brand" header="Brand"></p-column> -->

                                                </p-dataTable>

                                            </mat-card-content>
                                        </mat-card>
                                    </div>



                                </div>

                            </mat-card>
                        </div>
                        <div class="ui-g-12">
                            <mat-card>

                                <mat-card-content>



                                    <button mat-raised-button color="primary" (click)="openDialog()">Location</button>
                                    <div class="pull-right">
                                        <button *ngIf="type==1" mat-raised-button color="#A0A3A6" (click)="showView(2)">List</button>
                                        <button *ngIf="type==2&&selectedActType!=2" mat-raised-button color="#A0A3A6" (click)="showView(1)">Map</button>
                                    </div>
                                    <br>
                                    <br>
                                    <div *ngIf="type==1">
                                        <p-gmap [style]="{'width':'100%','height':'280px'}" [options]="optionsMap" (onOverlayClick)="handleOverlayClick($event)"
                                            [overlays]="overlays"></p-gmap>
                                    </div>
                                    <div *ngIf="type==2">
                                        <p-dataTable [value]="activityList" [immutable]="false">
                                            <p-column field="activityDescription" header="Description"></p-column>
                                            <p-column field="learningCenter" header="Learning Center"></p-column>
                                            <p-column field="location.districtName" header="District/RPC"></p-column>
                                            <p-column field="location.dsName" header="DS/Estate"></p-column>
                                            <p-column field="location.gnName" header="Division">

                                            </p-column>
                                            <p-column [style]="{'text-align':'center'}">

                                                <ng-template let-col let-act="rowData" pTemplate="body">
                                                    <button class="ui-button-secondary" label="View" type="button" pButton (click)="openView(act.activityId)"></button>

                                                </ng-template>

                                            </p-column>
                                        </p-dataTable>

                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            </div>






            </div>




        </div>